

GameConfig.ResCompose.Ui_Res_Account=
{
	Path = "resource/ui_res/account.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	apple = { 560, 129, 257, 55, 0, 0, },
	
	back = { 395, 0, 75, 76, 0, 0, },
	
	btn_blue = { 233, 207, 202, 63, 0, 0, },
	
	btn_yellow = { 439, 207, 202, 63, 0, 0, },
	
	choose_bk = { 0, 233, 56, 48, 0, 0, },
	
	dialog_bk = { 233, 0, 158, 118, 0, 0, },
	
	dialog_bk_down = { 60, 233, 40, 40, 0, 0, },
	
	dialog_bk_up = { 104, 233, 40, 40, 0, 0, },
	
	dice = { 560, 65, 60, 60, 0, 0, },
	
	facebook = { 624, 65, 138, 55, 0, 0, },
	
	gamecenter = { 645, 188, 138, 55, 0, 0, },
	
	google = { 766, 65, 138, 55, 0, 0, },
	
	gou = { 787, 188, 66, 54, 0, 0, },
	
	head = { 148, 233, 20, 27, 0, 0, },
	
	login_bk_down = { 474, 65, 61, 50, 0, 0, },
	
	login_bk_up = { 821, 124, 463, 44, 0, 0, },
	
	name_bk = { 233, 122, 323, 81, 0, 0, },
	
	npc = { 0, 0, 229, 229, 0, 0, },
	
	select_bk = { 645, 247, 501, 33, 0, 0, },
	
	server_bk = { 474, 0, 471, 61, 0, 0, },
}

