

GameConfig.ResCompose.Ui_Res_Arena=
{
	Path = "resource/ui_res/arena.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	accelerate = { 825, 204, 43, 43, 0, 0, },
	
	background = { 0, 0, 512, 401, 0, 0, },
	
	brown_bk = { 825, 298, 43, 42, 0, 0, },
	
	buzhen = { 599, 449, 160, 60, 0, 0, },
	
	flag = { 516, 355, 79, 119, 0, 0, },
	
	frame = { 516, 0, 264, 207, 0, 0, },
	
	headframe = { 390, 405, 95, 95, 0, 0, },
	
	list = { 770, 355, 160, 65, 0, 0, },
	
	news = { 784, 138, 58, 62, 0, 0, },
	
	news_content = { 489, 405, 23, 20, 0, 0, },
	
	playerframe = { 599, 355, 167, 90, 0, 0, },
	
	record = { 770, 424, 160, 65, 0, 0, },
	
	rule = { 784, 0, 160, 65, 0, 0, },
	
	share = { 825, 251, 59, 43, 0, 0, },
	
	shop = { 784, 69, 160, 65, 0, 0, },
	
	taitou = { 516, 211, 305, 140, 0, 0, },
	
	title = { 0, 405, 386, 99, 0, 0, },
}

