

GameConfig.ResCompose.Ui_Res_Buzhen=
{
	Path = "resource/ui_res/buzhen.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	backrow_bk = { 1132, 0, 46, 46, 0, 0, },
	
	bing = { 0, 0, 102, 102, 0, 0, },
	
	close = { 1056, 0, 72, 72, 0, 0, },
	
	dou = { 106, 0, 102, 102, 0, 0, },
	
	frontrow_bk = { 1132, 50, 46, 46, 0, 0, },
	
	jie = { 212, 0, 102, 102, 0, 0, },
	
	lie = { 318, 0, 102, 102, 0, 0, },
	
	lin = { 424, 0, 102, 102, 0, 0, },
	
	middlerow_bk = { 1182, 0, 46, 46, 0, 0, },
	
	qian = { 530, 0, 102, 102, 0, 0, },
	
	zai = { 636, 0, 102, 102, 0, 0, },
	
	zhe = { 742, 0, 102, 102, 0, 0, },
	
	zhen = { 848, 0, 102, 102, 0, 0, },
	
	zhen0 = { 954, 0, 98, 99, 0, 0, },
	
	zhen1 = { 1056, 76, 25, 26, 0, 0, },
	
	zhen2 = { 1085, 76, 25, 26, 0, 0, },
	
	zhen3 = { 1182, 50, 25, 26, 0, 0, },
}

