

GameConfig.ResCompose.Ui_Res_Charge=
{
	Path = "resource/ui_res/charge.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	bk = { 0, 0, 100, 100, 0, 0, },
	
	cultivate = { 104, 0, 100, 100, 0, 0, },
	
	diamond1 = { 208, 0, 100, 100, 0, 0, },
	
	diamond2 = { 312, 0, 100, 100, 0, 0, },
	
	diamond3 = { 416, 0, 100, 100, 0, 0, },
	
	diamond4 = { 520, 0, 100, 100, 0, 0, },
	
	diamond5 = { 624, 0, 100, 100, 0, 0, },
	
	diamond6 = { 728, 0, 100, 100, 0, 0, },
	
	guildcard = { 832, 0, 100, 100, 0, 0, },
	
	li = { 936, 0, 100, 100, 0, 0, },
	
	min = { 1040, 0, 100, 100, 0, 0, },
	
	month_card_bk = { 1456, 58, 43, 43, 0, 0, },
	
	shoujing = { 1144, 0, 100, 100, 0, 0, },
	
	vip = { 1456, 0, 120, 54, 0, 0, },
	
	vip2 = { 1503, 58, 49, 30, 0, 0, },
	
	wan = { 1248, 0, 100, 100, 0, 0, },
	
	zhi = { 1352, 0, 100, 100, 0, 0, },
}

