

GameConfig.ResCompose.Ui_Res_Chat=
{
	Path = "resource/ui_res/chat.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	bg1 = { 215, 0, 130, 130, 0, 0, },
	
	bg2 = { 0, 0, 211, 212, 0, 0, },
	
	biaoqing = { 369, 190, 45, 45, 0, 0, },
	
	bq1 = { 148, 246, 89, 60, 0, 0, },
	
	bq2 = { 505, 278, 36, 32, 0, 0, },
	
	bt0 = { 369, 138, 70, 48, 0, 0, },
	
	bt1 = { 463, 0, 69, 43, 0, 0, },
	
	bubble1 = { 241, 246, 49, 53, 0, 0, },
	
	bubble2 = { 294, 243, 49, 53, 0, 0, },
	
	button_one = { 418, 190, 112, 45, 0, 0, },
	
	button_two = { 425, 82, 112, 45, 0, 0, },
	
	close = { 215, 134, 53, 108, 0, 0, },
	
	exit = { 272, 134, 93, 105, 0, 0, },
	
	liaotanneikuangxia = { 349, 0, 110, 78, 0, 0, },
	
	liaotiankuang = { 347, 243, 130, 53, 0, 0, },
	
	liaotiankuang_two = { 148, 216, 25, 21, 0, 0, },
	
	say = { 94, 216, 50, 80, 0, 0, },
	
	shurukuangcountdowntwo = { 481, 239, 20, 39, 0, 0, },
	
	shurukuangnew = { 443, 131, 97, 44, 0, 0, },
	
	sound = { 505, 239, 28, 35, 0, 0, },
	
	sound1 = { 94, 300, 9, 8, 0, 0, },
	
	sound2 = { 190, 216, 8, 14, 0, 0, },
	
	sound3 = { 177, 216, 9, 19, 0, 0, },
	
	vip_bk = { 0, 216, 90, 93, 0, 0, },
	
	yuyin_button = { 369, 82, 52, 52, 0, 0, },
}

