

GameConfig.ResCompose.Ui_Res_Duobao=
{
	Path = "resource/ui_res/duobao.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	bgjitui = { 0, 74, 199, 25, 0, 0, },
	
	bglist = { 1338, 0, 57, 31, 0, 0, },
	
	blue = { 331, 0, 58, 58, 0, 0, },
	
	blue2 = { 550, 62, 211, 39, 0, 0, },
	
	blue3 = { 703, 0, 57, 52, 0, 0, },
	
	gold = { 393, 0, 58, 58, 0, 0, },
	
	gold2 = { 765, 56, 211, 39, 0, 0, },
	
	gold3 = { 764, 0, 57, 52, 0, 0, },
	
	green = { 455, 0, 58, 58, 0, 0, },
	
	green2 = { 980, 56, 211, 39, 0, 0, },
	
	green3 = { 825, 0, 57, 52, 0, 0, },
	
	jitui = { 886, 0, 50, 52, 0, 0, },
	
	orange = { 517, 0, 58, 58, 0, 0, },
	
	orange2 = { 331, 62, 215, 40, 0, 0, },
	
	orange3 = { 940, 0, 57, 52, 0, 0, },
	
	purple = { 579, 0, 58, 58, 0, 0, },
	
	purple2 = { 1123, 0, 211, 39, 0, 0, },
	
	purple3 = { 1001, 0, 57, 52, 0, 0, },
	
	title = { 0, 0, 327, 70, 0, 0, },
	
	white = { 641, 0, 58, 58, 0, 0, },
	
	white2 = { 1195, 43, 211, 39, 0, 0, },
	
	white3 = { 1062, 0, 57, 52, 0, 0, },
}

