

GameConfig.ResCompose.Ui_Res_Fb=
{
	Path = "resource/ui_res/fb.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	bk1 = { 468, 182, 41, 25, 0, 0, },
	
	bk2 = { 101, 169, 27, 25, 0, 0, },
	
	diyu = { 144, 0, 76, 76, 0, 0, },
	
	diyuan = { 144, 80, 76, 76, 0, 0, },
	
	down = { 0, 169, 97, 55, 0, 0, },
	
	emeng = { 144, 160, 76, 75, 0, 0, },
	
	emengan = { 224, 160, 76, 75, 0, 0, },
	
	first = { 224, 0, 76, 76, 0, 0, },
	
	kunnan = { 304, 160, 76, 75, 0, 0, },
	
	kunnanan = { 384, 80, 76, 75, 0, 0, },
	
	large = { 384, 159, 80, 72, 0, 0, },
	
	paper_bk = { 0, 0, 140, 165, 0, 0, },
	
	putong = { 224, 80, 76, 76, 0, 0, },
	
	putongan = { 304, 0, 76, 76, 0, 0, },
	
	second = { 304, 80, 76, 76, 0, 0, },
	
	select = { 468, 130, 54, 48, 0, 0, },
	
	shadow = { 468, 211, 61, 15, 0, 0, },
	
	small = { 464, 76, 70, 50, 0, 0, },
	
	third = { 384, 0, 76, 76, 0, 0, },
	
	zj_bk = { 464, 0, 48, 72, 0, 0, },
}

