

GameConfig.ResCompose.Ui_Res_Friend=
{
	Path = "resource/ui_res/friend.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	biaoqing = { 574, 52, 45, 45, 0, 0, },
	
	button1 = { 574, 101, 112, 45, 0, 0, },
	
	button2 = { 623, 52, 112, 45, 0, 0, },
	
	chat = { 150, 0, 80, 80, 0, 0, },
	
	chatframe = { 328, 82, 130, 53, 0, 0, },
	
	chatframe2 = { 792, 82, 25, 21, 0, 0, },
	
	chat_down = { 318, 0, 110, 78, 0, 0, },
	
	input = { 462, 79, 52, 52, 0, 0, },
	
	input_frame = { 633, 0, 82, 44, 0, 0, },
	
	luyin = { 0, 0, 146, 145, 0, 0, },
	
	off = { 690, 101, 98, 39, 0, 0, },
	
	open = { 719, 0, 98, 39, 0, 0, },
	
	qipao1 = { 432, 0, 56, 75, 0, 0, },
	
	qipao2 = { 492, 0, 56, 75, 0, 0, },
	
	send_loading = { 739, 43, 20, 39, 0, 0, },
	
	send_tili = { 234, 0, 80, 80, 0, 0, },
	
	small_button = { 150, 84, 85, 54, 0, 0, },
	
	small_button2 = { 239, 84, 85, 54, 0, 0, },
	
	talk = { 552, 0, 77, 48, 0, 0, },
	
	yuyin = { 763, 43, 50, 35, 0, 0, },
	
	yuyin_button = { 518, 79, 52, 52, 0, 0, },
}

