

GameConfig.ResCompose.Ui_Res_Guild=
{
	Path = "resource/ui_res/guild.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	activity = { 565, 479, 40, 44, 0, 0, },
	
	battle = { 0, 316, 153, 153, 0, 0, },
	
	boss = { 157, 316, 153, 153, 0, 0, },
	
	brown_bk = { 602, 0, 43, 42, 0, 0, },
	
	count_frame = { 471, 314, 162, 110, 0, 0, },
	
	dice = { 393, 471, 60, 60, 0, 0, },
	
	down_bk = { 602, 46, 18, 19, 0, 0, },
	
	frame = { 0, 0, 284, 312, 0, 0, },
	
	guildframe = { 471, 428, 90, 93, 0, 0, },
	
	mercenary = { 288, 0, 153, 153, 0, 0, },
	
	news = { 331, 471, 58, 62, 0, 0, },
	
	tanbao = { 288, 157, 153, 153, 0, 0, },
	
	title = { 0, 473, 327, 70, 0, 0, },
	
	title2 = { 565, 428, 75, 47, 0, 0, },
	
	tree = { 314, 314, 153, 153, 0, 0, },
	
	turntable = { 445, 0, 153, 153, 0, 0, },
	
	worship = { 445, 157, 153, 153, 0, 0, },
}

