

GameConfig.ResCompose.Ui_Res_Heka=
{
	Path = "resource/ui_res/heka.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	bian1 = { 773, 0, 17, 470, 0, 0, },
	
	bian2 = { 916, 528, 712, 17, 0, 0, },
	
	heka1 = { 0, 0, 769, 570, 0, 0, },
	
	juese = { 794, 253, 300, 237, 0, 0, },
	
	lv1 = { 1043, 0, 682, 172, 0, 0, },
	
	lv2 = { 1098, 176, 682, 172, 0, 0, },
	
	lv3 = { 1098, 352, 682, 172, 0, 0, },
	
	zhezao = { 773, 494, 139, 62, 0, 0, },
	
	zhuangshi = { 794, 0, 245, 249, 0, 0, },
}

