

GameConfig.ResCompose.Ui_Res_Pet=
{
	Path = "resource/ui_res/pet.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	anniu = { 230, 108, 87, 40, 0, 0, },
	
	bk = { 280, 78, 26, 16, 0, 0, },
	
	dawenhao = { 172, 108, 54, 86, 0, 0, },
	
	debris = { 230, 152, 36, 36, 0, 0, },
	
	edit = { 234, 262, 34, 34, 0, 0, },
	
	got = { 190, 198, 70, 60, 0, 0, },
	
	jindu = { 272, 262, 29, 22, 0, 0, },
	
	light1 = { 0, 0, 168, 198, 0, 0, },
	
	light2 = { 49, 318, 249, 52, 0, 0, },
	
	lock = { 0, 318, 45, 59, 0, 0, },
	
	mz = { 264, 192, 46, 32, 0, 0, },
	
	select = { 172, 0, 104, 104, 0, 0, },
	
	shijian = { 190, 262, 40, 49, 0, 0, },
	
	starup2 = { 272, 288, 29, 22, 0, 0, },
	
	starup3 = { 280, 0, 29, 22, 0, 0, },
	
	starup4 = { 280, 26, 29, 22, 0, 0, },
	
	starup5 = { 280, 52, 29, 22, 0, 0, },
	
	tai = { 0, 202, 186, 112, 0, 0, },
	
	weixuanze = { 264, 228, 30, 30, 0, 0, },
	
	xuanzhe = { 270, 152, 30, 30, 0, 0, },
}

