

GameConfig.ResCompose.Ui_Res_Qiecuo=
{
	Path = "resource/ui_res/qiecuo.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	battle = { 603, 100, 72, 62, 0, 0, },
	
	bk = { 0, 0, 745, 96, 0, 0, },
	
	buzhen = { 851, 90, 160, 60, 0, 0, },
	
	di = { 0, 100, 271, 65, 0, 0, },
	
	di2 = { 851, 154, 158, 16, 0, 0, },
	
	fangshou = { 749, 0, 86, 86, 0, 0, },
	
	jingong = { 839, 0, 86, 86, 0, 0, },
	
	paim = { 929, 0, 86, 86, 0, 0, },
	
	record = { 275, 100, 160, 65, 0, 0, },
	
	rule = { 439, 100, 160, 65, 0, 0, },
	
	vs = { 749, 90, 98, 84, 0, 0, },
}

