

GameConfig.ResCompose.Ui_Res_Shengdan=
{
	Path = "resource/ui_res/shengdan.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	beijing = { 24, 0, 394, 383, 0, 0, },
	
	bian1 = { 0, 0, 20, 497, 0, 0, },
	
	bian2 = { 0, 729, 704, 14, 0, 0, },
	
	like = { 422, 275, 164, 61, 0, 0, },
	
	lv1 = { 185, 387, 682, 172, 0, 0, },
	
	qiaoba = { 422, 0, 126, 141, 0, 0, },
	
	sds = { 0, 501, 181, 218, 0, 0, },
	
	shouzhang = { 24, 387, 45, 74, 0, 0, },
	
	taitou1 = { 422, 145, 462, 126, 0, 0, },
	
	xue2 = { 318, 563, 359, 148, 0, 0, },
	
	xueren = { 185, 563, 129, 162, 0, 0, },
	
	xue_di = { 422, 340, 249, 43, 0, 0, },
	
	xue_shang = { 552, 0, 295, 58, 0, 0, },
	
	ye = { 73, 387, 63, 59, 0, 0, },
}

