

GameConfig.ResCompose.Ui_Res_Tab=
{
	Path = "resource/ui_res/tab.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	normal = { 0, 284, 111, 58, 0, 0, },
	
	normal1 = { 0, 150, 132, 63, 0, 0, },
	
	select = { 0, 80, 118, 66, 0, 0, },
	
	select1 = { 0, 217, 132, 63, 0, 0, },
	
	tab_green_rec = { 0, 0, 116, 76, 0, 0, },
}

