

GameConfig.ResCompose.Ui_Res_Tanbao=
{
	Path = "resource/ui_res/tanbao.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	baoxiang = { 0, 0, 292, 269, 0, 0, },
	
	event0 = { 296, 0, 97, 62, 0, 0, },
	
	event1 = { 296, 66, 97, 62, 0, 0, },
	
	event2 = { 296, 132, 97, 62, 0, 0, },
	
	event3 = { 296, 198, 97, 62, 0, 0, },
	
	event4 = { 397, 0, 97, 62, 0, 0, },
	
	event5 = { 397, 66, 97, 62, 0, 0, },
	
	event6 = { 397, 132, 97, 62, 0, 0, },
	
	event7 = { 397, 198, 97, 62, 0, 0, },
	
	face1 = { 244, 273, 244, 239, 0, 0, },
	
	face2 = { 0, 273, 240, 242, 0, 0, },
}

