

GameConfig.ResCompose.Ui_Res_Tips=
{
	Path = "resource/ui_res/tips.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	bk = { 868, 0, 119, 119, 0, 0, },
	
	cheng = { 0, 0, 120, 120, 0, 0, },
	
	fen = { 124, 0, 120, 120, 0, 0, },
	
	hong = { 248, 0, 120, 120, 0, 0, },
	
	jin = { 372, 0, 120, 120, 0, 0, },
	
	lan = { 496, 0, 120, 120, 0, 0, },
	
	lv = { 620, 0, 120, 120, 0, 0, },
	
	zi = { 744, 0, 120, 120, 0, 0, },
}

