

GameConfig.ResCompose.Ui_Res_Zhenfa=
{
	Path = "resource/ui_res/zhenfa.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	array = { 0, 0, 377, 373, 0, 0, },
	
	arrow = { 558, 197, 15, 24, 0, 0, },
	
	arrow1 = { 479, 0, 42, 103, 0, 0, },
	
	arrow2 = { 381, 0, 94, 110, 0, 0, },
	
	arrow3 = { 381, 114, 173, 110, 0, 0, },
	
	arrow4 = { 381, 228, 251, 110, 0, 0, },
	
	background = { 636, 268, 60, 58, 0, 0, },
	
	bk = { 611, 0, 80, 77, 0, 0, },
	
	blue = { 695, 0, 50, 50, 0, 0, },
	
	bluebutton = { 381, 342, 124, 67, 0, 0, },
	
	gold = { 700, 268, 50, 50, 0, 0, },
	
	gou = { 637, 330, 66, 54, 0, 0, },
	
	green = { 707, 322, 50, 50, 0, 0, },
	
	greenbutton = { 509, 342, 124, 67, 0, 0, },
	
	orange = { 724, 54, 50, 50, 0, 0, },
	
	purple = { 724, 108, 50, 50, 0, 0, },
	
	redbutton = { 636, 197, 124, 67, 0, 0, },
	
	select = { 525, 0, 82, 99, 0, 0, },
	
	shuxing_bk = { 724, 162, 180, 29, 0, 0, },
	
	title = { 0, 377, 375, 41, 0, 0, },
	
	title_bk = { 744, 376, 38, 34, 0, 0, },
	
	update2 = { 637, 388, 27, 29, 0, 0, },
	
	update_bk = { 749, 0, 62, 19, 0, 0, },
	
	zhandou_bk = { 558, 103, 162, 90, 0, 0, },
	
	zhixiang = { 707, 376, 33, 42, 0, 0, },
}

