

GameConfig.ResCompose.Ui_Res_Language_Tanbao=
{
	Path = "resource/ui_res/language/en/tanbao.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	ghtb = { 0, 0, 153, 42, 0, 0, },
	
	ghtb = { 157, 0, 153, 42, 0, 0, },
	
	hzwbx = { 314, 0, 264, 42, 0, 0, },
}

