

GameConfig.ResCompose.Ui_Res_Language_Zhengba=
{
	Path = "resource/ui_res/language/en/zhengba.png",
	ScaleSize = 1,
	FrameInterval = 0.125,
	
	
	lose = { 0, 0, 360, 118, 0, 0, },
	
	round = { 0, 244, 312, 79, 0, 0, },
	
	win = { 0, 122, 325, 118, 0, 0, },
}

