Config = Config or {}
Config.cnfarenainfo = {
		[1] = {
			challenge_count = 5,
			buy_arena_count = 5,
			win_reward_id = 8201,
			lost_reward_id = 8202,
			music_id = {1,0,0,},
			resource_id = {1071,1071,},
			arena_explain = [[<COLOR VALUE=442c0c>1. 5 Times Of Challenge Daily. Reset At 5am. VIP Can Buy More Times. With Higher VIP Rank, The More Times Could Be Bought.  <BR>
2.Challenge And Get Fame & Coin. Get Half Reward If Lose; <BR>
3. Get Great Rewards As Rank Up; Present Diamonds, Fame & Coins Every 24 Hours As Per Rank. <BR>
4. Fame Can Buy Item/Stone. </COLOR>]],
		},
}