Config = Config or {}
Config.cnfactrank = {
		[301] = {
			rank_type = 301,
			name = "Lv. Rank ",
			pos_name = "Server Rank1",
			rewards = {5075,5076,5077,},
			base_condition = 32,
			progress_str = [[Lv.: %d]],
			condition_str = [[Lv.%s Can Get]],
			base_reward = 5078,
		},
		[202] = {
			rank_type = 202,
			name = "POW Rank ",
			pos_name = "Server Rank2 ",
			rewards = {5079,5080,5081,},
			base_condition = 500000,
			progress_str = [[Total POW: %d]],
			condition_str = [[Total POW %s To Get]],
			base_reward = 5082,
		},
		[401] = {
			rank_type = 401,
			name = "Ward Rank ",
			pos_name = "Server Rank3",
			rewards = {5083,5084,5085,},
			base_condition = 18,
			progress_str = [[Ward: %d]],
			condition_str = [[Total Ward Stage %s To Get]],
			base_reward = 5086,
		},
		[402] = {
			rank_type = 402,
			name = "Train Rank",
			pos_name = "Server Rank4",
			rewards = {5087,5088,5089,},
			base_condition = 1000,
			progress_str = [[Train: %d]],
			condition_str = [[Train POW %s POW To Get]],
			base_reward = 5090,
		},
		[403] = {
			rank_type = 403,
			name = "Sacrifice Rank ",
			pos_name = "Server Rank5",
			rewards = {5091,5092,5093,},
			base_condition = 100,
			progress_str = [[Sacrifice: %d]],
			condition_str = [[Fellow Total Sacrifice Lv.%s To Get]],
			base_reward = 5094,
		},
		[404] = {
			rank_type = 404,
			name = "Ruin Jade Rank",
			pos_name = "Server Rank6",
			rewards = {5095,5096,5097,},
			base_condition = 10,
			progress_str = [[Ruin Jade: %d]],
			condition_str = [[Fellow Total Ruin Jade Lv.%s To Get]],
			base_reward = 5098,
		},
}