Config = Config or {}
Config.cnfactandach = {
		[1] = {
			actach_id = 1,
			actach_type = 1,
			day_idx = 1,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 1,
			condition = {},
			reward_id = 2301,
		},
		[2] = {
			actach_id = 2,
			actach_type = 2,
			day_idx = 1,
			caption = "Daily Boon",
			title = "Charge 1000 Diamonds",
			order = 2,
			condition = {1000,},
			reward_id = 2302,
		},
		[3] = {
			actach_id = 3,
			actach_type = 4,
			day_idx = 1,
			caption = "Mainline",
			title = "Done Normal Instance Stage Chapter 2 ",
			order = 3,
			condition = {2,},
			reward_id = 2303,
		},
		[4] = {
			actach_id = 4,
			actach_type = 4,
			day_idx = 1,
			caption = "Mainline",
			title = " Normal Instance Done: Chapter 3 ",
			order = 4,
			condition = {3,},
			reward_id = 2304,
		},
		[5] = {
			actach_id = 5,
			actach_type = 4,
			day_idx = 1,
			caption = "Mainline",
			title = "Normal Instance Done: Chapter 4",
			order = 5,
			condition = {4,},
			reward_id = 2305,
		},
		[6] = {
			actach_id = 6,
			actach_type = 4,
			day_idx = 1,
			caption = "Mainline",
			title = " Normal Instance Done: Chapter 5",
			order = 6,
			condition = {5,},
			reward_id = 2306,
		},
		[7] = {
			actach_id = 7,
			actach_type = 3,
			day_idx = 1,
			caption = "Mainline",
			title = "Team Lv. 20 ",
			order = 7,
			condition = {20,},
			reward_id = 2307,
		},
		[8] = {
			actach_id = 8,
			actach_type = 3,
			day_idx = 1,
			caption = "Mainline",
			title = "Team Lv. Reaches 25 ",
			order = 8,
			condition = {25,},
			reward_id = 2308,
		},
		[9] = {
			actach_id = 9,
			actach_type = 3,
			day_idx = 1,
			caption = "Mainline",
			title = 'Team Lv. Reached 30',
			order = 9,
			condition = {30,},
			reward_id = 2309,
		},
		[10] = {
			actach_id = 10,
			actach_type = 5,
			day_idx = 1,
			caption = "Ward Up",
			title = "Single Row Wards Upgraded To Lv.4 ",
			order = 10,
			condition = {4,},
			reward_id = 2310,
		},
		[11] = {
			actach_id = 11,
			actach_type = 5,
			day_idx = 1,
			caption = "Ward Up",
			title = "Single Ward Upgrade To 5 ",
			order = 11,
			condition = {5,},
			reward_id = 2311,
		},
		[12] = {
			actach_id = 12,
			actach_type = 5,
			day_idx = 1,
			caption = "Ward Up",
			title = " Single Ward Upgrade To 6",
			order = 12,
			condition = {6,},
			reward_id = 2312,
		},
		[13] = {
			actach_id = 13,
			actach_type = 5,
			day_idx = 1,
			caption = "Ward Up",
			title = "Article For Single Ward Lv.7 ",
			order = 13,
			condition = {7,},
			reward_id = 2313,
		},
		[14] = {
			actach_id = 14,
			actach_type = 17,
			day_idx = 1,
			caption = "50% Off ",
			title = "50% Off",
			order = 14,
			condition = {265,300,},
			reward_id = 2314,
		},
		[15] = {
			actach_id = 15,
			actach_type = 1,
			day_idx = 2,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 15,
			condition = {},
			reward_id = 2315,
		},
		[16] = {
			actach_id = 16,
			actach_type = 2,
			day_idx = 2,
			caption = "Daily Boon",
			title = "Charge 2000 Diamonds In Total ",
			order = 16,
			condition = {2000,},
			reward_id = 2316,
		},
		[17] = {
			actach_id = 17,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = "Rank First In Arena ",
			order = 17,
			condition = {1,},
			reward_id = 2317,
		},
		[18] = {
			actach_id = 18,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = " Arena Highest Rank Reach 3 ",
			order = 18,
			condition = {3,},
			reward_id = 2318,
		},
		[19] = {
			actach_id = 19,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = " Arena Highest Rank Reaches 10 ",
			order = 19,
			condition = {10,},
			reward_id = 2319,
		},
		[20] = {
			actach_id = 20,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = "Arena Rank Reach 50 ",
			order = 20,
			condition = {50,},
			reward_id = 2320,
		},
		[21] = {
			actach_id = 21,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = " Top Rank Reaches 100 In Arena",
			order = 21,
			condition = {100,},
			reward_id = 2321,
		},
		[22] = {
			actach_id = 22,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = "Top Rank 500 In Arena ",
			order = 22,
			condition = {500,},
			reward_id = 2322,
		},
		[23] = {
			actach_id = 23,
			actach_type = 6,
			day_idx = 2,
			caption = "Arena ",
			title = "Arena Highest Rank Reach 1000 ",
			order = 23,
			condition = {1000,},
			reward_id = 2323,
		},
		[24] = {
			actach_id = 24,
			actach_type = 7,
			day_idx = 2,
			caption = "Hero Gather",
			title = "Collect 5 Heroes",
			order = 24,
			condition = {5,},
			reward_id = 2324,
		},
		[25] = {
			actach_id = 25,
			actach_type = 7,
			day_idx = 2,
			caption = "Hero Gather",
			title = "Collect 8 Heroes ",
			order = 25,
			condition = {8,},
			reward_id = 2325,
		},
		[26] = {
			actach_id = 26,
			actach_type = 7,
			day_idx = 2,
			caption = "Hero Gather",
			title = "Collect 11 Heroes ",
			order = 26,
			condition = {11,},
			reward_id = 2326,
		},
		[27] = {
			actach_id = 27,
			actach_type = 7,
			day_idx = 2,
			caption = "Hero Gather",
			title ="Collect Fifteen Heroes",
			order = 27,
			condition = {15,},
			reward_id = 2327,
		},
		[28] = {
			actach_id = 28,
			actach_type = 17,
			day_idx = 2,
			caption = "50% Off ",
			title = "50% Off",
			order = 28,
			condition = {500,300,},
			reward_id = 2328,
		},
		[29] = {
			actach_id = 29,
			actach_type = 1,
			day_idx = 3,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 29,
			condition = {},
			reward_id = 2329,
		},
		[30] = {
			actach_id = 30,
			actach_type = 2,
			day_idx = 3,
			caption = "Daily Boon",
			title = "Charge 3000 Diamonds",
			order = 30,
			condition = {3000,},
			reward_id = 2330,
		},
		[31] = {
			actach_id = 31,
			actach_type = 8,
			day_idx = 3,
			caption = "Soul Sacrifice",
			title = "Top Sacrifice Lv. 10 ",
			order = 31,
			condition = {10,},
			reward_id = 2331,
		},
		[32] = {
			actach_id = 32,
			actach_type = 8,
			day_idx = 3,
			caption = "Soul Sacrifice",
			title = "The Highest Sacrifice Lv. Reach To 20 ",
			order = 32,
			condition = {20,},
			reward_id = 2332,
		},
		[33] = {
			actach_id = 33,
			actach_type = 8,
			day_idx = 3,
			caption = "Soul Sacrifice",
			title = "Top Sacrifice Lv. Reaches 30 ",
			order = 33,
			condition = {30,},
			reward_id = 2333,
		},
		[34] = {
			actach_id = 34,
			actach_type = 8,
			day_idx = 3,
			caption = "Soul Sacrifice",
			title = "Top Sacrifice Lv. Reached 40 ",
			order = 34,
			condition = {40,},
			reward_id = 2334,
		},
		[35] = {
			actach_id = 35,
			actach_type = 9,
			day_idx = 3,
			caption = "Treasure",
			title = "Total Get More Than 10 Orange Treasure Boxes In Adventure ",
			order = 35,
			condition = {10,},
			reward_id = 2335,
		},
		[36] = {
			actach_id = 36,
			actach_type = 9,
			day_idx = 3,
			caption = "Treasure",
			title = " Get More Than 20 Orange Boxes In Adventure ",
			order = 36,
			condition = {20,},
			reward_id = 2336,
		},
		[37] = {
			actach_id = 37,
			actach_type = 9,
			day_idx = 3,
			caption = "Treasure",
			title = "Get More Than 30 Orange Boxes In Adventure ",
			order = 37,
			condition = {30,},
			reward_id = 2337,
		},
		[38] = {
			actach_id = 38,
			actach_type = 9,
			day_idx = 3,
			caption = "Treasure",
			title = "Get More Than 40 Orange Boxes In Adventure ",
			order = 38,
			condition = {40,},
			reward_id = 2338,
		},
		[40] = {
			actach_id = 40,
			actach_type = 17,
			day_idx = 3,
			caption = "50% Off ",
			title = "50% Off",
			order = 40,
			condition = {1000,300,},
			reward_id = 2340,
		},
		[41] = {
			actach_id = 41,
			actach_type = 1,
			day_idx = 4,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 41,
			condition = {},
			reward_id = 2341,
		},
		[42] = {
			actach_id = 42,
			actach_type = 2,
			day_idx = 4,
			caption = "Daily Boon",
			title = "Recharge 5000 Diamonds ",
			order = 42,
			condition = {5000,},
			reward_id = 2342,
		},
		[43] = {
			actach_id = 43,
			actach_type = 10,
			day_idx = 4,
			caption = "Elite Instance ",
			title = " Elite Instance Done: Chapter 2 ",
			order = 43,
			condition = {2,},
			reward_id = 2343,
		},
		[44] = {
			actach_id = 44,
			actach_type = 10,
			day_idx = 4,
			caption = "Elite Instance ",
			title = "Elite Instance Done: Chapter3 ",
			order = 44,
			condition = {3,},
			reward_id = 2344,
		},
		[45] = {
			actach_id = 45,
			actach_type = 10,
			day_idx = 4,
			caption = "Elite Instance ",
			title = "Elite Instance Stage Done: Chapter 4 ",
			order = 45,
			condition = {4,},
			reward_id = 2345,
		},
		[46] = {
			actach_id = 46,
			actach_type = 10,
			day_idx = 4,
			caption = "Elite Instance ",
			title = "Done Elite Instance: Chapter5",
			order = 46,
			condition = {5,},
			reward_id = 2346,
		},
		[47] = {
			actach_id = 47,
			actach_type = 11,
			day_idx = 4,
			caption = "Star Up",
			title = "Have 2 2-Stars Heroes ",
			order = 47,
			condition = {2,2,},
			reward_id = 2347,
		},
		[48] = {
			actach_id = 48,
			actach_type = 11,
			day_idx = 4,
			caption = "Star Up",
			title = "Have 3 2-Stars Heroes",
			order = 48,
			condition = {3,2,},
			reward_id = 2348,
		},
		[49] = {
			actach_id = 49,
			actach_type = 11,
			day_idx = 4,
			caption = "Star Up",
			title = "Have 5 2-Stars Heroes ",
			order = 49,
			condition = {5,2,},
			reward_id = 2349,
		},
		[50] = {
			actach_id = 50,
			actach_type = 11,
			day_idx = 4,
			caption = "Star Up",
			title = "Have 2 3-Stars Heroes ",
			order = 50,
			condition = {2,3,},
			reward_id = 2350,
		},
		[51] = {
			actach_id = 51,
			actach_type = 11,
			day_idx = 4,
			caption = "Star Up",
			title = "Have 3 Three-Stars Heroes",
			order = 51,
			condition = {3,3,},
			reward_id = 2351,
		},
		[52] = {
			actach_id = 52,
			actach_type = 11,
			day_idx = 4,
			caption = "Star Up",
			title = "Have 5 3-Stars Heroes ",
			order = 52,
			condition = {5,3,},
			reward_id = 2352,
		},
		[53] = {
			actach_id = 53,
			actach_type = 17,
			day_idx = 4,
			caption = "50% Off ",
			title = "50% Off",
			order = 53,
			condition = {1000,300,},
			reward_id = 2353,
		},
		[54] = {
			actach_id = 54,
			actach_type = 1,
			day_idx = 5,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 54,
			condition = {},
			reward_id = 2354,
		},
		[55] = {
			actach_id = 55,
			actach_type = 2,
			day_idx = 5,
			caption = "Daily Boon",
			title = "Charge 10000 Diamonds",
			order = 55,
			condition = {10000,},
			reward_id = 2355,
		},
		[56] = {
			actach_id = 56,
			actach_type = 12,
			day_idx = 5,
			caption = "Hero Upgrade ",
			title = "Upgrade 1 Hero To +3 ",
			order = 56,
			condition = {1,4,},
			reward_id = 2356,
		},
		[57] = {
			actach_id = 57,
			actach_type = 12,
			day_idx = 5,
			caption = "Hero Upgrade ",
			title = "Upgrade 2 Heroes To +3 ",
			order = 57,
			condition = {2,4,},
			reward_id = 2357,
		},
		[58] = {
			actach_id = 58,
			actach_type = 12,
			day_idx = 5,
			caption = "Hero Upgrade ",
			title = "Upgrade 3 Heroes to +3 ",
			order = 58,
			condition = {3,4,},
			reward_id = 2358,
		},
		[59] = {
			actach_id = 59,
			actach_type = 12,
			day_idx = 5,
			caption = "Hero Upgrade ",
			title = "Upgrade 4 Heroes To +3 ",
			order = 59,
			condition = {4,4,},
			reward_id = 2359,
		},
		[60] = {
			actach_id = 60,
			actach_type = 12,
			day_idx = 5,
			caption = "Hero Upgrade ",
			title = "Upgrade 5 Heroes +3 ",
			order = 60,
			condition = {5,4,},
			reward_id = 2360,
		},
		[61] = {
			actach_id = 61,
			actach_type = 13,
			day_idx = 5,
			caption = "Adventure ",
			title = "Get 6000 Train Points In Adventure ",
			order = 61,
			condition = {6600,},
			reward_id = 2361,
		},
		[62] = {
			actach_id = 62,
			actach_type = 13,
			day_idx = 5,
			caption = "Adventure ",
			title = "Total Get 7920 Trains In Adventure ",
			order = 62,
			condition = {7920,},
			reward_id = 2362,
		},
		[63] = {
			actach_id = 63,
			actach_type = 13,
			day_idx = 5,
			caption = "Adventure ",
			title = " Get 9900 Trains In Adventure ",
			order = 63,
			condition = {9900,},
			reward_id = 2363,
		},
		[64] = {
			actach_id = 64,
			actach_type = 13,
			day_idx = 5,
			caption = "Adventure ",
			title = "Get 13200 Trains In Adventure",
			order = 64,
			condition = {13200,},
			reward_id = 2364,
		},
		[65] = {
			actach_id = 65,
			actach_type = 13,
			day_idx = 5,
			caption = "Adventure ",
			title = " Get 16500 Trains In Adventure ",
			order = 65,
			condition = {16500,},
			reward_id = 2365,
		},
		[66] = {
			actach_id = 66,
			actach_type = 13,
			day_idx = 5,
			caption = "Adventure ",
			title = " Get 19800 Trains In Adventure ",
			order = 66,
			condition = {19800,},
			reward_id = 2366,
		},
		[67] = {
			actach_id = 67,
			actach_type = 17,
			day_idx = 5,
			caption = "50% Off ",
			title = "50% Off",
			order = 67,
			condition = {1000,300,},
			reward_id = 2367,
		},
		[68] = {
			actach_id = 68,
			actach_type = 1,
			day_idx = 6,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 68,
			condition = {},
			reward_id = 2368,
		},
		[69] = {
			actach_id = 69,
			actach_type = 2,
			day_idx = 6,
			caption = "Daily Boon",
			title = "Charge 15000 Diamonds",
			order = 69,
			condition = {15000,},
			reward_id = 2369,
		},
		[70] = {
			actach_id = 70,
			actach_type = 14,
			day_idx = 6,
			caption = "Main Star ",
			title = "Normal Instance Reached 70-Stars. ",
			order = 70,
			condition = {70,},
			reward_id = 2370,
		},
		[71] = {
			actach_id = 71,
			actach_type = 14,
			day_idx = 6,
			caption = "Main Star ",
			title = "Normal Instance Reached 80-Stars",
			order = 71,
			condition = {80,},
			reward_id = 2371,
		},
		[72] = {
			actach_id = 72,
			actach_type = 14,
			day_idx = 6,
			caption = "Main Star ",
			title = "Normal Instance Reached 90 Stars ",
			order = 72,
			condition = {90,},
			reward_id = 2372,
		},
		[73] = {
			actach_id = 73,
			actach_type = 14,
			day_idx = 6,
			caption = "Main Star ",
			title = " Stars Of Normal Instance Reach 110 ",
			order = 73,
			condition = {110,},
			reward_id = 2373,
		},
		[74] = {
			actach_id = 74,
			actach_type = 14,
			day_idx = 6,
			caption = "Main Star ",
			title = "Normal Instance Reached 126-Stars ",
			order = 74,
			condition = {126,},
			reward_id = 2374,
		},
		[75] = {
			actach_id = 75,
			actach_type = 14,
			day_idx = 6,
			caption = "Main Star ",
			title = "Stars Of Normal Instance Reach 145 ",
			order = 75,
			condition = {145,},
			reward_id = 2375,
		},
		[76] = {
			actach_id = 76,
			actach_type = 15,
			day_idx = 6,
			caption = "Ruin Jade ",
			title = "Hero's Ruin Jade Reach Lv.1 ",
			order = 76,
			condition = {1,},
			reward_id = 2376,
		},
		[77] = {
			actach_id = 77,
			actach_type = 15,
			day_idx = 6,
			caption = "Ruin Jade ",
			title = "Hero Top Ruin Jade Lv. Reached 2",
			order = 77,
			condition = {2,},
			reward_id = 2377,
		},
		[78] = {
			actach_id = 78,
			actach_type = 15,
			day_idx = 6,
			caption = "Ruin Jade ",
			title = "Hero Max. Ruin Jade Lv. Reaches 3 ",
			order = 78,
			condition = {3,},
			reward_id = 2378,
		},
		[79] = {
			actach_id = 79,
			actach_type = 15,
			day_idx = 6,
			caption = "Ruin Jade ",
			title = "Hero Top Ruin Jade Lv. Reached 4 ",
			order = 79,
			condition = {4,},
			reward_id = 2379,
		},
		[80] = {
			actach_id = 80,
			actach_type = 15,
			day_idx = 6,
			caption = "Ruin Jade ",
			title = " Hero's Ruin Jade Reach Lv.5 ",
			order = 80,
			condition = {5,},
			reward_id = 2380,
		},
		[81] = {
			actach_id = 81,
			actach_type = 15,
			day_idx = 6,
			caption = "Ruin Jade ",
			title = " Hero's Ruin Jade Reach Lv.6 ",
			order = 81,
			condition = {6,},
			reward_id = 2381,
		},
		[82] = {
			actach_id = 82,
			actach_type = 17,
			day_idx = 6,
			caption = "50% Off ",
			title = "50% Off",
			order = 82,
			condition = {1250,300,},
			reward_id = 2382,
		},
		[83] = {
			actach_id = 83,
			actach_type = 1,
			day_idx = 7,
			caption = "Daily Boon",
			title = "Login Today And Get ",
			order = 83,
			condition = {},
			reward_id = 2383,
		},
		[84] = {
			actach_id = 84,
			actach_type = 2,
			day_idx = 7,
			caption = "Daily Boon",
			title = "Charge 20000 Diamonds Totally",
			order = 84,
			condition = {20000,},
			reward_id = 2384,
		},
		[85] = {
			actach_id = 85,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DEF Reach To 400000",
			order = 85,
			condition = {400000,},
			reward_id = 2385,
		},
		[86] = {
			actach_id = 86,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DEF POW Reaches 430000",
			order = 86,
			condition = {430000,},
			reward_id = 2386,
		},
		[87] = {
			actach_id = 87,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DEF POW Reached 450000 ",
			order = 87,
			condition = {450000,},
			reward_id = 2387,
		},
		[88] = {
			actach_id = 88,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DFE POW Reaches480000 ",
			order = 88,
			condition = {480000,},
			reward_id = 2388,
		},
		[89] = {
			actach_id = 89,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DEF Reach To 510000",
			order = 89,
			condition = {510000,},
			reward_id = 2389,
		},
		[90] = {
			actach_id = 90,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DEF Reach To 550000",
			order = 90,
			condition = {550000,},
			reward_id = 2390,
		},
		[91] = {
			actach_id = 91,
			actach_type = 16,
			day_idx = 7,
			caption = "POW ",
			title = "Arena DEF Reach To 600000",
			order = 91,
			condition = {600000,},
			reward_id = 2391,
		},
		[92] = {
			actach_id = 92,
			actach_type = 3,
			day_idx = 7,
			caption = "Team Lv. ",
			title = "Team Lv. 34. ",
			order = 92,
			condition = {34,},
			reward_id = 2392,
		},
		[93] = {
			actach_id = 93,
			actach_type = 3,
			day_idx = 7,
			caption = "Team Lv. ",
			title = "Army Lv. Reached 36 ",
			order = 93,
			condition = {36,},
			reward_id = 2393,
		},
		[94] = {
			actach_id = 94,
			actach_type = 3,
			day_idx = 7,
			caption = "Team Lv. ",
			title = "Team Lv. Reached 38 ",
			order = 94,
			condition = {38,},
			reward_id = 2394,
		},
		[95] = {
			actach_id = 95,
			actach_type = 3,
			day_idx = 7,
			caption = "Team Lv. ",
			title = "Team Lv. 40 ",
			order = 95,
			condition = {40,},
			reward_id = 2395,
		},
		[96] = {
			actach_id = 96,
			actach_type = 3,
			day_idx = 7,
			caption = "Team Lv. ",
			title = "Team Lv. Up To 43 ",
			order = 96,
			condition = {43,},
			reward_id = 2396,
		},
		[97] = {
			actach_id = 97,
			actach_type = 3,
			day_idx = 7,
			caption = "Team Lv. ",
			title = "Team's Lv. Up To 46 ",
			order = 97,
			condition = {46,},
			reward_id = 2397,
		},
		[98] = {
			actach_id = 98,
			actach_type = 17,
			day_idx = 7,
			caption = "50% Off ",
			title = "50% Off",
			order = 98,
			condition = {2500,300,},
			reward_id = 2398,
		},
}