Config = Config or {}
Config.cnfarenastagereward = {
		[1] = {
			grade_stage = 1,
			reward_id = 8001,
		},
		[2] = {
			grade_stage = 2,
			reward_id = 8002,
		},
		[3] = {
			grade_stage = 3,
			reward_id = 8003,
		},
		[4] = {
			grade_stage = 4,
			reward_id = 8004,
		},
		[5] = {
			grade_stage = 5,
			reward_id = 8005,
		},
		[6] = {
			grade_stage = 6,
			reward_id = 8006,
		},
		[7] = {
			grade_stage = 7,
			reward_id = 8007,
		},
		[8] = {
			grade_stage = 8,
			reward_id = 8008,
		},
		[9] = {
			grade_stage = 9,
			reward_id = 8009,
		},
		[10] = {
			grade_stage = 10,
			reward_id = 8010,
		},
		[11] = {
			grade_stage = 11,
			reward_id = 8011,
		},
		[12] = {
			grade_stage = 12,
			reward_id = 8012,
		},
		[13] = {
			grade_stage = 13,
			reward_id = 8013,
		},
		[14] = {
			grade_stage = 14,
			reward_id = 8014,
		},
		[15] = {
			grade_stage = 15,
			reward_id = 8015,
		},
		[16] = {
			grade_stage = 16,
			reward_id = 8016,
		},
		[17] = {
			grade_stage = 17,
			reward_id = 8017,
		},
		[18] = {
			grade_stage = 18,
			reward_id = 8018,
		},
		[19] = {
			grade_stage = 19,
			reward_id = 8019,
		},
		[20] = {
			grade_stage = 20,
			reward_id = 8020,
		},
		[21] = {
			grade_stage = 21,
			reward_id = 8021,
		},
		[22] = {
			grade_stage = 22,
			reward_id = 8022,
		},
		[23] = {
			grade_stage = 23,
			reward_id = 8023,
		},
		[24] = {
			grade_stage = 24,
			reward_id = 8024,
		},
		[25] = {
			grade_stage = 25,
			reward_id = 8025,
		},
		[26] = {
			grade_stage = 26,
			reward_id = 8026,
		},
		[27] = {
			grade_stage = 27,
			reward_id = 8027,
		},
		[28] = {
			grade_stage = 28,
			reward_id = 8028,
		},
		[29] = {
			grade_stage = 29,
			reward_id = 8029,
		},
		[30] = {
			grade_stage = 30,
			reward_id = 8030,
		},
		[31] = {
			grade_stage = 31,
			reward_id = 8031,
		},
		[32] = {
			grade_stage = 32,
			reward_id = 8032,
		},
		[33] = {
			grade_stage = 33,
			reward_id = 8033,
		},
		[34] = {
			grade_stage = 34,
			reward_id = 8034,
		},
		[35] = {
			grade_stage = 35,
			reward_id = 8035,
		},
		[36] = {
			grade_stage = 36,
			reward_id = 8036,
		},
		[37] = {
			grade_stage = 37,
			reward_id = 8037,
		},
		[38] = {
			grade_stage = 38,
			reward_id = 8038,
		},
		[39] = {
			grade_stage = 39,
			reward_id = 8039,
		},
		[40] = {
			grade_stage = 40,
			reward_id = 8040,
		},
		[41] = {
			grade_stage = 41,
			reward_id = 8041,
		},
		[42] = {
			grade_stage = 42,
			reward_id = 8042,
		},
		[43] = {
			grade_stage = 43,
			reward_id = 8043,
		},
		[44] = {
			grade_stage = 44,
			reward_id = 8044,
		},
		[45] = {
			grade_stage = 45,
			reward_id = 8045,
		},
		[46] = {
			grade_stage = 46,
			reward_id = 8046,
		},
		[47] = {
			grade_stage = 47,
			reward_id = 8047,
		},
		[48] = {
			grade_stage = 48,
			reward_id = 8048,
		},
		[49] = {
			grade_stage = 49,
			reward_id = 8049,
		},
		[50] = {
			grade_stage = 50,
			reward_id = 8050,
		},
		[51] = {
			grade_stage = 51,
			reward_id = 8051,
		},
		[52] = {
			grade_stage = 52,
			reward_id = 8052,
		},
		[53] = {
			grade_stage = 53,
			reward_id = 8053,
		},
		[54] = {
			grade_stage = 54,
			reward_id = 8054,
		},
		[55] = {
			grade_stage = 55,
			reward_id = 8055,
		},
		[56] = {
			grade_stage = 56,
			reward_id = 8056,
		},
		[57] = {
			grade_stage = 57,
			reward_id = 8057,
		},
		[58] = {
			grade_stage = 58,
			reward_id = 8058,
		},
		[59] = {
			grade_stage = 59,
			reward_id = 8059,
		},
		[60] = {
			grade_stage = 60,
			reward_id = 8060,
		},
		[61] = {
			grade_stage = 61,
			reward_id = 8061,
		},
		[62] = {
			grade_stage = 62,
			reward_id = 8062,
		},
		[63] = {
			grade_stage = 63,
			reward_id = 8063,
		},
		[64] = {
			grade_stage = 64,
			reward_id = 8064,
		},
		[65] = {
			grade_stage = 65,
			reward_id = 8065,
		},
		[66] = {
			grade_stage = 66,
			reward_id = 8066,
		},
		[67] = {
			grade_stage = 67,
			reward_id = 8067,
		},
		[68] = {
			grade_stage = 68,
			reward_id = 8068,
		},
		[69] = {
			grade_stage = 69,
			reward_id = 8069,
		},
		[70] = {
			grade_stage = 70,
			reward_id = 8070,
		},
		[71] = {
			grade_stage = 71,
			reward_id = 8071,
		},
		[72] = {
			grade_stage = 72,
			reward_id = 8072,
		},
		[73] = {
			grade_stage = 73,
			reward_id = 8073,
		},
		[74] = {
			grade_stage = 74,
			reward_id = 8074,
		},
		[75] = {
			grade_stage = 75,
			reward_id = 8075,
		},
		[76] = {
			grade_stage = 76,
			reward_id = 8076,
		},
		[77] = {
			grade_stage = 77,
			reward_id = 8077,
		},
		[78] = {
			grade_stage = 78,
			reward_id = 8078,
		},
		[79] = {
			grade_stage = 79,
			reward_id = 8079,
		},
		[80] = {
			grade_stage = 80,
			reward_id = 8080,
		},
		[81] = {
			grade_stage = 81,
			reward_id = 8081,
		},
		[82] = {
			grade_stage = 82,
			reward_id = 8082,
		},
		[83] = {
			grade_stage = 83,
			reward_id = 8083,
		},
		[84] = {
			grade_stage = 84,
			reward_id = 8084,
		},
		[85] = {
			grade_stage = 85,
			reward_id = 8085,
		},
		[86] = {
			grade_stage = 86,
			reward_id = 8086,
		},
		[87] = {
			grade_stage = 87,
			reward_id = 8087,
		},
		[88] = {
			grade_stage = 88,
			reward_id = 8088,
		},
		[89] = {
			grade_stage = 89,
			reward_id = 8089,
		},
		[90] = {
			grade_stage = 90,
			reward_id = 8090,
		},
		[91] = {
			grade_stage = 91,
			reward_id = 8091,
		},
		[92] = {
			grade_stage = 92,
			reward_id = 8092,
		},
		[93] = {
			grade_stage = 93,
			reward_id = 8093,
		},
		[94] = {
			grade_stage = 94,
			reward_id = 8094,
		},
		[95] = {
			grade_stage = 95,
			reward_id = 8095,
		},
		[96] = {
			grade_stage = 96,
			reward_id = 8096,
		},
		[97] = {
			grade_stage = 97,
			reward_id = 8097,
		},
		[98] = {
			grade_stage = 98,
			reward_id = 8098,
		},
		[99] = {
			grade_stage = 99,
			reward_id = 8099,
		},
		[100] = {
			grade_stage = 100,
			reward_id = 8100,
		},
		[105] = {
			grade_stage = 105,
			reward_id = 8101,
		},
		[110] = {
			grade_stage = 110,
			reward_id = 8102,
		},
		[115] = {
			grade_stage = 115,
			reward_id = 8103,
		},
		[120] = {
			grade_stage = 120,
			reward_id = 8104,
		},
		[125] = {
			grade_stage = 125,
			reward_id = 8105,
		},
		[130] = {
			grade_stage = 130,
			reward_id = 8106,
		},
		[135] = {
			grade_stage = 135,
			reward_id = 8107,
		},
		[140] = {
			grade_stage = 140,
			reward_id = 8108,
		},
		[145] = {
			grade_stage = 145,
			reward_id = 8109,
		},
		[150] = {
			grade_stage = 150,
			reward_id = 8110,
		},
		[155] = {
			grade_stage = 155,
			reward_id = 8111,
		},
		[160] = {
			grade_stage = 160,
			reward_id = 8112,
		},
		[165] = {
			grade_stage = 165,
			reward_id = 8113,
		},
		[170] = {
			grade_stage = 170,
			reward_id = 8114,
		},
		[175] = {
			grade_stage = 175,
			reward_id = 8115,
		},
		[180] = {
			grade_stage = 180,
			reward_id = 8116,
		},
		[185] = {
			grade_stage = 185,
			reward_id = 8117,
		},
		[190] = {
			grade_stage = 190,
			reward_id = 8118,
		},
		[195] = {
			grade_stage = 195,
			reward_id = 8119,
		},
		[200] = {
			grade_stage = 200,
			reward_id = 8120,
		},
		[210] = {
			grade_stage = 210,
			reward_id = 8121,
		},
		[220] = {
			grade_stage = 220,
			reward_id = 8122,
		},
		[230] = {
			grade_stage = 230,
			reward_id = 8123,
		},
		[240] = {
			grade_stage = 240,
			reward_id = 8124,
		},
		[250] = {
			grade_stage = 250,
			reward_id = 8125,
		},
		[260] = {
			grade_stage = 260,
			reward_id = 8126,
		},
		[270] = {
			grade_stage = 270,
			reward_id = 8127,
		},
		[280] = {
			grade_stage = 280,
			reward_id = 8128,
		},
		[290] = {
			grade_stage = 290,
			reward_id = 8129,
		},
		[300] = {
			grade_stage = 300,
			reward_id = 8130,
		},
		[310] = {
			grade_stage = 310,
			reward_id = 8131,
		},
		[320] = {
			grade_stage = 320,
			reward_id = 8132,
		},
		[330] = {
			grade_stage = 330,
			reward_id = 8133,
		},
		[340] = {
			grade_stage = 340,
			reward_id = 8134,
		},
		[350] = {
			grade_stage = 350,
			reward_id = 8135,
		},
		[360] = {
			grade_stage = 360,
			reward_id = 8136,
		},
		[370] = {
			grade_stage = 370,
			reward_id = 8137,
		},
		[380] = {
			grade_stage = 380,
			reward_id = 8138,
		},
		[390] = {
			grade_stage = 390,
			reward_id = 8139,
		},
		[400] = {
			grade_stage = 400,
			reward_id = 8140,
		},
		[410] = {
			grade_stage = 410,
			reward_id = 8141,
		},
		[420] = {
			grade_stage = 420,
			reward_id = 8142,
		},
		[430] = {
			grade_stage = 430,
			reward_id = 8143,
		},
		[440] = {
			grade_stage = 440,
			reward_id = 8144,
		},
		[450] = {
			grade_stage = 450,
			reward_id = 8145,
		},
		[460] = {
			grade_stage = 460,
			reward_id = 8146,
		},
		[470] = {
			grade_stage = 470,
			reward_id = 8147,
		},
		[480] = {
			grade_stage = 480,
			reward_id = 8148,
		},
		[490] = {
			grade_stage = 490,
			reward_id = 8149,
		},
		[500] = {
			grade_stage = 500,
			reward_id = 8150,
		},
		[550] = {
			grade_stage = 550,
			reward_id = 8151,
		},
		[600] = {
			grade_stage = 600,
			reward_id = 8152,
		},
		[650] = {
			grade_stage = 650,
			reward_id = 8153,
		},
		[700] = {
			grade_stage = 700,
			reward_id = 8154,
		},
		[750] = {
			grade_stage = 750,
			reward_id = 8155,
		},
		[800] = {
			grade_stage = 800,
			reward_id = 8156,
		},
		[850] = {
			grade_stage = 850,
			reward_id = 8157,
		},
		[900] = {
			grade_stage = 900,
			reward_id = 8158,
		},
		[950] = {
			grade_stage = 950,
			reward_id = 8159,
		},
		[1000] = {
			grade_stage = 1000,
			reward_id = 8160,
		},
		[1500] = {
			grade_stage = 1500,
			reward_id = 8161,
		},
		[2000] = {
			grade_stage = 2000,
			reward_id = 8162,
		},
		[2500] = {
			grade_stage = 2500,
			reward_id = 8163,
		},
		[3000] = {
			grade_stage = 3000,
			reward_id = 8164,
		},
		[3500] = {
			grade_stage = 3500,
			reward_id = 8165,
		},
		[4000] = {
			grade_stage = 4000,
			reward_id = 8166,
		},
		[4500] = {
			grade_stage = 4500,
			reward_id = 8167,
		},
		[5000] = {
			grade_stage = 5000,
			reward_id = 8168,
		},
		[5500] = {
			grade_stage = 5500,
			reward_id = 8169,
		},
		[6000] = {
			grade_stage = 6000,
			reward_id = 8170,
		},
		[6500] = {
			grade_stage = 6500,
			reward_id = 8171,
		},
		[7000] = {
			grade_stage = 7000,
			reward_id = 8172,
		},
		[7500] = {
			grade_stage = 7500,
			reward_id = 8173,
		},
		[8000] = {
			grade_stage = 8000,
			reward_id = 8174,
		},
		[8500] = {
			grade_stage = 8500,
			reward_id = 8175,
		},
		[9000] = {
			grade_stage = 9000,
			reward_id = 8176,
		},
		[9500] = {
			grade_stage = 9500,
			reward_id = 8177,
		},
		[10000] = {
			grade_stage = 10000,
			reward_id = 8178,
		},
}