Config = Config or {}
Config.cnfactivityres = {
		[1000] = {
			act_type = 1000,
			act_name = "Total Charge",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1001] = {
			act_type = 1001,
			act_name = "1st Charge Gifts",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "shou",
			number_path = "Ui_Res_Number",
		},
		[1002] = {
			act_type = 1002,
			act_name = "Single Charge",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "",
		},
		[1003] = {
			act_type = 1003,
			act_name = "Fellow Collection",
			res_path = "Ui_Res_Fengce",
			tab_res = "huobanshouji",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "",
		},
		[1004] = {
			act_type = 1004,
			act_name = "Consuming Activity",
			res_path = "Ui_Res_Fengce",
			tab_res = "xiaofeihuodong",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "",
		},
		[1005] = {
			act_type = 1005,
			act_name = "Crazy Upgrade ",
			res_path = "Ui_Res_Fengce",
			tab_res = "shengji",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1006] = {
			act_type = 1006,
			act_name = "Stone Collection",
			res_path = "Ui_Res_Fengce",
			tab_res = "hunshi",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1007] = {
			act_type = 1007,
			act_name = "Login Times ",
			res_path = "Ui_Res_Fengce",
			tab_res = "denglu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1008] = {
			act_type = 1008,
			act_name = "Login Gifts",
			res_path = "Ui_Res_Fengce",
			tab_res = "denglu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1009] = {
			act_type = 1009,
			act_name = "Digging Times",
			res_path = "Ui_Res_Fengce",
			tab_res = "wabao",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1010] = {
			act_type = 1010,
			act_name = "Digging Double",
			res_path = "Ui_Res_Fengce",
			tab_res = "wabao2",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1011] = {
			act_type = 1011,
			act_name = "Mainline/Elite Drop Extra Items",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_fu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1012] = {
			act_type = 1012,
			act_name = "Mainline/Elite Drop Double ",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_fu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "fengce",
		},
		[1013] = {
			act_type = 1013,
			act_name = "Draw Discount ",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1014] = {
			act_type = 1014,
			act_name = "VIT Buying",
			res_path = "Ui_Res_Fengce",
			tab_res = "tili",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1015] = {
			act_type = 1015,
			act_name = "20% Off For VIT ",
			res_path = "Ui_Res_Fengce",
			tab_res = "tili",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1016] = {
			act_type = 1016,
			act_name = "Happy Draw",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1017] = {
			act_type = 1017,
			act_name = "Coin Summon ",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1018] = {
			act_type = 1018,
			act_name = "Diamond Summon ",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1019] = {
			act_type = 1019,
			act_name = " Holy Summon ",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1020] = {
			act_type = 1020,
			act_name = "Arena Times",
			res_path = "Ui_Res_Fengce",
			tab_res = "jjcdaren",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1021] = {
			act_type = 1021,
			act_name = "Totally Charge (No Reset)",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1022] = {
			act_type = 1022,
			act_name = "Time Limit Exchange",
			res_path = "Ui_Res_Fengce",
			tab_res = "xianshiduihuan",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1023] = {
			act_type = 1023,
			act_name = "New World Loot",
			res_path = "Ui_Res_Fengce",
			tab_res = "lueduo",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1024] = {
			act_type = 1024,
			act_name = "Guild Shop Sale",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1025] = {
			act_type = 1025,
			act_name = "Arena Shop Sale",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1026] = {
			act_type = 1026,
			act_name = "Voyage Shop Sale",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1027] = {
			act_type = 1027,
			act_name = "God Soul Shop Sale",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1028] = {
			act_type = 1028,
			act_name = "Double World Boss Odds",
			res_path = "Ui_Res_Fengce",
			tab_res = "boss",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1029] = {
			act_type = 1029,
			act_name = "Fee Collection",
			res_path = "Ui_Res_Fengce",
			tab_res = "shangjin",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1030] = {
			act_type = 1030,
			act_name = "Time-limit Buying",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1035] = {
			act_type = 1035,
			act_name = "Collect Activity",
			res_path = "Ui_Res_Fengce",
			tab_res = "shouji",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1036] = {
			act_type = 1036,
			act_name = "Hunting Times",
			res_path = "Ui_Res_Fengce",
			tab_res = "xunbao",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1037] = {
			act_type = 1037,
			act_name = "Buy Vigor ",
			res_path = "Ui_Res_Fengce",
			tab_res = "jinli",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1048] = {
			act_type = 1048,
			act_name = "Daily activity",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_gift",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
}