Config = Config or {}
Config.cnfbosslist = {
		[8004] = {
			fb_id = 8004,
			boss_id = 2048,
			boss_desc = [[High PHY DEF, Stronger In A Longer Battle, Can Break Ult! ]],
			boss_rate = 400,
			boss_quality = 2,
			boss_show_scale = 0.8,
			boss_talk_dialog = {{[[I Will Be Stronger And Stronger!]],5,},{[[1 VS 1. You Dare To Fight Against Me?]],5,},},
			boss_rebirth_num = 15,
			once_reward = 9501,
			base_reward = 9601,
		},
		[8005] = {
			fb_id = 8005,
			boss_id = 2049,
			boss_desc = [[High PHYＤEF, High Crit, Can Attack Random Target!]],
			boss_rate = 200,
			boss_quality = 4,
			boss_show_scale = 1.4,
			boss_talk_dialog = {{[[I Will Be Stronger And Stronger!]],5,},{[[1 VS 1. You Dare To Fight Against Me?]],5,},},
			boss_rebirth_num = 15,
			once_reward = 9502,
			base_reward = 9602,
		},
		[8006] = {
			fb_id = 8006,
			boss_id = 2055,
			boss_desc = [[High MAG DEF. Longer Fighting, More Power. Can Break Ult!]],
			boss_rate = 300,
			boss_quality = 3,
			boss_show_scale = 1.8,
			boss_talk_dialog = {{[[I Will Be Stronger And Stronger!]],5,},{[[1 VS 1. You Dare To Fight Against Me?]],5,},},
			boss_rebirth_num = 15,
			once_reward = 9503,
			base_reward = 9603,
		},
		[8007] = {
			fb_id = 8007,
			boss_id = 2051,
			boss_desc = [[High MAG DEF. High DMG. Longer Fighting, More Power!]],
			boss_rate = 100,
			boss_quality = 5,
			boss_show_scale = 0.8,
			boss_talk_dialog = {{[[I Will Be Stronger And Stronger!]],5,},{[[1 VS 1. You Dare To Fight Against Me?]],5,},},
			boss_rebirth_num = 15,
			once_reward = 9504,
			base_reward = 9604,
		},
}