Config = Config or {}
Config.cnfchargeshop = {
		[1] = {
			index = 1,
			item_name = "M-card",
			item_res = "month_card",
			item_desc = "",
			item_des2 = "120Dias/Day(30Days)",
			item_title = "Requisite",
		},
		[2] = {
			index = 2,
			item_name = "Sr. M-Card",
			item_res = "month_card1",
			item_desc = " ",
			item_des2 = "250Dias/Day(30Days)",
			item_title = "Recommend",
		},
		[19800] = {
			index = 19800,
			item_name = "19800 Diamonds",
			item_res = "diamond6",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[6480] = {
			index = 6480,
			item_name = "6480 Diamonds",
			item_res = "diamond6",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[3280] = {
			index = 3280,
			item_name = "3280 Diamonds",
			item_res = "diamond5",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[1980] = {
			index = 1980,
			item_name = "1980 Diamonds",
			item_res = "diamond5",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[1000] = {
			index = 1000,
			item_name = "1000 Diamonds",
			item_res = "diamond4",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[500] = {
			index = 500,
			item_name = "500 Diamonds",
			item_res = "diamond3",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[300] = {
			index = 300,
			item_name = "300 Diamonds",
			item_res = "diamond2",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[60] = {
			index = 60,
			item_name = "60 Diamonds",
			item_res = "diamond1",
		},
}