Config = Config or {}
Config.cnfcultivaterate = {
		[1] = {
			times = 1,
			need_vip = 0,
			attr_type = {9,10,13,51,},
		},
		[5] = {
			times = 5,
			need_vip = 5,
			attr_type = {9,10,13,51,},
		},
		[10] = {
			times = 10,
			need_vip = 7,
			attr_type = {9,10,13,51,},
		},
}