Config = Config or {}
Config.cnfcardzanreward = {
		[1] = {
			id = 1,
			reward = {0,3763,5,},
		},
		[2] = {
			id = 2,
			reward = {0,3761,5,},
		},
		[3] = {
			id = 3,
			reward = {0,8624,20,},
		},
		[4] = {
			id = 4,
			reward = {0,3765,5,},
		},
		[5] = {
			id = 5,
			reward = {0,4075,10,},
		},
		[6] = {
			id = 6,
			reward = {0,4076,10,},
		},
		[7] = {
			id = 7,
			reward = {0,4077,10,},
		},
		[8] = {
			id = 8,
			reward = {0,4081,10,},
		},
		[9] = {
			id = 9,
			reward = {0,4082,10,},
		},
		[10] = {
			id = 10,
			reward = {0,4083,10,},
		},
}