Config = Config or {}
Config.cnfcity_new = {
		[1] = {
			id = 1,
			name = [[Daytime]],
			limit_level = 1,
			max_level = 100,
			music_id = 11,
			task_id = 0,
			city_type = 1,
			res_id = 4110,
			multi_res_id = {{1,4091,1.5,2,},{2,4092,2,2,},{3,4093,3,1,},},
			city_pos = {{850,570,},{1400,440,},},
			zoom_time = 1,
			zoom_in_factor = 1.1000000000000001,
			fade_action_time = 1,
			zoom_out_factor = 1,
			offset_y_scale = 5.0000000000000001E-4,
			start_y_scale = 300,
			partner_pos = {{233,788,},{460,893,},{849,919,},{208,531,},{402,670,},},
			map_change_time = {{18,24,2,},{0,6,2,},},
		},
		[2] = {
			id = 2,
			name = [[night]],
			limit_level = 1,
			max_level = 100,
			music_id = 11,
			task_id = 0,
			city_type = 1,
			res_id = 4210,
			multi_res_id = {{1,4091,1.5,2,},{2,4092,2,2,},{3,4093,3,1,},},
			city_pos = {{850,570,},{1400,440,},},
			zoom_time = 1,
			zoom_in_factor = 1.1000000000000001,
			fade_action_time = 1,
			zoom_out_factor = 1,
			offset_y_scale = 5.0000000000000001E-4,
			start_y_scale = 300,
			partner_pos = {{233,788,},{460,893,},{849,919,},{208,531,},{402,670,},},
			map_change_time = {{6,18,1,},},
		},
}