Config = Config or {}
Config.cnfchatface = {
		["<a0>"] = {
			chat_face_key = "<a0>",
			chat_face_res = "qq1",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a1>"] = {
			chat_face_key = "<a1>",
			chat_face_res = "qq2",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a2>"] = {
			chat_face_key = "<a2>",
			chat_face_res = "qq3",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a3>"] = {
			chat_face_key = "<a3>",
			chat_face_res = "qq4",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a4>"] = {
			chat_face_key = "<a4>",
			chat_face_res = "qq5",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a5>"] = {
			chat_face_key = "<a5>",
			chat_face_res = "qq6",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a6>"] = {
			chat_face_key = "<a6>",
			chat_face_res = "qq7",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a7>"] = {
			chat_face_key = "<a7>",
			chat_face_res = "qq8",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a8>"] = {
			chat_face_key = "<a8>",
			chat_face_res = "qq9",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<a9>"] = {
			chat_face_key = "<a9>",
			chat_face_res = "qq10",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b0>"] = {
			chat_face_key = "<b0>",
			chat_face_res = "qq11",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b1>"] = {
			chat_face_key = "<b1>",
			chat_face_res = "qq12",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b2>"] = {
			chat_face_key = "<b2>",
			chat_face_res = "qq13",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b3>"] = {
			chat_face_key = "<b3>",
			chat_face_res = "qq14",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b4>"] = {
			chat_face_key = "<b4>",
			chat_face_res = "qq15",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b5>"] = {
			chat_face_key = "<b5>",
			chat_face_res = "qq16",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b6>"] = {
			chat_face_key = "<b6>",
			chat_face_res = "qq17",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b7>"] = {
			chat_face_key = "<b7>",
			chat_face_res = "qq18",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b8>"] = {
			chat_face_key = "<b8>",
			chat_face_res = "qq19",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<b9>"] = {
			chat_face_key = "<b9>",
			chat_face_res = "qq20",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c0>"] = {
			chat_face_key = "<c0>",
			chat_face_res = "qq21",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c1>"] = {
			chat_face_key = "<c1>",
			chat_face_res = "qq22",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c2>"] = {
			chat_face_key = "<c2>",
			chat_face_res = "qq23",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c3>"] = {
			chat_face_key = "<c3>",
			chat_face_res = "qq24",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c4>"] = {
			chat_face_key = "<c4>",
			chat_face_res = "qq25",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c5>"] = {
			chat_face_key = "<c5>",
			chat_face_res = "qq26",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c6>"] = {
			chat_face_key = "<c6>",
			chat_face_res = "qq27",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c7>"] = {
			chat_face_key = "<c7>",
			chat_face_res = "qq28",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c8>"] = {
			chat_face_key = "<c8>",
			chat_face_res = "qq29",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<c9>"] = {
			chat_face_key = "<c9>",
			chat_face_res = "qq30",
			vip = 0,
			tab_id = 1,
			tab_id_res = "qq28",
		},
		["<d0>"] = {
			chat_face_key = "<d0>",
			chat_face_res = "mj1",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d1>"] = {
			chat_face_key = "<d1>",
			chat_face_res = "mj2",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d2>"] = {
			chat_face_key = "<d2>",
			chat_face_res = "mj3",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d3>"] = {
			chat_face_key = "<d3>",
			chat_face_res = "mj4",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d4>"] = {
			chat_face_key = "<d4>",
			chat_face_res = "mj5",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d5>"] = {
			chat_face_key = "<d5>",
			chat_face_res = "mj6",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d6>"] = {
			chat_face_key = "<d6>",
			chat_face_res = "mj7",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d7>"] = {
			chat_face_key = "<d7>",
			chat_face_res = "mj8",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d8>"] = {
			chat_face_key = "<d8>",
			chat_face_res = "mj9",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<d9>"] = {
			chat_face_key = "<d9>",
			chat_face_res = "mj10",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e0>"] = {
			chat_face_key = "<e0>",
			chat_face_res = "mj11",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e1>"] = {
			chat_face_key = "<e1>",
			chat_face_res = "mj12",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e2>"] = {
			chat_face_key = "<e2>",
			chat_face_res = "mj13",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e3>"] = {
			chat_face_key = "<e3>",
			chat_face_res = "mj14",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e4>"] = {
			chat_face_key = "<e4>",
			chat_face_res = "mj15",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e5>"] = {
			chat_face_key = "<e5>",
			chat_face_res = "mj16",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e6>"] = {
			chat_face_key = "<e6>",
			chat_face_res = "mj17",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e7>"] = {
			chat_face_key = "<e7>",
			chat_face_res = "mj18",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e8>"] = {
			chat_face_key = "<e8>",
			chat_face_res = "mj19",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<e9>"] = {
			chat_face_key = "<e9>",
			chat_face_res = "mj20",
			vip = 0,
			tab_id = 2,
			tab_id_res = "mj5",
		},
		["<f0>"] = {
			chat_face_key = "<f0>",
			chat_face_res = "tb1",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f1>"] = {
			chat_face_key = "<f1>",
			chat_face_res = "tb2",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f2>"] = {
			chat_face_key = "<f2>",
			chat_face_res = "tb3",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f3>"] = {
			chat_face_key = "<f3>",
			chat_face_res = "tb4",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f4>"] = {
			chat_face_key = "<f4>",
			chat_face_res = "tb5",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f5>"] = {
			chat_face_key = "<f5>",
			chat_face_res = "tb6",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f6>"] = {
			chat_face_key = "<f6>",
			chat_face_res = "tb8",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f7>"] = {
			chat_face_key = "<f7>",
			chat_face_res = "tb9",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f8>"] = {
			chat_face_key = "<f8>",
			chat_face_res = "tb10",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<f9>"] = {
			chat_face_key = "<f9>",
			chat_face_res = "tb11",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g0>"] = {
			chat_face_key = "<g0>",
			chat_face_res = "tb12",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g1>"] = {
			chat_face_key = "<g1>",
			chat_face_res = "tb13",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g2>"] = {
			chat_face_key = "<g2>",
			chat_face_res = "tb14",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g3>"] = {
			chat_face_key = "<g3>",
			chat_face_res = "tb15",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g4>"] = {
			chat_face_key = "<g4>",
			chat_face_res = "tb16",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g5>"] = {
			chat_face_key = "<g5>",
			chat_face_res = "tb17",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g6>"] = {
			chat_face_key = "<g6>",
			chat_face_res = "tb18",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g7>"] = {
			chat_face_key = "<g7>",
			chat_face_res = "tb19",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g8>"] = {
			chat_face_key = "<g8>",
			chat_face_res = "tb20",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<g9>"] = {
			chat_face_key = "<g9>",
			chat_face_res = "tb21",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<h0>"] = {
			chat_face_key = "<h0>",
			chat_face_res = "tb22",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<h1>"] = {
			chat_face_key = "<h1>",
			chat_face_res = "tb23",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<h2>"] = {
			chat_face_key = "<h2>",
			chat_face_res = "tb24",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<h3>"] = {
			chat_face_key = "<h3>",
			chat_face_res = "tb25",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<h4>"] = {
			chat_face_key = "<h4>",
			chat_face_res = "tb26",
			vip = 0,
			tab_id = 3,
			tab_id_res = "tb8",
		},
		["<h5>"] = {
			chat_face_key = "<h5>",
			chat_face_res = "wb1",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<h6>"] = {
			chat_face_key = "<h6>",
			chat_face_res = "wb2",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<h7>"] = {
			chat_face_key = "<h7>",
			chat_face_res = "wb3",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<h8>"] = {
			chat_face_key = "<h8>",
			chat_face_res = "wb4",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<h9>"] = {
			chat_face_key = "<h9>",
			chat_face_res = "wb5",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i0>"] = {
			chat_face_key = "<i0>",
			chat_face_res = "wb6",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i1>"] = {
			chat_face_key = "<i1>",
			chat_face_res = "wb7",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i2>"] = {
			chat_face_key = "<i2>",
			chat_face_res = "wb8",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i3>"] = {
			chat_face_key = "<i3>",
			chat_face_res = "wb9",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i4>"] = {
			chat_face_key = "<i4>",
			chat_face_res = "wb10",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i5>"] = {
			chat_face_key = "<i5>",
			chat_face_res = "wb11",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i6>"] = {
			chat_face_key = "<i6>",
			chat_face_res = "wb12",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i7>"] = {
			chat_face_key = "<i7>",
			chat_face_res = "wb13",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i8>"] = {
			chat_face_key = "<i8>",
			chat_face_res = "wb14",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<i9>"] = {
			chat_face_key = "<i9>",
			chat_face_res = "wb15",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j0>"] = {
			chat_face_key = "<j0>",
			chat_face_res = "wb16",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j1>"] = {
			chat_face_key = "<j1>",
			chat_face_res = "wb17",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j2>"] = {
			chat_face_key = "<j2>",
			chat_face_res = "wb18",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j3>"] = {
			chat_face_key = "<j3>",
			chat_face_res = "wb19",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j4>"] = {
			chat_face_key = "<j4>",
			chat_face_res = "wb20",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j5>"] = {
			chat_face_key = "<j5>",
			chat_face_res = "wb21",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j6>"] = {
			chat_face_key = "<j6>",
			chat_face_res = "wb22",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j7>"] = {
			chat_face_key = "<j7>",
			chat_face_res = "wb23",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<j9>"] = {
			chat_face_key = "<j9>",
			chat_face_res = "wb24",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<k0>"] = {
			chat_face_key = "<k0>",
			chat_face_res = "wb25",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<k1>"] = {
			chat_face_key = "<k1>",
			chat_face_res = "wb26",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<k2>"] = {
			chat_face_key = "<k2>",
			chat_face_res = "wb27",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<k3>"] = {
			chat_face_key = "<k3>",
			chat_face_res = "wb28",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<k4>"] = {
			chat_face_key = "<k4>",
			chat_face_res = "wb29",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
		["<k5>"] = {
			chat_face_key = "<k5>",
			chat_face_res = "wb30",
			vip = 0,
			tab_id = 4,
			tab_id_res = "wb22",
		},
}