Config = Config or {}
Config.cnfdailytask = {
		[1] = {
			daily_type = 1,
			title = [[Arena]],
			icon = [[Arena]],
			intro = [[Join Arena Battle. Get Fame & Coins.]],
			btntext = [[Join]],
			open_level = 12,
			index = 1,
			open_time = [[All Day]],
			day_open_times = 0,
		},
		[2] = {
			daily_type = 2,
			title = [[Adventure]],
			icon = [[Adventure]],
			intro = [[Join Adventure And Get Training Point And Coins.]],
			btntext = [[Join]],
			open_level = 20,
			index = 4,
			open_time = [[All Day]],
			day_open_times = 0,
		},
		[3] = {
			daily_type = 3,
			title = [[Stone Activity]],
			icon = [[Fragment]],
			intro = [[4 Fellow Cards A Week. Get 1 From Them Once Only.]],
			btntext = [[Join]],
			open_level = 30,
			index = 5,
			open_time = [[All Day]],
			day_open_times = 3,
		},
		[4] = {
			daily_type = 4,
			title = [[Miao Kiyama]],
			icon = [[Experience]],
			intro = [[In Miao Kiyama,  There Are Plenty Of Potions Which Can Upgrade Your Fellows.]],
			btntext = [[Join]],
			open_level = 15,
			index = 3,
			open_time = [[All Day]],
			day_open_times = 3,
		},
		[5] = {
			daily_type = 5,
			title = [[Coin Farm]],
			icon = [[Jinbi]],
			intro = [[Frogs Are Rich. Let's Get Some Money From Them!]],
			btntext = [[Join]],
			open_level = 18,
			index = 2,
			open_time = [[All Day]],
			day_open_times = 2,
		},
		[6] = {
			daily_type = 6,
			title = [[Vegeta]],
			icon = [[Beijita]],
			intro = [[A Group Of Strange Apes Live In This Planet. Beat Them And Get Plenty Of Stones.]],
			btntext = [[Join]],
			open_level = 25,
			index = 6,
			open_time = [[All Day]],
			day_open_times = 2,
		},
		[7] = {
			daily_type = 7,
			title = [[New World]],
			icon = [[Newworld]],
			intro = [[Dangerous But Attractive Seas, Wanna More Coins And Fruits?]],
			btntext = [[Join]],
			open_level = 30,
			index = 7,
			open_time = [[All Day]],
			day_open_times = 0,
		},
		[8] = {
			daily_type = 8,
			title = [[Bean Trial]],
			icon = [[Cultivatefb]],
			intro = [[A Group Of Bean Beast Are On The Way, Touch Their Head And Lots Of Train Beans Drop.]],
			btntext = [[Join]],
			open_level = 35,
			index = 8,
			open_time = [[All Day]],
			day_open_times = 2,
		},
		[9] = {
			daily_type = 9,
			title = [[Space Rebel]],
			icon = [[WorldBoss]],
			intro = [[Space Gap! Plenty Bosses Are Coming! Fight Now!]],
			btntext = [[Join]],
			open_level = 45,
			index = 9,
			open_time = [[All Day]],
			day_open_times = 0,
		},
}