Config = Config or {}
Config.cnfdarkworlddurable = {
		[1] = {
			num = 1,
			gold_sub = 40,
			add_durable = 20,
		},
		[2] = {
			num = 2,
			gold_sub = 40,
			add_durable = 20,
		},
		[3] = {
			num = 3,
			gold_sub = 50,
			add_durable = 20,
		},
		[4] = {
			num = 4,
			gold_sub = 50,
			add_durable = 20,
		},
		[5] = {
			num = 5,
			gold_sub = 70,
			add_durable = 20,
		},
		[6] = {
			num = 6,
			gold_sub = 70,
			add_durable = 20,
		},
		[7] = {
			num = 7,
			gold_sub = 90,
			add_durable = 20,
		},
		[8] = {
			num = 8,
			gold_sub = 90,
			add_durable = 20,
		},
		[9] = {
			num = 9,
			gold_sub = 120,
			add_durable = 20,
		},
		[10] = {
			num = 10,
			gold_sub = 120,
			add_durable = 20,
		},
}