Config = Config or {}
Config.cnfdailymap = {
		[1] = {
			id = 1,
			daily_type = 6,
			name = " Vegeta",
			ui_layer_id = 58,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 36,
			spec_condition = 0,
			icon = "",
			sktn_id = 8598,
			coord = {75,268,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,0,},
			point_list = {{80,50,},{116,-35,},{65,-56,},{-20,-77,},{-75,-36,},{-75,51,},},
		},
		[2] = {
			id = 2,
			daily_type = 9,
			name = "Space Rebel",
			ui_layer_id = 112,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 46,
			spec_condition = 0,
			icon = "",
			sktn_id = 8599,
			coord = {129,-51,},
			z_order = 2,
			off_coord = {0,-20,},
			sktn_off = {6,-23,},
			point_list = {{-8,97,},{-22,90,},{-41,33,},{-76,17,},{-69,-24,},{-54,-40,},{11,-98,},{51,-94,},{30,-54,},{60,-18,},{56,36,},{69,54,},},
		},
		[3] = {
			id = 3,
			daily_type = 10,
			name = "Sky Arena",
			ui_layer_id = 135,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 49,
			spec_condition = 0,
			icon = "",
			sktn_id = 8600,
			coord = {258,95,},
			z_order = 1,
			off_coord = {0,-50,},
			sktn_off = {-19,-28,},
			point_list = {{-138,1,},{-138,-49,},{-57,-83,},{-24,-58,},{55,-135,},{88,-142,},{128,-103,},{46,43,},{-85,45,},},
		},
		[4] = {
			id = 4,
			daily_type = 4,
			name = "Miao Kiyama ",
			ui_layer_id = 36,
			ui_layer_param = {4,},
			scene_name = "",
			scene_param = {},
			new_func_id = 18,
			spec_condition = 0,
			icon = "",
			sktn_id = 8601,
			coord = {258,-109,},
			z_order = 3,
			off_coord = {0,0,},
			sktn_off = {13,-15,},
			point_list = {{-32,135,},{-72,94,},{-69,38,},{-79,20,},{8,-117,},{83,56,},{-31,137,},},
		},
		[5] = {
			id = 5,
			daily_type = 8,
			name = "Bean Trail",
			ui_layer_id = 103,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 42,
			spec_condition = 0,
			icon = "",
			sktn_id = 8602,
			coord = {417,100,},
			z_order = 2,
			off_coord = {0,-40,},
			sktn_off = {-4,-45,},
			point_list = {{-23,99,},{-4,75,},{-3,53,},{-71,13,},{-18,-111,},{16,-109,},{73,-2,},{35,52,},{4,52,},{23,99,},{-21,103,},},
		},
		[6] = {
			id = 6,
			daily_type = 0,
			name = "Guild BOSS",
			ui_layer_id = 0,
			ui_layer_param = {},
			scene_name = "fb_scene",
			scene_param = {6,},
			new_func_id = 11,
			spec_condition = 1,
			icon = "",
			sktn_id = 8603,
			coord = {420,-260,},
			z_order = 1,
			off_coord = {-10,-40,},
			sktn_off = {-15,-60,},
			point_list = {{-9,62,},{115,-48,},{-118,-57,},{-105,12,},{-18,49,},},
		},
		[7] = {
			id = 7,
			daily_type = 1,
			name = "Arena",
			ui_layer_id = 40,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 15,
			spec_condition = 0,
			icon = "",
			sktn_id = 8604,
			coord = {559,26,},
			z_order = 1,
			off_coord = {-20,-20,},
			sktn_off = {-30,-25,},
			point_list = {{-42,122,},{-107,-7,},{-84,-51,},{-33,-120,},{52,-15,},{26,83,},{-29,127,},},
		},
		[8] = {
			id = 8,
			daily_type = 2,
			name = "Adventure",
			ui_layer_id = 38,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 16,
			spec_condition = 0,
			icon = "",
			sktn_id = 8605,
			coord = {591,-193,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,-50,},
			point_list = {{-49,53,},{-52,-9,},{-3,-40,},{49,-24,},{39,36,},{-38,59,},},
		},
		[9] = {
			id = 9,
			daily_type = 11,
			name = "Dimensions War",
			ui_layer_id = 140,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 50,
			spec_condition = 0,
			icon = "",
			sktn_id = 8606,
			coord = {666,171,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,-60,},
			point_list = {{-24,52,},{-69,19,},{-34,-55,},{28,-53,},{70,13,},{24,49,},},
		},
		[10] = {
			id = 10,
			daily_type = 5,
			name = "Coin Trail",
			ui_layer_id = 60,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 19,
			spec_condition = 0,
			icon = "",
			sktn_id = 8607,
			coord = {720,-87,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,-70,},
			point_list = {{-45,45,},{-50,-11,},{-15,-47,},{47,-28,},{19,71,},{-41,50,},},
		},
		[11] = {
			id = 11,
			daily_type = 7,
			name = "New World",
			ui_layer_id = 83,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 40,
			spec_condition = 0,
			icon = "",
			sktn_id = 8608,
			coord = {904,65,},
			z_order = 1,
			off_coord = {0,-20,},
			sktn_off = {15,-21,},
			point_list = {{53,105,},{-89,86,},{-90,4,},{-35,-46,},{-42,-98,},{53,-105,},},
		},
		[12] = {
			id = 12,
			daily_type = 13,
			name = "Marine War",
			ui_layer_id = 163,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 55,
			spec_condition = 1,
			icon = "",
			sktn_id = 8609,
			coord = {860,-243,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,-50,},
			point_list = {{-66,35,},{-45,-43,},{42,-45,},{53,10,},{39,30,},{-58,34,},},
		},
		[13] = {
			id = 13,
			daily_type = 12,
			name = "Grand Magic Games",
			ui_layer_id = 144,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 52,
			spec_condition = 0,
			icon = "",
			sktn_id = 8610,
			coord = {1130,186,},
			z_order = 1,
			off_coord = {0,-10,},
			sktn_off = {0,0,},
			point_list = {{-19,-59,},{-157,-5,},{-157,135,},{157,135,},{150,-5,},{40,-60,},},
		},
		[14] = {
			id = 14,
			daily_type = 14,
			name = "Dark World",
			ui_layer_id = 177,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 57,
			spec_condition = 0,
			icon = "",
			sktn_id = 8611,
			coord = {1190,57,},
			z_order = 2,
			off_coord = {-50,-60,},
			sktn_off = {0,0,},
			point_list = {{60,80,},{60,-65,},{0,-120,},{-170,-100,},{-170,80,},},
		},
		[15] = {
			id = 15,
			daily_type = 15,
			name = "Ninja Task",
			ui_layer_id = 196,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 58,
			spec_condition = 0,
			icon = "",
			sktn_id = 8612,
			coord = {1520,161,},
			z_order = 3,
			off_coord = {-50,-60,},
			sktn_off = {-67,-8,},
			point_list = {{160,160,},{160,-65,},{-230,-100,},{-230,160,},},
		},
		[16] = {
			id = 16,
			daily_type = 16,
			name = "Knockout Contest",
			ui_layer_id = 221,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 62,
			spec_condition = 0,
			icon = "",
			sktn_id = 8613,
			coord = {1190,-200,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,-8,},
			point_list = {{-50,60,},{-55,0,},{-40,-55,},{40,-55,},{50,0,},{50,60,},},
		},
		[17] = {
			id = 17,
			daily_type = 17,
			name = "Magic Tree",
			ui_layer_id = 239,
			ui_layer_param = {},
			scene_name = "",
			scene_param = {},
			new_func_id = 66,
			spec_condition = 0,
			icon = "",
			sktn_id = 8617,
			coord = {1520,-100,},
			z_order = 1,
			off_coord = {0,-60,},
			sktn_off = {0,-8,},
			point_list = {{-50,60,},{-55,0,},{-40,-55,},{40,-55,},{50,0,},{50,60,},},
		},
}