Config = Config or {}
Config.cnfdarkworldfb = {
		[1027] = {
			partner_id = 1027,
			weight = 500,
			fb_id = 6027,
			reward_list = {3701,},
		},
		[1059] = {
			partner_id = 1059,
			weight = 500,
			fb_id = 6059,
			reward_list = {3702,},
		},
		[1073] = {
			partner_id = 1073,
			weight = 500,
			fb_id = 6073,
			reward_list = {3703,},
		},
		[1033] = {
			partner_id = 1033,
			weight = 500,
			fb_id = 6033,
			reward_list = {3704,},
		},
		[1026] = {
			partner_id = 1026,
			weight = 500,
			fb_id = 6026,
			reward_list = {3705,},
		},
		[1022] = {
			partner_id = 1022,
			weight = 500,
			fb_id = 6022,
			reward_list = {3706,},
		},
		[1060] = {
			partner_id = 1060,
			weight = 500,
			fb_id = 6060,
			reward_list = {3707,},
		},
		[1046] = {
			partner_id = 1046,
			weight = 500,
			fb_id = 6046,
			reward_list = {3708,},
		},
		[1072] = {
			partner_id = 1072,
			weight = 500,
			fb_id = 6072,
			reward_list = {3709,},
		},
		[1071] = {
			partner_id = 1071,
			weight = 500,
			fb_id = 6071,
			reward_list = {3710,},
		},
		[1028] = {
			partner_id = 1028,
			weight = 400,
			fb_id = 6028,
			reward_list = {3711,},
		},
		[1065] = {
			partner_id = 1065,
			weight = 400,
			fb_id = 6065,
			reward_list = {3712,},
		},
		[1069] = {
			partner_id = 1069,
			weight = 400,
			fb_id = 6069,
			reward_list = {3713,},
		},
		[1038] = {
			partner_id = 1038,
			weight = 400,
			fb_id = 6038,
			reward_list = {3714,},
		},
		[1067] = {
			partner_id = 1067,
			weight = 500,
			fb_id = 6067,
			reward_list = {3715,},
		},
		[1078] = {
			partner_id = 1078,
			weight = 300,
			fb_id = 6078,
			reward_list = {3716,},
		},
		[1070] = {
			partner_id = 1070,
			weight = 400,
			fb_id = 6070,
			reward_list = {3717,},
		},
		[1063] = {
			partner_id = 1063,
			weight = 500,
			fb_id = 6063,
			reward_list = {3718,},
		},
		[1061] = {
			partner_id = 1061,
			weight = 500,
			fb_id = 6061,
			reward_list = {3719,},
		},
		[1077] = {
			partner_id = 1077,
			weight = 200,
			fb_id = 6077,
			reward_list = {3720,},
		},
		[1080] = {
			partner_id = 1080,
			weight = 100,
			fb_id = 6080,
			reward_list = {3721,},
		},
		[1074] = {
			partner_id = 1074,
			weight = 300,
			fb_id = 6074,
			reward_list = {3722,},
		},
		[1082] = {
			partner_id = 1082,
			weight = 100,
			fb_id = 6082,
			reward_list = {3723,},
		},
		[1086] = {
			partner_id = 1086,
			weight = 80,
			fb_id = 6086,
			reward_list = {3724,},
		},
		[1062] = {
			partner_id = 1062,
			weight = 500,
			fb_id = 6062,
			reward_list = {3725,},
		},
		[1094] = {
			partner_id = 1094,
			weight = 80,
			fb_id = 6087,
			reward_list = {3726,},
		},
		[1079] = {
			partner_id = 1079,
			weight = 100,
			fb_id = 6088,
			reward_list = {3727,},
		},
		[1085] = {
			partner_id = 1085,
			weight = 100,
			fb_id = 6089,
			reward_list = {3728,},
		},
		[1083] = {
			partner_id = 1083,
			weight = 100,
			fb_id = 6090,
			reward_list = {3729,},
		},
		[1088] = {
			partner_id = 1088,
			weight = 500,
			fb_id = 6091,
			reward_list = {3730,},
		},
		[1090] = {
			partner_id = 1090,
			weight = 500,
			fb_id = 6092,
			reward_list = {3731,},
		},
		[1091] = {
			partner_id = 1091,
			weight = 500,
			fb_id = 6093,
			reward_list = {3732,},
		},
		[1095] = {
			partner_id = 1095,
			weight = 500,
			fb_id = 6094,
			reward_list = {3733,},
		},
		[1102] = {
			partner_id = 1102,
			weight = 500,
			fb_id = 6095,
			reward_list = {3734,},
		},
		[1104] = {
			partner_id = 1104,
			weight = 500,
			fb_id = 6096,
			reward_list = {3735,},
		},
		[1106] = {
			partner_id = 1106,
			weight = 500,
			fb_id = 6097,
			reward_list = {3736,},
		},
		[1107] = {
			partner_id = 1107,
			weight = 100,
			fb_id = 6098,
			reward_list = {3737,},
		},
		[1076] = {
			partner_id = 1076,
			weight = 500,
			fb_id = 6099,
			reward_list = {3738,},
		},
		[1081] = {
			partner_id = 1081,
			weight = 300,
			fb_id = 6100,
			reward_list = {3739,},
		},
}