Config = Config or {}
Config.cnfexpitemshop = {
		[3701] = {
			item_id = 3701,
			cost = 2,
			level = 1,
		},
		[3702] = {
			item_id = 3702,
			cost = 5,
			level = 1,
		},
		[3703] = {
			item_id = 3703,
			cost = 13,
			level = 1,
		},
		[3704] = {
			item_id = 3704,
			cost = 40,
			level = 1,
		},
}