Config = Config or {}
Config.cnfemadventuremap = {
		[1] = {
			id = 1,
			fb_type = 9,
			score = 100,
			reward_id = 10401,
			desc = "Stage1",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {-360,-70,},
		},
		[2] = {
			id = 2,
			fb_type = 9,
			score = 110,
			reward_id = 10402,
			desc = "Stage2",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {-210,95,},
		},
		[3] = {
			id = 3,
			fb_type = 9,
			score = 120,
			reward_id = 10403,
			desc = "Stage3",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {-45,-75,},
		},
		[4] = {
			id = 4,
			fb_type = 9,
			score = 130,
			reward_id = 10404,
			desc = "Stage4",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {110,30,},
		},
		[5] = {
			id = 5,
			fb_type = 9,
			score = 140,
			reward_id = 10405,
			desc = "Stage5",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {330,35,},
		},
		[6] = {
			id = 6,
			fb_type = 9,
			score = 150,
			reward_id = 10406,
			desc = "Stage6",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {530,-55,},
		},
		[7] = {
			id = 7,
			fb_type = 9,
			score = 160,
			reward_id = 10407,
			desc = "Stage7",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {645,85,},
		},
		[8] = {
			id = 8,
			fb_type = 9,
			score = 170,
			reward_id = 10408,
			desc = "Stage8",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {825,-100,},
		},
		[9] = {
			id = 9,
			fb_type = 9,
			score = 180,
			reward_id = 10409,
			desc = "Stage9",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {985,10,},
		},
		[10] = {
			id = 10,
			fb_type = 9,
			score = 190,
			reward_id = 10410,
			desc = "Stage10",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {1185,25,},
		},
		[11] = {
			id = 11,
			fb_type = 10,
			score = 210,
			reward_id = 10411,
			desc = "Stage11",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {1400,-55,},
		},
		[12] = {
			id = 12,
			fb_type = 10,
			score = 230,
			reward_id = 10412,
			desc = "Stage12",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {1515,85,},
		},
		[13] = {
			id = 13,
			fb_type = 10,
			score = 250,
			reward_id = 10413,
			desc = "Stage13",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {1695,-100,},
		},
		[14] = {
			id = 14,
			fb_type = 10,
			score = 270,
			reward_id = 10414,
			desc = "Stage14",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {1855,10,},
		},
		[15] = {
			id = 15,
			fb_type = 10,
			score = 290,
			reward_id = 10415,
			desc = "Stage15",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {2055,25,},
		},
		[16] = {
			id = 16,
			fb_type = 10,
			score = 310,
			reward_id = 10416,
			desc = "Stage16",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {2270,-55,},
		},
		[17] = {
			id = 17,
			fb_type = 10,
			score = 330,
			reward_id = 10417,
			desc = "Stage17",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {2385,85,},
		},
		[18] = {
			id = 18,
			fb_type = 10,
			score = 350,
			reward_id = 10418,
			desc = "Stage18",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {2565,-100,},
		},
		[19] = {
			id = 19,
			fb_type = 10,
			score = 370,
			reward_id = 10419,
			desc = "Stage19",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {2725,10,},
		},
		[20] = {
			id = 20,
			fb_type = 10,
			score = 390,
			reward_id = 10420,
			desc = "Stage20",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {2925,25,},
		},
		[21] = {
			id = 21,
			fb_type = 11,
			score = 430,
			reward_id = 10421,
			desc = "Stage21",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {3140,-55,},
		},
		[22] = {
			id = 22,
			fb_type = 11,
			score = 470,
			reward_id = 10422,
			desc = "Stage22",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {3255,85,},
		},
		[23] = {
			id = 23,
			fb_type = 11,
			score = 510,
			reward_id = 10423,
			desc = "Stage23",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {3435,-100,},
		},
		[24] = {
			id = 24,
			fb_type = 11,
			score = 550,
			reward_id = 10424,
			desc = "Stage24",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {3595,10,},
		},
		[25] = {
			id = 25,
			fb_type = 11,
			score = 590,
			reward_id = 10425,
			desc = "Stage25",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {3795,25,},
		},
		[26] = {
			id = 26,
			fb_type = 11,
			score = 630,
			reward_id = 10426,
			desc = "Stage26",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {4005,-30,},
		},
		[27] = {
			id = 27,
			fb_type = 11,
			score = 670,
			reward_id = 10427,
			desc = "Stage27",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {4140,110,},
		},
		[28] = {
			id = 28,
			fb_type = 11,
			score = 710,
			reward_id = 10428,
			desc = "Stage28",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {4335,-120,},
		},
		[29] = {
			id = 29,
			fb_type = 11,
			score = 750,
			reward_id = 10429,
			desc = "Stage29",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {4475,10,},
		},
		[30] = {
			id = 30,
			fb_type = 11,
			score = 790,
			reward_id = 10430,
			desc = "Stage30",
			partner_talk = {[[A Man Should Pass At Less 30 Stages!]],[[You Can Invite Friends To Join Inspiration!]],[[Rewards Will Be Settled Based On The Ranking Every Day!]],[[Weekly Rewards Will Be Settled On Sundays!]],},
			xy = {4700,0,},
		},
}