Config = Config or {}
Config.cnfexpfb = {
		[1] = {
			level_bt = {1,5,},
			offset_lv = 10,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {1,1,},
			combinate_id = 901,
			reward_id = 5901,
			skill_id = {40012,},
		},
		[2] = {
			level_bt = {6,10,},
			offset_lv = 9,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {1,1,},
			combinate_id = 902,
			reward_id = 5902,
			skill_id = {40012,},
		},
		[3] = {
			level_bt = {11,15,},
			offset_lv = 8,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {1,1,},
			combinate_id = 903,
			reward_id = 5903,
			skill_id = {40012,},
		},
		[4] = {
			level_bt = {16,20,},
			offset_lv = 7,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {2,2,},
			combinate_id = 904,
			reward_id = 5904,
			skill_id = {40012,},
		},
		[5] = {
			level_bt = {21,25,},
			offset_lv = 6,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {2,2,},
			combinate_id = 905,
			reward_id = 5905,
			skill_id = {40012,},
		},
		[6] = {
			level_bt = {26,30,},
			offset_lv = 5,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {3,3,},
			combinate_id = 906,
			reward_id = 5906,
			skill_id = {40012,},
		},
		[7] = {
			level_bt = {31,35,},
			offset_lv = 4,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {3,3,},
			combinate_id = 907,
			reward_id = 5907,
			skill_id = {40012,},
		},
		[8] = {
			level_bt = {36,40,},
			offset_lv = 3,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {4,4,},
			combinate_id = 908,
			reward_id = 5908,
			skill_id = {40012,},
		},
		[9] = {
			level_bt = {41,45,},
			offset_lv = 2,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {4,4,},
			combinate_id = 909,
			reward_id = 5909,
			skill_id = {40012,},
		},
		[10] = {
			level_bt = {46,50,},
			offset_lv = 1,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {5,5,},
			combinate_id = 910,
			reward_id = 5910,
			skill_id = {40012,},
		},
		[11] = {
			level_bt = {51,55,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {5,5,},
			combinate_id = 911,
			reward_id = 5911,
			skill_id = {40012,},
		},
		[12] = {
			level_bt = {56,60,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 912,
			reward_id = 5912,
			skill_id = {40012,},
		},
		[13] = {
			level_bt = {61,65,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 913,
			reward_id = 5913,
			skill_id = {40012,},
		},
		[14] = {
			level_bt = {66,70,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 914,
			reward_id = 5914,
			skill_id = {40012,},
		},
		[15] = {
			level_bt = {71,75,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 915,
			reward_id = 5915,
			skill_id = {40012,},
		},
		[16] = {
			level_bt = {76,80,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 916,
			reward_id = 5916,
			skill_id = {40012,},
		},
		[17] = {
			level_bt = {81,85,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 917,
			reward_id = 5917,
			skill_id = {40012,},
		},
		[18] = {
			level_bt = {86,90,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 918,
			reward_id = 5918,
			skill_id = {40012,},
		},
		[19] = {
			level_bt = {91,95,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 919,
			reward_id = 5919,
			skill_id = {40012,},
		},
		[20] = {
			level_bt = {96,110,},
			offset_lv = 0,
			skill_offset_lv = {0,0,},
			stage_offset_lv = {6,6,},
			combinate_id = 920,
			reward_id = 5920,
			skill_id = {40012,},
		},
}