Config = Config or {}
Config.cnfemadventureinspire = {
		[1] = {
			attr_id = 51,
			attr_level = 0,
			attr_val = 0,
		},
		[2] = {
			attr_id = 51,
			attr_level = 1,
			attr_val = 50,
		},
		[3] = {
			attr_id = 51,
			attr_level = 2,
			attr_val = 100,
		},
		[4] = {
			attr_id = 51,
			attr_level = 3,
			attr_val = 150,
		},
		[5] = {
			attr_id = 51,
			attr_level = 4,
			attr_val = 200,
		},
		[6] = {
			attr_id = 51,
			attr_level = 5,
			attr_val = 250,
		},
		[7] = {
			attr_id = 51,
			attr_level = 6,
			attr_val = 300,
		},
		[8] = {
			attr_id = 51,
			attr_level = 7,
			attr_val = 350,
		},
		[9] = {
			attr_id = 51,
			attr_level = 8,
			attr_val = 400,
		},
		[10] = {
			attr_id = 51,
			attr_level = 9,
			attr_val = 450,
		},
		[11] = {
			attr_id = 51,
			attr_level = 10,
			attr_val = 500,
		},
		[12] = {
			attr_id = 66,
			attr_level = 0,
			attr_val = 0,
		},
		[13] = {
			attr_id = 66,
			attr_level = 1,
			attr_val = 50,
		},
		[14] = {
			attr_id = 66,
			attr_level = 2,
			attr_val = 100,
		},
		[15] = {
			attr_id = 66,
			attr_level = 3,
			attr_val = 150,
		},
		[16] = {
			attr_id = 66,
			attr_level = 4,
			attr_val = 200,
		},
		[17] = {
			attr_id = 66,
			attr_level = 5,
			attr_val = 250,
		},
		[18] = {
			attr_id = 66,
			attr_level = 6,
			attr_val = 300,
		},
		[19] = {
			attr_id = 66,
			attr_level = 7,
			attr_val = 350,
		},
		[20] = {
			attr_id = 66,
			attr_level = 8,
			attr_val = 400,
		},
		[21] = {
			attr_id = 66,
			attr_level = 9,
			attr_val = 450,
		},
		[22] = {
			attr_id = 66,
			attr_level = 10,
			attr_val = 500,
		},
}