Config = Config or {}
Config.cnffoot = {
		[1] = {
			id = 1,
			activation = 3767,
			foot_name = [[Bell Footmark]],
			foot_describe = [[Jingle Bell~]],
			spine_res = 8702,
			spine_action = [[animation]],
		},
		[2] = {
			id = 2,
			activation = 3768,
			foot_name = [[Snowflake Footmark]],
			foot_describe = [[It Snows Behind Me!]],
			spine_res = 8702,
			spine_action = [[animation2]],
		},
		[3] = {
			id = 3,
			activation = 3769,
			foot_name = [[Elk Footmark]],
			foot_describe = [[And The Elk?]],
			spine_res = 8702,
			spine_action = [[animation3]],
		},
		[4] = {
			id = 4,
			activation = 3770,
			foot_name = [[Love Footmark]],
			foot_describe = [[Happy Valentine Day!]],
			spine_res = 8706,
			spine_action = [[animation]],
			attr = {{51,0,30000,},},
		},
		[5] = {
			id = 5,
			activation = 3771,
			foot_name = [[Cracker Footmark]],
			foot_describe = [[Boom!]],
			spine_res = 8707,
			spine_action = [[animation]],
			attr = {{5,0,500,},},
		},
		[6] = {
			id = 6,
			activation = 3772,
			foot_name = [[Redpocket Footmark]],
			foot_describe = [[Redpocket, Please!]],
			spine_res = 8708,
			spine_action = [[animation]],
			attr = {{6,0,500,},},
		},
		[7] = {
			id = 7,
			activation = 3773,
			foot_name = [[Tangyuan Footmark]],
			foot_describe = [[You Wanna Eat Me?]],
			spine_res = 8709,
			spine_action = [[animation]],
			attr = {{51,0,30000,},},
		},
		[8] = {
			id = 8,
			activation = 3816,
			foot_name = [[Rampage Footmark]],
			foot_describe = [[Do Not Disturb My Thinking!]],
			spine_res = 8714,
			spine_action = [[animation]],
			attr = {{3,0,800,},},
		},
		[9] = {
			id = 9,
			activation = 3819,
			foot_name = [[Foison Footmark]],
			foot_describe = [[We Got Plentiful Grains!]],
			spine_res = 8715,
			spine_action = [[animation]],
			attr = {{21,0,500,},},
		},
		[10] = {
			id = 10,
			activation = 3821,
			foot_name = [[Bee Footmark]],
			foot_describe = [[Bees Keep Buzzing!]],
			spine_res = 8716,
			spine_action = [[animation]],
			attr = {{22,0,500,},},
		},
		[11] = {
			id = 11,
			activation = 3823,
			foot_name = [[Football Footmark]],
			foot_describe = [[Go! 2016 Euro Cup!]],
			spine_res = 8725,
			spine_action = [[animation]],
			attr = {{2,0,800,},},
		},
		[12] = {
			id = 12,
			activation = 3824,
			foot_name = [[Anniversary Footmark]],
			foot_describe = [[Happy Anniversary！]],
			spine_res = 8726,
			spine_action = [[animation]],
			attr = {{7,0,500,},{8,0,500,},},
		},
		[13] = {
			id = 13,
			activation = 3825,
			foot_name = [[Jack O’Lantern Footmark]],
			foot_describe = [[Happy Halloween!]],
			spine_res = 8727,
			spine_action = [[animation]],
			attr = {{16,0.04,0,},},
		},
		[14] = {
			id = 14,
			activation = 3828,
			foot_name = [[THANKS Footmark]],
			foot_describe = [[Happy Thanksgiving Day!]],
			spine_res = 8728,
			spine_action = [[animation]],
			attr = {{5,0,500,},{21,0,500,},},
		},
		[15] = {
			id = 15,
			activation = 4078,
			foot_name = [[Xmas Tree Footmark]],
			foot_describe = [[Merry Xmas!]],
			spine_res = 8729,
			spine_action = [[animation]],
			attr = {{17,0.03,0,},},
		},
		[16] = {
			id = 16,
			activation = 4091,
			foot_name = [[Lantern Footmark]],
			foot_describe = [[Say Hi to New Year]],
			spine_res = 8730,
			spine_action = [[animation]],
			attr = {{84,0.04,0,},},
		},
		[17] = {
			id = 17,
			activation = 30003,
			foot_name = [[World Cup Footmark]],
			foot_describe = [[World Cup! World Cup! World Cup!]],
			spine_res = 8731,
			spine_action = [[animation]],
			attr = {{5,0,800,},{6,0,800,},},
		},
}