Config = Config or {}
Config.cnffightweight = {
		[1] = {
			level = 125,
			star = 500,
			stage = 250,
			skill1_level = 60,
			skill2_level = 60,
			skill3_level = 60,
			skill4_level = 60,
			fumo = 0,
			liliang = 10,
			minjie = 10,
			zhili = 10,
			huoli = 5,
			shengming = 0.3,
			wuli_qiangdu = 25,
			mofa_qiangdu = 25,
			wuli_hujia = 1.25,
			wuli_kangx = 12.5,
			mofa_hujia = 1.25,
			mofa_kangx = 12.5,
			wujia_chuantou = 1.25,
			wukang_chuantou = 12.5,
			mojia_chuantou = 1.25,
			mokang_chuantou = 12.5,
			huifu = 0,
			nuqi = 0,
			wuli_baoji = 2.5,
			mofa_baoji = 2.5,
			gongsu = 12.5,
			xixue = 12.5,
			mingz = 1.25,
			shanbi = 2.5,
			zhaojia = 2.5,
			gedang = 2.5,
			lianji = 2.5,
			nianya = 2.5,
			baoshang = 2.5,
			renxing = 2.5,
		},
}