Config = Config or {}
Config.cnffbresetcount = {
		[1] = {
			count = 1,
			consume = 20,
		},
		[2] = {
			count = 2,
			consume = 20,
		},
		[3] = {
			count = 3,
			consume = 30,
		},
		[4] = {
			count = 4,
			consume = 30,
		},
		[5] = {
			count = 5,
			consume = 40,
		},
		[6] = {
			count = 6,
			consume = 40,
		},
		[7] = {
			count = 7,
			consume = 50,
		},
		[8] = {
			count = 8,
			consume = 50,
		},
		[9] = {
			count = 9,
			consume = 60,
		},
		[10] = {
			count = 10,
			consume = 60,
		},
		[11] = {
			count = 11,
			consume = 80,
		},
		[12] = {
			count = 12,
			consume = 80,
		},
		[13] = {
			count = 13,
			consume = 100,
		},
		[14] = {
			count = 14,
			consume = 100,
		},
		[15] = {
			count = 15,
			consume = 120,
		},
		[16] = {
			count = 16,
			consume = 120,
		},
		[17] = {
			count = 17,
			consume = 130,
		},
		[18] = {
			count = 18,
			consume = 130,
		},
		[19] = {
			count = 19,
			consume = 150,
		},
		[20] = {
			count = 20,
			consume = 150,
		},
		[21] = {
			count = 21,
			consume = 180,
		},
		[22] = {
			count = 22,
			consume = 180,
		},
		[23] = {
			count = 23,
			consume = 200,
		},
		[24] = {
			count = 24,
			consume = 200,
		},
		[25] = {
			count = 25,
			consume = 200,
		},
}