Config = Config or {}
Config.cnfguildtreecult = {
		[1] = {
			cult_type = 1,
			req_vip_lv = 0,
			cost = {1,30000,},
			honor = 200,
			liveness = 100,
			tree_exp = 1,
		},
		[2] = {
			cult_type = 2,
			req_vip_lv = 0,
			cost = {2,60,},
			honor = 700,
			liveness = 250,
			tree_exp = 3,
		},
		[3] = {
			cult_type = 3,
			req_vip_lv = 2,
			cost = {2,298,},
			honor = 3000,
			liveness = 1000,
			tree_exp = 5,
		},
}