Config = Config or {}
Config.cnfgetway = {
		[1] = {
			id = 1,
			name = [[Instance]],
			priority = 0,
			icon_res = [[large]],
			icon_scale = {0.7,0.7,},
			iconbg_res = [[bk]],
			condition = {0,},
			layer_id = {1,1,1,},
			params = {0,},
			onfail = {},
		},
		[2] = {
			id = 2,
			name = [[Arena]],
			priority = 4,
			icon_res = [[arena]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,15,},
			layer_id = {0,40,0,},
			params = {0,},
			onfail = {1,1,},
		},
		[3] = {
			id = 3,
			name = [[Adventure]],
			priority = 4,
			icon_res = [[adventure]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,16,},
			layer_id = {0,38,0,},
			params = {0,},
			onfail = {1,5,},
		},
		[4] = {
			id = 4,
			name = [[Mystery Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {0,},
			layer_id = {0,35,1,},
			params = {1,},
			onfail = {},
		},
		[5] = {
			id = 5,
			name = [[Fame Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {2,15,},
			layer_id = {0,35,1,},
			params = {3,},
			onfail = {},
		},
		[6] = {
			id = 6,
			name = [[Honor Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {2,11,},
			layer_id = {0,35,1,},
			params = {6,},
			onfail = {},
		},
		[7] = {
			id = 7,
			name = [[Belly Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {2,16,},
			layer_id = {0,35,1,},
			params = {5,},
			onfail = {},
		},
		[8] = {
			id = 8,
			name = [[Instance Box]],
			priority = 4,
			icon_res = [[jingying]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {0,},
			layer_id = {1,1,1,},
			params = {0,},
			onfail = {},
		},
		[9] = {
			id = 9,
			name = [[Miao Kiyama]],
			priority = 4,
			icon_res = [[miaomushan]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,18,},
			layer_id = {0,36,0,},
			params = {4,},
			onfail = {1,2,},
		},
		[10] = {
			id = 10,
			name = [[New World]],
			priority = 4,
			icon_res = [[newworld]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,40,},
			layer_id = {0,83,0,},
			params = {0,},
			onfail = {1,7,},
		},
		[11] = {
			id = 11,
			name = [[Shop]],
			priority = 1,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[hong]],
			condition = {2,22,},
			layer_id = {0,145,0,},
			params = {1,},
			onfail = {},
		},
		[12] = {
			id = 12,
			name = [[Junior Summon]],
			priority = 3,
			icon_res = [[zhaohuan]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[fen]],
			condition = {2,2,},
			layer_id = {0,48,0,},
			params = {0,},
			onfail = {},
		},
		[13] = {
			id = 13,
			name = [[Senior]],
			priority = 3,
			icon_res = [[zhaohuan]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[fen]],
			condition = {2,3,},
			layer_id = {0,48,0,},
			params = {0,},
			onfail = {},
		},
		[14] = {
			id = 14,
			name = [[Holy Summon]],
			priority = 3,
			icon_res = [[zhaohuan]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[fen]],
			condition = {2,38,},
			layer_id = {0,48,0,},
			params = {0,},
			onfail = {2,[[Upgrade VIP To Unlock]],},
		},
		[15] = {
			id = 15,
			name = [[Vegeta]],
			priority = 4,
			icon_res = [[beijitaxing]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,36,},
			layer_id = {0,58,0,},
			params = {0,},
			onfail = {1,6,},
		},
		[16] = {
			id = 16,
			name = [[Bean Trail]],
			priority = 4,
			icon_res = [[cultivatefb]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,42,},
			layer_id = {0,103,0,},
			params = {0,},
			onfail = {1,9,},
		},
		[17] = {
			id = 17,
			name = [[Sky Arena]],
			priority = 4,
			icon_res = [[tiankong]],
			icon_scale = {0.6,0.6,},
			iconbg_res = [[bk]],
			condition = {2,49,},
			layer_id = {0,135,0,},
			params = {0,},
			onfail = {1,12,},
		},
		[18] = {
			id = 18,
			name = [[God Soul Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {2,1,},
			layer_id = {0,35,1,},
			params = {8,},
			onfail = {},
		},
		[19] = {
			id = 19,
			name = [[Fee Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {2,46,},
			layer_id = {0,35,1,},
			params = {9,},
			onfail = {},
		},
		[20] = {
			id = 20,
			name = [[Space Wheel]],
			priority = 4,
			icon_res = [[worldboss]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,46,},
			layer_id = {0,111,1,},
			params = {0,},
			onfail = {},
		},
		[21] = {
			id = 21,
			name = [[Space Rebel]],
			priority = 4,
			icon_res = [[worldboss]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,46,},
			layer_id = {0,112,1,},
			params = {0,},
			onfail = {1,11,},
		},
		[22] = {
			id = 22,
			name = [[Guild Boss]],
			priority = 4,
			icon_res = [[guild]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {3,11,},
			layer_id = {1,6,1,},
			params = {0,},
			onfail = {1,3,},
		},
		[23] = {
			id = 23,
			name = [[Fairy Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {2,52,},
			layer_id = {0,156,0,},
			params = {0,},
			onfail = {},
		},
		[24] = {
			id = 24,
			name = [[Pet Item Hunt]],
			priority = 4,
			icon_res = [[pet]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,48,},
			layer_id = {0,120,1,},
			params = {3,},
			onfail = {2,[[Unlock Pet System To Hunt Treasures]],},
		},
		[25] = {
			id = 25,
			name = [[Hunt]],
			priority = 4,
			icon_res = [[xunbao]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[hong]],
			condition = {2,53,},
			layer_id = {0,154,1,},
			params = {0,},
			onfail = {},
		},
		[26] = {
			id = 26,
			name = [[Event]],
			priority = 2,
			icon_res = [[jingcai]],
			icon_scale = {1,1,},
			iconbg_res = [[hong]],
			condition = {0,},
			layer_id = {0,54,0,},
			params = {0,},
			onfail = {2,[[Activity Locked. Coming Soon]],},
		},
		[27] = {
			id = 27,
			name = [[Xmas Activity]],
			priority = 2,
			icon_res = [[shengdan]],
			icon_scale = {1,1,},
			iconbg_res = [[hong]],
			condition = {4,1,},
			layer_id = {0,170,1,},
			params = {0,},
			onfail = {2,[[Activity Locked. Coming Soon]],},
		},
		[28] = {
			id = 28,
			name = [[Spring Festival Activity]],
			priority = 2,
			icon_res = [[chunjie]],
			icon_scale = {1,1,},
			iconbg_res = [[fen]],
			condition = {4,2,},
			layer_id = {0,170,0,},
			params = {0,},
			onfail = {2,[[Activity Locked. Coming Soon]],},
		},
		[29] = {
			id = 29,
			name = [[Marine War]],
			priority = 4,
			icon_res = [[kuafu]],
			icon_scale = {0.6,0.6,},
			iconbg_res = [[bk]],
			condition = {3,55,},
			layer_id = {0,163,0,},
			params = {0,},
			onfail = {1,10,},
		},
		[30] = {
			id = 30,
			name = [[Coins Farm]],
			priority = 4,
			icon_res = [[cpunish_piracy]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,19,},
			layer_id = {0,60,0,},
			params = {0,},
			onfail = {1,4,},
		},
		[31] = {
			id = 31,
			name = [[Dig]],
			priority = 2,
			icon_res = [[wabao]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[hong]],
			condition = {2,25,},
			layer_id = {0,32,0,},
			params = {0,},
		},
		[32] = {
			id = 32,
			name = [[Guild Dice]],
			priority = 4,
			icon_res = [[guild]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {3,11,},
			layer_id = {0,82,0,},
			params = {0,},
		},
		[33] = {
			id = 33,
			name = [[Guild Tree]],
			priority = 4,
			icon_res = [[guild]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {3,11,},
			layer_id = {0,138,0,},
			params = {0,},
		},
		[34] = {
			id = 34,
			name = [[Recycle]],
			priority = 4,
			icon_res = [[fenjie]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,41,},
			layer_id = {0,98,0,},
			params = {0,},
		},
		[35] = {
			id = 35,
			name = [[Dark World]],
			priority = 4,
			icon_res = [[darkworld]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {0,},
			layer_id = {0,177,0,},
			params = {0,},
		},
		[36] = {
			id = 36,
			name = [[Adventure]],
			priority = 4,
			icon_res = [[adventure]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,59,},
			layer_id = {0,203,0,},
			params = {0,},
			onfail = {},
		},
		[37] = {
			id = 37,
			name = [[Grand Magic Games]],
			priority = 4,
			icon_res = [[damodou]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,52,},
			layer_id = {0,144,0,},
			params = {0,},
		},
		[38] = {
			id = 38,
			name = [[Fellow System]],
			priority = 4,
			icon_res = [[cultivate]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,5,},
			layer_id = {0,30,0,},
			params = {0,},
		},
		[39] = {
			id = 39,
			name = [[Melt]],
			priority = 4,
			icon_res = [[fenjie]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,41,},
			layer_id = {0,98,0,},
			params = {0,},
		},
		[40] = {
			id = 40,
			name = [[Knockout Contest]],
			priority = 4,
			icon_res = [[zhengba]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,62,},
			layer_id = {0,221,0,},
			params = {0,},
		},
		[41] = {
			id = 41,
			name = [[Dimensions War]],
			priority = 4,
			icon_res = [[dianfeng]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,50,},
			layer_id = {0,140,0,},
		},
		[42] = {
			id = 42,
			name = [[Artifact Shop]],
			priority = 5,
			icon_res = [[shop]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[cheng]],
			condition = {0,},
			layer_id = {0,231,1,},
			params = {10,},
		},
		[43] = {
			id = 43,
			name = [[Combination]],
			priority = 2,
			icon_res = [[jiban]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,35,},
			layer_id = {0,45,1,},
			params = {3,},
			onfail = {},
		},
		[44] = {
			id = 44,
			name = [[Combine]],
			priority = 1,
			icon_res = [[fenjie]],
			icon_scale = {0.5,0.5,},
			iconbg_res = [[bk]],
			condition = {2,41,},
			layer_id = {0,98,1,},
			params = {5,},
			onfail = {},
		},
}