Config = Config or {}
Config.cnfguildminegrid = {
		[1] = {
			id = 1,
			event_id = {1,},
			res = [[event6]],
			desc = [[The Start!]],
		},
		[2] = {
			id = 2,
			event_id = {2,},
			res = [[event4]],
			desc = [[You Can Get Personal Rewards!]],
		},
		[3] = {
			id = 3,
			event_id = {3,},
			res = [[event1]],
			desc = [[You Can Win Public Rewards!]],
		},
		[4] = {
			id = 4,
			event_id = {4,},
			res = [[event0]],
			desc = [[Do Not Think Too Much. Nothing Here!]],
		},
		[5] = {
			id = 5,
			event_id = {5,},
			res = [[event2]],
			desc = [[You May Get A Chance To Open The Chest!]],
		},
		[6] = {
			id = 6,
			event_id = {6,},
			res = [[event4]],
			desc = [[You Can Get Personal Rewards!]],
		},
		[7] = {
			id = 7,
			event_id = {7,},
			res = [[event3]],
			desc = [[You Will Be Bombed To 3 Grids Away!]],
		},
		[8] = {
			id = 8,
			event_id = {8,},
			res = [[event1]],
			desc = [[You Can Win Public Rewards!]],
		},
		[9] = {
			id = 9,
			event_id = {9,},
			res = [[event0]],
			desc = [[Do Not Think Too Much. Nothing Here!]],
		},
		[10] = {
			id = 10,
			event_id = {10,},
			res = [[event2]],
			desc = [[You May Get A Chance To Open The Chest!]],
		},
		[11] = {
			id = 11,
			event_id = {11,},
			res = [[event4]],
			desc = [[You Can Get Personal Rewards!]],
		},
		[12] = {
			id = 12,
			event_id = {12,},
			res = [[event3]],
			desc = [[You Will Be Bombed To 3 Grids Away!]],
		},
		[13] = {
			id = 13,
			event_id = {13,},
			res = [[event0]],
			desc = [[Do Not Think Too Much. Nothing Here!]],
		},
		[14] = {
			id = 14,
			event_id = {14,},
			res = [[event1]],
			desc = [[You Can Win Public Rewards!]],
		},
		[15] = {
			id = 15,
			event_id = {15,},
			res = [[event3]],
			desc = [[You Will Be Bombed To  6 Grids Away!]],
		},
		[16] = {
			id = 16,
			event_id = {16,},
			res = [[event2]],
			desc = [[You May Get A Chance To Open The Chest!]],
		},
		[17] = {
			id = 17,
			event_id = {17,},
			res = [[event0]],
			desc = [[Do Not Think Too Much. Nothing Here!]],
		},
		[18] = {
			id = 18,
			event_id = {18,},
			res = [[event4]],
			desc = [[You Can Get Personal Rewards!]],
		},
		[19] = {
			id = 19,
			event_id = {19,},
			res = [[event5]],
			desc = [[Got Double Public Rewards!]],
		},
		[20] = {
			id = 20,
			event_id = {20,},
			res = [[event0]],
			desc = [[Do Not Think Too Much. Nothing Here!]],
		},
		[21] = {
			id = 21,
			event_id = {21,3,},
			res = [[event7]],
			desc = [[The End!]],
		},
}