Config = Config or {}
Config.cnfguilddicegroup = {
		[1] = {
			num = {2,0,},
			score = 1000,
		},
		[2] = {
			num = {3,0,},
			score = 2000,
		},
		[3] = {
			num = {4,0,},
			score = 3000,
		},
		[4] = {
			num = {5,0,},
			score = 4000,
		},
		[5] = {
			num = {6,0,},
			score = 5000,
		},
		[6] = {
			num = {2,2,},
			score = 1000,
		},
		[7] = {
			num = {3,2,},
			score = 2000,
		},
		[8] = {
			num = {4,2,},
			score = 4000,
		},
		[9] = {
			num = {3,3,},
			score = 5000,
		},
}