Config = Config or {}
Config.cnflimittimeshop = {
		[1] = {
			index = 1,
			item_id = 3716,
			item_num = 20,
			privilege_price = 100,
			item_price = 98,
			item_buy_times = 1,
			item_name = "Train Bean",
			item_title = "",
			item_desc = "",
			annouce_id = 17,
			item_count = 100000,
		},
		[2] = {
			index = 2,
			item_id = 3711,
			item_num = 20,
			privilege_price = 400,
			item_price = 398,
			item_buy_times = 2,
			item_name = "Beast Soul",
			item_title = "",
			item_desc = "",
			annouce_id = 17,
			item_count = 200000,
		},
		[3] = {
			index = 3,
			item_id = 3733,
			item_num = 20,
			privilege_price = 200,
			item_price = 198,
			item_buy_times = 3,
			item_name = "Jade Piece",
			item_title = "",
			item_desc = "",
			annouce_id = 17,
			item_count = 60,
		},
		[4] = {
			index = 4,
			item_id = 3734,
			item_num = 20,
			privilege_price = 800,
			item_price = 788,
			item_buy_times = 4,
			item_name = "Fine Jade Piece",
			item_title = "",
			item_desc = "",
			annouce_id = 17,
			item_count = 80,
		},
		[5] = {
			index = 5,
			item_id = 3731,
			item_num = 20,
			privilege_price = 2000,
			item_price = 1948,
			item_buy_times = 5,
			item_name = "Finest Jade Piece ",
			item_title = "",
			item_desc = "",
			annouce_id = 17,
			item_count = 20,
		},
}