Config = Config or {}
Config.cnfnewfunc_open = {
		[1] = {
			func_id = 1,
			initial_state = false,
			limit_content = {1,1,},
			notice = 2,
			name = [[Summon]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[Get Fellow From Here]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[2] = {
			func_id = 2,
			initial_state = false,
			limit_content = {2,5001,},
			notice = 0,
			name = [[Junior Summon]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[5 Free Junior Summons Per Day]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[3] = {
			func_id = 3,
			initial_state = false,
			limit_content = {2,5002,},
			notice = 0,
			name = [[Senior]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[Present 1 Senior Summon Every 46h]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[4] = {
			func_id = 4,
			initial_state = false,
			limit_content = {1,10,},
			notice = 0,
			name = [[Lineup]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[Set Lineup In Different Scenes]],
			icon = [[jiejie]],
			new_guide_id = 0,
			is_close = 0,
		},
		[5] = {
			func_id = 5,
			initial_state = false,
			limit_content = {2,5002,},
			notice = 0,
			name = [[Fellow]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Open And See/Strengthen Fellow]],
			icon = [[cultivate]],
			new_guide_id = 0,
			is_close = 0,
		},
		[6] = {
			func_id = 6,
			initial_state = true,
			limit_content = {2,5002,},
			notice = 0,
			name = [[Star Up]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Fellow Star Up Can Strengthen Fellows]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[7] = {
			func_id = 7,
			initial_state = true,
			limit_content = {2,5002,},
			notice = 0,
			name = [[Fellow Upgrade]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Upgrading Can Unlock New Skill]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[8] = {
			func_id = 8,
			initial_state = false,
			limit_content = {2,5013,},
			notice = 1,
			name = [[Skill Upgrade]],
			title = [[jineng]],
			param = 0,
			describe = [[Skill Up. Strengthen Fellows]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[9] = {
			func_id = 9,
			initial_state = false,
			limit_content = {2,5004,},
			notice = 0,
			name = [[Bag]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Your Bag Makes Me Slow]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[10] = {
			func_id = 10,
			initial_state = false,
			limit_content = {2,5005,},
			notice = 2,
			name = [[Wards]],
			title = [[jiejie]],
			param = 0,
			describe = [[Strengthen ATTR? Start At Ward]],
			icon = [[jiejie]],
			new_guide_id = 0,
			is_close = 0,
		},
		[11] = {
			func_id = 11,
			initial_state = false,
			limit_content = {1,16,},
			notice = 2,
			name = [[Guild]],
			title = [[guild]],
			param = 0,
			describe = [[I'll Never Lack Fellows]],
			icon = [[guild]],
			new_guide_id = 0,
			is_close = 0,
		},
		[12] = {
			func_id = 12,
			initial_state = true,
			limit_content = {1,1,},
			notice = 0,
			name = [[Setting]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Setting]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[13] = {
			func_id = 13,
			initial_state = false,
			limit_content = {1,12,},
			notice = 0,
			name = [[Map ]],
			title = [[miaomushan]],
			param = 0,
			describe = [[I Wanna Travel Around]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[14] = {
			func_id = 14,
			initial_state = false,
			limit_content = {1,12,},
			notice = 0,
			name = [[Daily Task]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Got Various Playing Methods]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[15] = {
			func_id = 15,
			initial_state = false,
			limit_content = {1,12,},
			notice = 2,
			name = [[Arena]],
			title = [[arena]],
			param = 14,
			describe = [[Who Will Win]],
			icon = [[arena]],
			new_guide_id = 1,
			is_close = 0,
		},
		[16] = {
			func_id = 16,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[Adventure]],
			title = [[adventure]],
			param = 14,
			describe = [[Get Training Point & Coins]],
			icon = [[adventure]],
			new_guide_id = 0,
			is_close = 0,
		},
		[17] = {
			func_id = 17,
			initial_state = false,
			limit_content = {0,},
			notice = 2,
			name = [[Stone Instance]],
			title = [[hunshi]],
			param = 14,
			describe = [[Get Fellow Stones]],
			icon = [[hunshi]],
			new_guide_id = 0,
			is_close = 0,
		},
		[18] = {
			func_id = 18,
			initial_state = false,
			limit_content = {1,15,},
			notice = 2,
			name = [[Miao Kiyama Instance]],
			title = [[miaomushan]],
			param = 14,
			describe = [[Lots Of EXP Available]],
			icon = [[miaomushan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[19] = {
			func_id = 19,
			initial_state = false,
			limit_content = {1,18,},
			notice = 2,
			name = [[Coin Trial Instance]],
			title = [[chengjiehaizei]],
			param = 14,
			describe = [[Get Plenty Of Coin]],
			icon = [[cpunish_piracy]],
			new_guide_id = 0,
			is_close = 0,
		},
		[20] = {
			func_id = 20,
			initial_state = false,
			limit_content = {1,1,},
			notice = 2,
			name = [[Helper]],
			title = [[xiaozhushou]],
			param = 0,
			describe = [[Click To Upgrade Role]],
			icon = [[xiaozhushou]],
			new_guide_id = 0,
			is_close = 0,
		},
		[21] = {
			func_id = 21,
			initial_state = false,
			limit_content = {1,1,},
			notice = 0,
			name = [[Mail]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Mailbox Description]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[22] = {
			func_id = 22,
			initial_state = false,
			limit_content = {1,1,},
			notice = 0,
			name = [[Charge]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Charge Function Info]],
			icon = [[shop]],
			new_guide_id = 0,
			is_close = 0,
		},
		[23] = {
			func_id = 23,
			initial_state = true,
			limit_content = {1,1,},
			notice = 0,
			name = [[Task]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Task Function Descriptions]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[24] = {
			func_id = 24,
			initial_state = false,
			limit_content = {1,5,},
			notice = 0,
			name = [[Buy VIT]],
			title = [[miaomushan]],
			param = 0,
			describe = [[VIT Bought Function]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[25] = {
			func_id = 25,
			initial_state = false,
			limit_content = {1,5,},
			notice = 0,
			name = [[Dig]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Come To Me For Coins]],
			icon = [[wabao]],
			new_guide_id = 0,
			is_close = 0,
		},
		[26] = {
			func_id = 26,
			initial_state = false,
			limit_content = {1,15,},
			notice = 0,
			name = [[Auto Fight]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Release Your Hands]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[27] = {
			func_id = 27,
			initial_state = true,
			limit_content = {1,1,},
			notice = 0,
			name = [[Normal Instance]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Normal Instance Function Description]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[28] = {
			func_id = 28,
			initial_state = false,
			limit_content = {2,5023,},
			notice = 1,
			name = [[Elite Instance]],
			title = [[jingying]],
			param = 0,
			describe = [[Get Stone]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[29] = {
			func_id = 29,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[Online Award]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Keep Online And Get Reward]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[30] = {
			func_id = 30,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[Closed Test]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Wow, So Many Gifts!]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[31] = {
			func_id = 31,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[Serial Login]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Serial Login Description]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[32] = {
			func_id = 32,
			initial_state = false,
			limit_content = {2,5005,},
			notice = 0,
			name = [[Joint Attack]],
			title = [[miaomushan]],
			param = 57,
			describe = [[Joint Attack]],
			icon = [[cultivate]],
			new_guide_id = 0,
			is_close = 0,
		},
		[33] = {
			func_id = 33,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[Get Reward]],
			title = [[lingjiang]],
			param = 0,
			describe = [[Numerous Rewards]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[34] = {
			func_id = 34,
			initial_state = false,
			limit_content = {1,12,},
			notice = 0,
			name = [[Rank List]],
			title = [[lingjiang]],
			param = 0,
			describe = [[I Am No.1!]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[35] = {
			func_id = 35,
			initial_state = false,
			limit_content = {2,5014,},
			notice = 0,
			name = [[Fetter]],
			title = [[lingjiang]],
			param = 0,
			describe = [[Fusion? Joint-ATK? All Happen Here.]],
			icon = [[cultivate]],
			new_guide_id = 0,
			is_close = 0,
		},
		[36] = {
			func_id = 36,
			initial_state = false,
			limit_content = {1,25,},
			notice = 2,
			name = [[Vegeta]],
			title = [[beijitaxing]],
			param = 14,
			describe = [[Come And Get Stone Box]],
			icon = [[beijitaxing]],
			new_guide_id = 0,
			is_close = 0,
		},
		[37] = {
			func_id = 37,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[Soul Sacrifice]],
			title = [[xianji]],
			param = 5,
			describe = [[Cultivate Stronger Attr]],
			icon = [[xianji]],
			new_guide_id = 3,
			is_close = 0,
		},
		[38] = {
			func_id = 38,
			initial_state = false,
			limit_content = {5,7,},
			notice = 2,
			name = [[Holy Summon]],
			title = [[zhaohuan]],
			param = 1,
			describe = [[Stronger Hero, You Summon]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[39] = {
			func_id = 39,
			initial_state = false,
			limit_content = {1,18,},
			notice = 0,
			name = [[Nien Beast Instance]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[May You Be Happy And Rich, Here Is The Bonus]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[40] = {
			func_id = 40,
			initial_state = false,
			limit_content = {1,30,},
			notice = 2,
			name = [[New World]],
			title = [[newworld]],
			param = 14,
			describe = [[Got Engough Resource Now]],
			icon = [[newworld]],
			new_guide_id = 0,
			is_close = 0,
		},
		[41] = {
			func_id = 41,
			initial_state = false,
			limit_content = {1,17,},
			notice = 2,
			name = [[Recycle]],
			title = [[fenjie]],
			param = 0,
			describe = [[Mum Won?ˉt Worry About I Waste Resources Anymore]],
			icon = [[fenjie]],
			new_guide_id = 0,
			is_close = 0,
		},
		[42] = {
			func_id = 42,
			initial_state = false,
			limit_content = {1,35,},
			notice = 2,
			name = [[Bean Trial]],
			title = [[cultivatefb]],
			param = 14,
			describe = [[This is not the Train Bean. Eating it can't fill your stomach! ]],
			icon = [[cultivatefb]],
			new_guide_id = 0,
			is_close = 0,
		},
		[43] = {
			func_id = 43,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[Train Unlocked]],
			title = [[cultivate]],
			param = 5,
			describe = [[Mind Your Training]],
			icon = [[cultivate]],
			new_guide_id = 2,
			is_close = 0,
		},
		[44] = {
			func_id = 44,
			initial_state = false,
			limit_content = {1,10,},
			notice = 2,
			name = [[Friend Open]],
			title = [[friend]],
			param = 0,
			describe = [[Take Me Out. We Still Friends. ]],
			icon = [[friend]],
			new_guide_id = 0,
			is_close = 0,
		},
		[45] = {
			func_id = 45,
			initial_state = false,
			limit_content = {1,30,},
			notice = 0,
			name = [[Open Ruin Jade]],
			title = [[friend]],
			param = 0,
			describe = [[Take Me Out. We Still Friends. ]],
			icon = [[friend]],
			new_guide_id = 4,
			is_close = 0,
		},
		[46] = {
			func_id = 46,
			initial_state = false,
			limit_content = {1,45,},
			notice = 2,
			name = [[Space Rebel]],
			title = [[worldboss]],
			param = 14,
			describe = [[Chase And Kill Them!]],
			icon = [[worldboss]],
			new_guide_id = 0,
			is_close = 0,
		},
		[47] = {
			func_id = 47,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[PK]],
			title = [[qiecuo]],
			param = 0,
			describe = [[Beat You!]],
			icon = [[qiecuo]],
			new_guide_id = 0,
			is_close = 0,
		},
		[48] = {
			func_id = 48,
			initial_state = false,
			limit_content = {1,45,},
			notice = 2,
			name = [[Pet]],
			title = [[pet]],
			param = 0,
			describe = [[See Who?ˉs Cuter!]],
			icon = [[pet]],
			new_guide_id = 0,
			is_close = 0,
		},
		[49] = {
			func_id = 49,
			initial_state = false,
			limit_content = {1,48,},
			notice = 2,
			name = [[Sky Arena]],
			title = [[tiankong]],
			param = 14,
			describe = [[I am The Master Of My Floor!]],
			icon = [[tiankong]],
			new_guide_id = 0,
			is_close = 0,
		},
		[50] = {
			func_id = 50,
			initial_state = false,
			limit_content = {1,30,},
			notice = 2,
			name = [[Dimensions War]],
			title = [[dianfeng]],
			param = 14,
			describe = [[Go Fight Man!]],
			icon = [[dianfeng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[51] = {
			func_id = 51,
			initial_state = false,
			limit_content = {1,16,},
			notice = 0,
			name = [[Guild Boss]],
			title = [[guildboss]],
			param = 0,
			describe = [[Used For Picture Notice]],
			icon = [[guildboss]],
			new_guide_id = 0,
			is_close = 0,
		},
		[52] = {
			func_id = 52,
			initial_state = false,
			limit_content = {1,50,},
			notice = 2,
			name = [[Grand Magic Games]],
			title = [[damodou]],
			param = 14,
			describe = [[Come And Prove Whether You Are A Master!]],
			icon = [[damodou]],
			new_guide_id = 0,
			is_close = 0,
		},
		[53] = {
			func_id = 53,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[Hunt]],
			title = [[xunbao]],
			param = 0,
			describe = [[Item Hunt In Zone, Big Surprise For You!]],
			icon = [[xunbao]],
			new_guide_id = 0,
			is_close = 0,
		},
		[54] = {
			func_id = 54,
			initial_state = false,
			limit_content = {2,5646,},
			notice = 1,
			name = [[Nightmare Instance ]],
			title = [[emeng]],
			param = 0,
			describe = [[Get Stuff For Fellow Soar]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[55] = {
			func_id = 55,
			initial_state = false,
			limit_content = {1,40,},
			notice = 2,
			name = [[Marine War]],
			title = [[kuafu]],
			param = 40,
			describe = [[You Can Judge Which Guild Is The Strongest!]],
			icon = [[kuafu]],
			new_guide_id = 0,
			is_close = 0,
		},
		[56] = {
			func_id = 56,
			initial_state = false,
			limit_content = {1,18,},
			notice = 0,
			name = [[Snowmob Raid]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[Snowmob Comes!]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[57] = {
			func_id = 57,
			initial_state = false,
			limit_content = {1,60,},
			notice = 2,
			name = [[Dark World]],
			title = [[darkworld]],
			param = 14,
			describe = [[Best Stone, All Yours!]],
			icon = [[darkworld]],
			new_guide_id = 0,
			is_close = 0,
		},
		[58] = {
			func_id = 58,
			initial_state = false,
			limit_content = {1,40,},
			notice = 2,
			name = [[Ninja Task]],
			title = [[rdfb]],
			param = 14,
			describe = [[Team Up To Defeat BOSS Together!]],
			icon = [[rdfb]],
			new_guide_id = 0,
			is_close = 0,
		},
		[59] = {
			func_id = 59,
			initial_state = false,
			limit_content = {1,55,},
			notice = 2,
			name = [[Nightmare Land]],
			title = [[adventure]],
			param = 14,
			describe = [[Nightmare Land Is Waiting For You!]],
			icon = [[adventure]],
			new_guide_id = 0,
			is_close = 0,
		},
		[60] = {
			func_id = 60,
			initial_state = false,
			limit_content = {1,5,},
			notice = 2,
			name = [[Hero Gallery]],
			title = [[tj]],
			param = 0,
			describe = [[Powerful Attributes Await You!]],
			icon = [[tj]],
			new_guide_id = 0,
			is_close = 0,
		},
		[61] = {
			func_id = 61,
			initial_state = false,
			limit_content = {1,45,},
			notice = 0,
			name = [[Pet Gallery]],
			title = [[tj]],
			param = 0,
			describe = [[Powerful Attributes Await You!]],
			icon = [[tj]],
			new_guide_id = 0,
			is_close = 0,
		},
		[62] = {
			func_id = 62,
			initial_state = false,
			limit_content = {1,65,},
			notice = 2,
			name = [[Knockout Contest]],
			title = [[ltzbkq]],
			param = 14,
			describe = [[Who Is The King Of Knockout Contest?]],
			icon = [[zhengba]],
			new_guide_id = 0,
			is_close = 0,
		},
		[63] = {
			func_id = 63,
			initial_state = false,
			limit_content = {1,60,},
			notice = 2,
			name = [[Artifact]],
			title = [[sqkq]],
			param = 0,
			describe = [[Artifact In Hand, Nothing Be Afraid!]],
			icon = [[shenqi]],
			new_guide_id = 0,
			is_close = 0,
		},
		[64] = {
			func_id = 64,
			initial_state = false,
			limit_content = {1,1,},
			notice = 2,
			name = [[World PK]],
			title = [[sqkq]],
			param = 0,
			describe = [[Artifact In Hand, Nothing Be Afraid!]],
			icon = [[shenqi]],
			new_guide_id = 0,
			is_close = 0,
		},
		[65] = {
			func_id = 65,
			initial_state = false,
			limit_content = {2,8041,},
			notice = 1,
			name = [[purgatory]],
			title = [[adventure]],
			param = 0,
			describe = [[purgatory is waiting for you to challenge!]],
			icon = [[adventure]],
			new_guide_id = 0,
			is_close = 0,
		},
		[66] = {
			func_id = 66,
			initial_state = false,
			limit_content = {1,70,},
			notice = 0,
			name = [[Magic Tree]],
			title = [[miaomushan]],
			param = 0,
			describe = [[Grow Magic Tree and get exp.！]],
			icon = [[shenshu]],
			new_guide_id = 0,
			is_close = 0,
		},
}