Config = Config or {}
Config.cnfnpc_new = {
		[1] = {
			id = 1,
			name = [[Nana]],
			dialog = [[My Aim Is To Earn A Billion Belly And Buy The Town!]],
			func_id = 0,
			res_id = 2904,
			head_id = 2904,
			npc_type = 1,
			level = 1,
			switch_time = 3,
			state_list = {22,23,},
		},
		[2] = {
			id = 2,
			name = [[Black Feet]],
			dialog = [[Man Can Forgive Women's Lies!]],
			func_id = 0,
			res_id = 2905,
			head_id = 2905,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[3] = {
			id = 3,
			name = [[Delivery]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2913,
			head_id = 1011,
			npc_type = 2,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[4] = {
			id = 4,
			name = [[Goddess]],
			dialog = [[Fight For The Peace Of World! Warriors, Let's Go!]],
			func_id = 0,
			res_id = 2901,
			head_id = 2901,
			npc_type = 1,
			level = 1,
			switch_time = 3,
			state_list = {22,23,},
		},
		[5] = {
			id = 5,
			name = [[Vortex]],
			dialog = [[Speaking Out My Mind Is My Way!]],
			func_id = 0,
			res_id = 2902,
			head_id = 2902,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[6] = {
			id = 6,
			name = [[FireFist]],
			dialog = [[A Real Man Will Never Be Subdued.]],
			func_id = 0,
			res_id = 2903,
			head_id = 2903,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[7] = {
			id = 7,
			name = [[Lulu]],
			dialog = [[Share Happiness With Others!]],
			func_id = 0,
			res_id = 2906,
			head_id = 2906,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[8] = {
			id = 8,
			name = [[Berry]],
			dialog = [[If Only I Could Protect More People!]],
			func_id = 0,
			res_id = 2907,
			head_id = 2907,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[9] = {
			id = 9,
			name = [[Turtles]],
			dialog = [[Go Away. I Want To Watch Beauties.]],
			func_id = 0,
			res_id = 2908,
			head_id = 2908,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[10] = {
			id = 10,
			name = [[Wufan]],
			dialog = [[I Should Go.]],
			func_id = 0,
			res_id = 2909,
			head_id = 2909,
			npc_type = 1,
			level = 1,
			switch_time = 3,
			state_list = {22,23,},
		},
		[11] = {
			id = 11,
			name = [[Lin]],
			dialog = [[What Are You Doing? I Am Still A Bachelor!]],
			func_id = 0,
			res_id = 2910,
			head_id = 2910,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[12] = {
			id = 12,
			name = [[Doraemon]],
			dialog = [[Yours Is Mine.]],
			func_id = 1,
			res_id = 2911,
			head_id = 2911,
			npc_type = 3,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[13] = {
			id = 13,
			name = [[Urahara Director]],
			dialog = [[How Can I Know Bankai? ]],
			func_id = 1,
			res_id = 2912,
			head_id = 2912,
			npc_type = 3,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[14] = {
			id = 14,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2917,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[15] = {
			id = 15,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2918,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[16] = {
			id = 16,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2919,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[17] = {
			id = 17,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2917,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[18] = {
			id = 18,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2918,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[19] = {
			id = 19,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2919,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
}