Config = Config or {}
Config.cnfonlinereward = {
		[1] = {
			time = 60,
			reward_id = 6001,
			res_id = 100,
			descripe = [[1000 Coins]],
		},
		[2] = {
			time = 600,
			reward_id = 6002,
			res_id = 100,
			descripe = [[5000 Coins]],
		},
		[3] = {
			time = 1800,
			reward_id = 6003,
			res_id = 100,
			descripe = [[10000 Coins]],
		},
		[4] = {
			time = 3600,
			reward_id = 6004,
			res_id = 102,
			descripe = [[200 Train Point]],
		},
		[5] = {
			time = 5400,
			reward_id = 6005,
			res_id = 101,
			descripe = [[20 Diamond]],
		},
}