Config = Config or {}
Config.cnfpeakrankreward = {
		[1] = {
			rank_idx = 1,
			reward_id = 20600,
		},
		[2] = {
			rank_idx = 2,
			reward_id = 20601,
		},
		[3] = {
			rank_idx = 3,
			reward_id = 20602,
		},
		[4] = {
			rank_idx = 4,
			reward_id = 20603,
		},
		[5] = {
			rank_idx = 5,
			reward_id = 20604,
		},
		[6] = {
			rank_idx = 6,
			reward_id = 20605,
		},
		[7] = {
			rank_idx = 11,
			reward_id = 20606,
		},
		[8] = {
			rank_idx = 21,
			reward_id = 20607,
		},
		[9] = {
			rank_idx = 51,
			reward_id = 20608,
		},
		[10] = {
			rank_idx = 101,
			reward_id = 20609,
		},
		[11] = {
			rank_idx = 201,
			reward_id = 20610,
		},
		[12] = {
			rank_idx = 301,
			reward_id = 20611,
		},
		[13] = {
			rank_idx = 401,
			reward_id = 20612,
		},
		[14] = {
			rank_idx = 501,
			reward_id = 20613,
		},
		[15] = {
			rank_idx = 601,
			reward_id = 20614,
		},
		[16] = {
			rank_idx = 1001,
			reward_id = 20615,
		},
		[17] = {
			rank_idx = 2001,
			reward_id = 20616,
		},
		[18] = {
			rank_idx = 3001,
			reward_id = 20617,
		},
		[19] = {
			rank_idx = 4001,
			reward_id = 20618,
		},
		[20] = {
			rank_idx = 5001,
			reward_id = 20619,
		},
}