Config = Config or {}
Config.cnfpetfusion = {
		[1] = {
			fusion_lv = 1,
			fusion_limit_lv = 45,
			fusion_rate = 100,
			max_lv = 15,
		},
		[2] = {
			fusion_lv = 2,
			fusion_limit_lv = 45,
			fusion_rate = 100,
			max_lv = 30,
		},
		[3] = {
			fusion_lv = 3,
			fusion_limit_lv = 45,
			fusion_rate = 100,
			max_lv = 45,
		},
		[4] = {
			fusion_lv = 4,
			fusion_limit_lv = 50,
			fusion_rate = 100,
			max_lv = 60,
		},
		[5] = {
			fusion_lv = 5,
			fusion_limit_lv = 50,
			fusion_rate = 100,
			max_lv = 75,
		},
		[6] = {
			fusion_lv = 6,
			fusion_limit_lv = 50,
			fusion_rate = 100,
			max_lv = 90,
		},
		[7] = {
			fusion_lv = 7,
			fusion_limit_lv = 60,
			fusion_rate = 100,
			max_lv = 110,
		},
}