Config = Config or {}
Config.CnfPush = {
		[1] = {
			id = 1,
			name = [[Get VIT]],
			push_time = {43200,64800,},
			content = [[VIT Available. Plz Login & Get It!]],
			push_type = 2,
			pre_time = 0,
			week_time = {0,},
			limit_type = 0,
			limit_value = 0,
			delay_push = 0,
		},
		[2] = {
			id = 2,
			name = [[Full VIT]],
			push_time = {-100,},
			content = [[Full VIT Instance Is Open!]],
			push_type = 1,
			pre_time = 0,
			week_time = {0,},
			limit_type = 0,
			limit_value = 0,
			delay_push = 1,
		},
		[3] = {
			id = 3,
			name = [[SP Full]],
			push_time = {-101,},
			content = [[SP Is Full, Skill Up!]],
			push_type = 1,
			pre_time = 0,
			week_time = {0,},
			limit_type = 0,
			limit_value = 0,
			delay_push = 1,
		},
}