Config = Config or {}
Config.cnfpartnerdecomposerebornmisc = {
		[1] = {
			describe_decompose = [[1. Hero Resolve Can Return Certain Growth Res And God Soul According To Hero Value;<BR SPACING=10>2. Normal Resolve Returns Some Growth Res, Sr. Resolve Returns Most Growth Res;<BR SPACING=10>3. Return EXP For Hero Upgrade Via EXP Fruits (No Return For EXP Below 150)<BR SPACING=10>4. Return Coins For Skill Upgrade And Sacrifice;<BR SPACING=10>5.Return Stamina And Trial For Hero Stage Up;<BR SPACING=10>6. Return Train Beans For Hero Train;<BR SPACING=10>7. Return Jade Pieces For Hero Ruin Jade Upgrade (No Return For Jade Pieces Below 1);<BR SPACING=10>8. Return Stones For Hero Sacrifice Via Souls (No Return For Souls Below 1);<BR SPACING=10>9.Return Same Hero Stone Via God Soul;]],
			describe_reborn = [[1. Hero Reborn Can Return Initial Hero (Keeping Star Lv.) And Certain Growth Res;<BR SPACING=10>2. Normal Reborn Returns Some Growth Res, Sr. Reborn Returns Most Growth Res;<BR SPACING=10>3. Return EXP For Hero Upgrade Via EXP Fruits (No Return For EXP Below 150)<BR SPACING=10>4. Return Coins For Skill Upgrade And Sacrifice;<BR SPACING=10>5.Return Stamina And Trial For Hero Stage Up;<BR SPACING=10>6. Return Train Beans For Hero Train;<BR SPACING=10>7. Return Jade Pieces For Hero Ruin Jade Upgrade (No Return For Jade Pieces Below 1);<BR SPACING=10>8. Return Stones For Hero Sacrifice Via Souls (No Return For Souls Below 1);]],
			describe_inherit = [[1.Inheritance Will Shift A Hero’s Stats (Star Excluded) To Another Hero;<BR SPACING=10>2.Hero To Be Inherited Should Be Restored To Its Initial State;<BR SPACING=10>3.After Inheritance, Inheriting Hero Will be Restored To Its Initial State.]],
			describe_hecheng = [[1.Combining partner stones need 2 source stone and Combining Ball. <BR SPACING=10>2. Combining Ball can be purchased by 120 diamonds, or in Recharge Shop and Secret Shop in a low price. Sacred Summon and Advanced Summon may gained as well. <BR SPACING=10>3. Packed combining will cost all stones.]],
		},
}