Config = Config or {}
Config.cnfrookieguide = {
		[3001] = {
			guide_id = 3001,
			guide_condition = {{11,1,},{6,0,2,},},
			finish_condition = {{5,5001,},},
			step = {{1,0,78,-250,125,[[There Is Fighting Outside Temple! Go And See!]],0,1,1,},{1,-1,15001,70,-270,0,0,1,0,},{1,22,10,-80,200,0,0,1,0,},{1,23,20,-150,140,[[Hope It Is Not Too Late!]],0,1,1,},{1,0,22,-50,140,1,1,0,},},
		},
		[3002] = {
			guide_id = 3002,
			guide_condition = {{5,5001,},{5,-5002,},{10,-1011,},},
			finish_condition = {{10,1011,},},
			step = {{1,-1,79,160,-240,[[ What A Wonderful Battle!]],0,1,1,},{1,0,1,-160,145,[[ Your Brother Is Relaxed At Temple. You Can Summon Him!]],0,1,0,},{1,48,2,70,165,0,0,1,1,},{1,48,4,0,0,0,0,1,0,},{1,48,6,-180,-180,[[Summon More Fellows!]],0,1,0,},},
		},
		[3003] = {
			guide_id = 3003,
			guide_condition = {{5,5001,},{5,-5002,},{10,-1011,},},
			finish_condition = {{10,1011,},},
			step = {{1,0,1,-80,145,[[Ur Bro Is Resting In Temple. Pass The Summon Platform And You Can See Him!]],0,1,0,},{1,48,2,70,165,[[Bros Reunion! Joint-ATK Is Available!]],0,1,0,},{1,48,4,0,0,0,0,1,0,},{1,48,6,-180,-180,[[Summon More Fellow From Here Later!]],0,1,0,},},
		},
		[3004] = {
			guide_id = 3004,
			guide_condition = {{9,23,},{10,1011,},{14,1,0,},{15,6,3,},},
			finish_condition = {{8,1011,},},
			step = {{3,1011,1,0,-220,[[Put Firefist In Lineup]],0,0,0,},{1,23,20,-150,140,0,0,1,0,},},
		},
		[3005] = {
			guide_id = 3005,
			guide_condition = {{10,1011,},{5,5001,},{5,-5002,},},
			finish_condition = {{5,5002,},},
			step = {{1,0,78,-140,145,[[Since You Are Reunited Now, Go For Joint ATK!]],0,1,0,},{1,-1,15002,0,0,0,0,1,0,},{1,22,10,-80,200,0,0,1,0,},},
		},
		[3006] = {
			guide_id = 3006,
			guide_condition = {{6,0,1,},{10,1011,},{10,-1004,},{5,5002,},{5,-5003,},},
			finish_condition = {{10,1004,},},
			step = {{1,-1,79,160,-240,[[Go Back To Main City First!]],0,1,1,},{1,0,1,-160,145,[[Summon Urukiora. Show Him The Plot Of Cthulhu. ]],0,1,0,},{1,48,3,0,195,0,0,1,1,},{1,48,4,0,0,0,0,1,0,},{1,48,6,-180,-180,0,0,1,0,},},
		},
		[3007] = {
			guide_id = 3007,
			guide_condition = {{11,1,},{6,0,1,},{10,1011,},{10,-1004,},{5,5002,},{5,-5003,},},
			finish_condition = {{10,1004,},},
			step = {{1,0,1,-80,145,[[Seems You Are Approved By Urukiora.]],0,1,0,},{1,48,3,0,195,[[Summon Urukiora, Show Him Plots Of Cthulhu.]],0,1,1,},{1,48,4,0,0,0,0,1,0,},{1,48,6,-180,-150,0,0,1,0,},},
		},
		[3008] = {
			guide_id = 3008,
			guide_condition = {{9,23,},{10,1004,},{14,5,0,},{15,6,3,},},
			finish_condition = {{8,1004,},},
			step = {{3,1004,5,0,-220,[[Put Urukiora In Lineup]],0,0,0,},{1,23,20,-150,140,0,0,1,0,},},
		},
		[3009] = {
			guide_id = 3009,
			guide_condition = {{10,1004,},{5,5002,},{5,-5003,},},
			finish_condition = {{5,5003,},},
			step = {{1,0,78,-140,145,[[Ur Clone Has Attacked To Church Of The God Of Light. Go For See.]],0,1,0,},{1,-1,15003,0,0,0,0,1,0,},{1,22,10,-80,200,0,0,1,0,},},
		},
		[3014] = {
			guide_id = 3014,
			guide_condition = {{20,0,},{1,2,7,},{5,5005,},{5,-5006,},},
			finish_condition = {{18,1,},},
			step = {{1,-1,79,160,-240,[[Let Us Go! Show You Legendary Ward!]],0,1,1,},},
		},
		[3015] = {
			guide_id = 3015,
			guide_condition = {{5,5005,},{5,-5006,},{20,0,1,},{1,2,7,},{11,1,},},
			finish_condition = {{18,1,},},
			step = {{1,0,24,-300,20,[[Click And Open Ward Page]],0,1,1,},{1,25,84,0,130,[[Click 1Key Inlay]],0,1,1,},},
		},
		[3016] = {
			guide_id = 3016,
			guide_condition = {{1,1,8,},{5,5005,},{5,-5006,},{18,0,},{9,25,},},
			finish_condition = {{18,1,},},
			step = {{1,25,70,-80,-90,0,0,1,0,},{1,25,39,-180,-180,0,0,0,0,},{1,0,78,-140,145,[[Feel Powerful Now, Right? Let Us Try POW Of Ward!]],0,1,0,},},
		},
		[4001] = {
			guide_id = 4001,
			guide_condition = {{20,1,},{1,1,8,},{5,5007,},{5,-5008,},},
			finish_condition = {{18,2,},},
			step = {{1,-1,79,160,-240,[[Hum, Good Job!]],0,1,1,},},
		},
		[4002] = {
			guide_id = 4002,
			guide_condition = {{5,5007,},{5,-5008,},{18,1,},{20,0,2,},{1,2,7,},{11,1,},{27,6,},},
			finish_condition = {{18,2,},},
			step = {{1,0,24,-300,20,[[Click And Open Ward Page]],0,1,1,},{1,25,84,0,130,[[Click 1Key Inlay]],0,1,1,},},
		},
		[4003] = {
			guide_id = 4003,
			guide_condition = {{1,1,8,},{5,5007,},{5,-5008,},{18,1,},{18,0,},{9,25,},},
			finish_condition = {{18,2,},},
			step = {{1,25,70,-80,-90,0,0,1,0,},{1,25,39,-180,-180,0,0,0,0,},{1,0,78,-140,145,[[Urukiora Now Becomes Stronger!]],0,1,0,},},
		},
		[4004] = {
			guide_id = 4004,
			guide_condition = {{5,-5005,},{5,5004,},{11,1,},{18,1,},},
			finish_condition = {{5,5005,},},
			step = {{1,0,78,-140,145,0,0,0,0,},{1,-1,15005,0,0,0,0,0,0,},},
		},
		[3011] = {
			guide_id = 3011,
			guide_condition = {{5,5010,},{5,-5011,},{2,7,},},
			finish_condition = {{7,3536,9,1,},},
			step = {{1,-1,-7,-320,50,[[Click To Get Task Rewards! ]],0,1,1,},{1,2,8,-250,-120,0,0,1,1,},},
		},
		[3018] = {
			guide_id = 3018,
			guide_condition = {{5,5010,},{5,-5011,},{7,3536,9,1,},{10,-1036,},{26,3011,},},
			finish_condition = {{10,1036,},},
			step = {{1,-1,-45,-270,100,[[Click Fellow Button]],0,1,1,},{1,30,51036,-110,-150,[[Sakura Stones Are All Collected, You Can Summon Her! ]],0,1,1,},{1,30,41,-170,-250,[[Vulnerable In Fight. Remember To Receive Treatment!]],0,0,1,},},
		},
		[3019] = {
			guide_id = 3019,
			guide_condition = {{5,5010,},{5,-5011,},{7,3701,},{10,1036,6,3,},{1,1,10,},{26,3019,},},
			finish_condition = {{10,1036,6,1,},},
			step = {{1,-1,-46,-300,-20,[[ Lv. Of Sakura Is Too Low, Have Some EXP Drug!]],0,1,},{1,26,63701,-70,-200,[[Click Chosen EXP Drug]],0,0,0,},{1,26,47,0,150,0,0,0,0,},{1,30,51036,-90,-130,[[Click Fellow’s Portrait To Use]],0,1,0,0,},{1,30,41,-170,-250,0,0,0,0,},{1,26,87,-170,-250,0,0,0,0,},},
		},
		[3021] = {
			guide_id = 3021,
			guide_condition = {{9,23,},{10,1036,},{14,9,0,},{15,6,3,},},
			finish_condition = {{8,1036,},},
			step = {{3,1036,9,0,-220,[[Put Sakura In Battle]],0,0,0,},{1,23,20,-150,140,0,0,1,0,},},
		},
		[3022] = {
			guide_id = 3022,
			guide_condition = {{5,5013,},{5,-5014,},},
			finish_condition = {},
			step = {{1,-1,79,160,-240,[[He Is So Strong. It Is Time To Teach You Some Ult!  ]],0,1,0,},},
		},
		[3023] = {
			guide_id = 3023,
			guide_condition = {{5,5013,},{5,-5014,},{16,1042,0,},{11,1,},{27,4,},},
			finish_condition = {},
			step = {{1,0,45,-270,100,[[ Click Player Interface!]],0,1,1,},{1,30,51042,-60,-150,[[ Choose 1 Fellow!]],0,0,0,},{1,31,43,-150,-150,[[ Click To Skill Up]],0,1,1,},{1,31,43,-150,-150,[[ Click One More.]],0,1,1,},{1,31,44,-150,-150,0,0,0,0,},{1,30,41,-150,-150,0,0,0,1,},{1,0,78,-220,-145,0,0,1,0,},},
		},
		[3024] = {
			guide_id = 3024,
			guide_condition = {{11,1,},{7,3537,9,1,},{10,-1037,},{5,5010,},{15,6,3,},},
			finish_condition = {{10,1037,},},
			step = {{1,0,45,-270,100,[[Click Fellow]],0,1,1,},{1,30,51037,-110,-150,[[Kaka Stones Enough. Summon Now!]],0,1,1,},{1,30,41,-170,-250,[[Kaka Can Restrict Enemies. Try Him!]],0,0,1,},},
		},
		[3025] = {
			guide_id = 3025,
			guide_condition = {{9,23,},{10,1037,},{14,7,0,},{15,6,3,},},
			finish_condition = {{8,1037,},},
			step = {{3,1037,7,0,-140,[[Drag Kaka To Lineup]],0,0,0,},{1,23,20,-150,140,0,0,1,0,},},
		},
		[3026] = {
			guide_id = 3026,
			guide_condition = {{5,5012,},{5,-5013,},{22,1,0,},},
			finish_condition = {{22,1,1,},},
			step = {{1,-1,82,-300,120,[[Of Course, Follow Me And I Will Give Rewards According To The Stars You Got In Battle!]],0,1,1,},{1,95,83,0,130,0,0,1,0,},},
		},
		[3027] = {
			guide_id = 3027,
			guide_condition = {{5,5013,},{5,-5014,},{11,1,},{17,5,},{10,1037,},},
			finish_condition = {},
			step = {{1,0,48,-300,-30,[[You Deserve It!]],0,1,1,},{1,7,55,-370,-180,[[Click And Get]],0,0,0,},{1,0,78,-220,-145,0,0,1,0,},},
		},
		[3028] = {
			guide_id = 3028,
			guide_condition = {{5,5014,},{8,1042,},{23,1042,1,3542,9,},},
			finish_condition = {{25,1042,0,0,},},
			step = {{1,0,45,-270,100,[[Click To Open Player Interface]],0,1,1,},{1,30,51042,-60,-150,[[Choose StrawHat!]],0,0,0,},{1,31,85,0,130,[[Click Add. Soul Stone Adds Player ATTR]],0,0,0,},{1,31,85,0,130,[[Add A Little More!]],0,0,0,},{1,31,85,0,130,[[Add Again!!]],0,0,0,},},
		},
		[3029] = {
			guide_id = 3029,
			guide_condition = {{24,1042,},{8,1042,},},
			finish_condition = {},
			step = {{1,31,86,0,130,[[Star Up!]],0,0,0,},},
		},
		[1025] = {
			guide_id = 1025,
			guide_condition = {{9,40,},},
			finish_condition = {},
			step = {{2,40,-260,-160,[[Get Massive Fame And Buy Senior Fellows!]],0,},},
		},
		[1026] = {
			guide_id = 1026,
			guide_condition = {{9,38,},},
			finish_condition = {},
			step = {{2,38,-260,-160,[[Get Lots of Training Points For Upgrading Fellows From Adventure!]],0,},},
		},
		[1027] = {
			guide_id = 1027,
			guide_condition = {{9,36,1,},},
			finish_condition = {},
			step = {{2,36,-260,-160,[[ Gain Plenty Of Coins In Punish Pirate Instance!]],0,},},
		},
		[1028] = {
			guide_id = 1028,
			guide_condition = {{9,36,2,},},
			finish_condition = {},
			step = {{2,36,-260,-160,[[Get Much EXP Liquid In Miao Kiyama Instance. For Fellow Lv. Up!]],0,},},
		},
}