Config = Config or {}
Config.cnfrecorder = {
		[10200] = {
			record_id = 10200,
			record_type = 1,
			record_value = 1,
		},
		[10201] = {
			record_id = 10201,
			record_type = 1,
			record_value = 2,
		},
		[10202] = {
			record_id = 10202,
			record_type = 1,
			record_value = 3,
		},
		[10203] = {
			record_id = 10203,
			record_type = 1,
			record_value = 4,
		},
		[10204] = {
			record_id = 10204,
			record_type = 1,
			record_value = 5,
		},
		[10205] = {
			record_id = 10205,
			record_type = 1,
			record_value = 6,
		},
		[10206] = {
			record_id = 10206,
			record_type = 1,
			record_value = 7,
		},
		[10207] = {
			record_id = 10207,
			record_type = 1,
			record_value = 8,
		},
		[10208] = {
			record_id = 10208,
			record_type = 1,
			record_value = 9,
		},
		[10209] = {
			record_id = 10209,
			record_type = 1,
			record_value = 10,
		},
		[10210] = {
			record_id = 10210,
			record_type = 1,
			record_value = 11,
		},
		[10211] = {
			record_id = 10211,
			record_type = 1,
			record_value = 12,
		},
		[10212] = {
			record_id = 10212,
			record_type = 1,
			record_value = 13,
		},
		[10213] = {
			record_id = 10213,
			record_type = 1,
			record_value = 14,
		},
		[10214] = {
			record_id = 10214,
			record_type = 1,
			record_value = 15,
		},
		[10215] = {
			record_id = 10215,
			record_type = 1,
			record_value = 16,
		},
		[10216] = {
			record_id = 10216,
			record_type = 1,
			record_value = 17,
		},
		[10217] = {
			record_id = 10217,
			record_type = 1,
			record_value = 18,
		},
		[10020] = {
			record_id = 10020,
			record_type = 2,
			record_value = 1,
		},
		[10021] = {
			record_id = 10021,
			record_type = 2,
			record_value = 2,
		},
		[10022] = {
			record_id = 10022,
			record_type = 2,
			record_value = 3,
		},
		[10024] = {
			record_id = 10024,
			record_type = 2,
			record_value = 5,
		},
		[10025] = {
			record_id = 10025,
			record_type = 2,
			record_value = 6,
		},
		[10026] = {
			record_id = 10026,
			record_type = 2,
			record_value = 7,
		},
		[10027] = {
			record_id = 10027,
			record_type = 2,
			record_value = 8,
		},
		[10028] = {
			record_id = 10028,
			record_type = 2,
			record_value = 9,
		},
		[10029] = {
			record_id = 10029,
			record_type = 2,
			record_value = 10,
		},
		[10030] = {
			record_id = 10030,
			record_type = 2,
			record_value = 11,
		},
		[10040] = {
			record_id = 10040,
			record_type = 4,
			record_value = 1,
		},
		[10050] = {
			record_id = 10050,
			record_type = 5,
			record_value = 1,
		},
		[10060] = {
			record_id = 10060,
			record_type = 6,
			record_value = 1,
		},
		[10080] = {
			record_id = 10080,
			record_type = 7,
			record_value = 2,
		},
		[10081] = {
			record_id = 10081,
			record_type = 7,
			record_value = 5,
		},
		[10082] = {
			record_id = 10082,
			record_type = 7,
			record_value = 8,
		},
		[10070] = {
			record_id = 10070,
			record_type = 8,
			record_value = 1,
		},
		[10071] = {
			record_id = 10071,
			record_type = 8,
			record_value = 2,
		},
		[10090] = {
			record_id = 10090,
			record_type = 9,
			record_value = 1,
		},
		[10102] = {
			record_id = 10102,
			record_type = 10,
			record_value = 1,
		},
		[10103] = {
			record_id = 10103,
			record_type = 10,
			record_value = 2,
		},
		[10110] = {
			record_id = 10110,
			record_type = 11,
			record_value = 1,
		},
		[10120] = {
			record_id = 10120,
			record_type = 12,
			record_value = 1,
		},
		[10121] = {
			record_id = 10121,
			record_type = 12,
			record_value = 2,
		},
		[10130] = {
			record_id = 10130,
			record_type = 13,
			record_value = 1,
		},
		[10140] = {
			record_id = 10140,
			record_type = 14,
			record_value = 1,
		},
		[10141] = {
			record_id = 10141,
			record_type = 14,
			record_value = 2,
		},
		[10150] = {
			record_id = 10150,
			record_type = 15,
			record_value = 1,
		},
		[10152] = {
			record_id = 10152,
			record_type = 15,
			record_value = 2,
		},
		[10162] = {
			record_id = 10162,
			record_type = 16,
			record_value = 2,
		},
		[10172] = {
			record_id = 10172,
			record_type = 17,
			record_value = 2,
		},
		[10182] = {
			record_id = 10182,
			record_type = 18,
			record_value = 2,
		},
		[10191] = {
			record_id = 10191,
			record_type = 19,
			record_value = 1,
		},
		[10192] = {
			record_id = 10192,
			record_type = 19,
			record_value = 2,
		},
		[10193] = {
			record_id = 10193,
			record_type = 19,
			record_value = 3,
		},
		[10194] = {
			record_id = 10194,
			record_type = 19,
			record_value = 4,
		},
		[10195] = {
			record_id = 10195,
			record_type = 19,
			record_value = 5,
		},
		[10196] = {
			record_id = 10196,
			record_type = 19,
			record_value = 6,
		},
		[10197] = {
			record_id = 10197,
			record_type = 19,
			record_value = 7,
		},
		[10198] = {
			record_id = 10198,
			record_type = 19,
			record_value = 8,
		},
		[10199] = {
			record_id = 10199,
			record_type = 19,
			record_value = 9,
		},
		[11200] = {
			record_id = 11200,
			record_type = 19,
			record_value = 10,
		},
		[12000] = {
			record_id = 12000,
			record_type = 20,
			record_value = 1,
		},
		[12100] = {
			record_id = 12100,
			record_type = 21,
			record_value = 1,
		},
		[12200] = {
			record_id = 12200,
			record_type = 22,
			record_value = 1,
		},
		[12300] = {
			record_id = 12300,
			record_type = 23,
			record_value = 1,
		},
		[12400] = {
			record_id = 12400,
			record_type = 24,
			record_value = 1,
		},
		[12402] = {
			record_id = 12402,
			record_type = 24,
			record_value = 2,
		},
		[12500] = {
			record_id = 12500,
			record_type = 25,
			record_value = 2,
		},
		[12501] = {
			record_id = 12501,
			record_type = 26,
			record_value = 3,
		},
		[12502] = {
			record_id = 12502,
			record_type = 27,
			record_value = 5,
		},
		[24060] = {
			record_id = 24060,
			record_type = 28,
			record_value = 1,
		},
		[24053] = {
			record_id = 24053,
			record_type = 28,
			record_value = 1,
		},
		[24054] = {
			record_id = 24054,
			record_type = 28,
			record_value = 1,
		},
		[24055] = {
			record_id = 24055,
			record_type = 28,
			record_value = 1,
		},
		[24056] = {
			record_id = 24056,
			record_type = 28,
			record_value = 1,
		},
		[24057] = {
			record_id = 24057,
			record_type = 28,
			record_value = 1,
		},
		[24058] = {
			record_id = 24058,
			record_type = 28,
			record_value = 1,
		},
		[23711] = {
			record_id = 23711,
			record_type = 28,
			record_value = 1,
		},
		[23712] = {
			record_id = 23712,
			record_type = 28,
			record_value = 1,
		},
		[23713] = {
			record_id = 23713,
			record_type = 28,
			record_value = 1,
		},
		[23733] = {
			record_id = 23733,
			record_type = 28,
			record_value = 1,
		},
		[23734] = {
			record_id = 23734,
			record_type = 28,
			record_value = 1,
		},
		[23731] = {
			record_id = 23731,
			record_type = 28,
			record_value = 1,
		},
		[23760] = {
			record_id = 23760,
			record_type = 28,
			record_value = 1,
		},
		[23901] = {
			record_id = 23901,
			record_type = 28,
			record_value = 1,
		},
		[23902] = {
			record_id = 23902,
			record_type = 28,
			record_value = 1,
		},
		[23904] = {
			record_id = 23904,
			record_type = 28,
			record_value = 1,
		},
		[23906] = {
			record_id = 23906,
			record_type = 28,
			record_value = 1,
		},
		[23907] = {
			record_id = 23907,
			record_type = 28,
			record_value = 1,
		},
		[23908] = {
			record_id = 23908,
			record_type = 28,
			record_value = 1,
		},
		[23801] = {
			record_id = 23801,
			record_type = 28,
			record_value = 1,
		},
		[23802] = {
			record_id = 23802,
			record_type = 28,
			record_value = 1,
		},
		[23851] = {
			record_id = 23851,
			record_type = 28,
			record_value = 1,
		},
		[23999] = {
			record_id = 23999,
			record_type = 28,
			record_value = 1,
		},
		[23591] = {
			record_id = 23591,
			record_type = 28,
			record_value = 1,
		},
		[24100] = {
			record_id = 24100,
			record_type = 29,
			record_value = 1,
		},
		[24101] = {
			record_id = 24101,
			record_type = 29,
			record_value = 2,
		},
}