Config = Config or {}
Config.cnfrolewh = {
		[2901] = {
			id = 2901,
			height = 135,
		},
		[2913] = {
			id = 2913,
			height = 150,
		},
		[1022] = {
			id = 1022,
			height = 130,
		},
		[1038] = {
			id = 1038,
			height = 130,
		},
		[1028] = {
			id = 1028,
			height = 135,
		},
		[1050] = {
			id = 1050,
			height = 140,
		},
		[1024] = {
			id = 1024,
			height = 165,
		},
		[2030] = {
			id = 2030,
			height = 230,
		},
		[1062] = {
			id = 1062,
			height = 140,
		},
		[1058] = {
			id = 1058,
			height = 135,
		},
		[1020] = {
			id = 1020,
			height = 135,
		},
		[1040] = {
			id = 1040,
			height = 70,
		},
		[2048] = {
			id = 2048,
			height = 250,
		},
		[2051] = {
			id = 2051,
			height = 250,
		},
		[1027] = {
			id = 1027,
			height = 135,
		},
		[1056] = {
			id = 1056,
			height = 135,
		},
		[1033] = {
			id = 1033,
			height = 135,
		},
		[1026] = {
			id = 1026,
			height = 135,
		},
		[1208] = {
			id = 1208,
			height = 150,
		},
		[1064] = {
			id = 1064,
			height = 135,
		},
		[1065] = {
			id = 1065,
			height = 135,
		},
		[1059] = {
			id = 1059,
			height = 135,
		},
		[1077] = {
			id = 1077,
			height = 135,
		},
		[1078] = {
			id = 1078,
			height = 130,
		},
		[1210] = {
			id = 1210,
			height = 110,
		},
		[1212] = {
			id = 1212,
			height = 110,
		},
}