Config = Config or {}
Config.cnfroutine = {
		[1] = {
			routine_type = 1,
			name = [[Free Lunch]],
			describe = [[12:00~14:00 On Every Day: 50 VIT For Free]],
			resource_id = [[Dinner]],
			resource_type = 0,
			avt_num = 0,
			update_date = {},
			update_time = {72000,43200,50400,},
			reward_id = 8324,
			seq = 2,
			record_id = 4001,
		},
		[2] = {
			routine_type = 2,
			name = [[Luxurious Feast]],
			describe = [[Get 50 VIT For Free At 18:00-20:00 Daily.]],
			resource_id = [[Dinner]],
			resource_type = 0,
			avt_num = 0,
			update_date = {},
			update_time = {50400,64800,72000,},
			reward_id = 8325,
			seq = 3,
			record_id = 4002,
		},
		[3] = {
			routine_type = 3,
			name = [[Miao Kiyama Instance]],
			describe = [[Pass EXP Instance Once]],
			resource_id = [[Experience]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8326,
			seq = 11,
			record_id = 4003,
		},
		[4] = {
			routine_type = 4,
			name = [[Coins Farm]],
			describe = [[Finish Coins Farm Once]],
			resource_id = [[Jinbi]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8327,
			seq = 10,
			record_id = 4004,
		},
		[5] = {
			routine_type = 5,
			name = [[Normal Instance Killer]],
			describe = [[Pass Any Instance 10 Times]],
			resource_id = [[Common]],
			resource_type = 0,
			avt_num = 10,
			update_date = {},
			update_time = {},
			reward_id = 8328,
			seq = 4,
			record_id = 4005,
		},
		[6] = {
			routine_type = 6,
			name = [[Elite Instance Master]],
			describe = [[Finish 3 Random Elite Copies]],
			resource_id = [[JingYing]],
			resource_type = 0,
			avt_num = 3,
			update_date = {},
			update_time = {},
			reward_id = 8329,
			seq = 5,
			record_id = 4006,
		},
		[7] = {
			routine_type = 7,
			name = [[Beauty Increase]],
			describe = [[Summon 5 Times]],
			resource_id = [[ChouPai]],
			resource_type = 0,
			avt_num = 5,
			update_date = {},
			update_time = {},
			reward_id = 8330,
			seq = 6,
			record_id = 4007,
		},
		[8] = {
			routine_type = 8,
			name = [[Arena]],
			describe = [[Arena Fight 3 Times]],
			resource_id = [[Arena]],
			resource_type = 0,
			avt_num = 3,
			update_date = {},
			update_time = {},
			reward_id = 8331,
			seq = 9,
			record_id = 4008,
		},
		[9] = {
			routine_type = 9,
			name = [[Skill Upgrade]],
			describe = [[Upgrade Any Fellow's Skill 3 Times]],
			resource_id = [[ArenaUpgrade]],
			resource_type = 0,
			avt_num = 3,
			update_date = {},
			update_time = {},
			reward_id = 8332,
			seq = 7,
			record_id = 4009,
		},
		[10] = {
			routine_type = 10,
			name = [[Buy M-Card]],
			describe = [[Daily Get 120 Diamonds For 30 Days.]],
			resource_id = [[BuyCard]],
			resource_type = 1,
			avt_num = 0,
			update_date = {},
			update_time = {},
			reward_id = 8333,
			seq = 1,
			record_id = 4010,
		},
		[11] = {
			routine_type = 11,
			name = [[Dig Treasure]],
			describe = [[1 Digging]],
			resource_id = [[Treasure]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8334,
			seq = 8,
			record_id = 4011,
		},
		[12] = {
			routine_type = 12,
			name = [[Adventure]],
			describe = [[Join Adventure Instance Once]],
			resource_id = [[Adventure]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8334,
			seq = 12,
			record_id = 4012,
		},
		[13] = {
			routine_type = 13,
			name = [[Mystic Trader]],
			describe = [[Buy 1 Item In Secret Shop]],
			resource_id = [[ChouPai]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8332,
			seq = 13,
			record_id = 4013,
		},
		[14] = {
			routine_type = 14,
			name = [[Vegeta]],
			describe = [[Finish 1 Vegeta Instance]],
			resource_id = [[Beijita]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8327,
			seq = 14,
			record_id = 4014,
		},
		[15] = {
			routine_type = 15,
			name = [[Mercenary]],
			describe = [[Finish Mercenary Once]],
			resource_id = [[Guildsoldier]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 15,
			record_id = 4015,
		},
		[16] = {
			routine_type = 16,
			name = [[Guild Tree]],
			describe = [[Train Guild Tree 1 Time]],
			resource_id = [[Worship]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 16,
			record_id = 4016,
		},
		[17] = {
			routine_type = 17,
			name = [[Lucky Dice]],
			describe = [[Complete 1 Lucky Dice]],
			resource_id = [[Guilddice]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 17,
			record_id = 4017,
		},
		[18] = {
			routine_type = 18,
			name = [[Buy Senior M-Card]],
			describe = [[Daily Get 250 Diamonds, For 30 Days]],
			resource_id = [[BuyCard1]],
			resource_type = 1,
			avt_num = 0,
			update_date = {},
			update_time = {},
			reward_id = 8336,
			seq = 1,
			record_id = 4018,
		},
		[19] = {
			routine_type = 19,
			name = [[New World Digging]],
			describe = [[Complete 1 Time Of Digging New World]],
			resource_id = [[Wajue]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 18,
			record_id = 4019,
		},
		[20] = {
			routine_type = 20,
			name = [[New World Plunder]],
			describe = [[Robbed New World 1 Time]],
			resource_id = [[Lueduo]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 19,
			record_id = 4020,
		},
		[21] = {
			routine_type = 21,
			name = [[Bean Trail]],
			describe = [[Pass Bean Train Once]],
			resource_id = [[Cultivatefb]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 20,
			record_id = 4021,
		},
		[22] = {
			routine_type = 22,
			name = [[Give VIT]],
			describe = [[Give Friend 10 VIT]],
			resource_id = [[Tili]],
			resource_type = 0,
			avt_num = 10,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 21,
			record_id = 4022,
		},
		[23] = {
			routine_type = 23,
			name = [[Space Rebel]],
			describe = [[Finish Space Rebel 1 Time]],
			resource_id = [[WorldBoss]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8335,
			seq = 22,
			record_id = 4023,
		},
		[24] = {
			routine_type = 24,
			name = [[Guild Boss]],
			describe = [[Finish Guild Boss Once]],
			resource_id = [[Guildboss]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8339,
			seq = 23,
			record_id = 4024,
		},
		[25] = {
			routine_type = 25,
			name = [[Sky Arena]],
			describe = [[Finish Sky Arena Once]],
			resource_id = [[Tiankong]],
			resource_type = 0,
			avt_num = 1,
			update_date = {},
			update_time = {},
			reward_id = 8339,
			seq = 24,
			record_id = 4025,
		},
		[26] = {
			routine_type = 26,
			name = [[Guild M-Card]],
			describe = [[Daily Get 120 Diamonds For 30 Days.]],
			resource_id = [[BuyCard1]],
			resource_type = 1,
			avt_num = 0,
			update_date = {},
			update_time = {},
			reward_id = 8333,
			seq = 1,
			record_id = 4026,
		},
}