Config = Config or {}
Config.cnfseniornode = {
		[1] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1067,
			weight = 7,
		},
		[2] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1068,
			weight = 7,
		},
		[3] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1090,
			weight = 7,
		},
		[4] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1091,
			weight = 5,
		},
		[5] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1095,
			weight = 5,
		},
		[6] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1048,
			weight = 12,
		},
		[7] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1033,
			weight = 12,
		},
		[8] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1026,
			weight = 12,
		},
		[9] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1016,
			weight = 12,
		},
		[10] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1030,
			weight = 12,
		},
		[11] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1047,
			weight = 12,
		},
		[12] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1073,
			weight = 12,
		},
		[13] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1071,
			weight = 12,
		},
		[14] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1030,
			weight = 12,
		},
		[15] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1014,
			weight = 20,
		},
		[16] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1019,
			weight = 20,
		},
		[17] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1044,
			weight = 20,
		},
		[18] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1012,
			weight = 20,
		},
		[19] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1039,
			weight = 20,
		},
		[20] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1017,
			weight = 20,
		},
		[21] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1034,
			weight = 20,
		},
		[22] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1049,
			weight = 36,
		},
		[23] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1009,
			weight = 36,
		},
}