Config = Config or {}
Config.cnfshopotherinfo = {
		[1] = {
			shop_type = 1,
			reset_time = 7200,
			open_shop = {[[Come On~ I Lift You Up!]],[[Refresh Every 2Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Don't Click...]],[[Huh!]],[[Soft...]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry. Sold Out~]],[[Sold Out. Try Again 2 Hours Later~]],[[Sold Out. But Try To Refresh It.]],},
		},
		[2] = {
			shop_type = 2,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[3] = {
			shop_type = 3,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[5] = {
			shop_type = 5,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[6] = {
			shop_type = 6,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[7] = {
			shop_type = 7,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[8] = {
			shop_type = 8,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[9] = {
			shop_type = 9,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[10] = {
			shop_type = 10,
			reset_time = 7200,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
		[11] = {
			shop_type = 11,
			reset_time = 3600,
			open_shop = {[[Hey Dear~]],[[ Refresh Every 2 Hours Here.]],[[ Fair Business~]],},
			touch_npc = {[[Be Gender~]],[[Uh, Itched.]],[[I Like Your Skill.]],},
			buy_item = {[[Good Taste~]],[[It's The Most Popular One.]],[[Not Bad~]],[[Buy More If You Like It.]],},
			sold_out = {[[Sorry, Sold Out]],[[Come Back 2h Later]],[[Sold Out, Plz Refesh]],},
		},
}