Config = Config or {}
Config.cnfShenqi = {
		[1] = {
			id = 1,
			activation = 21001,
			res_id = 6500,
			name = [[Cloudbank Sword]],
			description = [[This Artifact Can Make Enma Feel Painful!]],
			spine_res = {8800,8801,8802,8803,8804,8805,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,60,1,},{2,5184,1,},{18,30,1,},{22,18,1,},{13,5,3,},},
			unlock_text_list = {[[Reach Team Lv.60]],[[Pass Instance-Fierce Fight]],[[Reach Ward Stage 30]],[[Pass Up To 18 Stages In Adventure]],[[Own 3 Or Above 5-Star Heroes]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {3,1,2,1,3,2,},
			attr_list_key = {23,14,48,19,5,12,},
			attr_list_value = {{10,10,0,0,},{25,25,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},},
		},
		[2] = {
			id = 2,
			activation = 21002,
			res_id = 6501,
			name = [[Yata Mirror]],
			description = [[The Spirit Of Amaterasu Can Reflect Any Human Heart And Foresee Your Life Or Death!]],
			spine_res = {8806,8807,8808,8809,8810,8811,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,63,1,},{2,5665,1,},{18,33,1,},{12,60,5,},{13,5,5,},},
			unlock_text_list = {[[Reach Team Lv.63]],[[Pass Elite Instance-The Warring]],[[Reach Ward Stage 33]],[[Own 5 Or Above Lv.60+ Fellows]],[[Own 5 Or Above 5-Star Heroes]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {3,1,2,1,3,4,},
			attr_list_key = {7,8,2,18,4,1,},
			attr_list_value = {{10,10,0,0,},{10,10,0,0,},{16,16,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},},
		},
		[3] = {
			id = 3,
			activation = 21003,
			res_id = 6502,
			name = [[Magatama]],
			description = [[A tool for god to communicate, can bring good luck and dispel misfortune]],
			spine_res = {8812,8813,8814,8815,8817,8816,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,65,1,},{2,8027,1,},{18,37,1,},{8,5,5,},{13,5,8,},},
			unlock_text_list = {[[Team reaches Lv.65]],[[Pass Instance“Nightmare Stage 7”]],[[Ward stage reaches 37]],[[Own 5 or above SS heroes]],[[Own 8 or above 5-star heroes]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {2,1,2,4,3,1,},
			attr_list_key = {14,8,19,2,4,1,},
			attr_list_value = {{25,25,0,0,},{10,10,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},},
		},
		[4] = {
			id = 4,
			activation = 21004,
			res_id = 6504,
			name = [[Soul Cutter]],
			description = [[Each Soul Chopper has its own spirit, thought, character. Not just a weapon!]],
			spine_res = {8818,8819,8820,8821,8822,8823,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,67,1,},{2,8030,1,},{18,45,1,},{8,5,7,},{13,5,10,},},
			unlock_text_list = {[[Team level reaches Lv.67]],[[Clear Nightmare Instance “Nightmare 10”]],[[Ward reaches Stage 45]],[[Get over 7 SS heroes]],[[Get over 10 5-star heroes]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {1,3,2,2,1,4,},
			attr_list_key = {23,14,48,19,5,12,},
			attr_list_value = {{10,10,0,0,},{25,25,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},},
		},
		[5] = {
			id = 5,
			activation = 21005,
			res_id = 6505,
			name = [[Gae Bolg]],
			description = [[Carvings depicting the tale of a half-man, half-beast hero adorn the shaft of this spear.]],
			spine_res = {8824,8825,8826,8827,8828,8829,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,70,1,},{2,8032,1,},{18,46,1,},{12,70,8,},{13,6,5,},},
			unlock_text_list = {[[Team level reaches lv.70]],[[Pass Nightmare Instance “Nightmare Stage12”]],[[Ward stage reaches 50]],[[Got 8 or more fellows over Lv.70]],[[Got 5 or more 6-star fellows]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {1,2,4,1,3,2,},
			attr_list_key = {8,14,4,1,19,2,},
			attr_list_value = {{10,10,0,0,},{25,25,0,0,},{16,16,0,0,},{16,16,0,0,},{10,10,0,0,},{16,16,0,0,},},
		},
		[6] = {
			id = 6,
			activation = 21006,
			res_id = 6506,
			name = [[magic lamp]],
			description = [[the magic lamp can make your any wish come true]],
			spine_res = {8830,8831,8832,8833,8834,8835,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,72,1,},{2,8040,1,},{18,47,1,},{12,80,10,},{13,6,8,},},
			unlock_text_list = {[[Reach lv.72 first]],[[Pass chapter 20 nightmare”]],[[Ward reach 47]],[[owe 10 fellows over lv.80]],[[owe 8 hero of 6 stars]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {2,2,1,1,4,3,},
			attr_list_key = {19,1,9,48,23,8,},
			attr_list_value = {{25,25,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},},
		},
		[7] = {
			id = 7,
			activation = 21007,
			res_id = 6507,
			name = [[Crescent Rose]],
			description = [[A deformed sickle that can quickly switch between a sickle and a sniper rifle]],
			spine_res = {8836,8837,8838,8839,8840,8841,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,75,1,},{2,8055,1,},{18,48,1,},{8,6,8,},{13,7,10,},},
			unlock_text_list = {[[Team reaches lv.75]],[[Pass Nightmare realm 35]],[[Ward reaches stage 48]],[[Own more than 8 SSS heroes]],[[Own more than 10 seven-star heroes]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {2,1,2,4,3,1,},
			attr_list_key = {19,23,5,6,23,11,},
			attr_list_value = {{25,25,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},{13,13,0,0,},},
		},
}