Config = Config or {}
Config.cnfstartbattle_property = {
		[7396] = {
			partner_id = 7396,
			liliang = 47,
			minjie = 47,
			zhili = 47,
			huoli = 619,
			phy_atk = 147,
			mag_atk = 147,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 47,
			mag_hujia = 47,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 19000,
			speed_move = 262,
			speed_atk = 2.42,
			speed_atk_add = 0,
			cur_hp = 19000,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.42,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7397] = {
			partner_id = 7397,
			liliang = 47,
			minjie = 47,
			zhili = 47,
			huoli = 1699,
			phy_atk = 150,
			mag_atk = 150,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 47,
			mag_hujia = 47,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 25555,
			speed_move = 314,
			speed_atk = 2.88,
			speed_atk_add = 0,
			cur_hp = 25555,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.88,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7398] = {
			partner_id = 7398,
			liliang = 51,
			minjie = 139,
			zhili = 51,
			huoli = 899,
			phy_atk = 158,
			mag_atk = 158,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 51,
			mag_hujia = 51,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 16300,
			speed_move = 321,
			speed_atk = 1.21,
			speed_atk_add = 0,
			cur_hp = 16300,
			cur_ap = 0,
			level = 40,
			atk_interval = 1.21,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7399] = {
			partner_id = 7399,
			liliang = 60,
			minjie = 60,
			zhili = 113,
			huoli = 1299,
			phy_atk = 160,
			mag_atk = 160,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 60,
			mag_hujia = 113,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 21000,
			speed_move = 310,
			speed_atk = 2.19,
			speed_atk_add = 0,
			cur_hp = 21000,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.19,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7400] = {
			partner_id = 7400,
			liliang = 47,
			minjie = 47,
			zhili = 87,
			huoli = 819,
			phy_atk = 143,
			mag_atk = 143,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 47,
			mag_hujia = 87,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 22800,
			speed_move = 332,
			speed_atk = 2.06,
			speed_atk_add = 0,
			cur_hp = 22800,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.06,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7401] = {
			partner_id = 7401,
			liliang = 60,
			minjie = 60,
			zhili = 60,
			huoli = 6899,
			phy_atk = 160,
			mag_atk = 160,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 60,
			mag_hujia = 60,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 50000,
			speed_move = 333,
			speed_atk = 2.92,
			speed_atk_add = 0,
			cur_hp = 50000,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.92,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7402] = {
			partner_id = 7402,
			liliang = 60,
			minjie = 60,
			zhili = 60,
			huoli = 1899,
			phy_atk = 150,
			mag_atk = 150,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 60,
			mag_hujia = 60,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 18352,
			speed_move = 263,
			speed_atk = 2.42,
			speed_atk_add = 0,
			cur_hp = 18352,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.42,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7403] = {
			partner_id = 7403,
			liliang = 55,
			minjie = 55,
			zhili = 55,
			huoli = 7299,
			phy_atk = 148,
			mag_atk = 148,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 55,
			mag_hujia = 55,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 24832,
			speed_move = 310,
			speed_atk = 2.8,
			speed_atk_add = 0,
			cur_hp = 24832,
			cur_ap = 0,
			level = 40,
			atk_interval = 2.8,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7404] = {
			partner_id = 7404,
			liliang = 47,
			minjie = 127,
			zhili = 47,
			huoli = 499,
			phy_atk = 178,
			mag_atk = 178,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 13672,
			speed_move = 334,
			speed_atk = 1.28,
			speed_atk_add = 0,
			cur_hp = 13672,
			cur_ap = 0,
			level = 40,
			atk_interval = 1.28,
			max_ap = 1000,
			star = 1,
			stage = 5,
		},
		[7405] = {
			partner_id = 7405,
			liliang = 47,
			minjie = 47,
			zhili = 127,
			huoli = 2819,
			phy_atk = 159,
			mag_atk = 159,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 47,
			mag_hujia = 127,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 18456,
			speed_move = 366,
			speed_atk = 1.47,
			speed_atk_add = 0,
			cur_hp = 18456,
			cur_ap = 0,
			level = 40,
			atk_interval = 1.47,
			max_ap = 1000,
			star = 5,
			stage = 3,
		},
		[7501] = {
			partner_id = 7501,
			liliang = 1355,
			minjie = 948,
			zhili = 948,
			huoli = 2710,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 2.86,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7502] = {
			partner_id = 7502,
			liliang = 1626,
			minjie = 948,
			zhili = 948,
			huoli = 1152,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 1.94,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7503] = {
			partner_id = 7503,
			liliang = 948,
			minjie = 948,
			zhili = 1694,
			huoli = 1152,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 1.94,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7504] = {
			partner_id = 7504,
			liliang = 678,
			minjie = 678,
			zhili = 1410,
			huoli = 1999,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 1.24,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7506] = {
			partner_id = 7506,
			liliang = 948,
			minjie = 948,
			zhili = 1694,
			huoli = 1152,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 1.88,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7507] = {
			partner_id = 7507,
			liliang = 1355,
			minjie = 948,
			zhili = 948,
			huoli = 2710,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 2.86,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7508] = {
			partner_id = 7508,
			liliang = 1410,
			minjie = 678,
			zhili = 678,
			huoli = 1999,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 1.54,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
		[7509] = {
			partner_id = 7509,
			liliang = 1355,
			minjie = 1017,
			zhili = 1355,
			huoli = 2710,
			phy_atk = 1800,
			mag_atk = 1800,
			phy_def = 0,
			mag_def = 0,
			phy_hujia = 0,
			mag_hujia = 0,
			phy_def_chuantou = 0,
			mag_def_chuantou = 0,
			phy_hujia_chuantou = 0,
			mag_hujia_chuantou = 0,
			mingzhong = 300,
			shanbi = 0,
			zhaojia = 0,
			gedang = 0,
			lianji = 0,
			zhanya = 0,
			phy_baoji = 0,
			mag_baoji = 0,
			baoshang = 0,
			renxing = 0,
			rate_shanghai = 0,
			rate_shanbi = 0,
			rate_phy_baoji = 0,
			rate_mag_baoji = 0,
			rate_baoshang = 0,
			rate_renxing = 0,
			rate_zhaojia = 0,
			rate_gedang = 0,
			rate_lianji = 0,
			rate_zhanya = 0,
			rate_mingzhong = 0,
			rate_atk_speed = 0,
			scale_rate_shanbi = 0,
			scale_rate_phy_baoji = 0,
			scale_rate_mag_baoji = 0,
			scale_rate_baoshang = 0,
			scale_rate_renxing = 0,
			scale_rate_zhaojia = 0,
			scale_rate_gedang = 0,
			scale_rate_lianji = 0,
			scale_rate_zhanya = 0,
			scale_rate_mingzhong = 0,
			scale_rate_atk_speed = 0,
			recover_hp = 0,
			recover_ap = 0,
			max_hp = 200000,
			speed_move = 330,
			speed_atk = 0,
			speed_atk_add = 0,
			cur_hp = 200000,
			cur_ap = 0,
			level = 50,
			atk_interval = 1.86,
			max_ap = 1000,
			star = 5,
			stage = 6,
		},
}