Config = Config or {}
Config.cnfsjachievementreward = {
		[1] = {
			order = 1,
			achievement = {1,1,},
			reward_id = 31061,
			name = [[Total Score rank No.1]],
		},
		[2] = {
			order = 2,
			achievement = {1,2,},
			reward_id = 31062,
			name = [[Total Score rank No.2]],
		},
		[3] = {
			order = 3,
			achievement = {1,3,},
			reward_id = 31063,
			name = [[Score Rank No.3]],
		},
		[4] = {
			order = 4,
			achievement = {1,4,},
			reward_id = 31064,
			name = [[Total Score rank No.4]],
		},
		[5] = {
			order = 5,
			achievement = {1,5,},
			reward_id = 31065,
			name = [[Total Score Rank Number 5]],
		},
		[6] = {
			order = 6,
			achievement = {2,1,1,1,},
			reward_id = 31066,
			name = [[Rank 1 in Day1]],
		},
		[7] = {
			order = 7,
			achievement = {2,1,2,5,},
			reward_id = 31067,
			name = [[Rank 2-5 in Day 1]],
		},
		[8] = {
			order = 8,
			achievement = {2,1,6,10,},
			reward_id = 31068,
			name = [[Rank 6-10 in Day 1]],
		},
		[9] = {
			order = 9,
			achievement = {2,1,11,50,},
			reward_id = 31069,
			name = [[Rank 11-50 in the first day]],
		},
		[10] = {
			order = 10,
			achievement = {2,1,51,100,},
			reward_id = 31070,
			name = [[Rank 51-100 in the first day]],
		},
		[11] = {
			order = 11,
			achievement = {3,1,1,10,},
			reward_id = 31071,
			name = [[Rank 1-10 in any day]],
		},
		[12] = {
			order = 12,
			achievement = {3,1,11,20,},
			reward_id = 31072,
			name = [[Rank between 11-20 in any one day]],
		},
		[13] = {
			order = 13,
			achievement = {3,1,21,50,},
			reward_id = 31073,
			name = [[Rank 21-50 on any one day]],
		},
		[14] = {
			order = 14,
			achievement = {3,1,51,100,},
			reward_id = 31074,
			name = [[Rank 51-100 on any one day]],
		},
		[15] = {
			order = 15,
			achievement = {3,1,101,500,},
			reward_id = 31075,
			name = [[Rank 101-500 in any one day]],
		},
		[16] = {
			order = 16,
			achievement = {3,1,501,1000,},
			reward_id = 31076,
			name = [[Rank 501-100 in any day]],
		},
}