Config = Config or {}
Config.cnfsevendayjoytaskdesc = {
		[1] = {
			id = 1,
			desc = "Serially Login %d Days",
			layer_id = {},
			special_id = 0,
		},
		[2] = {
			id = 2,
			desc = "Cost %d Coins",
			layer_id = {},
			special_id = 0,
		},
		[3] = {
			id = 3,
			desc = "Use Coin Draw %d Times",
			layer_id = {0,48,0,},
			special_id = 0,
		},
		[4] = {
			id = 4,
			desc = "Cost %d Diamonds",
			layer_id = {},
			special_id = 0,
		},
		[5] = {
			id = 5,
			desc = "Use Diamond Draw %d Times",
			layer_id = {0,48,0,},
			special_id = 0,
		},
		[6] = {
			id = 6,
			desc = "Buy VIT %d Times",
			layer_id = {},
			special_id = 0,
		},
		[7] = {
			id = 7,
			desc = "Digging %d Times",
			layer_id = {0,32,0,},
			special_id = 0,
			func_id = 25,
		},
		[8] = {
			id = 8,
			desc = "Totally Top Up %d Diamonds",
			layer_id = {0,145,0,},
			special_id = 0,
		},
		[9] = {
			id = 9,
			desc = "Challenge Normal Instance %d Times",
			layer_id = {1,1,1,},
			special_id = 0,
		},
		[11] = {
			id = 11,
			desc = "Challenge Arena %d Times",
			layer_id = {0,40,},
			special_id = 0,
			func_id = 15,
		},
		[12] = {
			id = 12,
			desc = "Owned Hero",
			layer_id = {},
			special_id = 0,
		},
		[13] = {
			id = 13,
			desc = "Refresh Pet Smartness %d Times",
			layer_id = {0,120,0,},
			special_id = 0,
			func_id = 48,
		},
		[14] = {
			id = 14,
			desc = "Pet Growth %d Times",
			layer_id = {0,120,0,},
			special_id = 0,
			func_id = 48,
		},
		[15] = {
			id = 15,
			desc = "Challenge Elite Instance %d Times",
			layer_id = {1,2,1,},
			special_id = 0,
		},
		[16] = {
			id = 16,
			desc = "Train Hero %d Times",
			layer_id = {},
			special_id = 0,
		},
		[18] = {
			id = 18,
			desc = "Train Guild Tree %d Times",
			layer_id = {0,138,0,},
			special_id = 0,
		},
		[19] = {
			id = 19,
			desc = "Cast Guild Dice %d Times",
			layer_id = {0,82,0,},
			special_id = 0,
		},
		[20] = {
			id = 20,
			desc = "Guild Probe Casts %d Times",
			layer_id = {0,198,0,},
			special_id = 0,
		},
		[21] = {
			id = 21,
			desc = "Get %d Coins",
			layer_id = {},
			special_id = 0,
		},
		[22] = {
			id = 22,
			desc = "Challenge Coin Trial %d Times",
			layer_id = {0,60,0,},
			special_id = 0,
			func_id = 19,
		},
		[23] = {
			id = 23,
			desc = "Challenge Vegeta %d Times",
			layer_id = {0,58,0,},
			special_id = 0,
			func_id = 36,
		},
		[24] = {
			id = 24,
			desc = "Challenge Bean Trail %d Times",
			layer_id = {0,103,0,},
			special_id = 0,
			func_id = 42,
		},
		[25] = {
			id = 25,
			desc = "Challenge Miao Kiyama %d Times",
			layer_id = {0,36,0,},
			special_id = 4,
			func_id = 18,
		},
		[26] = {
			id = 26,
			desc = "Challenge Ninja Task %d Times",
			layer_id = {0,196,0,},
			special_id = 0,
			func_id = 58,
		},
		[27] = {
			id = 27,
			desc = "Challenge Grand Magic Games %d Times",
			layer_id = {0,144,0,},
			special_id = 0,
			func_id = 52,
		},
		[28] = {
			id = 28,
			desc = "Own %d Stage+%d Hero(es)",
			layer_id = {},
			special_id = 0,
		},
		[29] = {
			id = 29,
			desc = "Own %d %d-Star Hero(es)",
			layer_id = {},
			special_id = 0,
		},
		[30] = {
			id = 30,
			desc = "Own %d Lv.%s Hero(es)",
			layer_id = {},
			special_id = 0,
		},
		[31] = {
			id = 31,
			desc = "Own %d Awaken Lv.%d Hero(es)",
			layer_id = {},
			special_id = 0,
		},
		[32] = {
			id = 32,
			desc = "Refresh Artifact %d Times",
			layer_id = {},
			special_id = 0,
		},
		[33] = {
			id = 33,
			desc = "Refine Artifact %d Times",
			layer_id = {},
			special_id = 0,
		},
}