Config = Config or {}
Config.cnfsjrankreward = {
		[1] = {
			reward_type = 1,
			rank = {1,1,},
			integral = 5,
			reward_id = 31044,
		},
		[2] = {
			reward_type = 1,
			rank = {2,2,},
			integral = 4,
			reward_id = 31045,
		},
		[3] = {
			reward_type = 1,
			rank = {3,3,},
			integral = 3,
			reward_id = 31046,
		},
		[4] = {
			reward_type = 1,
			rank = {4,5,},
			integral = 2,
			reward_id = 31047,
		},
		[5] = {
			reward_type = 1,
			rank = {6,10,},
			integral = 1,
			reward_id = 31048,
		},
		[6] = {
			reward_type = 1,
			rank = {11,20,},
			integral = 0,
			reward_id = 31049,
		},
		[7] = {
			reward_type = 1,
			rank = {21,50,},
			integral = 0,
			reward_id = 31050,
		},
		[8] = {
			reward_type = 1,
			rank = {51,100,},
			integral = 0,
			reward_id = 31051,
		},
		[9] = {
			reward_type = 1,
			rank = {101,200,},
			integral = 0,
			reward_id = 31052,
		},
		[10] = {
			reward_type = 1,
			rank = {201,300,},
			integral = 0,
			reward_id = 31053,
		},
		[11] = {
			reward_type = 1,
			rank = {301,500,},
			integral = 0,
			reward_id = 31054,
		},
		[12] = {
			reward_type = 1,
			rank = {501,1000,},
			integral = 0,
			reward_id = 31055,
		},
		[13] = {
			reward_type = 1,
			rank = {1001,2000,},
			integral = 0,
			reward_id = 31056,
		},
		[14] = {
			reward_type = 1,
			rank = {2001,3000,},
			integral = 0,
			reward_id = 31057,
		},
		[15] = {
			reward_type = 1,
			rank = {3001,4000,},
			integral = 0,
			reward_id = 31058,
		},
		[16] = {
			reward_type = 1,
			rank = {4001,5000,},
			integral = 0,
			reward_id = 31059,
		},
		[17] = {
			reward_type = 2,
			rank = {1,1,},
			integral = 1,
			reward_id = 31044,
		},
		[18] = {
			reward_type = 2,
			rank = {2,2,},
			integral = 1,
			reward_id = 31045,
		},
		[19] = {
			reward_type = 2,
			rank = {3,3,},
			integral = 1,
			reward_id = 31046,
		},
		[20] = {
			reward_type = 2,
			rank = {4,5,},
			integral = 1,
			reward_id = 31047,
		},
		[21] = {
			reward_type = 2,
			rank = {6,10,},
			integral = 1,
			reward_id = 31048,
		},
		[22] = {
			reward_type = 2,
			rank = {11,20,},
			integral = 0,
			reward_id = 31049,
		},
		[23] = {
			reward_type = 2,
			rank = {21,50,},
			integral = 0,
			reward_id = 31050,
		},
		[24] = {
			reward_type = 2,
			rank = {51,100,},
			integral = 0,
			reward_id = 31051,
		},
		[25] = {
			reward_type = 2,
			rank = {101,200,},
			integral = 0,
			reward_id = 31052,
		},
		[26] = {
			reward_type = 2,
			rank = {201,300,},
			integral = 0,
			reward_id = 31053,
		},
		[27] = {
			reward_type = 2,
			rank = {301,500,},
			integral = 0,
			reward_id = 31054,
		},
		[28] = {
			reward_type = 2,
			rank = {501,1000,},
			integral = 0,
			reward_id = 31055,
		},
		[29] = {
			reward_type = 2,
			rank = {1001,2000,},
			integral = 0,
			reward_id = 31056,
		},
		[30] = {
			reward_type = 2,
			rank = {2001,3000,},
			integral = 0,
			reward_id = 31057,
		},
		[31] = {
			reward_type = 2,
			rank = {3001,4000,},
			integral = 0,
			reward_id = 31058,
		},
		[32] = {
			reward_type = 2,
			rank = {4001,5000,},
			integral = 0,
			reward_id = 31059,
		},
}