Config = Config or {}
Config.cnftopwarapply = {
		[1] = {
			id = 1,
			num = 5,
			liveness_sub = 2500,
		},
		[2] = {
			id = 2,
			num = 10,
			liveness_sub = 4500,
		},
		[3] = {
			id = 3,
			num = 15,
			liveness_sub = 6000,
		},
		[4] = {
			id = 4,
			num = 20,
			liveness_sub = 7000,
		},
}