Config = Config or {}
Config.cnftitle = {
		[1] = {
			title_id = 1,
			title_name = "Level No.1",
			rank_name = "Lv. Rank",
			rank_type = 301,
			rank_index = 1,
			vip = 0,
			res_id = 8002,
		},
		[2] = {
			title_id = 2,
			title_name = "Level No.2",
			rank_name = "Lv. Rank",
			rank_type = 301,
			rank_index = 2,
			vip = 0,
			res_id = 8003,
		},
		[3] = {
			title_id = 3,
			title_name = "Level No.3",
			rank_name = "Lv. Rank",
			rank_type = 301,
			rank_index = 3,
			vip = 0,
			res_id = 8004,
		},
		[4] = {
			title_id = 4,
			title_name = "POW No.1",
			rank_name = "Arena POW Rank ",
			rank_type = 203,
			rank_index = 1,
			vip = 0,
			res_id = 8005,
		},
		[5] = {
			title_id = 5,
			title_name = "POW No.2",
			rank_name = "Arena POW Rank ",
			rank_type = 203,
			rank_index = 2,
			vip = 0,
			res_id = 8006,
		},
		[6] = {
			title_id = 6,
			title_name = "POW No.3",
			rank_name = "Arena POW Rank ",
			rank_type = 203,
			rank_index = 3,
			vip = 0,
			res_id = 8007,
		},
		[7] = {
			title_id = 7,
			title_name = "Coin Instance No.1",
			rank_name = "Coin Instance",
			rank_type = 501,
			rank_index = 1,
			vip = 0,
			res_id = 8011,
		},
		[8] = {
			title_id = 8,
			title_name = "Coin Instance No.2",
			rank_name = "Coin Instance",
			rank_type = 501,
			rank_index = 2,
			vip = 0,
			res_id = 8012,
		},
		[9] = {
			title_id = 9,
			title_name = "Coin Instance No.3",
			rank_name = "Coin Instance",
			rank_type = 501,
			rank_index = 3,
			vip = 0,
			res_id = 8013,
		},
		[10] = {
			title_id = 10,
			title_name = "Voyage Instance No.1",
			rank_name = "Voyage Instance",
			rank_type = 502,
			rank_index = 1,
			vip = 0,
			res_id = 8014,
		},
		[11] = {
			title_id = 11,
			title_name = "Voyage Instance No.2",
			rank_name = "Voyage Instance",
			rank_type = 502,
			rank_index = 2,
			vip = 0,
			res_id = 8015,
		},
		[12] = {
			title_id = 12,
			title_name = "Voyage Instance No.3",
			rank_name = "Voyage Instance",
			rank_type = 502,
			rank_index = 3,
			vip = 0,
			res_id = 8016,
		},
		[13] = {
			title_id = 13,
			title_name = "Arena Victory No.1",
			rank_name = "Arena Win Rank ",
			rank_type = 102,
			rank_index = 1,
			vip = 0,
			res_id = 8017,
		},
		[14] = {
			title_id = 14,
			title_name = "Arena Victory No.2",
			rank_name = "Arena Win Rank ",
			rank_type = 102,
			rank_index = 2,
			vip = 0,
			res_id = 8018,
		},
		[15] = {
			title_id = 15,
			title_name = "Arena No.3",
			rank_name = "Arena Win Rank ",
			rank_type = 102,
			rank_index = 3,
			vip = 0,
			res_id = 8019,
		},
		[16] = {
			title_id = 16,
			title_name = "Arena No.1",
			rank_name = "Arena Rank",
			rank_type = 103,
			rank_index = 1,
			vip = 0,
			res_id = 8008,
		},
		[17] = {
			title_id = 17,
			title_name = "Arena No.2",
			rank_name = "Arena Rank",
			rank_type = 103,
			rank_index = 2,
			vip = 0,
			res_id = 8009,
		},
		[18] = {
			title_id = 18,
			title_name = "Arena No.3",
			rank_name = "Arena Rank",
			rank_type = 103,
			rank_index = 3,
			vip = 0,
			res_id = 8010,
		},
		[19] = {
			title_id = 19,
			title_name = " PK Victory No.1",
			rank_name = "PK Win Rank",
			rank_type = 104,
			rank_index = 1,
			vip = 0,
			res_id = 8020,
		},
		[20] = {
			title_id = 20,
			title_name = "PK Victory No.2",
			rank_name = "PK Win Rank",
			rank_type = 104,
			rank_index = 2,
			vip = 0,
			res_id = 8021,
		},
		[21] = {
			title_id = 21,
			title_name = "PK Victory No.3",
			rank_name = "PK Win Rank",
			rank_type = 104,
			rank_index = 3,
			vip = 0,
			res_id = 8022,
		},
		[22] = {
			title_id = 22,
			title_name = "Cross-server No.1",
			rank_name = "No.1 Grand Magic",
			rank_type = 1001,
			rank_index = 1,
			vip = 0,
			res_id = 8023,
		},
		[23] = {
			title_id = 23,
			title_name = "Cross-server No.2",
			rank_name = "Grand Magic No.2",
			rank_type = 1001,
			rank_index = 2,
			vip = 0,
			res_id = 8024,
		},
		[24] = {
			title_id = 24,
			title_name = "VIP15",
			rank_name = "VIP15",
			rank_type = 0,
			rank_index = 1,
			vip = 15,
			res_id = 8025,
		},
		[25] = {
			title_id = 25,
			title_name = "VIP14",
			rank_name = "VIP14",
			rank_type = 0,
			rank_index = 2,
			vip = 14,
			res_id = 8026,
		},
		[26] = {
			title_id = 26,
			title_name = "VIP13",
			rank_name = "VIP13",
			rank_type = 0,
			rank_index = 3,
			vip = 13,
			res_id = 8027,
		},
		[27] = {
			title_id = 27,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8031,
		},
		[28] = {
			title_id = 28,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8036,
		},
		[29] = {
			title_id = 29,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8032,
		},
		[30] = {
			title_id = 30,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8042,
		},
		[31] = {
			title_id = 31,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8040,
		},
		[32] = {
			title_id = 32,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8030,
		},
		[33] = {
			title_id = 33,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8035,
		},
		[34] = {
			title_id = 34,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8029,
		},
		[35] = {
			title_id = 35,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8037,
		},
		[36] = {
			title_id = 36,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8038,
		},
		[37] = {
			title_id = 37,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8043,
		},
		[38] = {
			title_id = 38,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8041,
		},
		[39] = {
			title_id = 39,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8033,
		},
		[40] = {
			title_id = 40,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8028,
		},
		[41] = {
			title_id = 41,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8039,
		},
		[42] = {
			title_id = 42,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8034,
		},
		[43] = {
			title_id = 43,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8046,
		},
		[44] = {
			title_id = 44,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8047,
		},
		[45] = {
			title_id = 45,
			title_name = "Activate Medal To Get ",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8048,
		},
		[46] = {
			title_id = 46,
			title_name = "No.1 Redpocket Sender",
			rank_name = "Redpocket Rank",
			rank_type = 701,
			rank_index = 1,
			vip = 0,
			res_id = 8049,
		},
		[47] = {
			title_id = 47,
			title_name = " No.1 Redpocket Grabber",
			rank_name = "Redpocket Rank",
			rank_type = 702,
			rank_index = 1,
			vip = 0,
			res_id = 8050,
		},
		[48] = {
			title_id = 48,
			title_name = "Miss Anime",
			rank_name = "Miss Anime",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8051,
		},
		[49] = {
			title_id = 49,
			title_name = "Miss Anime",
			rank_name = "Miss Anime",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8052,
		},
		[50] = {
			title_id = 50,
			title_name = "Trick King",
			rank_name = "Medal ",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8053,
		},
		[51] = {
			title_id = 51,
			title_name = "Anime Hero",
			rank_name = "Anime Hero",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8055,
		},
		[52] = {
			title_id = 52,
			title_name = "Activate Medal To Get ",
			rank_name = "Honored Labor",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8054,
		},
		[53] = {
			title_id = 53,
			title_name = "Activate Medal To Get ",
			rank_name = "Super_Victor",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8056,
		},
		[54] = {
			title_id = 54,
			title_name = "Activate Medal To Get ",
			rank_name = "Top Scorer",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8057,
		},
		[55] = {
			title_id = 55,
			title_name = "Activate Medal To Get ",
			rank_name = "Anniversary Medal",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8061,
		},
		[56] = {
			title_id = 56,
			title_name = "Activate Medal To Get ",
			rank_name = "Halloween Medal",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8065,
		},
		[57] = {
			title_id = 57,
			title_name = "Activate Medal To Get ",
			rank_name = "7-Star Lord",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8066,
		},
		[58] = {
			title_id = 58,
			title_name = "Activate Medal To Get ",
			rank_name = "The Strongest",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8067,
		},
		[59] = {
			title_id = 59,
			title_name = "Activate Medal To Get ",
			rank_name = "Thanksgiving",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8068,
		},
		[60] = {
			title_id = 60,
			title_name = "Activate Medal To Get ",
			rank_name = "KING",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8069,
		},
		[61] = {
			title_id = 61,
			title_name = "Activate Medal To Get ",
			rank_name = "Ares",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8059,
		},
		[62] = {
			title_id = 62,
			title_name = "Activate Medal To Get ",
			rank_name = "Ever-Victorious General",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8058,
		},
		[63] = {
			title_id = 63,
			title_name = "Activate Medal To Get ",
			rank_name = "Ninja Saga",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8060,
		},
		[64] = {
			title_id = 64,
			title_name = "Activate Medal To Get ",
			rank_name = "Christmas",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8070,
		},
		[65] = {
			title_id = 65,
			title_name = "Activate Medal To Get ",
			rank_name = "Santa Claus",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8071,
		},
		[66] = {
			title_id = 66,
			title_name = "Activate Medal To Get ",
			rank_name = "Happy Chinese New Year",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8072,
		},
		[67] = {
			title_id = 67,
			title_name = "Activate Medal To Get ",
			rank_name = "World Cup",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8073,
		},
		[68] = {
			title_id = 68,
			title_name = "Activate Medal To Get ",
			rank_name = "2nd anniversary",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8074,
		},
		[69] = {
			title_id = 69,
			title_name = "Activate Medal To Get ",
			rank_name = "Loyalty",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8075,
		},
		[70] = {
			title_id = 70,
			title_name = "Activate Medal To Get ",
			rank_name = "Veteran",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8076,
		},
		[71] = {
			title_id = 71,
			title_name = "Activate Medal To Get ",
			rank_name = "Great Student",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8063,
		},
		[72] = {
			title_id = 72,
			title_name = "Activate Medal To Get ",
			rank_name = "Superb Student",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8064,
		},
		[73] = {
			title_id = 73,
			title_name = "Activate Medal To Get ",
			rank_name = "God Of Ninja",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8077,
		},
		[74] = {
			title_id = 74,
			title_name = "Activate Medal To Get ",
			rank_name = "Merry Xmas.",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8078,
		},
		[75] = {
			title_id = 75,
			title_name = "Activate Medal To Get ",
			rank_name = "Valentine's Day",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8079,
		},
		[76] = {
			title_id = 76,
			title_name = "Activate Medal To Get ",
			rank_name = "triennial",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8080,
		},
		[77] = {
			title_id = 77,
			title_name = "Activate Medal To Get ",
			rank_name = "1st Universe",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8081,
		},
		[78] = {
			title_id = 78,
			title_name = "Activate Medal To Get ",
			rank_name = "Unique Universe",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8082,
		},
		[79] = {
			title_id = 79,
			title_name = "Activate Medal To Get ",
			rank_name = "Universe Legend",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8083,
		},
		[80] = {
			title_id = 80,
			title_name = "Activate Medal To Get ",
			rank_name = "1st Universe Guild",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8084,
		},
		[81] = {
			title_id = 81,
			title_name = "Activate Medal To Get ",
			rank_name = "Invincible strategy",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8085,
		},
		[82] = {
			title_id = 82,
			title_name = "Activate Medal To Get ",
			rank_name = "Charm Strategy",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8086,
		},
		[83] = {
			title_id = 83,
			title_name = "Activate Medal To Get ",
			rank_name = "Magic strategy",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8087,
		},
		[84] = {
			title_id = 84,
			title_name = "Activate Medal To Get ",
			rank_name = "Devil Emperor",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8088,
		},
		[85] = {
			title_id = 85,
			title_name = "Activate Medal To Get ",
			rank_name = "Devil King",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8089,
		},
		[86] = {
			title_id = 86,
			title_name = "Activate Medal To Get ",
			rank_name = "Devil Emperor",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8090,
		},
		[87] = {
			title_id = 87,
			title_name = "Activate Medal To Get ",
			rank_name = "Brag Monkey",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8091,
		},
		[88] = {
			title_id = 88,
			title_name = "Activate Medal To Get ",
			rank_name = "Popular Star",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8092,
		},
		[89] = {
			title_id = 89,
			title_name = "Activate Medal To Get ",
			rank_name = "Storyteller",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8093,
		},
		[90] = {
			title_id = 90,
			title_name = "Activate Medal To Get ",
			rank_name = "Iron Powder",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8094,
		},
		[91] = {
			title_id = 91,
			title_name = "Activate Medal To Get ",
			rank_name = "Cosmic Bright Star",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8095,
		},
		[92] = {
			title_id = 92,
			title_name = "Activate Medal To Get ",
			rank_name = "Sea Knight",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8096,
		},
		[93] = {
			title_id = 93,
			title_name = "Activate Medal To Get ",
			rank_name = "Happy May",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8097,
		},
		[94] = {
			title_id = 94,
			title_name = "Activate Medal To Get ",
			rank_name = "Big Win",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8098,
		},
		[95] = {
			title_id = 95,
			title_name = "Activate Medal To Get ",
			rank_name = "Campus Supervisor",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8099,
		},
		[96] = {
			title_id = 96,
			title_name = "Activate Medal To Get ",
			rank_name = "Great Man",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8100,
		},
		[97] = {
			title_id = 97,
			title_name = "Activate Medal To Get ",
			rank_name = "4th Anniversary",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8101,
		},
		[98] = {
			title_id = 98,
			title_name = "Activate Medal To Get ",
			rank_name = "Rich Country",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8102,
		},
		[99] = {
			title_id = 99,
			title_name = "Activate Medal To Get ",
			rank_name = "Akatsuki",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8103,
		},
		[100] = {
			title_id = 100,
			title_name = "Activate Medal To Get ",
			rank_name = "Beast King",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8104,
		},
		[101] = {
			title_id = 101,
			title_name = "Activate Medal To Get ",
			rank_name = "Gorosei",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8105,
		},
		[102] = {
			title_id = 102,
			title_name = "Activate Medal To Get ",
			rank_name = "3rd Sannin",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8106,
		},
		[103] = {
			title_id = 103,
			title_name = "Activate Medal To Get ",
			rank_name = "2nd Sannin",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8107,
		},
		[104] = {
			title_id = 104,
			title_name = "Activate Medal To Get ",
			rank_name = "3rd Sannin",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8108,
		},
		[105] = {
			title_id = 105,
			title_name = "Activate Medal To Get ",
			rank_name = "Shichibukai",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8109,
		},
		[106] = {
			title_id = 106,
			title_name = "Activate Medal To Get ",
			rank_name = "Grim Reaper",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8110,
		},
		[107] = {
			title_id = 107,
			title_name = "Activate Medal To Get ",
			rank_name = "Yonko",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8111,
		},
		[108] = {
			title_id = 108,
			title_name = "Activate Medal To Get ",
			rank_name = "Big Wealth",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8112,
		},
		[109] = {
			title_id = 109,
			title_name = "Activate Medal To Get ",
			rank_name = "The Fourth",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8113,
		},
		[110] = {
			title_id = 110,
			title_name = "Activate Medal To Get ",
			rank_name = "Sword King",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8114,
		},
		[111] = {
			title_id = 111,
			title_name = "Activate Medal To Get ",
			rank_name = "New King",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8115,
		},
		[112] = {
			title_id = 112,
			title_name = "Activate Medal To Get ",
			rank_name = "Invicible",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8116,
		},
		[113] = {
			title_id = 113,
			title_name = "Activate Medal To Get ",
			rank_name = "Diligent",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8118,
		},
		[114] = {
			title_id = 114,
			title_name = "Activate Medal To Get ",
			rank_name = "Exquisite",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8119,
		},
		[115] = {
			title_id = 115,
			title_name = "Activate Medal To Get ",
			rank_name = "Wealthy",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8120,
		},
		[116] = {
			title_id = 116,
			title_name = "Activate Medal To Get ",
			rank_name = "Young Millionaire",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8121,
		},
		[117] = {
			title_id = 117,
			title_name = "Activate Medal To Get ",
			rank_name = "Piercing Eyes",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8122,
		},
		[118] = {
			title_id = 118,
			title_name = "Activate Medal To Get ",
			rank_name = "Extravagant",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8123,
		},
		[119] = {
			title_id = 119,
			title_name = "Activate Medal To Get ",
			rank_name = "5th Anniversary",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8124,
		},
		[120] = {
			title_id = 120,
			title_name = "Activate Medal To Get ",
			rank_name = "6 anniversary",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8125,
		},
		[121] = {
			title_id = 121,
			title_name = "Activate Medal To Get ",
			rank_name = "WORLD PLAYER",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8126,
		},
		[122] = {
			title_id = 122,
			title_name = "Activate Medal To Get ",
			rank_name = "Happy2023",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8127,
		},
		[123] = {
			title_id = 123,
			title_name = "Activate Medal To Get ",
			rank_name = "7th Anniversary",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8128,
		},
		[124] = {
			title_id = 124,
			title_name = "Activate Medal To Get ",
			rank_name = "Happy2024",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8129,
		},
		[125] = {
			title_id = 125,
			title_name = "Activate Medal To Get ",
			rank_name = "8th Anniversary",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8130,
		},
		[126] = {
			title_id = 126,
			title_name = "Activate Medal To Get ",
			rank_name = "Happy2025",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8131,
		},
		[127] = {
			title_id = 127,
			title_name = "Activate Medal To Get ",
			rank_name = "9th Anniv",
			rank_type = 0,
			rank_index = 0,
			vip = 0,
			res_id = 8132,
		},
}