Config = Config or {}
Config.cnftrialitem = {
		[7515] = {
			item_id = 7515,
			user_rate = 100,
			robot_rate = 80,
		},
		[7517] = {
			item_id = 7517,
			user_rate = 90,
			robot_rate = 70,
		},
		[7519] = {
			item_id = 7519,
			user_rate = 80,
			robot_rate = 60,
		},
		[7521] = {
			item_id = 7521,
			user_rate = 70,
			robot_rate = 50,
		},
		[7523] = {
			item_id = 7523,
			user_rate = 60,
			robot_rate = 40,
		},
		[7525] = {
			item_id = 7525,
			user_rate = 100,
			robot_rate = 80,
		},
		[7527] = {
			item_id = 7527,
			user_rate = 90,
			robot_rate = 70,
		},
		[7529] = {
			item_id = 7529,
			user_rate = 80,
			robot_rate = 60,
		},
		[7531] = {
			item_id = 7531,
			user_rate = 70,
			robot_rate = 50,
		},
		[7533] = {
			item_id = 7533,
			user_rate = 60,
			robot_rate = 40,
		},
		[7535] = {
			item_id = 7535,
			user_rate = 100,
			robot_rate = 80,
		},
		[7537] = {
			item_id = 7537,
			user_rate = 90,
			robot_rate = 70,
		},
		[7539] = {
			item_id = 7539,
			user_rate = 80,
			robot_rate = 60,
		},
		[7541] = {
			item_id = 7541,
			user_rate = 70,
			robot_rate = 50,
		},
		[7543] = {
			item_id = 7543,
			user_rate = 60,
			robot_rate = 40,
		},
}