Config = Config or {}
Config.cnftree = {
		[1] = {
			level = 1,
			upgrade_nutrition = 484.55018181818184,
			produce_exp = 163.80000000000001,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[2] = {
			level = 2,
			upgrade_nutrition = 508.51145454545457,
			produce_exp = 171.9,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[3] = {
			level = 3,
			upgrade_nutrition = 528.03545454545451,
			produce_exp = 178.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[4] = {
			level = 4,
			upgrade_nutrition = 552.29254545454546,
			produce_exp = 186.70000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[5] = {
			level = 5,
			upgrade_nutrition = 581.28272727272713,
			produce_exp = 196.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[6] = {
			level = 6,
			upgrade_nutrition = 605.53981818181819,
			produce_exp = 204.70000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[7] = {
			level = 7,
			upgrade_nutrition = 634.52999999999986,
			produce_exp = 214.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[8] = {
			level = 8,
			upgrade_nutrition = 663.81599999999992,
			produce_exp = 224.4,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[9] = {
			level = 9,
			upgrade_nutrition = 692.80618181818181,
			produce_exp = 234.20000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[10] = {
			level = 10,
			upgrade_nutrition = 726.8252727272727,
			produce_exp = 245.70000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s1",
		},
		[11] = {
			level = 11,
			upgrade_nutrition = 760.54854545454543,
			produce_exp = 257.10000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[12] = {
			level = 12,
			upgrade_nutrition = 794.56763636363644,
			produce_exp = 268.60000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[13] = {
			level = 13,
			upgrade_nutrition = 833.31981818181805,
			produce_exp = 281.7,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[14] = {
			level = 14,
			upgrade_nutrition = 872.072,
			produce_exp = 294.8,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[15] = {
			level = 15,
			upgrade_nutrition = 910.82418181818184,
			produce_exp = 307.90000000000003,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[16] = {
			level = 16,
			upgrade_nutrition = 954.30945454545463,
			produce_exp = 322.60000000000002,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[17] = {
			level = 17,
			upgrade_nutrition = 998.09054545454558,
			produce_exp = 337.40000000000003,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[18] = {
			level = 18,
			upgrade_nutrition = 1041.5758181818182,
			produce_exp = 352.1,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[19] = {
			level = 19,
			upgrade_nutrition = 1090.0899999999999,
			produce_exp = 368.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[20] = {
			level = 20,
			upgrade_nutrition = 1143.3372727272726,
			produce_exp = 386.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s2",
		},
		[21] = {
			level = 21,
			upgrade_nutrition = 1196.5845454545454,
			produce_exp = 404.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[22] = {
			level = 22,
			upgrade_nutrition = 1250.1276363636362,
			produce_exp = 422.6,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[23] = {
			level = 23,
			upgrade_nutrition = 1308.1079999999997,
			produce_exp = 442.2,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[24] = {
			level = 24,
			upgrade_nutrition = 1366.3841818181818,
			produce_exp = 461.90000000000003,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[25] = {
			level = 25,
			upgrade_nutrition = 1429.3934545454542,
			produce_exp = 483.2,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[26] = {
			level = 26,
			upgrade_nutrition = 1497.1358181818182,
			produce_exp = 506.1,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[27] = {
			level = 27,
			upgrade_nutrition = 1564.8781818181817,
			produce_exp = 529,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[28] = {
			level = 28,
			upgrade_nutrition = 1637.6494545454545,
			produce_exp = 553.6,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[29] = {
			level = 29,
			upgrade_nutrition = 1715.1538181818182,
			produce_exp = 579.80000000000007,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[30] = {
			level = 30,
			upgrade_nutrition = 1792.6581818181817,
			produce_exp = 606,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s3",
		},
		[31] = {
			level = 31,
			upgrade_nutrition = 1875.1914545454542,
			produce_exp = 633.9,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[32] = {
			level = 32,
			upgrade_nutrition = 1962.162,
			produce_exp = 663.30000000000007,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[33] = {
			level = 33,
			upgrade_nutrition = 2054.4572727272725,
			produce_exp = 694.5,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[34] = {
			level = 34,
			upgrade_nutrition = 2146.4567272727272,
			produce_exp = 725.6,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[35] = {
			level = 35,
			upgrade_nutrition = 2248.2181818181816,
			produce_exp = 760,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[36] = {
			level = 36,
			upgrade_nutrition = 2349.979636363636,
			produce_exp = 794.4,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[37] = {
			level = 37,
			upgrade_nutrition = 2461.503090909091,
			produce_exp = 832.1,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[38] = {
			level = 38,
			upgrade_nutrition = 2572.7307272727271,
			produce_exp = 869.7,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[39] = {
			level = 39,
			upgrade_nutrition = 2694.0161818181818,
			produce_exp = 910.7,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[40] = {
			level = 40,
			upgrade_nutrition = 2815.0058181818181,
			produce_exp = 951.6,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s4",
		},
		[41] = {
			level = 41,
			upgrade_nutrition = 2946.0532727272721,
			produce_exp = 995.9,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[42] = {
			level = 42,
			upgrade_nutrition = 3240.6290181818181,
			produce_exp = 1095.48,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[43] = {
			level = 43,
			upgrade_nutrition = 3564.9049090909093,
			produce_exp = 1205.1000000000001,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[44] = {
			level = 44,
			upgrade_nutrition = 3921.3658181818182,
			produce_exp = 1325.6000000000001,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[45] = {
			level = 45,
			upgrade_nutrition = 4314.6856727272725,
			produce_exp = 1458.56,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[46] = {
			level = 46,
			upgrade_nutrition = 4765.630909090909,
			produce_exp = 1611,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[47] = {
			level = 47,
			upgrade_nutrition = 5242.1939999999995,
			produce_exp = 1772.1000000000001,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[48] = {
			level = 48,
			upgrade_nutrition = 5766.3838181818173,
			produce_exp = 1949.3,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[49] = {
			level = 49,
			upgrade_nutrition = 6343.6434181818177,
			produce_exp = 2144.44,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
		[50] = {
			level = 50,
			upgrade_nutrition = 6978.3509090909083,
			produce_exp = 2359,
			ripe_time = 15,
			rob_per_time = 100,
			res = "ss_s5",
		},
}