Config = Config or {}
Config.cnfturntablearg = {
		[1] = {
			roll_time = 4,
			roll_circle = 10,
			min_speed = 60,
			stop_speed = 10,
			min_circle = 7,
			delay_time = 2,
			sound_time = 400,
		},
}