Config = Config or {}
Config.cnfturntablereward = {
		[1] = {
			id = 1,
			grid = 1,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 15,
			item_id = 1,
			num = 1,
			weight = 400,
		},
		[2] = {
			id = 2,
			grid = 1,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 15,
			item_id = 2,
			num = 1,
			weight = 300,
		},
		[3] = {
			id = 3,
			grid = 1,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 15,
			item_id = 3,
			num = 1,
			weight = 200,
		},
		[4] = {
			id = 4,
			grid = 1,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 15,
			item_id = 4,
			num = 1,
			weight = 100,
		},
		[5] = {
			id = 5,
			grid = 2,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3734,
			num = 1,
			weight = 755,
		},
		[6] = {
			id = 6,
			grid = 2,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3734,
			num = 2,
			weight = 175,
		},
		[7] = {
			id = 7,
			grid = 2,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3731,
			num = 2,
			weight = 70,
		},
		[8] = {
			id = 8,
			grid = 3,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3712,
			num = 1,
			weight = 600,
		},
		[9] = {
			id = 9,
			grid = 3,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3712,
			num = 2,
			weight = 300,
		},
		[10] = {
			id = 10,
			grid = 3,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3713,
			num = 2,
			weight = 100,
		},
		[11] = {
			id = 11,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3504,
			num = 2,
			weight = 500,
		},
		[12] = {
			id = 12,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3505,
			num = 2,
			weight = 500,
		},
		[13] = {
			id = 13,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3508,
			num = 2,
			weight = 500,
		},
		[14] = {
			id = 14,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3511,
			num = 2,
			weight = 500,
		},
		[15] = {
			id = 15,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3513,
			num = 2,
			weight = 500,
		},
		[16] = {
			id = 16,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3515,
			num = 2,
			weight = 500,
		},
		[17] = {
			id = 17,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3506,
			num = 2,
			weight = 500,
		},
		[18] = {
			id = 18,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3531,
			num = 2,
			weight = 500,
		},
		[19] = {
			id = 19,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3525,
			num = 2,
			weight = 500,
		},
		[20] = {
			id = 20,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3543,
			num = 2,
			weight = 500,
		},
		[21] = {
			id = 21,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3536,
			num = 2,
			weight = 500,
		},
		[22] = {
			id = 22,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3549,
			num = 2,
			weight = 500,
		},
		[23] = {
			id = 23,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3540,
			num = 2,
			weight = 500,
		},
		[24] = {
			id = 24,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3542,
			num = 2,
			weight = 500,
		},
		[25] = {
			id = 25,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3545,
			num = 2,
			weight = 500,
		},
		[26] = {
			id = 26,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3509,
			num = 2,
			weight = 300,
		},
		[27] = {
			id = 27,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3521,
			num = 2,
			weight = 300,
		},
		[28] = {
			id = 28,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3510,
			num = 2,
			weight = 300,
		},
		[29] = {
			id = 29,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3518,
			num = 2,
			weight = 300,
		},
		[30] = {
			id = 30,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3520,
			num = 2,
			weight = 300,
		},
		[31] = {
			id = 31,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3512,
			num = 2,
			weight = 300,
		},
		[32] = {
			id = 32,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3524,
			num = 2,
			weight = 300,
		},
		[33] = {
			id = 33,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3514,
			num = 2,
			weight = 300,
		},
		[34] = {
			id = 34,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3523,
			num = 2,
			weight = 300,
		},
		[35] = {
			id = 35,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3532,
			num = 2,
			weight = 300,
		},
		[36] = {
			id = 36,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3541,
			num = 2,
			weight = 300,
		},
		[37] = {
			id = 37,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3529,
			num = 2,
			weight = 300,
		},
		[38] = {
			id = 38,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3517,
			num = 2,
			weight = 300,
		},
		[39] = {
			id = 39,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3550,
			num = 2,
			weight = 300,
		},
		[40] = {
			id = 40,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3537,
			num = 2,
			weight = 300,
		},
		[41] = {
			id = 41,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3519,
			num = 2,
			weight = 300,
		},
		[42] = {
			id = 42,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3534,
			num = 2,
			weight = 300,
		},
		[43] = {
			id = 43,
			grid = 4,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3539,
			num = 2,
			weight = 300,
		},
		[44] = {
			id = 44,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3503,
			num = 2,
			weight = 200,
		},
		[45] = {
			id = 45,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3522,
			num = 2,
			weight = 200,
		},
		[46] = {
			id = 46,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3527,
			num = 2,
			weight = 200,
		},
		[47] = {
			id = 47,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3516,
			num = 2,
			weight = 200,
		},
		[48] = {
			id = 48,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3546,
			num = 2,
			weight = 200,
		},
		[49] = {
			id = 49,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3558,
			num = 2,
			weight = 200,
		},
		[50] = {
			id = 50,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3526,
			num = 2,
			weight = 200,
		},
		[51] = {
			id = 51,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3530,
			num = 2,
			weight = 200,
		},
		[52] = {
			id = 52,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3533,
			num = 2,
			weight = 200,
		},
		[53] = {
			id = 53,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3559,
			num = 2,
			weight = 200,
		},
		[54] = {
			id = 54,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3560,
			num = 2,
			weight = 200,
		},
		[55] = {
			id = 55,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3544,
			num = 2,
			weight = 200,
		},
		[56] = {
			id = 56,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3547,
			num = 2,
			weight = 200,
		},
		[57] = {
			id = 57,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3548,
			num = 2,
			weight = 200,
		},
		[58] = {
			id = 58,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3552,
			num = 2,
			weight = 200,
		},
		[59] = {
			id = 59,
			grid = 5,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3567,
			num = 2,
			weight = 200,
		},
		[60] = {
			id = 60,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3703,
			num = 2,
			weight = 300,
		},
		[61] = {
			id = 61,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3704,
			num = 2,
			weight = 100,
		},
		[62] = {
			id = 62,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3907,
			num = 2,
			weight = 100,
		},
		[63] = {
			id = 63,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3906,
			num = 2,
			weight = 70,
		},
		[64] = {
			id = 64,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3851,
			num = 2,
			weight = 70,
		},
		[65] = {
			id = 65,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3734,
			num = 1,
			weight = 200,
		},
		[66] = {
			id = 66,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3563,
			num = 1,
			weight = 200,
		},
		[67] = {
			id = 67,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3551,
			num = 1,
			weight = 200,
		},
		[68] = {
			id = 68,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3564,
			num = 1,
			weight = 200,
		},
		[69] = {
			id = 69,
			grid = 6,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 5072,
			num = 1,
			weight = 200,
		},
		[70] = {
			id = 70,
			grid = 7,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 5009,
			num = 2,
			weight = 1000,
		},
		[71] = {
			id = 71,
			grid = 7,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 5009,
			num = 6,
			weight = 500,
		},
		[72] = {
			id = 72,
			grid = 7,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 5009,
			num = 10,
			weight = 200,
		},
		[73] = {
			id = 73,
			grid = 7,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 5005,
			num = 5,
			weight = 200,
		},
		[74] = {
			id = 74,
			grid = 8,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3712,
			num = 1,
			weight = 600,
		},
		[75] = {
			id = 75,
			grid = 8,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3712,
			num = 2,
			weight = 300,
		},
		[76] = {
			id = 76,
			grid = 8,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3713,
			num = 2,
			weight = 100,
		},
		[77] = {
			id = 77,
			grid = 9,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3734,
			num = 1,
			weight = 500,
		},
		[78] = {
			id = 78,
			grid = 9,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3734,
			num = 2,
			weight = 180,
		},
		[79] = {
			id = 79,
			grid = 9,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3731,
			num = 2,
			weight = 100,
		},
		[80] = {
			id = 80,
			grid = 9,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3906,
			num = 2,
			weight = 90,
		},
		[81] = {
			id = 81,
			grid = 9,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3851,
			num = 2,
			weight = 130,
		},
		[82] = {
			id = 82,
			grid = 9,
			vip_filter = 0,
			level_bt = {1,120,},
			item_type = 1,
			item_id = 3850,
			num = 2,
			weight = 100,
		},
}