Config = Config or {}
Config.cnftililevel = {
		[1] = {
			level = 1,
			upper_limit = 100,
			upgrade_donate = 0,
		},
		[2] = {
			level = 2,
			upper_limit = 101,
			upgrade_donate = 12,
		},
		[3] = {
			level = 3,
			upper_limit = 102,
			upgrade_donate = 13,
		},
		[4] = {
			level = 4,
			upper_limit = 103,
			upgrade_donate = 14,
		},
		[5] = {
			level = 5,
			upper_limit = 104,
			upgrade_donate = 15,
		},
		[6] = {
			level = 6,
			upper_limit = 105,
			upgrade_donate = 16,
		},
		[7] = {
			level = 7,
			upper_limit = 106,
			upgrade_donate = 17,
		},
		[8] = {
			level = 8,
			upper_limit = 107,
			upgrade_donate = 18,
		},
		[9] = {
			level = 9,
			upper_limit = 108,
			upgrade_donate = 19,
		},
		[10] = {
			level = 10,
			upper_limit = 109,
			upgrade_donate = 30,
		},
		[11] = {
			level = 11,
			upper_limit = 110,
			upgrade_donate = 31,
		},
		[12] = {
			level = 12,
			upper_limit = 111,
			upgrade_donate = 32,
		},
		[13] = {
			level = 13,
			upper_limit = 112,
			upgrade_donate = 33,
		},
		[14] = {
			level = 14,
			upper_limit = 113,
			upgrade_donate = 34,
		},
		[15] = {
			level = 15,
			upper_limit = 114,
			upgrade_donate = 35,
		},
		[16] = {
			level = 16,
			upper_limit = 115,
			upgrade_donate = 36,
		},
		[17] = {
			level = 17,
			upper_limit = 116,
			upgrade_donate = 37,
		},
		[18] = {
			level = 18,
			upper_limit = 117,
			upgrade_donate = 38,
		},
		[19] = {
			level = 19,
			upper_limit = 118,
			upgrade_donate = 39,
		},
		[20] = {
			level = 20,
			upper_limit = 119,
			upgrade_donate = 40,
		},
		[21] = {
			level = 21,
			upper_limit = 120,
			upgrade_donate = 41,
		},
		[22] = {
			level = 22,
			upper_limit = 121,
			upgrade_donate = 42,
		},
		[23] = {
			level = 23,
			upper_limit = 122,
			upgrade_donate = 43,
		},
		[24] = {
			level = 24,
			upper_limit = 123,
			upgrade_donate = 44,
		},
		[25] = {
			level = 25,
			upper_limit = 124,
			upgrade_donate = 45,
		},
		[26] = {
			level = 26,
			upper_limit = 125,
			upgrade_donate = 46,
		},
		[27] = {
			level = 27,
			upper_limit = 126,
			upgrade_donate = 47,
		},
		[28] = {
			level = 28,
			upper_limit = 127,
			upgrade_donate = 48,
		},
		[29] = {
			level = 29,
			upper_limit = 128,
			upgrade_donate = 49,
		},
		[30] = {
			level = 30,
			upper_limit = 129,
			upgrade_donate = 50,
		},
		[31] = {
			level = 31,
			upper_limit = 130,
			upgrade_donate = 51,
		},
		[32] = {
			level = 32,
			upper_limit = 131,
			upgrade_donate = 52,
		},
		[33] = {
			level = 33,
			upper_limit = 132,
			upgrade_donate = 53,
		},
		[34] = {
			level = 34,
			upper_limit = 133,
			upgrade_donate = 54,
		},
		[35] = {
			level = 35,
			upper_limit = 134,
			upgrade_donate = 55,
		},
		[36] = {
			level = 36,
			upper_limit = 135,
			upgrade_donate = 56,
		},
		[37] = {
			level = 37,
			upper_limit = 136,
			upgrade_donate = 57,
		},
		[38] = {
			level = 38,
			upper_limit = 137,
			upgrade_donate = 58,
		},
		[39] = {
			level = 39,
			upper_limit = 138,
			upgrade_donate = 59,
		},
		[40] = {
			level = 40,
			upper_limit = 139,
			upgrade_donate = 60,
		},
		[41] = {
			level = 41,
			upper_limit = 140,
			upgrade_donate = 61,
		},
		[42] = {
			level = 42,
			upper_limit = 141,
			upgrade_donate = 62,
		},
		[43] = {
			level = 43,
			upper_limit = 142,
			upgrade_donate = 63,
		},
		[44] = {
			level = 44,
			upper_limit = 143,
			upgrade_donate = 64,
		},
		[45] = {
			level = 45,
			upper_limit = 144,
			upgrade_donate = 65,
		},
		[46] = {
			level = 46,
			upper_limit = 145,
			upgrade_donate = 66,
		},
		[47] = {
			level = 47,
			upper_limit = 146,
			upgrade_donate = 67,
		},
		[48] = {
			level = 48,
			upper_limit = 147,
			upgrade_donate = 68,
		},
		[49] = {
			level = 49,
			upper_limit = 148,
			upgrade_donate = 69,
		},
		[50] = {
			level = 50,
			upper_limit = 149,
			upgrade_donate = 70,
		},
		[51] = {
			level = 51,
			upper_limit = 150,
			upgrade_donate = 71,
		},
		[52] = {
			level = 52,
			upper_limit = 151,
			upgrade_donate = 72,
		},
		[53] = {
			level = 53,
			upper_limit = 152,
			upgrade_donate = 73,
		},
		[54] = {
			level = 54,
			upper_limit = 153,
			upgrade_donate = 74,
		},
		[55] = {
			level = 55,
			upper_limit = 154,
			upgrade_donate = 75,
		},
		[56] = {
			level = 56,
			upper_limit = 155,
			upgrade_donate = 76,
		},
		[57] = {
			level = 57,
			upper_limit = 156,
			upgrade_donate = 77,
		},
		[58] = {
			level = 58,
			upper_limit = 157,
			upgrade_donate = 78,
		},
		[59] = {
			level = 59,
			upper_limit = 158,
			upgrade_donate = 79,
		},
		[60] = {
			level = 60,
			upper_limit = 159,
			upgrade_donate = 80,
		},
		[61] = {
			level = 61,
			upper_limit = 160,
			upgrade_donate = 81,
		},
		[62] = {
			level = 62,
			upper_limit = 161,
			upgrade_donate = 82,
		},
		[63] = {
			level = 63,
			upper_limit = 162,
			upgrade_donate = 83,
		},
		[64] = {
			level = 64,
			upper_limit = 163,
			upgrade_donate = 84,
		},
		[65] = {
			level = 65,
			upper_limit = 164,
			upgrade_donate = 85,
		},
		[66] = {
			level = 66,
			upper_limit = 165,
			upgrade_donate = 86,
		},
		[67] = {
			level = 67,
			upper_limit = 166,
			upgrade_donate = 87,
		},
		[68] = {
			level = 68,
			upper_limit = 167,
			upgrade_donate = 88,
		},
		[69] = {
			level = 69,
			upper_limit = 168,
			upgrade_donate = 89,
		},
		[70] = {
			level = 70,
			upper_limit = 169,
			upgrade_donate = 90,
		},
		[71] = {
			level = 71,
			upper_limit = 170,
			upgrade_donate = 91,
		},
		[72] = {
			level = 72,
			upper_limit = 171,
			upgrade_donate = 92,
		},
		[73] = {
			level = 73,
			upper_limit = 172,
			upgrade_donate = 93,
		},
		[74] = {
			level = 74,
			upper_limit = 173,
			upgrade_donate = 94,
		},
		[75] = {
			level = 75,
			upper_limit = 174,
			upgrade_donate = 95,
		},
		[76] = {
			level = 76,
			upper_limit = 175,
			upgrade_donate = 96,
		},
		[77] = {
			level = 77,
			upper_limit = 176,
			upgrade_donate = 97,
		},
		[78] = {
			level = 78,
			upper_limit = 177,
			upgrade_donate = 98,
		},
		[79] = {
			level = 79,
			upper_limit = 178,
			upgrade_donate = 99,
		},
		[80] = {
			level = 80,
			upper_limit = 179,
			upgrade_donate = 100,
		},
		[81] = {
			level = 81,
			upper_limit = 180,
			upgrade_donate = 101,
		},
		[82] = {
			level = 82,
			upper_limit = 181,
			upgrade_donate = 102,
		},
		[83] = {
			level = 83,
			upper_limit = 182,
			upgrade_donate = 103,
		},
		[84] = {
			level = 84,
			upper_limit = 183,
			upgrade_donate = 104,
		},
		[85] = {
			level = 85,
			upper_limit = 184,
			upgrade_donate = 105,
		},
		[86] = {
			level = 86,
			upper_limit = 185,
			upgrade_donate = 106,
		},
		[87] = {
			level = 87,
			upper_limit = 186,
			upgrade_donate = 107,
		},
		[88] = {
			level = 88,
			upper_limit = 187,
			upgrade_donate = 108,
		},
		[89] = {
			level = 89,
			upper_limit = 188,
			upgrade_donate = 109,
		},
		[90] = {
			level = 90,
			upper_limit = 189,
			upgrade_donate = 110,
		},
		[91] = {
			level = 91,
			upper_limit = 190,
			upgrade_donate = 111,
		},
		[92] = {
			level = 92,
			upper_limit = 191,
			upgrade_donate = 112,
		},
		[93] = {
			level = 93,
			upper_limit = 192,
			upgrade_donate = 113,
		},
		[94] = {
			level = 94,
			upper_limit = 193,
			upgrade_donate = 114,
		},
		[95] = {
			level = 95,
			upper_limit = 194,
			upgrade_donate = 115,
		},
		[96] = {
			level = 96,
			upper_limit = 195,
			upgrade_donate = 116,
		},
		[97] = {
			level = 97,
			upper_limit = 196,
			upgrade_donate = 117,
		},
		[98] = {
			level = 98,
			upper_limit = 197,
			upgrade_donate = 118,
		},
		[99] = {
			level = 99,
			upper_limit = 198,
			upgrade_donate = 119,
		},
		[100] = {
			level = 100,
			upper_limit = 199,
			upgrade_donate = 120,
		},
		[101] = {
			level = 101,
			upper_limit = 200,
			upgrade_donate = 121,
		},
		[102] = {
			level = 102,
			upper_limit = 201,
			upgrade_donate = 122,
		},
		[103] = {
			level = 103,
			upper_limit = 202,
			upgrade_donate = 123,
		},
		[104] = {
			level = 104,
			upper_limit = 203,
			upgrade_donate = 124,
		},
		[105] = {
			level = 105,
			upper_limit = 204,
			upgrade_donate = 125,
		},
		[106] = {
			level = 106,
			upper_limit = 205,
			upgrade_donate = 126,
		},
		[107] = {
			level = 107,
			upper_limit = 206,
			upgrade_donate = 127,
		},
		[108] = {
			level = 108,
			upper_limit = 207,
			upgrade_donate = 128,
		},
		[109] = {
			level = 109,
			upper_limit = 208,
			upgrade_donate = 129,
		},
		[110] = {
			level = 110,
			upper_limit = 209,
			upgrade_donate = 130,
		},
}