Config = Config or {}
Config.cnfupdatenew = {
		[1] = {
			title_tag = [[New]],
			title = [[New Content]],
			msg_text = [[<COLOR VALUE=FF442C0C>1. New “Grand Magic Games” (Cross-Server PK) Gameplay, Unlocks At Lv.60; The Higher Ranking, The More Rewards And Cooler Titles; In View That Players Of New Server Have Lower Lv, Players Of Lower Lv. But Higher Ranking Can Get Bonus! Grand Magic Games Output Fairy Coins. You Can Exchange Various Sr.Resources And Orange Heroes In “Fairy Shop” According To Your Stage! Who Is The King Of World? Come To Grand Magic Games And Fight! <BR> <BR>2. New Back Holy Summon Hero Hisoka, A Great Assist+Carry Hero; PHY Output, Steal Anger As Self, Randomly Get PHY Shield, MAG Shield, Trap And Other Skills; </COLOR>]],
			title_begin_time = {2015,7,1,5,0,},
			title_end_time = {2015,10,14,4,59,},
			title_bone = 2,
			bone_begin_time = {2015,7,1,5,0,},
			bone_end_time = {2015,10,14,4,59,},
			sdk_name = {},
		},
		[2] = {
			title_tag = [[New]],
			title = [[New Content]],
			msg_text = [[<COLOR VALUE=FF442C0C>1. New A-21 Awaken (Transform With 60%HP; After Awakening, 0.4%DMG Deduct, Drain 50%HP, ATK Reduces Enemy 10% Max HP Per Lv.)<BR> <BR>2. New Zero Awaken (Transform With 80%HP; After Awakening, Skill2 Targets Become Vertical, Reducing Vertical MAG POW); <BR> <BR>3. Role Lv. Limit Adds To 95; <BR> <BR>4. New The Fourth Awaken (Transform When Battle Begins; After Awakening, MAG POW Up, 50%Crit, Skill2 Not Added To Rival Anger); <BR> <BR></COLOR>]],
			title_begin_time = {2015,7,1,5,0,},
			title_end_time = {2015,10,14,4,59,},
			title_bone = 2,
			bone_begin_time = {2015,7,1,5,0,},
			bone_end_time = {2015,10,14,4,59,},
			sdk_name = {},
		},
		[3] = {
			title_tag = [[Game Optimize]],
			title = [[Optimize]],
			msg_text = [[<COLOR VALUE=FF442C0C>1. Space Wheel Optimized: New “Draw*10”; Players Can Choose Whether To Watch Wheel Animation Or Not; <BR> <BR>2. Loot For Stage Up Optimized: Players Can “1Key Loot”. Until With 0 Stamina Or Enough Stuff Will Loot Stop; <BR> <BR>3. VIP Level Increases To VIP15; <BR> <BR>4. World Boss Gameplay Optimized: Convey Roll Limit Is 20 Now; Buff After Bought Lasts 1 Day Now(Reset At 5am); </COLOR>]],
			title_begin_time = {2015,7,1,5,0,},
			title_end_time = {2015,10,14,4,59,},
			title_bone = 2,
			bone_begin_time = {2015,7,1,5,0,},
			bone_end_time = {2015,10,14,4,59,},
			sdk_name = {},
		},
		[4] = {
			title_tag = [[Game Optimize]],
			title = [[Optimize]],
			msg_text = [[<COLOR VALUE=FF442C0C>1. Awakening Optimized: When Awakening Hero With Insufficient Jenny/MAG Crystal And Gap?ü30%, You Can Consume Diamonds To Buy Equip Or Awake Hero Directly; <BR> <BR>2. Due To Debugging Of Calculating Error Before, Madara Outputs Become Less. So This Update Raises STR Bonus Of Madara Shadow When He Dies; <BR> <BR>3. Arena Victory Rank, PK Victory Rank Are Altered: Defending Victories Are Not Counted In Rank; <BR> <BR>4.Raise Hero MAG Resist(MAG Team 20% DMG Down); </COLOR>]],
			title_begin_time = {2015,7,1,5,0,},
			title_end_time = {2015,10,14,4,59,},
			title_bone = 2,
			bone_begin_time = {2015,7,1,5,0,},
			bone_end_time = {2015,10,14,4,59,},
			sdk_name = {},
		},
		[5] = {
			title_tag = [[BUG Fixed]],
			title = [[Debug]],
			msg_text = [[<COLOR VALUE=FF442C0C>1. Debug That Evil Queen Casts Evil Shield To Others When She Dies;<BR> <BR>2. Debug Main And Vice Heroes Of Joint ATK, Adjust Their Joint ATK DMG; (For Example, Joint ATK Of Lucy And Natsu Is Stronger; Joint ATK Of Nana And Empress Is Weaker; Other Groups Remain The Same;)<BR> <BR>3. Debug Other Known Bugs;<BR> <BR>4. Tips: Force Quit And Restart The Game After Every Update In Order To Update Successfully.</COLOR>]],
			title_begin_time = {2015,7,1,5,0,},
			title_end_time = {2015,10,14,4,59,},
			title_bone = 0,
			bone_begin_time = {2015,7,1,5,0,},
			bone_end_time = {2015,10,14,4,59,},
			sdk_name = {},
		},
}