Config = Config or {}
Config.cnfactivityres = {
		[1000] = {
			act_type = 1000,
			act_name = "累计充值",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1001] = {
			act_type = 1001,
			act_name = "首充奖励",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "shou",
			number_path = "Ui_Res_Number",
		},
		[1002] = {
			act_type = 1002,
			act_name = "单笔充值",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "",
		},
		[1003] = {
			act_type = 1003,
			act_name = "伙伴收集",
			res_path = "Ui_Res_Fengce",
			tab_res = "huobanshouji",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "",
		},
		[1004] = {
			act_type = 1004,
			act_name = "消费活动",
			res_path = "Ui_Res_Fengce",
			tab_res = "xiaofeihuodong",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "",
		},
		[1005] = {
			act_type = 1005,
			act_name = "疯狂冲级",
			res_path = "Ui_Res_Fengce",
			tab_res = "shengji",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1006] = {
			act_type = 1006,
			act_name = "魂石收集",
			res_path = "Ui_Res_Fengce",
			tab_res = "hunshi",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1007] = {
			act_type = 1007,
			act_name = "登录次数",
			res_path = "Ui_Res_Fengce",
			tab_res = "denglu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1008] = {
			act_type = 1008,
			act_name = "登录有礼",
			res_path = "Ui_Res_Fengce",
			tab_res = "denglu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1009] = {
			act_type = 1009,
			act_name = "挖宝次数",
			res_path = "Ui_Res_Fengce",
			tab_res = "wabao",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1010] = {
			act_type = 1010,
			act_name = "挖宝翻倍",
			res_path = "Ui_Res_Fengce",
			tab_res = "wabao2",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1011] = {
			act_type = 1011,
			act_name = "主线/精英额外掉落物品",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_fu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1012] = {
			act_type = 1012,
			act_name = "主线/精英副本掉落双倍",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_fu",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
			number_name = "fengce",
		},
		[1013] = {
			act_type = 1013,
			act_name = "抽卡打折",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1014] = {
			act_type = 1014,
			act_name = "体力购买",
			res_path = "Ui_Res_Fengce",
			tab_res = "tili",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1015] = {
			act_type = 1015,
			act_name = "体力八折",
			res_path = "Ui_Res_Fengce",
			tab_res = "tili",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1016] = {
			act_type = 1016,
			act_name = "抽卡乐翻天",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1017] = {
			act_type = 1017,
			act_name = "金币召唤",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1018] = {
			act_type = 1018,
			act_name = "钻石召唤",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1019] = {
			act_type = 1019,
			act_name = "神圣召唤",
			res_path = "Ui_Res_Fengce",
			tab_res = "sanxing",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1020] = {
			act_type = 1020,
			act_name = "竞技场次数",
			res_path = "Ui_Res_Fengce",
			tab_res = "jjcdaren",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1021] = {
			act_type = 1021,
			act_name = "累计充值（不会清零）",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_charge",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1022] = {
			act_type = 1022,
			act_name = "限时兑换",
			res_path = "Ui_Res_Fengce",
			tab_res = "xianshiduihuan",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1023] = {
			act_type = 1023,
			act_name = "新世界掠夺",
			res_path = "Ui_Res_Fengce",
			tab_res = "lueduo",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1024] = {
			act_type = 1024,
			act_name = "公会商店打折",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1025] = {
			act_type = 1025,
			act_name = "竞技场商店打折",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1026] = {
			act_type = 1026,
			act_name = "航海商店打折",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1027] = {
			act_type = 1027,
			act_name = "神魂商店打折",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1028] = {
			act_type = 1028,
			act_name = "世界boss概率双倍",
			res_path = "Ui_Res_Fengce",
			tab_res = "boss",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1029] = {
			act_type = 1029,
			act_name = "赏金收集",
			res_path = "Ui_Res_Fengce",
			tab_res = "shangjin",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1030] = {
			act_type = 1030,
			act_name = "限时抢购",
			res_path = "Ui_Res_Fengce",
			tab_res = "dazhe",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1035] = {
			act_type = 1035,
			act_name = "收集活动",
			res_path = "Ui_Res_Fengce",
			tab_res = "shouji",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1036] = {
			act_type = 1036,
			act_name = "寻宝次数",
			res_path = "Ui_Res_Fengce",
			tab_res = "xunbao",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1037] = {
			act_type = 1037,
			act_name = "精力购买",
			res_path = "Ui_Res_Fengce",
			tab_res = "jinli",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
		[1048] = {
			act_type = 1048,
			act_name = "每日活跃",
			res_path = "Ui_Res_Fengce",
			tab_res = "icon_gift",
			language_path = "Ui_Res_Language_Fengce",
			language_name = "",
			number_path = "Ui_Res_Number",
		},
}