Config = Config or {}
Config.cnfactrank = {
		[301] = {
			rank_type = 301,
			name = "等级榜",
			pos_name = "开服第一榜",
			rewards = {5075,5076,5077,},
			base_condition = 32,
			progress_str = [[等级:%d]],
			condition_str = [[等级达到 %s可领取]],
			base_reward = 5078,
		},
		[202] = {
			rank_type = 202,
			name = "战力榜",
			pos_name = "开服第二榜",
			rewards = {5079,5080,5081,},
			base_condition = 500000,
			progress_str = [[总战力:%d]],
			condition_str = [[总战力达到 %s可领取]],
			base_reward = 5082,
		},
		[401] = {
			rank_type = 401,
			name = "结界榜",
			pos_name = "开服第三榜",
			rewards = {5083,5084,5085,},
			base_condition = 18,
			progress_str = [[结界:%d]],
			condition_str = [[结界总阶数达到 %s可领取]],
			base_reward = 5086,
		},
		[402] = {
			rank_type = 402,
			name = "培养榜",
			pos_name = "开服第四榜",
			rewards = {5087,5088,5089,},
			base_condition = 1000,
			progress_str = [[培养:%d]],
			condition_str = [[培养提升战力达到 %s可领取]],
			base_reward = 5090,
		},
		[403] = {
			rank_type = 403,
			name = "献祭榜",
			pos_name = "开服第五榜",
			rewards = {5091,5092,5093,},
			base_condition = 100,
			progress_str = [[献祭:%d]],
			condition_str = [[伙伴献祭总等级达到 %s可领取]],
			base_reward = 5094,
		},
		[404] = {
			rank_type = 404,
			name = "崩玉榜",
			pos_name = "开服第六榜",
			rewards = {5095,5096,5097,},
			base_condition = 10,
			progress_str = [[崩玉:%d]],
			condition_str = [[伙伴崩玉总等级达到 %s 级可领取]],
			base_reward = 5098,
		},
}