Config = Config or {}
Config.cnfadventurefb = {
		[1] = {
			level_bt = {1,10,},
			offset_lv = 3,
			upgrade_lv = {1,5,1,},
			combinate_id = 1,
		},
		[2] = {
			level_bt = {11,20,},
			offset_lv = 4,
			upgrade_lv = {1,5,1,},
			combinate_id = 1,
		},
		[3] = {
			level_bt = {21,30,},
			offset_lv = 5,
			upgrade_lv = {1,5,1,},
			combinate_id = 2,
		},
		[4] = {
			level_bt = {31,40,},
			offset_lv = 6,
			upgrade_lv = {1,5,1,},
			combinate_id = 2,
		},
		[5] = {
			level_bt = {41,100,},
			offset_lv = 8,
			upgrade_lv = {1,5,1,},
			combinate_id = 2,
		},
}