Config = Config or {}
Config.cnfarenaereward = {
		[1] = {
			rank_idx = 1,
			reward_id = 8301,
		},
		[2] = {
			rank_idx = 2,
			reward_id = 8302,
		},
		[3] = {
			rank_idx = 3,
			reward_id = 8303,
		},
		[4] = {
			rank_idx = 4,
			reward_id = 8304,
		},
		[5] = {
			rank_idx = 5,
			reward_id = 8305,
		},
		[6] = {
			rank_idx = 6,
			reward_id = 8306,
		},
		[7] = {
			rank_idx = 7,
			reward_id = 8307,
		},
		[8] = {
			rank_idx = 8,
			reward_id = 8308,
		},
		[9] = {
			rank_idx = 9,
			reward_id = 8309,
		},
		[10] = {
			rank_idx = 10,
			reward_id = 8310,
		},
		[11] = {
			rank_idx = 20,
			reward_id = 8311,
		},
		[12] = {
			rank_idx = 50,
			reward_id = 8312,
		},
		[13] = {
			rank_idx = 100,
			reward_id = 8313,
		},
		[14] = {
			rank_idx = 200,
			reward_id = 8314,
		},
		[15] = {
			rank_idx = 300,
			reward_id = 8315,
		},
		[16] = {
			rank_idx = 500,
			reward_id = 8316,
		},
		[17] = {
			rank_idx = 1000,
			reward_id = 8317,
		},
		[18] = {
			rank_idx = 2000,
			reward_id = 8318,
		},
		[19] = {
			rank_idx = 3000,
			reward_id = 8319,
		},
		[20] = {
			rank_idx = 4000,
			reward_id = 8320,
		},
		[21] = {
			rank_idx = 5000,
			reward_id = 8321,
		},
		[22] = {
			rank_idx = 10000,
			reward_id = 8322,
		},
		[23] = {
			rank_idx = 100000,
			reward_id = 8323,
		},
}