Config = Config or {}
Config.cnfactandach = {
		[1] = {
			actach_id = 1,
			actach_type = 1,
			day_idx = 1,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 1,
			condition = {},
			reward_id = 2301,
		},
		[2] = {
			actach_id = 2,
			actach_type = 2,
			day_idx = 1,
			caption = "每日福利",
			title = "累积充值1000钻",
			order = 2,
			condition = {1000,},
			reward_id = 2302,
		},
		[3] = {
			actach_id = 3,
			actach_type = 4,
			day_idx = 1,
			caption = "主线副本",
			title = "普通副本通关第2章",
			order = 3,
			condition = {2,},
			reward_id = 2303,
		},
		[4] = {
			actach_id = 4,
			actach_type = 4,
			day_idx = 1,
			caption = "主线副本",
			title = "普通副本通关第3章",
			order = 4,
			condition = {3,},
			reward_id = 2304,
		},
		[5] = {
			actach_id = 5,
			actach_type = 4,
			day_idx = 1,
			caption = "主线副本",
			title = "普通副本通关第4章",
			order = 5,
			condition = {4,},
			reward_id = 2305,
		},
		[6] = {
			actach_id = 6,
			actach_type = 4,
			day_idx = 1,
			caption = "主线副本",
			title = "普通副本通关第5章",
			order = 6,
			condition = {5,},
			reward_id = 2306,
		},
		[7] = {
			actach_id = 7,
			actach_type = 3,
			day_idx = 1,
			caption = "主线副本",
			title = "战队等级达到20级",
			order = 7,
			condition = {20,},
			reward_id = 2307,
		},
		[8] = {
			actach_id = 8,
			actach_type = 3,
			day_idx = 1,
			caption = "主线副本",
			title = "战队等级达到25级",
			order = 8,
			condition = {25,},
			reward_id = 2308,
		},
		[9] = {
			actach_id = 9,
			actach_type = 3,
			day_idx = 1,
			caption = "主线副本",
			title = "战队等级达到30级",
			order = 9,
			condition = {30,},
			reward_id = 2309,
		},
		[10] = {
			actach_id = 10,
			actach_type = 5,
			day_idx = 1,
			caption = "结界进阶",
			title = "单排结界进阶至第4阶",
			order = 10,
			condition = {4,},
			reward_id = 2310,
		},
		[11] = {
			actach_id = 11,
			actach_type = 5,
			day_idx = 1,
			caption = "结界进阶",
			title = "单排结界进阶至第5阶",
			order = 11,
			condition = {5,},
			reward_id = 2311,
		},
		[12] = {
			actach_id = 12,
			actach_type = 5,
			day_idx = 1,
			caption = "结界进阶",
			title = "单排结界进阶至第6阶",
			order = 12,
			condition = {6,},
			reward_id = 2312,
		},
		[13] = {
			actach_id = 13,
			actach_type = 5,
			day_idx = 1,
			caption = "结界进阶",
			title = "单排结界进阶至第7阶",
			order = 13,
			condition = {7,},
			reward_id = 2313,
		},
		[14] = {
			actach_id = 14,
			actach_type = 17,
			day_idx = 1,
			caption = "半价抢购",
			title = "半价抢购",
			order = 14,
			condition = {265,300,},
			reward_id = 2314,
		},
		[15] = {
			actach_id = 15,
			actach_type = 1,
			day_idx = 2,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 15,
			condition = {},
			reward_id = 2315,
		},
		[16] = {
			actach_id = 16,
			actach_type = 2,
			day_idx = 2,
			caption = "每日福利",
			title = "累积充值2000钻",
			order = 16,
			condition = {2000,},
			reward_id = 2316,
		},
		[17] = {
			actach_id = 17,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第1名",
			order = 17,
			condition = {1,},
			reward_id = 2317,
		},
		[18] = {
			actach_id = 18,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第3名",
			order = 18,
			condition = {3,},
			reward_id = 2318,
		},
		[19] = {
			actach_id = 19,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第10名",
			order = 19,
			condition = {10,},
			reward_id = 2319,
		},
		[20] = {
			actach_id = 20,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第50名",
			order = 20,
			condition = {50,},
			reward_id = 2320,
		},
		[21] = {
			actach_id = 21,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第100名",
			order = 21,
			condition = {100,},
			reward_id = 2321,
		},
		[22] = {
			actach_id = 22,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第500名",
			order = 22,
			condition = {500,},
			reward_id = 2322,
		},
		[23] = {
			actach_id = 23,
			actach_type = 6,
			day_idx = 2,
			caption = "竞技场",
			title = "竞技场最高排名达到第1000名",
			order = 23,
			condition = {1000,},
			reward_id = 2323,
		},
		[24] = {
			actach_id = 24,
			actach_type = 7,
			day_idx = 2,
			caption = "英雄集结",
			title = "收集5名英雄",
			order = 24,
			condition = {5,},
			reward_id = 2324,
		},
		[25] = {
			actach_id = 25,
			actach_type = 7,
			day_idx = 2,
			caption = "英雄集结",
			title = "收集8名英雄",
			order = 25,
			condition = {8,},
			reward_id = 2325,
		},
		[26] = {
			actach_id = 26,
			actach_type = 7,
			day_idx = 2,
			caption = "英雄集结",
			title = "收集11名英雄",
			order = 26,
			condition = {11,},
			reward_id = 2326,
		},
		[27] = {
			actach_id = 27,
			actach_type = 7,
			day_idx = 2,
			caption = "英雄集结",
			title = "收集15名英雄",
			order = 27,
			condition = {15,},
			reward_id = 2327,
		},
		[28] = {
			actach_id = 28,
			actach_type = 17,
			day_idx = 2,
			caption = "半价抢购",
			title = "半价抢购",
			order = 28,
			condition = {500,300,},
			reward_id = 2328,
		},
		[29] = {
			actach_id = 29,
			actach_type = 1,
			day_idx = 3,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 29,
			condition = {},
			reward_id = 2329,
		},
		[30] = {
			actach_id = 30,
			actach_type = 2,
			day_idx = 3,
			caption = "每日福利",
			title = "累积充值3000钻",
			order = 30,
			condition = {3000,},
			reward_id = 2330,
		},
		[31] = {
			actach_id = 31,
			actach_type = 8,
			day_idx = 3,
			caption = "灵魂献祭",
			title = "最高献祭等级达到10级",
			order = 31,
			condition = {10,},
			reward_id = 2331,
		},
		[32] = {
			actach_id = 32,
			actach_type = 8,
			day_idx = 3,
			caption = "灵魂献祭",
			title = "最高献祭等级达到20级",
			order = 32,
			condition = {20,},
			reward_id = 2332,
		},
		[33] = {
			actach_id = 33,
			actach_type = 8,
			day_idx = 3,
			caption = "灵魂献祭",
			title = "最高献祭等级达到30级",
			order = 33,
			condition = {30,},
			reward_id = 2333,
		},
		[34] = {
			actach_id = 34,
			actach_type = 8,
			day_idx = 3,
			caption = "灵魂献祭",
			title = "最高献祭等级达到40级",
			order = 34,
			condition = {40,},
			reward_id = 2334,
		},
		[35] = {
			actach_id = 35,
			actach_type = 9,
			day_idx = 3,
			caption = "航海宝藏",
			title = "大航海累计获得10次橙色以上宝箱",
			order = 35,
			condition = {10,},
			reward_id = 2335,
		},
		[36] = {
			actach_id = 36,
			actach_type = 9,
			day_idx = 3,
			caption = "航海宝藏",
			title = "大航海累计获得20次橙色以上宝箱",
			order = 36,
			condition = {20,},
			reward_id = 2336,
		},
		[37] = {
			actach_id = 37,
			actach_type = 9,
			day_idx = 3,
			caption = "航海宝藏",
			title = "大航海累计获得30次橙色以上宝箱",
			order = 37,
			condition = {30,},
			reward_id = 2337,
		},
		[38] = {
			actach_id = 38,
			actach_type = 9,
			day_idx = 3,
			caption = "航海宝藏",
			title = "大航海累计获得40次橙色以上宝箱",
			order = 38,
			condition = {40,},
			reward_id = 2338,
		},
		[40] = {
			actach_id = 40,
			actach_type = 17,
			day_idx = 3,
			caption = "半价抢购",
			title = "半价抢购",
			order = 40,
			condition = {1000,300,},
			reward_id = 2340,
		},
		[41] = {
			actach_id = 41,
			actach_type = 1,
			day_idx = 4,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 41,
			condition = {},
			reward_id = 2341,
		},
		[42] = {
			actach_id = 42,
			actach_type = 2,
			day_idx = 4,
			caption = "每日福利",
			title = "累积充值5000钻",
			order = 42,
			condition = {5000,},
			reward_id = 2342,
		},
		[43] = {
			actach_id = 43,
			actach_type = 10,
			day_idx = 4,
			caption = "精英副本",
			title = "精英副本通关第2章",
			order = 43,
			condition = {2,},
			reward_id = 2343,
		},
		[44] = {
			actach_id = 44,
			actach_type = 10,
			day_idx = 4,
			caption = "精英副本",
			title = "精英副本通关第3章",
			order = 44,
			condition = {3,},
			reward_id = 2344,
		},
		[45] = {
			actach_id = 45,
			actach_type = 10,
			day_idx = 4,
			caption = "精英副本",
			title = "精英副本通关第4章",
			order = 45,
			condition = {4,},
			reward_id = 2345,
		},
		[46] = {
			actach_id = 46,
			actach_type = 10,
			day_idx = 4,
			caption = "精英副本",
			title = "精英副本通关第5章",
			order = 46,
			condition = {5,},
			reward_id = 2346,
		},
		[47] = {
			actach_id = 47,
			actach_type = 11,
			day_idx = 4,
			caption = "英雄升星",
			title = "拥有2个2星英雄",
			order = 47,
			condition = {2,2,},
			reward_id = 2347,
		},
		[48] = {
			actach_id = 48,
			actach_type = 11,
			day_idx = 4,
			caption = "英雄升星",
			title = "拥有3个2星英雄",
			order = 48,
			condition = {3,2,},
			reward_id = 2348,
		},
		[49] = {
			actach_id = 49,
			actach_type = 11,
			day_idx = 4,
			caption = "英雄升星",
			title = "拥有5个2星英雄",
			order = 49,
			condition = {5,2,},
			reward_id = 2349,
		},
		[50] = {
			actach_id = 50,
			actach_type = 11,
			day_idx = 4,
			caption = "英雄升星",
			title = "拥有2个3星英雄",
			order = 50,
			condition = {2,3,},
			reward_id = 2350,
		},
		[51] = {
			actach_id = 51,
			actach_type = 11,
			day_idx = 4,
			caption = "英雄升星",
			title = "拥有3个3星英雄",
			order = 51,
			condition = {3,3,},
			reward_id = 2351,
		},
		[52] = {
			actach_id = 52,
			actach_type = 11,
			day_idx = 4,
			caption = "英雄升星",
			title = "拥有5个3星英雄",
			order = 52,
			condition = {5,3,},
			reward_id = 2352,
		},
		[53] = {
			actach_id = 53,
			actach_type = 17,
			day_idx = 4,
			caption = "半价抢购",
			title = "半价抢购",
			order = 53,
			condition = {1000,300,},
			reward_id = 2353,
		},
		[54] = {
			actach_id = 54,
			actach_type = 1,
			day_idx = 5,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 54,
			condition = {},
			reward_id = 2354,
		},
		[55] = {
			actach_id = 55,
			actach_type = 2,
			day_idx = 5,
			caption = "每日福利",
			title = "累积充值10000钻",
			order = 55,
			condition = {10000,},
			reward_id = 2355,
		},
		[56] = {
			actach_id = 56,
			actach_type = 12,
			day_idx = 5,
			caption = "英雄进阶",
			title = "把1名英雄进阶至+3",
			order = 56,
			condition = {1,4,},
			reward_id = 2356,
		},
		[57] = {
			actach_id = 57,
			actach_type = 12,
			day_idx = 5,
			caption = "英雄进阶",
			title = "把2名英雄进阶至+3",
			order = 57,
			condition = {2,4,},
			reward_id = 2357,
		},
		[58] = {
			actach_id = 58,
			actach_type = 12,
			day_idx = 5,
			caption = "英雄进阶",
			title = "把3名英雄进阶至+3",
			order = 58,
			condition = {3,4,},
			reward_id = 2358,
		},
		[59] = {
			actach_id = 59,
			actach_type = 12,
			day_idx = 5,
			caption = "英雄进阶",
			title = "把4名英雄进阶至+3",
			order = 59,
			condition = {4,4,},
			reward_id = 2359,
		},
		[60] = {
			actach_id = 60,
			actach_type = 12,
			day_idx = 5,
			caption = "英雄进阶",
			title = "把5名英雄进阶至+3",
			order = 60,
			condition = {5,4,},
			reward_id = 2360,
		},
		[61] = {
			actach_id = 61,
			actach_type = 13,
			day_idx = 5,
			caption = "大航海",
			title = "大航海累计获得6600点历练",
			order = 61,
			condition = {6600,},
			reward_id = 2361,
		},
		[62] = {
			actach_id = 62,
			actach_type = 13,
			day_idx = 5,
			caption = "大航海",
			title = "大航海累计获得7920点历练",
			order = 62,
			condition = {7920,},
			reward_id = 2362,
		},
		[63] = {
			actach_id = 63,
			actach_type = 13,
			day_idx = 5,
			caption = "大航海",
			title = "大航海累计获得9900点历练",
			order = 63,
			condition = {9900,},
			reward_id = 2363,
		},
		[64] = {
			actach_id = 64,
			actach_type = 13,
			day_idx = 5,
			caption = "大航海",
			title = "大航海累计获得13200点历练",
			order = 64,
			condition = {13200,},
			reward_id = 2364,
		},
		[65] = {
			actach_id = 65,
			actach_type = 13,
			day_idx = 5,
			caption = "大航海",
			title = "大航海累计获得16500点历练",
			order = 65,
			condition = {16500,},
			reward_id = 2365,
		},
		[66] = {
			actach_id = 66,
			actach_type = 13,
			day_idx = 5,
			caption = "大航海",
			title = "大航海累计获得19800点历练",
			order = 66,
			condition = {19800,},
			reward_id = 2366,
		},
		[67] = {
			actach_id = 67,
			actach_type = 17,
			day_idx = 5,
			caption = "半价抢购",
			title = "半价抢购",
			order = 67,
			condition = {1000,300,},
			reward_id = 2367,
		},
		[68] = {
			actach_id = 68,
			actach_type = 1,
			day_idx = 6,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 68,
			condition = {},
			reward_id = 2368,
		},
		[69] = {
			actach_id = 69,
			actach_type = 2,
			day_idx = 6,
			caption = "每日福利",
			title = "累积充值15000钻",
			order = 69,
			condition = {15000,},
			reward_id = 2369,
		},
		[70] = {
			actach_id = 70,
			actach_type = 14,
			day_idx = 6,
			caption = "主线星数",
			title = "普通副本星数达到70星",
			order = 70,
			condition = {70,},
			reward_id = 2370,
		},
		[71] = {
			actach_id = 71,
			actach_type = 14,
			day_idx = 6,
			caption = "主线星数",
			title = "普通副本星数达到80星",
			order = 71,
			condition = {80,},
			reward_id = 2371,
		},
		[72] = {
			actach_id = 72,
			actach_type = 14,
			day_idx = 6,
			caption = "主线星数",
			title = "普通副本星数达到90星",
			order = 72,
			condition = {90,},
			reward_id = 2372,
		},
		[73] = {
			actach_id = 73,
			actach_type = 14,
			day_idx = 6,
			caption = "主线星数",
			title = "普通副本星数达到110星",
			order = 73,
			condition = {110,},
			reward_id = 2373,
		},
		[74] = {
			actach_id = 74,
			actach_type = 14,
			day_idx = 6,
			caption = "主线星数",
			title = "普通副本星数达到126星",
			order = 74,
			condition = {126,},
			reward_id = 2374,
		},
		[75] = {
			actach_id = 75,
			actach_type = 14,
			day_idx = 6,
			caption = "主线星数",
			title = "普通副本星数达到145星",
			order = 75,
			condition = {145,},
			reward_id = 2375,
		},
		[76] = {
			actach_id = 76,
			actach_type = 15,
			day_idx = 6,
			caption = "崩玉",
			title = "英雄最高崩玉等级达到1级",
			order = 76,
			condition = {1,},
			reward_id = 2376,
		},
		[77] = {
			actach_id = 77,
			actach_type = 15,
			day_idx = 6,
			caption = "崩玉",
			title = "英雄最高崩玉等级达到2级",
			order = 77,
			condition = {2,},
			reward_id = 2377,
		},
		[78] = {
			actach_id = 78,
			actach_type = 15,
			day_idx = 6,
			caption = "崩玉",
			title = "英雄最高崩玉等级达到3级",
			order = 78,
			condition = {3,},
			reward_id = 2378,
		},
		[79] = {
			actach_id = 79,
			actach_type = 15,
			day_idx = 6,
			caption = "崩玉",
			title = "英雄最高崩玉等级达到4级",
			order = 79,
			condition = {4,},
			reward_id = 2379,
		},
		[80] = {
			actach_id = 80,
			actach_type = 15,
			day_idx = 6,
			caption = "崩玉",
			title = "英雄最高崩玉等级达到5级",
			order = 80,
			condition = {5,},
			reward_id = 2380,
		},
		[81] = {
			actach_id = 81,
			actach_type = 15,
			day_idx = 6,
			caption = "崩玉",
			title = "英雄最高崩玉等级达到6级",
			order = 81,
			condition = {6,},
			reward_id = 2381,
		},
		[82] = {
			actach_id = 82,
			actach_type = 17,
			day_idx = 6,
			caption = "半价抢购",
			title = "半价抢购",
			order = 82,
			condition = {1250,300,},
			reward_id = 2382,
		},
		[83] = {
			actach_id = 83,
			actach_type = 1,
			day_idx = 7,
			caption = "每日福利",
			title = "今日登陆就送",
			order = 83,
			condition = {},
			reward_id = 2383,
		},
		[84] = {
			actach_id = 84,
			actach_type = 2,
			day_idx = 7,
			caption = "每日福利",
			title = "累积充值20000钻",
			order = 84,
			condition = {20000,},
			reward_id = 2384,
		},
		[85] = {
			actach_id = 85,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到400000",
			order = 85,
			condition = {400000,},
			reward_id = 2385,
		},
		[86] = {
			actach_id = 86,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到430000",
			order = 86,
			condition = {430000,},
			reward_id = 2386,
		},
		[87] = {
			actach_id = 87,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到450000",
			order = 87,
			condition = {450000,},
			reward_id = 2387,
		},
		[88] = {
			actach_id = 88,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到480000",
			order = 88,
			condition = {480000,},
			reward_id = 2388,
		},
		[89] = {
			actach_id = 89,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到510000",
			order = 89,
			condition = {510000,},
			reward_id = 2389,
		},
		[90] = {
			actach_id = 90,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到550000",
			order = 90,
			condition = {550000,},
			reward_id = 2390,
		},
		[91] = {
			actach_id = 91,
			actach_type = 16,
			day_idx = 7,
			caption = "战力",
			title = "竞技场防守战力达到600000",
			order = 91,
			condition = {600000,},
			reward_id = 2391,
		},
		[92] = {
			actach_id = 92,
			actach_type = 3,
			day_idx = 7,
			caption = "战队等级",
			title = "战队等级达到34级",
			order = 92,
			condition = {34,},
			reward_id = 2392,
		},
		[93] = {
			actach_id = 93,
			actach_type = 3,
			day_idx = 7,
			caption = "战队等级",
			title = "战队等级达到36级",
			order = 93,
			condition = {36,},
			reward_id = 2393,
		},
		[94] = {
			actach_id = 94,
			actach_type = 3,
			day_idx = 7,
			caption = "战队等级",
			title = "战队等级达到38级",
			order = 94,
			condition = {38,},
			reward_id = 2394,
		},
		[95] = {
			actach_id = 95,
			actach_type = 3,
			day_idx = 7,
			caption = "战队等级",
			title = "战队等级达到40级",
			order = 95,
			condition = {40,},
			reward_id = 2395,
		},
		[96] = {
			actach_id = 96,
			actach_type = 3,
			day_idx = 7,
			caption = "战队等级",
			title = "战队等级达到43级",
			order = 96,
			condition = {43,},
			reward_id = 2396,
		},
		[97] = {
			actach_id = 97,
			actach_type = 3,
			day_idx = 7,
			caption = "战队等级",
			title = "战队等级达到46级",
			order = 97,
			condition = {46,},
			reward_id = 2397,
		},
		[98] = {
			actach_id = 98,
			actach_type = 17,
			day_idx = 7,
			caption = "半价抢购",
			title = "半价抢购",
			order = 98,
			condition = {2500,300,},
			reward_id = 2398,
		},
}