Config = Config or {}
Config.cnfattrdescribe = {
		[1] = {
			id = 1,
			describe = [[力量：增加物理护甲，影响力量英雄的伤害倍率]],
			property_name = [[力量]],
		},
		[2] = {
			id = 2,
			describe = [[敏捷：增加攻击速率与闪避率，影响敏捷英雄的伤害倍率]],
			property_name = [[敏捷]],
		},
		[3] = {
			id = 3,
			describe = [[智力：增加魔法护甲，影响智力英雄的伤害倍率]],
			property_name = [[智力]],
		},
		[4] = {
			id = 4,
			describe = [[活力：影响生命值]],
			property_name = [[活力]],
		},
		[5] = {
			id = 5,
			describe = [[物理强度：物理普攻基础伤害]],
			property_name = [[物强]],
		},
		[6] = {
			id = 6,
			describe = [[魔法强度：魔法普攻基础伤害]],
			property_name = [[魔强]],
		},
		[7] = {
			id = 7,
			describe = [[物理抗性：降低所受物理伤害]],
			property_name = [[物抗]],
		},
		[8] = {
			id = 8,
			describe = [[魔法抗性：降低所受魔法伤害]],
			property_name = [[魔抗]],
		},
		[9] = {
			id = 9,
			describe = [[物理护甲：降低所受物理伤害]],
			property_name = [[物甲]],
		},
		[10] = {
			id = 10,
			describe = [[魔法护甲：降低所受魔法伤害]],
			property_name = [[魔甲]],
		},
		[11] = {
			id = 11,
			describe = [[物防穿透：抵消物理抗性值]],
			property_name = [[物防穿透]],
		},
		[12] = {
			id = 12,
			describe = [[魔防穿透：抵消魔法抗性值]],
			property_name = [[魔防穿透]],
		},
		[13] = {
			id = 13,
			describe = [[物甲穿透：抵消物理护甲值]],
			property_name = [[物甲穿透]],
		},
		[14] = {
			id = 14,
			describe = [[魔甲穿透：抵消魔法护甲值]],
			property_name = [[魔甲穿透]],
		},
		[15] = {
			id = 15,
			describe = [[命中：影响攻击的命中率]],
			property_name = [[命中]],
		},
		[16] = {
			id = 16,
			describe = [[闪避：影响攻击的闪避率]],
			property_name = [[闪避]],
		},
		[17] = {
			id = 17,
			describe = [[反伤：有概率降低所受一半伤害，并将降低的伤害反弹给伤害来源]],
			property_name = [[招架]],
		},
		[18] = {
			id = 18,
			describe = [[格挡：有概率降低所受一半伤害]],
			property_name = [[格挡]],
		},
		[19] = {
			id = 19,
			describe = [[连击：有概率连续攻击多次]],
			property_name = [[连击]],
		},
		[20] = {
			id = 20,
			describe = [[辗压：有概率无视对方防御，并造成1.5倍伤害]],
			property_name = [[辗压]],
		},
		[21] = {
			id = 21,
			describe = [[物理暴击：有概率发生1.5倍物理伤害]],
			property_name = [[物理暴击]],
		},
		[22] = {
			id = 22,
			describe = [[魔法暴击：有概率发生1.5倍魔法伤害]],
			property_name = [[魔法暴击]],
		},
		[23] = {
			id = 23,
			describe = [[暴伤：提高暴击伤害倍率]],
			property_name = [[暴伤]],
		},
		[24] = {
			id = 24,
			describe = [[韧性：降低暴击伤害倍率]],
			property_name = [[韧性]],
		},
		[25] = {
			id = 25,
			describe = [[伤害率：伤害加深倍率]],
			property_name = [[伤害率]],
		},
		[26] = {
			id = 26,
			describe = [[闪避率：闪避成功倍率]],
			property_name = [[闪避率]],
		},
		[27] = {
			id = 27,
			describe = [[物理暴击率：物理暴击成功倍率]],
			property_name = [[物理暴击率]],
		},
		[28] = {
			id = 28,
			describe = [[魔法暴击率：魔法暴击成功倍率]],
			property_name = [[魔法暴击率]],
		},
		[29] = {
			id = 29,
			describe = [[暴伤率：暴击伤害增加倍率]],
			property_name = [[暴伤率]],
		},
		[30] = {
			id = 30,
			describe = [[韧性率：暴击伤害降低倍率]],
			property_name = [[韧性率]],
		},
		[31] = {
			id = 31,
			describe = [[反伤率：有概率使所受伤害减半，并将另一半伤害反弹给伤害来源]],
			property_name = [[招架率]],
		},
		[32] = {
			id = 32,
			describe = [[格挡率：有概率使所受伤害减半]],
			property_name = [[格挡率]],
		},
		[33] = {
			id = 33,
			describe = [[连击率：有概率连续攻击多次]],
			property_name = [[连击率]],
		},
		[34] = {
			id = 34,
			describe = [[辗压率：有概率无视对方防御，并造成1.5倍伤害]],
			property_name = [[辗压率]],
		},
		[35] = {
			id = 35,
			describe = [[命中率：命中成功倍率]],
			property_name = [[命中率]],
		},
		[36] = {
			id = 36,
			describe = [[攻击速度率：攻击速度增加倍率]],
			property_name = [[攻击速度率]],
		},
		[37] = {
			id = 37,
			describe = [[闪避缩放率：闪避整体放大倍率]],
			property_name = [[闪避缩放率]],
		},
		[38] = {
			id = 38,
			describe = [[物理暴击缩放率：物理暴击整体放大倍率]],
			property_name = [[物理暴击缩放率]],
		},
		[39] = {
			id = 39,
			describe = [[魔法暴击缩放率：魔法暴击整体放大倍率]],
			property_name = [[魔法暴击缩放率]],
		},
		[40] = {
			id = 40,
			describe = [[暴伤缩放率：暴伤整体放大倍率]],
			property_name = [[暴伤缩放率]],
		},
		[41] = {
			id = 41,
			describe = [[韧性缩放率：韧性整体放大倍率]],
			property_name = [[韧性缩放率]],
		},
		[42] = {
			id = 42,
			describe = [[反伤缩放率：反伤整体放大倍率]],
			property_name = [[招架缩放率]],
		},
		[43] = {
			id = 43,
			describe = [[格挡缩放率：格挡整体放大倍率]],
			property_name = [[格挡缩放率]],
		},
		[44] = {
			id = 44,
			describe = [[连击缩放率：连击整体放大倍率]],
			property_name = [[连击缩放率]],
		},
		[45] = {
			id = 45,
			describe = [[辗压缩放率：碾压整体放大倍率]],
			property_name = [[辗压缩放率]],
		},
		[46] = {
			id = 46,
			describe = [[命中缩放率：命中整体放大倍率]],
			property_name = [[命中缩放率]],
		},
		[47] = {
			id = 47,
			describe = [[攻速缩放率：攻击速度整体放大倍率]],
			property_name = [[攻击速度缩放率]],
		},
		[48] = {
			id = 48,
			describe = [[攻速加成：攻速加成]],
			property_name = [[攻速加成]],
		},
		[49] = {
			id = 49,
			describe = [[生命回复：生命过场景回复值]],
			property_name = [[生命回复]],
		},
		[50] = {
			id = 50,
			describe = [[怒气回复：怒气过场景回复值]],
			property_name = [[怒气回复]],
		},
		[51] = {
			id = 51,
			describe = [[生命：生命值]],
			property_name = [[生命值]],
		},
		[53] = {
			id = 53,
			describe = [[基本速度：基本攻击间隔]],
			property_name = [[基本速度]],
		},
		[54] = {
			id = 54,
			describe = [[面板加速：攻速加成]],
			property_name = [[面板加速]],
		},
		[62] = {
			id = 62,
			describe = [[吸血：伤害按比例转化为回复生命]],
			property_name = [[吸血]],
		},
		[63] = {
			id = 63,
			describe = [[免伤率：伤害减免倍率]],
			property_name = [[免伤率]],
		},
		[66] = {
			id = 66,
			describe = [[伤害加深：提高伤害的百分比]],
			property_name = [[伤害加深]],
		},
		[56] = {
			id = 56,
			describe = [[初始怒气：战斗开始时带有的怒气]],
			property_name = [[初始怒气]],
		},
		[84] = {
			id = 84,
			describe = [[吸血率：攻击时按比例回复自身生命]],
			property_name = [[吸血]],
		},
}