Config = Config or {}
Config.cnfbadgeexchange = {
		[1] = {
			exchange_id = 1,
			item_id = 3716,
			item_num = 5,
			max_exchange = 10,
			resume_time = 3600,
			cost = 7500,
		},
		[2] = {
			exchange_id = 2,
			item_id = 3711,
			item_num = 2,
			max_exchange = 10,
			resume_time = 7200,
			cost = 12000,
		},
		[3] = {
			exchange_id = 3,
			item_id = 3733,
			item_num = 5,
			max_exchange = 10,
			resume_time = 3600,
			cost = 15000,
		},
		[4] = {
			exchange_id = 4,
			item_id = 3703,
			item_num = 5,
			max_exchange = 10,
			resume_time = 3600,
			cost = 15000,
		},
		[5] = {
			exchange_id = 5,
			item_id = 3901,
			item_num = 5,
			max_exchange = 10,
			resume_time = 14400,
			cost = 30000,
		},
		[6] = {
			exchange_id = 6,
			item_id = 4023,
			item_num = 5,
			max_exchange = 5,
			resume_time = 14400,
			cost = 45000,
		},
		[7] = {
			exchange_id = 7,
			item_id = 3906,
			item_num = 1,
			max_exchange = 2,
			resume_time = 43200,
			cost = 120000,
		},
		[8] = {
			exchange_id = 8,
			item_id = 3605,
			item_num = 1,
			max_exchange = 1,
			resume_time = 86400,
			cost = 200000,
		},
		[9] = {
			exchange_id = 9,
			item_id = 3851,
			item_num = 1,
			max_exchange = 1,
			resume_time = 86400,
			cost = 135000,
		},
		[10] = {
			exchange_id = 10,
			item_id = 3582,
			item_num = 1,
			max_exchange = 2,
			resume_time = 43200,
			cost = 90000,
		},
}