Config = Config or {}
Config.cnfbattleattr = {
		[1] = {
			attr_type = 1,
			attr_name = "力量",
		},
		[2] = {
			attr_type = 2,
			attr_name = "敏捷",
		},
		[3] = {
			attr_type = 3,
			attr_name = "智力",
			attr_name_res = "",
		},
		[4] = {
			attr_type = 4,
			attr_name = "活力",
			attr_name_res = "",
		},
		[5] = {
			attr_type = 5,
			attr_name = "物理强度",
			attr_name_res = "moqiang",
		},
		[6] = {
			attr_type = 6,
			attr_name = "魔法强度",
			attr_name_res = "wuqiang",
		},
		[7] = {
			attr_type = 7,
			attr_name = "物理抗性",
			attr_name_res = "",
		},
		[8] = {
			attr_type = 8,
			attr_name = "魔法抗性",
			attr_name_res = "",
		},
		[9] = {
			attr_type = 9,
			attr_name = "物理护甲",
			attr_name_res = "wujia",
		},
		[10] = {
			attr_type = 10,
			attr_name = "魔法护甲",
			attr_name_res = "mojia",
		},
		[11] = {
			attr_type = 11,
			attr_name = "物防穿透",
			attr_name_res = "wuchuan",
		},
		[12] = {
			attr_type = 12,
			attr_name = "魔防穿透",
			attr_name_res = "mochuan",
		},
		[13] = {
			attr_type = 13,
			attr_name = "物甲穿透",
			attr_name_res = "wuchuan",
		},
		[14] = {
			attr_type = 14,
			attr_name = "魔甲穿透",
			attr_name_res = "mochuan",
		},
		[15] = {
			attr_type = 15,
			attr_name = "命中",
			attr_name_res = "",
		},
		[16] = {
			attr_type = 16,
			attr_name = "闪避",
			attr_name_res = "",
		},
		[17] = {
			attr_type = 17,
			attr_name = "招架",
			attr_name_res = "",
		},
		[18] = {
			attr_type = 18,
			attr_name = "格挡",
			attr_name_res = "",
		},
		[19] = {
			attr_type = 19,
			attr_name = "连击",
			attr_name_res = "",
		},
		[20] = {
			attr_type = 20,
			attr_name = "碾压",
			attr_name_res = "",
		},
		[21] = {
			attr_type = 21,
			attr_name = "物理暴击",
			attr_name_res = "",
		},
		[22] = {
			attr_type = 22,
			attr_name = "魔法暴击",
			attr_name_res = "",
		},
		[23] = {
			attr_type = 23,
			attr_name = "暴伤",
			attr_name_res = "",
		},
		[24] = {
			attr_type = 24,
			attr_name = "韧性",
			attr_name_res = "",
		},
		[25] = {
			attr_type = 25,
			attr_name = "伤害率",
			attr_name_res = "",
		},
		[26] = {
			attr_type = 26,
			attr_name = "闪避率",
			attr_name_res = "",
		},
		[27] = {
			attr_type = 27,
			attr_name = "物暴率",
			attr_name_res = "",
		},
		[28] = {
			attr_type = 28,
			attr_name = "魔暴率",
			attr_name_res = "",
		},
		[29] = {
			attr_type = 29,
			attr_name = "暴伤率",
			attr_name_res = "",
		},
		[30] = {
			attr_type = 30,
			attr_name = "韧性率",
			attr_name_res = "",
		},
		[31] = {
			attr_type = 31,
			attr_name = "招架率",
			attr_name_res = "",
		},
		[32] = {
			attr_type = 32,
			attr_name = "格挡率",
			attr_name_res = "",
		},
		[33] = {
			attr_type = 33,
			attr_name = "连击率",
			attr_name_res = "",
		},
		[34] = {
			attr_type = 34,
			attr_name = "碾压率",
			attr_name_res = "",
		},
		[35] = {
			attr_type = 35,
			attr_name = "命中率",
			attr_name_res = "",
		},
		[36] = {
			attr_type = 36,
			attr_name = "攻速率",
			attr_name_res = "",
		},
		[37] = {
			attr_type = 37,
			attr_name = "闪避缩放",
			attr_name_res = "",
		},
		[38] = {
			attr_type = 38,
			attr_name = "物暴缩放",
			attr_name_res = "",
		},
		[39] = {
			attr_type = 39,
			attr_name = "魔暴缩放",
			attr_name_res = "",
		},
		[40] = {
			attr_type = 40,
			attr_name = "暴伤缩放",
			attr_name_res = "",
		},
		[41] = {
			attr_type = 41,
			attr_name = "韧性缩放",
			attr_name_res = "",
		},
		[42] = {
			attr_type = 42,
			attr_name = "招架缩放",
			attr_name_res = "",
		},
		[43] = {
			attr_type = 43,
			attr_name = "格挡缩放",
			attr_name_res = "",
		},
		[44] = {
			attr_type = 44,
			attr_name = "连击缩放",
			attr_name_res = "",
		},
		[45] = {
			attr_type = 45,
			attr_name = "碾压缩放",
			attr_name_res = "",
		},
		[46] = {
			attr_type = 46,
			attr_name = "命中缩放",
			attr_name_res = "",
		},
		[47] = {
			attr_type = 47,
			attr_name = "攻速缩放",
			attr_name_res = "",
		},
		[48] = {
			attr_type = 48,
			attr_name = "攻速加成",
			attr_name_res = "gongsu",
		},
		[49] = {
			attr_type = 49,
			attr_name = "回复",
			attr_name_res = "huifu",
		},
		[50] = {
			attr_type = 50,
			attr_name = "怒气回复",
			attr_name_res = "nuqihuifu",
		},
		[51] = {
			attr_type = 51,
			attr_name = "最大生命",
			attr_name_res = "zuidashengming",
		},
		[52] = {
			attr_type = 52,
			attr_name = "移动速度",
			attr_name_res = "",
		},
		[53] = {
			attr_type = 53,
			attr_name = "攻击速度",
			attr_name_res = "",
		},
		[54] = {
			attr_type = 54,
			attr_name = "面板加速",
			attr_name_res = "",
		},
		[55] = {
			attr_type = 55,
			attr_name = "攻击间隔",
			attr_name_res = "",
		},
		[62] = {
			attr_type = 62,
			attr_name = "吸血",
			attr_name_res = "",
		},
		[63] = {
			attr_type = 63,
			attr_name = "免伤率",
			attr_name_res = "",
		},
		[66] = {
			attr_type = 66,
			attr_name = "伤害加深",
			attr_name_res = "",
		},
		[67] = {
			attr_type = 67,
			attr_name = "攻速惩罚",
			attr_name_res = "",
		},
		[68] = {
			attr_type = 68,
			attr_name = "基础攻速率",
			attr_name_res = "",
		},
}