Config = Config or {}
Config.cnfbattlepoptxt = {
		[1] = {
			txt_type = 1,
			layout_id = 1,
			pos_type = 1,
			anim_type = 2,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[2] = {
			txt_type = 2,
			layout_id = 1,
			pos_type = 1,
			anim_type = 2,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "red_big_font",
			spine_key = 0,
			sign = "-",
			scale = 1.5,
			pop_dir = 0,
		},
		[3] = {
			txt_type = 3,
			layout_id = 2,
			pos_type = 2,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 2,
			anim_id = 225,
			anim2 = 227,
			txt_key = "zhongdu",
			num_key = "green_posion_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 1,
		},
		[4] = {
			txt_type = 4,
			layout_id = 3,
			pos_type = 2,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 1,
			anim_id = 226,
			anim2 = 227,
			txt_key = "zhuoshao",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 1,
		},
		[5] = {
			txt_type = 5,
			layout_id = 2,
			pos_type = 2,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 2,
			anim_id = 225,
			anim2 = 227,
			txt_key = "liuxue",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 1,
		},
		[6] = {
			txt_type = 6,
			layout_id = 3,
			pos_type = 2,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 1,
			anim_id = 224,
			anim2 = 227,
			txt_key = "zuzhou",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 1,
		},
		[7] = {
			txt_type = 7,
			layout_id = 4,
			pos_type = 1,
			anim_type = 2,
			off_x = -30,
			off_y = -10,
			align = 2,
			anim_id = 222,
			anim2 = 227,
			txt_key = "",
			num_key = "green_font",
			spine_key = 0,
			sign = "+",
			scale = 1,
			pop_dir = 0,
		},
		[8] = {
			txt_type = 8,
			layout_id = 5,
			pos_type = 1,
			anim_type = 3,
			off_x = -30,
			off_y = -10,
			align = 1,
			anim_id = 223,
			anim2 = 227,
			txt_key = "gold_coin",
			num_key = "yellow_font",
			spine_key = 0,
			sign = "+",
			scale = 1,
			pop_dir = 0,
		},
		[9] = {
			txt_type = 9,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "miss",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[10] = {
			txt_type = 10,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "evade",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[11] = {
			txt_type = 11,
			layout_id = 1,
			pos_type = 1,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "parry",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[12] = {
			txt_type = 12,
			layout_id = 1,
			pos_type = 1,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "block",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[13] = {
			txt_type = 13,
			layout_id = 1,
			pos_type = 1,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "crit_hit",
			num_key = "red_big_font",
			spine_key = 0,
			sign = "-",
			scale = 1.5,
			pop_dir = 0,
		},
		[14] = {
			txt_type = 14,
			layout_id = 1,
			pos_type = 1,
			anim_type = 3,
			off_x = 30,
			off_y = -10,
			align = 1,
			anim_id = 223,
			anim2 = 227,
			txt_key = "kill_reward",
			num_key = "yellow_anger_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[15] = {
			txt_type = 15,
			layout_id = 1,
			pos_type = 1,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "combo_hit",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[16] = {
			txt_type = 16,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4352",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[17] = {
			txt_type = 17,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4362",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[18] = {
			txt_type = 18,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "undead",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[19] = {
			txt_type = 19,
			layout_id = 1,
			pos_type = 1,
			anim_type = 3,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "fanshang",
			num_key = "red_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[20] = {
			txt_type = 20,
			layout_id = 5,
			pos_type = 1,
			anim_type = 2,
			off_x = 30,
			off_y = -10,
			align = 1,
			anim_id = 223,
			anim2 = 227,
			txt_key = "",
			num_key = "yellow_anger_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[21] = {
			txt_type = 21,
			layout_id = 1,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[22] = {
			txt_type = 22,
			layout_id = 6,
			pos_type = 2,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 1,
		},
		[23] = {
			txt_type = 23,
			layout_id = 1,
			pos_type = 1,
			anim_type = 0,
			off_x = 30,
			off_y = -10,
			align = 1,
			anim_id = 223,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[24] = {
			txt_type = 24,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "chaofeng",
			num_key = "",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[25] = {
			txt_type = 25,
			layout_id = 1,
			pos_type = 1,
			anim_type = 2,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "green_posion_font",
			spine_key = 0,
			sign = "-",
			scale = 1,
			pop_dir = 0,
		},
		[26] = {
			txt_type = 26,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "shmy",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10042] = {
			txt_type = 10042,
			layout_id = 1,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10192] = {
			txt_type = 10192,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4192",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10202] = {
			txt_type = 10202,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4202",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10212] = {
			txt_type = 10212,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4212",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10222] = {
			txt_type = 10222,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4222",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10232] = {
			txt_type = 10232,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4232",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10242] = {
			txt_type = 10242,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4242",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10252] = {
			txt_type = 10252,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4252",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10262] = {
			txt_type = 10262,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4262",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10272] = {
			txt_type = 10272,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4272",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10282] = {
			txt_type = 10282,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4282",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10292] = {
			txt_type = 10292,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4292",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10302] = {
			txt_type = 10302,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4302",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10312] = {
			txt_type = 10312,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4312",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10322] = {
			txt_type = 10322,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4322",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10332] = {
			txt_type = 10332,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4332",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10342] = {
			txt_type = 10342,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4342",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10352] = {
			txt_type = 10352,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4352",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10362] = {
			txt_type = 10362,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4362",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10372] = {
			txt_type = 10372,
			layout_id = 1,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10392] = {
			txt_type = 10392,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4392",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10402] = {
			txt_type = 10402,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4402",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10412] = {
			txt_type = 10412,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4412",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10422] = {
			txt_type = 10422,
			layout_id = 1,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10432] = {
			txt_type = 10432,
			layout_id = 1,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10452] = {
			txt_type = 10452,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4332",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10502] = {
			txt_type = 10502,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4502",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10832] = {
			txt_type = 10832,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4422",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[10902] = {
			txt_type = 10902,
			layout_id = 1,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 221,
			anim2 = 227,
			txt_key = "eft_4422",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 0,
		},
		[11012] = {
			txt_type = 11012,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5012",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11022] = {
			txt_type = 11022,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5022",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11032] = {
			txt_type = 11032,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5032",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11042] = {
			txt_type = 11042,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5042",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11052] = {
			txt_type = 11052,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5052",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11062] = {
			txt_type = 11062,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5062",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11072] = {
			txt_type = 11072,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5072",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11082] = {
			txt_type = 11082,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5082",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11092] = {
			txt_type = 11092,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5092",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11102] = {
			txt_type = 11102,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5102",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11112] = {
			txt_type = 11112,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5112",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11122] = {
			txt_type = 11122,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5122",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11132] = {
			txt_type = 11132,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5132",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11142] = {
			txt_type = 11142,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5142",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11152] = {
			txt_type = 11152,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5152",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11162] = {
			txt_type = 11162,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5162",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11172] = {
			txt_type = 11172,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5172",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11182] = {
			txt_type = 11182,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5182",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11192] = {
			txt_type = 11192,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5192",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11202] = {
			txt_type = 11202,
			layout_id = 6,
			pos_type = 1,
			anim_type = 1,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "eft_5102",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11212] = {
			txt_type = 11212,
			layout_id = 6,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
		[11222] = {
			txt_type = 11222,
			layout_id = 6,
			pos_type = 1,
			anim_type = 0,
			off_x = 0,
			off_y = -10,
			align = 0,
			anim_id = 224,
			anim2 = 227,
			txt_key = "",
			num_key = "",
			spine_key = 0,
			sign = "",
			scale = 1,
			pop_dir = 1,
		},
}