Config = Config or {}
Config.cnfbattlestory = {
		[590401] = {
			story_idx = 590401,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,-1,1,},{1,2,1,1.5,100026,0,-1,},{4,2,1,2,10175,40,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1041,0,50,5,5,},{1017,0,50,5,5,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[590501] = {
			story_idx = 590501,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,-1,1,},{1,2,1,1.5,100026,0,-1,},{4,2,1,2,10345,40,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1034,0,50,5,5,},{1012,0,50,5,5,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[590601] = {
			story_idx = 590601,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,4,1,},{1,2,1,1.5,100026,0,6,},{4,2,1,2,10335,1,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1033,0,50,5,5,},{1026,0,50,5,5,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[590701] = {
			story_idx = 590701,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,-1,1,},{1,2,1,1.5,100026,0,-1,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1005,0,50,5,5,},{1019,0,50,5,5,},},
			time_story = {{-1,88,},{4,2,1,2,10055,1,},},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[590801] = {
			story_idx = 590801,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,-1,1,},{1,2,1,1.5,100026,0,-1,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1064,0,50,5,5,},{1065,0,50,5,5,},},
			time_story = {{-1,88,},{4,2,1,2,10655,1,},},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[591101] = {
			story_idx = 591101,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,-1,1,},{1,2,1,1.5,100026,0,-1,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1061,0,50,5,5,},{1028,0,50,5,5,},},
			time_story = {{-1,88,},{4,2,1,2,10615,1,},},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[591201] = {
			story_idx = 591201,
			move_end_story = {},
			battle_start_story = {{0,},{1,1,1,1.5,100026,0,-1,1,},{1,2,1,1.5,100026,0,-1,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>今天的合体技能展示完毕了]],3,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1061,0,50,5,5,},{1028,0,50,5,5,},},
			time_story = {{-1,88,},{4,2,1,2,10615,1,},},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[500101] = {
			story_idx = 500101,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>弟弟你总算来了，我被女神甩下来后砸到这个大丑鼻子，和他结下梁子，好难缠。</COLOR>]],5,0,1011,[[火拳]],},{0,1,[[<COLOR VALUE=FF442C0C>你说谁鼻子丑？光明婊砸的走狗，邪神大人终将会踏平你们光明神殿！</COLOR>]],5,1,1013,[[小丑王]],},},
			battle_start_story = {{0,},{1,1,1,1.5,0,0,-1,1,},{1,4,1,1.5,0,0,-1,1,},{1,5,1,1.5,0,1,1,1,0.95,},{1,6,1,1.5,0,1,3,1,0.95,},{1,7,1,1.5,0,1,4,1,0.95,},{1,8,1,1.5,0,1,6,1,0.95,},{1,11,1,1.5,0,1,-1,0,},},
			obj_dead_story = {{8,},{0,1,[[<COLOR VALUE=FF442C0C>哼!看我杀手锏~出来吧！禽兽之王！</COLOR>]],5,1,1013,[[小丑王]],},{0,15,[[<COLOR VALUE=FF442C0C>喵！！！</COLOR>]],5,1,7016,[[禽兽之王]],},{1,15,1,1.5,0,1,5,0,1.1,},{20,1,6000,},{20,4,6000,},{3,15,},},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>黄毛，你们两个人怎么变成一个人啦？！</COLOR>]],5,0,1042,[[小飞侠]],},{7,1,[[<b3> <b3> <b3>]],2,},{0,1,[[<COLOR VALUE=FF442C0C>这叫合体，和你们的合击技不同。<COLOR VALUE=FFFF0000>12级</COLOR>开启竞技场后就可以去<COLOR VALUE=FFFF0000>竞技场商店</COLOR>兑换我们。</COLOR>]],5,0,1033,[[空空]],},},
			battle_end_story2 = {},
			obj_list = {{7001,1042,5,3,1,1,1042,},{1025,1025,1,1,1,1,},{1045,1045,1,1,1,1,},{7002,1011,5,3,1,1,1011,},{7013,2037,1,1,1,0,},{7014,2037,1,1,1,0,},{7012,2037,1,1,1,0,},{7008,2037,5,1,1,0,},{7009,2037,8,1,1,0,},{7010,1002,5,1,1,0,},{7015,1013,5,1,1,0,1013,},{7011,1002,8,1,1,0,},{7003,1033,20,20,5,1,},{7004,1026,20,20,5,1,},{7016,2037,20,10,6,0,},},
			time_story = {{-1,88,},{6,5,499,},{6,6,499,},{6,7,499,},{6,8,499,},{6,1,1500,},{6,4,1500,},{6,11,2000,},{8,1,300,},{8,4,300,},{8,11,400,},{-1,87,},{7,1,[[看我橡胶拳！]],2,},{-1,86,},{3,1,},{11,1,1,0,[[点击头像释放大招！]],},{-1,85,},{7,4,[[我的大火柱！时尚~最时尚~]],2,},{-1,84,},{3,4,},{11,1,4,0,[[点击头像释放大招！]],},{-1,83,},{7,11,[[小鬼，你就这点本事？]],},{-1,82,},{0,1,[[<COLOR VALUE=FF442C0C>弟弟用合击清理小怪！</COLOR>]],5,0,1011,[[火拳]],},{3,1,},{3,4,},{9,5,699,},{9,6,643,},{9,7,591,},{9,8,587,},{9,11,512,},{11,2,1,4,[[点击合击按钮释放合击技！]],},{-1,80,},{3,15,},{-1,74,},{0,1,[[<COLOR VALUE=FF442C0C>哥，这大猫太猛，我们怎么办？</COLOR>]],5,0,1042,[[小飞侠]],},{0,1,[[<COLOR VALUE=FF442C0C>小兄弟不要怕，光明女神派我们来救援！</COLOR>]],5,0,1033,[[空空]],},{1,13,1,0.3,0,0,4,1,1,1,-500,300,},{1,14,1,0.3,0,0,6,0,1,1,-520,320,},{6,13,3000,},{6,14,3000,},{8,13,900,},{8,14,700,},{-1,73,},{6,15,1800,},{8,11,0,},{3,13,},{3,14,},{11,2,13,14,[[点击合体按钮成为超级战士！]],},},
			story_skill = 1,
			is_yazhen = 1,
			condition_story = {},
		},
		[500202] = {
			story_idx = 500202,
			move_end_story = {{0,},{8,1,30,},{8,8,70,},{17,7,25,},{0,3,[[<COLOR VALUE=FF442C0C>都还没打呢，哭什么？眼泪还是黑色的！</COLOR>]],5,0,1042,[[小飞侠]],},{0,3,[[<COLOR VALUE=FF442C0C>混账！一会用你捏橡皮人！</COLOR>]],5,1,1004,[[小乌]],},},
			battle_start_story = {{0,},{1,1,1,1.5,0,0,-1,1,},{1,8,1,1.5,0,0,-1,1,},{1,7,1,1.5,0,1,-1,1,1.5,},{1,3,1,1.5,0,1,1,1,0.95,},{1,4,1,1.5,0,1,2,1,0.95,},{1,5,1,1.5,0,1,3,0,0.95,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,8,[[<COLOR VALUE=FF442C0C>邪神大人已经收集了我的血液，帮我制作不死肉身！</COLOR>]],5,1,1004,[[小乌]],},{1,9,1,1.5,0,0,-1,0,},{0,1,[[<COLOR VALUE=FF442C0C>傻孩子，你被他利用了，他收集你的血液不过是要制造你的克隆体去送死而已！</COLOR>]],5,0,1001,[[光明女神]],},{0,8,[[<COLOR VALUE=FF442C0C>不可能！我对邪神大人忠心耿耿！</COLOR>]],5,1,1004,[[小乌]],},{0,1,[[<COLOR VALUE=FF442C0C>好，一会就让你看清邪神的阴谋</COLOR>]],5,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1042,1042,8,1,1,1,},{1011,1011,8,1,1,1,},{2003,1002,1,1,1,},{2003,1002,1,1,1,},{2003,1002,1,1,1,},{7028,1036,30,2,1,1,1036,},{1004,1004,5,8,4,0,},{7002,1011,5,3,2,1,1011,},{1001,1001,5,1,1,},},
			time_story = {{-1,88,},{6,1,1000,},{6,2,1000,},{6,3,460,},{6,4,460,},{6,5,460,},{6,7,1300,},{-1,83,},{7,1,[[这面具男好强！]],1,},},
			story_skill = 1,
			is_yazhen = 1,
			condition_story = {},
		},
		[500302] = {
			story_idx = 500302,
			move_end_story = {{0,},{0,2,[[<COLOR VALUE=FF442C0C>啊见鬼，我还真的被复制了！</COLOR>]],5,0,1004,[[小乌]],},{0,2,[[<COLOR VALUE=FF442C0C>背叛邪神的蠢货，你将会付出惨重代价！</COLOR>]],5,1,1004,[[小乌克隆体]],},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,1,[[<COLOR VALUE=FF442C0C>看到没，你的完美克隆体！</COLOR>]],5,0,1042,[[小飞侠]],},{0,1,[[<COLOR VALUE=FF442C0C>可恶，我最恨冒牌货！我将跟你们一起，对抗邪神！</COLOR>]],5,0,1004,[[小乌]],},},
			battle_end_story2 = {},
			obj_list = {{1042,1042,10,1,1,1,},{1004,1004,10,1,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[500501] = {
			story_idx = 500501,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>臭小子，我们又见面了！</COLOR>]],5,1,1013,[[小丑王]],},{8,8,50,},{8,2,50,},{0,2,[[<COLOR VALUE=FF442C0C>你还敢来？不怕我烧你裤子？</COLOR>]],5,0,1011,[[火拳]],},{6,8,700,},},
			battle_start_story = {{0,},{1,1,1,1.5,0,1,-1,1,},{1,8,1,1.5,0,0,-1,1,},{1,2,1,1.5,0,0,-1,1,},{1,5,1,1.5,0,1,1,1,0.95,},{1,6,1,1.5,0,1,2,1,0.95,},{8,8,50,},{8,2,50,},{1,7,1,1.5,0,1,3,0,0.95,},{8,8,50,},},
			obj_dead_story = {{7,},{0,1,[[<COLOR VALUE=FF442C0C>有两下子，再来点魔兵怎么样？哈哈哈哈！</COLOR>]],5,1,1013,[[小丑王]],},{1,3,1,1.5,0,1,1,1,0.95,},{1,4,1,1.5,0,1,2,1,0.95,},{1,5,1,1.5,0,1,3,1,0.95,},{1,6,1,1.5,0,1,4,1,0.95,},{1,7,1,1.5,0,1,6,0,0.95,},{0,-1,[[<COLOR VALUE=FF442C0C>来得正好，哥哥我们练合击！</COLOR>]],5,0,1042,[[小飞侠]],},{1,2,1,1.5,0,0,1,0,},{0,2,[[<COLOR VALUE=FF442C0C>合击刷怪妥妥的！</COLOR>]],5,0,1011,[[火拳]],},{3,8,},{3,2,},{11,2,8,2,0,},},
			hp_least_story = {},
			battle_end_story = {{0,},{1,10,1,1.5,0,0,-1,0,},{0,1,[[<COLOR VALUE=FF442C0C>邪神的魔部进攻源源不断，我担心你们会顶不住。</COLOR>]],5,0,1001,[[光明女神]],},{0,1,[[<COLOR VALUE=FF442C0C>女神，下一步我们干什么。</COLOR>]],5,1,1042,[[小飞侠]],},{0,1,[[<COLOR VALUE=FF442C0C>我有个尘封已久的结界，只要收集足够的材料升级，即可短时间内大大增强你们的实力！</COLOR>]],5,0,1001,[[光明女神]],},{0,1,[[<COLOR VALUE=FF442C0C>那还等什么，赶紧去看看！</COLOR>]],5,1,1042,[[小飞侠]],},{0,1,[[<COLOR VALUE=FF442C0C>好，你还是这副急性子。</COLOR>]],5,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{6073,1013,15,10,1,0,},{1011,1011,1,1,1,1,},{2003,1002,2,1,1,},{2003,1002,2,1,1,},{2003,1002,2,1,1,},{2003,1002,2,1,1,},{2003,1002,2,1,1,},{1042,1042,50,5,1,1,},{1025,1025,8,1,1,0,},{1001,1001,5,1,1,},},
			time_story = {{-1,87,},{8,1,199,},{6,1,499,},{4,1,8,0,10421,1,},{-1,80,},{1,3,1,1.5,0,1,4,1,0.95,},{1,4,1,1.5,0,1,6,1,0.95,},{1,5,1,1.5,0,1,3,1,0.95,},{1,6,1,1.5,0,1,1,1,0.95,},{1,7,1,1.5,0,1,2,0,0.95,},{0,2,[[<COLOR VALUE=FF442C0C>继续用合击，打到你服为止！</COLOR>]],5,0,1011,[[火拳]],},{-1,79,},{3,8,},{3,2,},{19,1,1042,},{11,2,8,2,0,},{-1,78,},{0,1,[[<COLOR VALUE=FF442C0C>可恶！你开了外挂吗，怒气满的这么快！</COLOR>]],5,1,1013,[[小丑王]],},{4,1,1,0,10131,10,},{-1,75,},{0,-1,[[<COLOR VALUE=FF442C0C>废话少说，尝尝我砂钵大的拳头！</COLOR>]],5,0,1042,[[小飞侠]],},{4,1,8,0,10422,80,},{-1,74.9,},{8,1,0,},{9,1,499,},},
			story_skill = 1,
			is_yazhen = 0,
			condition_story = {},
		},
		[500703] = {
			story_idx = 500703,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>这不是卡卡老师吗？您怎么来了？</COLOR>]],5,0,1011,[[火拳]],},{0,3,[[<COLOR VALUE=FF442C0C>你们都给我让开，我要找小乌算账！</COLOR>]],5,1,1037,[[卡卡]],},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,1,[[<COLOR VALUE=FF442C0C>卡卡老师，你为何要为难小乌？他现在已经改邪归正了！</COLOR>]],5,0,1011,[[火拳]],},{0,3,[[<COLOR VALUE=FF442C0C>哼，我昨晚在神殿值夜班，小乌居然偷袭我！</COLOR>]],5,1,1037,[[卡卡]],},{0,2,[[<COLOR VALUE=FF442C0C>卡卡老师，最近克隆人来袭，袭击你的可能是克隆人。</COLOR>]],5,0,1004,[[小乌]],},{0,3,[[<COLOR VALUE=FF442C0C>原来如此……看来形势比我想的还要严峻！</COLOR>]],5,1,1037,[[卡卡]],},{0,3,[[<COLOR VALUE=FF442C0C>这样吧，战斗中容易受伤，一会我让我的徒儿小樱保护你们，她可是治疗一把手！</COLOR>]],5,1,1037,[[卡卡]],},},
			battle_end_story2 = {},
			obj_list = {{1011,1011,5,1,1,1,0,},{1004,1004,5,1,1,1,0,},{1037,1037,5,1,1,1,0,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 0,
			condition_story = {},
		},
		[501003] = {
			story_idx = 501003,
			move_end_story = {{0,},{0,3,[[<COLOR VALUE=FF442C0C>我已经听卡卡老师说了你们的来意了，不过要想我加入你们，得先看看你们的实力！</COLOR>]],5,1,1036,[[小樱]],},{0,1,[[<COLOR VALUE=FF442C0C>来吧！我可不会对女生温柔的！</COLOR>]],5,0,1042,[[小飞侠]],},},
			battle_start_story = {{0,},{1,3,1,1.2,0,1,-1,0,1.4,},},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{1,1,1,1,0,0,-1,0,},{0,1,[[<COLOR VALUE=FF442C0C>我果然没有看错你们，小樱跟着你们我也放心了。</COLOR>]],5,0,1037,[[卡卡]],},{0,3,[[<COLOR VALUE=FF442C0C>呜呜呜……老师他们打的人家好疼！</COLOR>]],5,1,1036,[[小樱]],},},
			battle_end_story2 = {},
			obj_list = {{1037,1037,5,1,1,1,0,},{1042,1042,10,1,1,1,},{1036,1036,10,10,4,1,},},
			time_story = {{-1,88,},{6,3,1500,},{-1,87,},{8,3,400,},{-1,85,},{3,3,},{-1,75,},{3,3,},{0,2,[[<COLOR VALUE=FF442C0C>这奶真是够给力！</COLOR>]],5,0,1042,[[小飞侠]],},{8,3,0,},},
			story_skill = 0,
			is_yazhen = 1,
			condition_story = {},
		},
		[501303] = {
			story_idx = 501303,
			move_end_story = {{0,},{0,2,[[<COLOR VALUE=FF442C0C>又是<COLOR VALUE=FFFF0000>邪恶的气息</COLOR>！难道你也是邪神派来的克隆人？</COLOR>]],5,0,-1,},{0,1,[[<COLOR VALUE=FF442C0C>少废话！我已将<COLOR VALUE=FFFF0000>龙珠</COLOR>偷出，想抢就拿出实力来！</COLOR>]],5,1,1005,[[克隆草莓君]],},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>哈哈哈！龙珠，我就代<COLOR VALUE=FFFF0000>邪神大人</COLOR>收下了！</COLOR>]],5,1,1005,[[克隆草莓君]],},{0,2,[[<COLOR VALUE=FF442C0C>克隆人已经逃往<COLOR VALUE=FFFF0000>伟大航线</COLOR>，必须追上他夺回龙珠！</COLOR>]],5,0,1001,[[光明女神]],},},
			battle_end_story2 = {},
			obj_list = {{1005,0,10,1,1,},{1042,1042,10,1,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[501403] = {
			story_idx = 501403,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>当着我的面抢走<COLOR VALUE=FFFF0000>龙珠</COLOR>，你问过我的拳头了吗？</COLOR>]],5,0,-1,},{0,3,[[<COLOR VALUE=FF442C0C>少用拳头装逼！我还不了解你吗？</COLOR>]],5,1,1040,[[克隆萌萌侠]],},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {},
			battle_end_story2 = {},
			obj_list = {{1015,0,11,1,1,},{1045,0,11,1,1,},{1042,1042,10,1,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[501703] = {
			story_idx = 501703,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>又是你！在哪里跌倒就应该在哪里躺下！</COLOR>]],5,0,-1,},{0,3,[[<COLOR VALUE=FF442C0C>真的假的？！我书读得少，你不要骗我！</COLOR>]],5,1,1049,[[克隆宙王]],},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {},
			battle_end_story2 = {},
			obj_list = {{1034,0,13,1,1,},{1036,0,13,1,1,},{1042,1042,12,1,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[502003] = {
			story_idx = 502003,
			move_end_story = {{0,},{0,2,[[<COLOR VALUE=FF442C0C>不要打我！我只想静静地做一个风华绝代的<COLOR VALUE=FFFF0000>克隆人</COLOR>！</COLOR>]],5,1,1042,[[克隆小飞侠]],},{0,-1,[[<COLOR VALUE=FF442C0C>告诉我<COLOR VALUE=FFFF0000>龙珠的下落</COLOR>，我可以考虑不打你的脸！</COLOR>]],5,0,-1,},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>快说！龙珠被带到哪儿啦？</COLOR>]],5,0,-1,},{0,1,[[<COLOR VALUE=FF442C0C>龙珠…被一伙黑吃黑的<COLOR VALUE=FFFF0000>海贼</COLOR>抢走了……</COLOR>]],5,1,1042,[[克隆小飞侠]],},},
			battle_end_story2 = {},
			obj_list = {{1012,1012,14,1,1,},{2013,2013,14,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[502303] = {
			story_idx = 502303,
			move_end_story = {},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {},
			battle_end_story2 = {},
			obj_list = {{1042,1042,16,1,1,},{1017,1017,16,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[502403] = {
			story_idx = 502403,
			move_end_story = {},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {{0,},{0,3,[[<COLOR VALUE=FF442C0C>好……好强！</COLOR>]],5,0,1042,[[小飞侠]],},{0,1,[[<COLOR VALUE=FF442C0C>我们二人可以施展合体技！想要我们加入就去<COLOR VALUE=FF00BFFF>竞技场兑换商店</COLOR>吧。</COLOR>]],5,0,1034,[[吊车尾]],},},
			battle_end_story2 = {},
			obj_list = {{1034,1034,60,4,4,0,},{1012,1012,60,4,4,0,},{1042,1042,8,1,1,1,},},
			time_story = {{-1,82,},{1,1,1,1,0,0,-1,1,},{1,2,1,1,0,0,-1,0,},{0,1,[[<COLOR VALUE=FF442C0C>我观察你很久了，你很强。我们组队赢取龙珠吧！</COLOR>]],5,0,1034,[[吊车尾]],},{0,3,[[<COLOR VALUE=FF442C0C>那就拿出真本事，实力太差我可没兴趣！</COLOR>]],5,0,1042,[[小飞侠]],},{4,2,1,2,10345,60,},},
			story_skill = 1,
			is_yazhen = 1,
			condition_story = {},
		},
		[502603] = {
			story_idx = 502603,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>小子！把你队伍里的<COLOR VALUE=FFFF0000>美女</COLOR>交出来，我可以放你一马！</COLOR>]],5,1,1006,[[克隆蓝大大]],},{0,-1,[[<COLOR VALUE=FF442C0C>老实告诉你吧，你们性别不合适！</COLOR>]],5,0,-1,},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {},
			battle_end_story2 = {},
			obj_list = {{1041,0,17,1,1,},{1039,0,17,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
		[502903] = {
			story_idx = 502903,
			move_end_story = {{0,},{0,1,[[<COLOR VALUE=FF442C0C>邪神大人的<COLOR VALUE=FFFF0000>计划</COLOR>完美无缺，你永远都找不到龙珠的！</COLOR>]],5,1,1041,[[克隆黑足君]],},{0,-1,[[<COLOR VALUE=FF442C0C>嘿嘿！那我就放心了！就邪神那杀马特能想出什么好计划……</COLOR>]],5,0,-1,},},
			battle_start_story = {},
			obj_dead_story = {},
			hp_least_story = {},
			battle_end_story = {},
			battle_end_story2 = {},
			obj_list = {{1049,0,19,1,1,},{1025,0,19,1,1,},},
			time_story = {},
			story_skill = 0,
			is_yazhen = 1,
		},
}