Config = Config or {}
Config.cnfbosslevelinfo = {
		[45] = {
			level = 45,
			reward_max_count = 42,
		},
		[46] = {
			level = 46,
			reward_max_count = 42,
		},
		[47] = {
			level = 47,
			reward_max_count = 44,
		},
		[48] = {
			level = 48,
			reward_max_count = 44,
		},
		[49] = {
			level = 49,
			reward_max_count = 44,
		},
		[50] = {
			level = 50,
			reward_max_count = 46,
		},
		[51] = {
			level = 51,
			reward_max_count = 50,
		},
		[52] = {
			level = 52,
			reward_max_count = 50,
		},
		[53] = {
			level = 53,
			reward_max_count = 50,
		},
		[54] = {
			level = 54,
			reward_max_count = 50,
		},
		[55] = {
			level = 55,
			reward_max_count = 54,
		},
		[56] = {
			level = 56,
			reward_max_count = 54,
		},
		[57] = {
			level = 57,
			reward_max_count = 54,
		},
		[58] = {
			level = 58,
			reward_max_count = 56,
		},
		[59] = {
			level = 59,
			reward_max_count = 56,
		},
		[60] = {
			level = 60,
			reward_max_count = 56,
		},
		[61] = {
			level = 61,
			reward_max_count = 58,
		},
		[62] = {
			level = 62,
			reward_max_count = 58,
		},
		[63] = {
			level = 63,
			reward_max_count = 64,
		},
		[64] = {
			level = 64,
			reward_max_count = 64,
		},
		[65] = {
			level = 65,
			reward_max_count = 64,
		},
		[66] = {
			level = 66,
			reward_max_count = 66,
		},
		[67] = {
			level = 67,
			reward_max_count = 66,
		},
		[68] = {
			level = 68,
			reward_max_count = 66,
		},
		[69] = {
			level = 69,
			reward_max_count = 68,
		},
		[70] = {
			level = 70,
			reward_max_count = 70,
		},
		[71] = {
			level = 71,
			reward_max_count = 72,
		},
		[72] = {
			level = 72,
			reward_max_count = 72,
		},
		[73] = {
			level = 73,
			reward_max_count = 74,
		},
		[74] = {
			level = 74,
			reward_max_count = 76,
		},
		[75] = {
			level = 75,
			reward_max_count = 84,
		},
		[76] = {
			level = 76,
			reward_max_count = 84,
		},
		[77] = {
			level = 77,
			reward_max_count = 86,
		},
		[78] = {
			level = 78,
			reward_max_count = 84,
		},
		[79] = {
			level = 79,
			reward_max_count = 84,
		},
		[80] = {
			level = 80,
			reward_max_count = 86,
		},
		[81] = {
			level = 81,
			reward_max_count = 84,
		},
		[82] = {
			level = 82,
			reward_max_count = 86,
		},
		[83] = {
			level = 83,
			reward_max_count = 84,
		},
		[84] = {
			level = 84,
			reward_max_count = 86,
		},
		[85] = {
			level = 85,
			reward_max_count = 86,
		},
		[86] = {
			level = 86,
			reward_max_count = 86,
		},
		[87] = {
			level = 87,
			reward_max_count = 88,
		},
		[88] = {
			level = 88,
			reward_max_count = 86,
		},
		[89] = {
			level = 89,
			reward_max_count = 88,
		},
		[90] = {
			level = 90,
			reward_max_count = 90,
		},
		[91] = {
			level = 91,
			reward_max_count = 92,
		},
		[92] = {
			level = 92,
			reward_max_count = 94,
		},
		[93] = {
			level = 93,
			reward_max_count = 98,
		},
		[94] = {
			level = 94,
			reward_max_count = 96,
		},
		[95] = {
			level = 95,
			reward_max_count = 98,
		},
		[96] = {
			level = 96,
			reward_max_count = 102,
		},
		[97] = {
			level = 97,
			reward_max_count = 106,
		},
		[98] = {
			level = 98,
			reward_max_count = 110,
		},
		[99] = {
			level = 99,
			reward_max_count = 114,
		},
		[100] = {
			level = 100,
			reward_max_count = 118,
		},
}