Config = Config or {}
Config.cnfcoinfbsquads = {
		[1] = {
			recommend_hero = {1021,1034,1043,1049,},
			tweet = {[[你这渣渣，能用力点吗？]],[[想要金币就来蹂躏我吧！]],[[我拥有的金币可以买下整个世界！]],[[伤害越高，金币越多！]],[[那点伤害，对我来说只是挠痒痒！]],},
		},
		[2] = {
			recommend_hero = {1004,1013,1016,1017,1022,1025,1031,1033,1039,1046,},
			tweet = {[[布阵合理才能打出更高伤害！]],[[伤害越高，金币越多！]],[[中排英雄输出好高！好怕怕！]],[[你能打出多少伤害呢？]],[[你来了！你能拿走多少金币呢？]],},
		},
}