Config = Config or {}
Config.cnfcomebackcharge = {
		[1] = {
			id = 1,
			charge_value = 75,
			reward_list = {{2,0,50,},{1,3733,15,},{1,3703,50,},{1,3535,100,},},
		},
		[2] = {
			id = 2,
			charge_value = 300,
			reward_list = {{2,0,150,},{1,3733,50,},{1,3703,100,},{1,3581,100,},},
		},
		[3] = {
			id = 3,
			charge_value = 1000,
			reward_list = {{2,0,500,},{1,3733,150,},{1,3703,350,},{1,3578,100,},},
		},
		[4] = {
			id = 4,
			charge_value = 1500,
			reward_list = {{2,0,750,},{1,3704,50,},{1,3707,1,},{1,3538,220,},},
		},
		[5] = {
			id = 5,
			charge_value = 3000,
			reward_list = {{2,0,1500,},{1,3704,150,},{1,3707,2,},{1,3576,220,},},
		},
		[6] = {
			id = 6,
			charge_value = 6000,
			reward_list = {{2,0,3000,},{1,3732,25,},{1,3707,3,},{1,3531,220,},},
		},
		[7] = {
			id = 7,
			charge_value = 14000,
			reward_list = {{2,0,7500,},{1,3732,100,},{1,3707,5,},{1,3597,100,},},
		},
}