Config = Config or {}
Config.cnfcurrencyuse = {
		[2] = {
			id = 2,
			from = {1,2,3,},
			useto = {1,2,3,},
		},
		[3] = {
			id = 3,
			from = {4,5,6,},
			useto = {4,5,6,},
		},
		[4] = {
			id = 4,
			from = {7,8,9,},
			useto = {7,8,9,},
		},
		[6] = {
			id = 6,
			from = {10,11,12,},
			useto = {10,11,12,},
		},
		[8] = {
			id = 8,
			from = {31,},
			useto = {35,},
		},
		[9] = {
			id = 9,
			from = {12,13,14,},
			useto = {12,13,14,},
		},
		[10] = {
			id = 10,
			from = {15,16,17,},
			useto = {15,16,17,},
		},
		[11] = {
			id = 11,
			from = {34,},
			useto = {35,},
		},
		[12] = {
			id = 12,
			from = {18,19,20,},
			useto = {18,19,20,},
		},
		[13] = {
			id = 13,
			from = {21,22,23,},
			useto = {21,22,23,},
		},
		[17] = {
			id = 17,
			from = {32,},
			useto = {35,},
		},
		[18] = {
			id = 18,
			from = {24,25,26,},
			useto = {24,25,26,},
		},
		[19] = {
			id = 19,
			from = {28,29,},
			useto = {35,29,},
		},
		[23] = {
			id = 23,
			from = {28,30,},
			useto = {35,30,},
		},
}