Config = Config or {}
Config.cnfchoukainfo = {
		[1] = {
			liquan_id = 3999,
			liquan_num = 1,
			primary_free_count = 5,
			primary_consume = 10000,
			primary_one_key_count = 10,
			primary_node = 10,
			primary_batch_consume = 90000,
			primary_clean_time = 600,
			senior_consume = 288,
			senior_one_key_count = 10,
			senior_node = 10,
			senior_batch_consume = 2588,
			senior_revert_time = 165600,
			special_node = 4,
			first_primary = 1,
			second_primary = 2,
			first_senior_free = 3,
		},
}