Config = Config or {}
Config.cnfcultfbinfo = {
		[1] = {
			record_id = 10150,
			cool_time = 600,
			team_level = 35,
			day_count = 2,
			tili = 10,
			double_gold = 50,
			boss_adv = [[BOSS实力强悍，皮粗肉厚，擅长AOE，要顶住，一定要顶住啊！！]],
			suggest_strate = [[需要持久耐抗的前排，要么防御高、要么会闪避、要么血厚。记得带上身轻体柔的奶妈妹纸喔！]],
			recommend_hero = {1012,1027,1015,1046,1043,1049,1037,1018,1030,},
			tweet = {[[不带奶妈你就个渣渣]],[[只有30秒？哼，是不是男人]],[[听说你不持久。]],[[吃我一记阿姆斯特朗360度加速回旋阿姆斯特朗炮！]],},
		},
}