Config = Config or {}
Config.cnfchristmassinglereward = {
		[1] = {
			tree_status = 1,
			item_id = 4072,
			item_num = 20,
			weight = 100,
		},
		[2] = {
			tree_status = 1,
			item_id = 4073,
			item_num = 20,
			weight = 100,
		},
		[3] = {
			tree_status = 1,
			item_id = 4074,
			item_num = 20,
			weight = 100,
		},
		[4] = {
			tree_status = 1,
			item_id = 4075,
			item_num = 20,
			weight = 100,
		},
		[5] = {
			tree_status = 1,
			item_id = 4076,
			item_num = 20,
			weight = 100,
		},
		[6] = {
			tree_status = 1,
			item_id = 4077,
			item_num = 20,
			weight = 100,
		},
		[7] = {
			tree_status = 1,
			item_id = 4066,
			item_num = 1,
			weight = 20,
		},
		[8] = {
			tree_status = 2,
			item_id = 4072,
			item_num = 25,
			weight = 100,
		},
		[9] = {
			tree_status = 2,
			item_id = 4073,
			item_num = 25,
			weight = 100,
		},
		[10] = {
			tree_status = 2,
			item_id = 4074,
			item_num = 25,
			weight = 100,
		},
		[11] = {
			tree_status = 2,
			item_id = 4081,
			item_num = 25,
			weight = 100,
		},
		[12] = {
			tree_status = 2,
			item_id = 4082,
			item_num = 25,
			weight = 100,
		},
		[13] = {
			tree_status = 2,
			item_id = 4083,
			item_num = 25,
			weight = 100,
		},
		[14] = {
			tree_status = 2,
			item_id = 8624,
			item_num = 50,
			weight = 50,
		},
		[15] = {
			tree_status = 2,
			item_id = 3575,
			item_num = 2,
			weight = 10,
		},
		[16] = {
			tree_status = 2,
			item_id = 3606,
			item_num = 2,
			weight = 50,
		},
		[17] = {
			tree_status = 3,
			item_id = 4075,
			item_num = 30,
			weight = 100,
		},
		[18] = {
			tree_status = 3,
			item_id = 4076,
			item_num = 30,
			weight = 100,
		},
		[19] = {
			tree_status = 3,
			item_id = 4077,
			item_num = 30,
			weight = 100,
		},
		[20] = {
			tree_status = 3,
			item_id = 4081,
			item_num = 30,
			weight = 100,
		},
		[21] = {
			tree_status = 3,
			item_id = 4082,
			item_num = 30,
			weight = 100,
		},
		[22] = {
			tree_status = 3,
			item_id = 4083,
			item_num = 30,
			weight = 100,
		},
		[23] = {
			tree_status = 3,
			item_id = 8624,
			item_num = 50,
			weight = 100,
		},
		[24] = {
			tree_status = 3,
			item_id = 3575,
			item_num = 5,
			weight = 20,
		},
		[25] = {
			tree_status = 3,
			item_id = 3594,
			item_num = 2,
			weight = 20,
		},
}