Config = Config or {}
Config.cnfchristmastreerankreward = {
		[1] = {
			rank = {1,1,},
			reward_id = 7301,
		},
		[2] = {
			rank = {2,2,},
			reward_id = 7302,
		},
		[3] = {
			rank = {3,3,},
			reward_id = 7303,
		},
		[4] = {
			rank = {4,4,},
			reward_id = 7304,
		},
		[5] = {
			rank = {5,5,},
			reward_id = 7305,
		},
		[6] = {
			rank = {6,6,},
			reward_id = 7306,
		},
		[7] = {
			rank = {7,7,},
			reward_id = 7307,
		},
		[8] = {
			rank = {8,8,},
			reward_id = 7308,
		},
		[9] = {
			rank = {9,9,},
			reward_id = 7309,
		},
		[10] = {
			rank = {10,10,},
			reward_id = 7310,
		},
}