Config = Config or {}
Config.cnfchargeshop = {
		[1] = {
			index = 1,
			item_name = "普通月卡",
			item_res = "month_card",
			item_desc = "可与高级月卡同时生效",
			item_des2 = "每天领120钻(30天)",
			item_title = "必备",
		},
		[2] = {
			index = 2,
			item_name = "高级月卡",
			item_res = "month_card1",
			item_desc = "可与普通月卡同时生效",
			item_des2 = "每天领250钻(30天)",
			item_title = "推荐",
		},
		[19800] = {
			index = 19800,
			item_name = "19800钻石",
			item_res = "diamond6",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[6480] = {
			index = 6480,
			item_name = "6480钻石",
			item_res = "diamond6",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[3280] = {
			index = 3280,
			item_name = "3280钻石",
			item_res = "diamond5",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[1980] = {
			index = 1980,
			item_name = "1980钻石",
			item_res = "diamond5",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[1000] = {
			index = 1000,
			item_name = "1000钻石",
			item_res = "diamond4",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[500] = {
			index = 500,
			item_name = "500钻石",
			item_res = "diamond3",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[300] = {
			index = 300,
			item_name = "300钻石",
			item_res = "diamond2",
			item_desc = "",
			item_des2 = "",
			item_title = "",
		},
		[60] = {
			index = 60,
			item_name = "60钻石",
			item_res = "diamond1",
		},
}