Config = Config or {}
Config.cnfchristmasfbinfo = {
		[1] = {
			cool_time = 0,
			team_level = 18,
			tili = 10,
			match_id = 3761,
			explain = [[圣诞前夕，圣诞妹妹给小伙伴们准备了好多圣诞袜。但却被隔壁村的雪怪洗劫一空！为了夺回圣诞袜，小伙伴们快来打雪怪！<BR SPACING=10>1、雪怪精通各种冰冻、减速、强化魔法，能够提升攻击力和反弹小伙伴的伤害，并且在冰封状态下无敌；<BR SPACING=10>2、小伙伴们使用火柴可以清除雪怪的强化、无敌buff，并且解除伙伴身上的debuff，同时回复伙伴生命哟~]],
			tweet = {[[你想吃冰棍吗？]],[[快把火柴拿开！]],[[圣诞袜是我的，别抢！]],[[啊~卖女孩的小火柴~]],},
			skill_cool_time = 8,
			skill_id = 207500,
			socks_id = 3762,
			goddess_tips = [[火柴可以从圣诞活动获得哟！]],
		},
}