Config = Config or {}
Config.cnfdailytask = {
		[1] = {
			daily_type = 1,
			title = [[竞技场]],
			icon = [[Arena]],
			intro = [[参加竞技场挑战，可以获得丰厚的声望和金币奖励。]],
			btntext = [[参加]],
			open_level = 12,
			index = 1,
			open_time = [[全天]],
			day_open_times = 0,
		},
		[2] = {
			daily_type = 2,
			title = [[航海大冒险]],
			icon = [[Adventure]],
			intro = [[参加航海大冒险，可获得丰厚的历练值和金币奖励。]],
			btntext = [[参加]],
			open_level = 20,
			index = 4,
			open_time = [[全天]],
			day_open_times = 0,
		},
		[3] = {
			daily_type = 3,
			title = [[魂石活动]],
			icon = [[Fragment]],
			intro = [[每周会开放4张伙伴卡，每次只能获得其中1张。]],
			btntext = [[参加]],
			open_level = 30,
			index = 5,
			open_time = [[全天]],
			day_open_times = 3,
		},
		[4] = {
			daily_type = 4,
			title = [[妙木山]],
			icon = [[Experience]],
			intro = [[妙木山上，有许多吃了会使伙伴升级的神奇药水，快点行动吧！]],
			btntext = [[参加]],
			open_level = 15,
			index = 3,
			open_time = [[全天]],
			day_open_times = 3,
		},
		[5] = {
			daily_type = 5,
			title = [[金币试炼]],
			icon = [[Jinbi]],
			intro = [[在黑道上混迹多年的蛤蟆一族，拥有数不尽的财宝，我们赶紧去分一杯羹吧！]],
			btntext = [[参加]],
			open_level = 18,
			index = 2,
			open_time = [[全天]],
			day_open_times = 2,
		},
		[6] = {
			daily_type = 6,
			title = [[贝吉塔星]],
			icon = [[Beijita]],
			intro = [[在这个星球上，生活着一群怪怪的猿猴，只要打败他们，就可以获得大量魂石。]],
			btntext = [[参加]],
			open_level = 25,
			index = 6,
			open_time = [[全天]],
			day_open_times = 2,
		},
		[7] = {
			daily_type = 7,
			title = [[新世界]],
			icon = [[Newworld]],
			intro = [[充满危险与诱惑的海域，想得到更多的金币与果实吗]],
			btntext = [[参加]],
			open_level = 30,
			index = 7,
			open_time = [[全天]],
			day_open_times = 0,
		},
		[8] = {
			daily_type = 8,
			title = [[豆之试练]],
			icon = [[Cultivatefb]],
			intro = [[有一群可爱的逗壁兽正在路上走，摸摸他们的头可以掉出很多培养豆喔。]],
			btntext = [[参加]],
			open_level = 35,
			index = 8,
			open_time = [[全天]],
			day_open_times = 2,
		},
		[9] = {
			daily_type = 9,
			title = [[时空乱党]],
			icon = [[WorldBoss]],
			intro = [[时空出现缝隙了！大量boss跑出来了！勇士们出击！]],
			btntext = [[参加]],
			open_level = 45,
			index = 9,
			open_time = [[全天]],
			day_open_times = 0,
		},
}