Config = Config or {}
Config.cnfdarkworld = {
		[1] = {
			max_durable = 50,
			durable_recover = 1800,
			all_lottery_gold = 250,
			monster_gold = 10,
			mine_gold = 10,
			refresh_gold = 100,
			detect_gold = 100,
			main_desc_simple = [[黑暗世界会有 顶级伙伴魂石 ，快快进入并寻找宝箱吧！]],
			main_desc = [[1.在主界面可以刷新入口，击败BOSS后可以开始挖矿。<BR> <BR>2.挖矿将消耗镐头耐久，使用探测效率更高哟!<BR> <BR>3.每个矿洞内都有独立的镐头耐久，购买次数等，VIP解锁购买次数。<BR> <BR>4.周日凌晨5点时将清空所有进度。<BR> <BR>]],
			draw_talk = {[[选择全要，全部带走!]],[[单击卡牌，开始抽奖!]],[[全要和单抽只能选择一种哟~]],[[抽奖后点击确定,可以回到副本]],},
			fb_talk = {[[战力高于怪物时，可以直接扫荡~]],[[战力低于怪物时，可使用符咒或者钻石扫荡]],[[每次击杀怪物之后，怪物等级都会上升]],[[每挖出一个怪物，都会使耐久消耗增加1点]],},
			min_fb_level = 45,
			max_fb_level = 95,
			monster_tili = 5,
			open_tili = 10,
		},
}