Config = Config or {}
Config.cnfeffectparticle = {
		[10010] = {
			id = 10010,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[100111] = {
			id = 100111,
			actions = {[[animation]],},
			particles = {1001110,},
			delay = {0,},
		},
		[100112] = {
			id = 100112,
			actions = {[[animation]],},
			particles = {1001111,},
			delay = {0,},
		},
		[10012] = {
			id = 10012,
			actions = {[[animation]],},
			particles = {1001201,},
			delay = {0,},
		},
		[100131] = {
			id = 100131,
			actions = {[[animation]],},
			particles = {1001301,},
			delay = {0,},
		},
		[100132] = {
			id = 100132,
			actions = {[[animation]],},
			particles = {1001310,},
			delay = {0,},
		},
		[10020] = {
			id = 10020,
			actions = {[[animation]],},
			particles = {1002010,},
			delay = {0,},
		},
		[10021] = {
			id = 10021,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[100211] = {
			id = 100211,
			actions = {[[animation]],},
			particles = {1002102,},
			delay = {0,},
		},
		[10022] = {
			id = 10022,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10023] = {
			id = 10023,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10025] = {
			id = 10025,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10026] = {
			id = 10026,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10031] = {
			id = 10031,
			actions = {[[animation]],},
			particles = {1003110,},
			delay = {0,},
		},
		[100310] = {
			id = 100310,
			actions = {[[animation]],},
			particles = {1003100,},
			delay = {0,},
		},
		[10032] = {
			id = 10032,
			actions = {[[animation]],},
			particles = {1003210,},
			delay = {0,},
		},
		[10040] = {
			id = 10040,
			actions = {[[animation]],},
			particles = {1004000,},
			delay = {0,},
		},
		[10041] = {
			id = 10041,
			actions = {[[animation]],},
			particles = {1004101,},
			delay = {1,},
		},
		[10042] = {
			id = 10042,
			actions = {[[animation]],},
			particles = {1004200,},
			delay = {0,},
		},
		[10061] = {
			id = 10061,
			actions = {[[animation]],},
			particles = {1006000,},
			delay = {0,},
		},
		[100610] = {
			id = 100610,
			actions = {[[animation]],},
			particles = {1006101,},
			delay = {1,},
		},
		[10072] = {
			id = 10072,
			actions = {[[animation]],},
			particles = {1007210,},
			delay = {0,},
		},
		[10091] = {
			id = 10091,
			actions = {[[animation]],},
			particles = {1009110,},
			delay = {0,},
		},
		[10093] = {
			id = 10093,
			actions = {[[animation]],},
			particles = {1009310,},
			delay = {0,},
		},
		[100950] = {
			id = 100950,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[100951] = {
			id = 100951,
			actions = {[[animation]],},
			particles = {1010601,},
			delay = {0,},
		},
		[100952] = {
			id = 100952,
			actions = {[[animation]],},
			particles = {1010600,},
			delay = {0,},
		},
		[100953] = {
			id = 100953,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10111] = {
			id = 10111,
			actions = {[[animation]],},
			particles = {1011110,},
			delay = {0,},
		},
		[10121] = {
			id = 10121,
			actions = {[[animation]],},
			particles = {1012101,},
			delay = {0,},
		},
		[10122] = {
			id = 10122,
			actions = {[[animation]],},
			particles = {1012210,},
			delay = {0,},
		},
		[10131] = {
			id = 10131,
			actions = {[[animation]],},
			particles = {1013110,},
			delay = {0,},
		},
		[10132] = {
			id = 10132,
			actions = {[[animation]],},
			particles = {1013210,},
			delay = {0,},
		},
		[10141] = {
			id = 10141,
			actions = {[[animation]],},
			particles = {1014100,},
			delay = {0,},
		},
		[10142] = {
			id = 10142,
			actions = {[[animation]],},
			particles = {1014201,},
			delay = {0,},
		},
		[10143] = {
			id = 10143,
			actions = {[[animation]],},
			particles = {1014300,},
			delay = {0,},
		},
		[101430] = {
			id = 101430,
			actions = {[[animation]],},
			particles = {1014310,},
			delay = {0,},
		},
		[101450] = {
			id = 101450,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10154] = {
			id = 10154,
			actions = {[[animation]],},
			particles = {1015400,},
			delay = {0,},
		},
		[10161] = {
			id = 10161,
			actions = {[[animation]],},
			particles = {1016110,},
			delay = {0,},
		},
		[10162] = {
			id = 10162,
			actions = {[[animation]],},
			particles = {1016210,},
			delay = {0,},
		},
		[101620] = {
			id = 101620,
			actions = {[[animation]],},
			particles = {1016200,},
			delay = {0,},
		},
		[10171] = {
			id = 10171,
			actions = {[[animation]],},
			particles = {1017110,},
			delay = {0,},
		},
		[10172] = {
			id = 10172,
			actions = {[[attack2]],},
			particles = {1017201,},
			delay = {0,},
		},
		[101750] = {
			id = 101750,
			actions = {[[animation]],[[animation2]],},
			particles = {},
			delay = {},
		},
		[101751] = {
			id = 101751,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[101752] = {
			id = 101752,
			actions = {[[animation]],[[animation2]],},
			particles = {},
			delay = {},
		},
		[10181] = {
			id = 10181,
			actions = {[[animation]],},
			particles = {1018110,},
			delay = {0,},
		},
		[10190] = {
			id = 10190,
			actions = {[[animation]],},
			particles = {1019000,},
			delay = {0,},
		},
		[10191] = {
			id = 10191,
			actions = {[[animation]],},
			particles = {1019110,},
			delay = {0,},
		},
		[10194] = {
			id = 10194,
			actions = {[[animation]],},
			particles = {1019410,},
			delay = {0,},
		},
		[10202] = {
			id = 10202,
			actions = {[[animation]],},
			particles = {1020210,},
			delay = {0,},
		},
		[10210] = {
			id = 10210,
			actions = {[[animation]],},
			particles = {1021010,},
			delay = {0,},
		},
		[10211] = {
			id = 10211,
			actions = {[[animation]],},
			particles = {1021101,},
			delay = {0,},
		},
		[10212] = {
			id = 10212,
			actions = {[[animation]],},
			particles = {1021201,},
			delay = {0,},
		},
		[10221] = {
			id = 10221,
			actions = {[[animation]],},
			particles = {1022101,},
			delay = {0,},
		},
		[10222] = {
			id = 10222,
			actions = {[[animation]],},
			particles = {1022210,},
			delay = {0,},
		},
		[10231] = {
			id = 10231,
			actions = {[[animation]],},
			particles = {1023110,},
			delay = {0,},
		},
		[10232] = {
			id = 10232,
			actions = {[[animation]],},
			particles = {1023201,},
			delay = {0,},
		},
		[102410] = {
			id = 102410,
			actions = {[[animation]],},
			particles = {1024100,},
			delay = {0,},
		},
		[10242] = {
			id = 10242,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10243] = {
			id = 10243,
			actions = {[[animation]],},
			particles = {1024710,},
			delay = {0,},
		},
		[10251] = {
			id = 10251,
			actions = {[[animation]],},
			particles = {1025110,},
			delay = {0,},
		},
		[10252] = {
			id = 10252,
			actions = {[[animation]],},
			particles = {1025210,},
			delay = {0,},
		},
		[10260] = {
			id = 10260,
			actions = {[[animation]],},
			particles = {1026710,},
			delay = {0,},
		},
		[10261] = {
			id = 10261,
			actions = {[[animation]],},
			particles = {1026100,},
			delay = {0,},
		},
		[10273] = {
			id = 10273,
			actions = {[[animation]],},
			particles = {1027700,},
			delay = {0,},
		},
		[10280] = {
			id = 10280,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10282] = {
			id = 10282,
			actions = {[[animation]],},
			particles = {1028200,},
			delay = {0,},
		},
		[10283] = {
			id = 10283,
			actions = {[[animation]],},
			particles = {1028701,},
			delay = {0,},
		},
		[10293] = {
			id = 10293,
			actions = {[[animation]],},
			particles = {1029310,},
			delay = {0,},
		},
		[102950] = {
			id = 102950,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10301] = {
			id = 10301,
			actions = {[[animation]],},
			particles = {1030110,},
			delay = {0,},
		},
		[10302] = {
			id = 10302,
			actions = {[[animation]],},
			particles = {1030200,},
			delay = {0,},
		},
		[10311] = {
			id = 10311,
			actions = {[[animation]],},
			particles = {1031101,},
			delay = {1,},
		},
		[10312] = {
			id = 10312,
			actions = {[[animation]],},
			particles = {1031201,},
			delay = {0,},
		},
		[10321] = {
			id = 10321,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10322] = {
			id = 10322,
			actions = {[[animation]],},
			particles = {1032100,},
			delay = {0,},
		},
		[103310] = {
			id = 103310,
			actions = {[[animation]],},
			particles = {1033110,},
			delay = {0,},
		},
		[103311] = {
			id = 103311,
			actions = {[[animation]],},
			particles = {1033111,},
			delay = {0,},
		},
		[10340] = {
			id = 10340,
			actions = {[[animation]],},
			particles = {1034001,},
			delay = {0,},
		},
		[10341] = {
			id = 10341,
			actions = {[[animation]],},
			particles = {1034110,},
			delay = {0,},
		},
		[10350] = {
			id = 10350,
			actions = {[[animation]],},
			particles = {1035001,},
			delay = {0,},
		},
		[10351] = {
			id = 10351,
			actions = {[[animation]],},
			particles = {1035110,},
			delay = {0,},
		},
		[10352] = {
			id = 10352,
			actions = {[[animation]],},
			particles = {1035210,},
			delay = {0,},
		},
		[10354] = {
			id = 10354,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10361] = {
			id = 10361,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[103610] = {
			id = 103610,
			actions = {[[animation]],},
			particles = {1036200,},
			delay = {0,},
		},
		[103611] = {
			id = 103611,
			actions = {[[animation]],},
			particles = {1036100,},
			delay = {0,},
		},
		[10371] = {
			id = 10371,
			actions = {[[animation]],},
			particles = {1037110,},
			delay = {1,},
		},
		[10372] = {
			id = 10372,
			actions = {[[animation]],},
			particles = {1037200,},
			delay = {0,},
		},
		[10373] = {
			id = 10373,
			actions = {[[animation]],},
			particles = {1037310,},
			delay = {0,},
		},
		[10382] = {
			id = 10382,
			actions = {[[animation]],},
			particles = {1038210,},
			delay = {0,},
		},
		[10391] = {
			id = 10391,
			actions = {[[animation]],},
			particles = {1039110,},
			delay = {0,},
		},
		[10392] = {
			id = 10392,
			actions = {[[animation]],},
			particles = {1039210,},
			delay = {0,},
		},
		[10393] = {
			id = 10393,
			actions = {[[animation]],[[animation1]],[[animation2]],},
			particles = {1039602,1039603,1039612,},
			delay = {0,0,0,},
		},
		[10394] = {
			id = 10394,
			actions = {[[animation]],},
			particles = {1014612,},
			delay = {0,},
		},
		[10395] = {
			id = 10395,
			actions = {[[animation]],},
			particles = {1014401,},
			delay = {0.1,},
		},
		[10401] = {
			id = 10401,
			actions = {[[animation]],},
			particles = {1040110,},
			delay = {0,},
		},
		[10402] = {
			id = 10402,
			actions = {[[animation]],},
			particles = {1040210,},
			delay = {0,},
		},
		[10421] = {
			id = 10421,
			actions = {[[animation]],},
			particles = {1042710,},
			delay = {0,},
		},
		[10422] = {
			id = 10422,
			actions = {[[animation]],},
			particles = {1042700,},
			delay = {0,},
		},
		[10423] = {
			id = 10423,
			actions = {[[animation]],[[animation2]],},
			particles = {},
			delay = {},
		},
		[10424] = {
			id = 10424,
			actions = {[[animation]],[[attack4]],[[attack5]],},
			particles = {1042600,1042600,1042601,},
			delay = {0,0,0,},
		},
		[10425] = {
			id = 10425,
			actions = {[[animation]],},
			particles = {1042610,},
			delay = {0,},
		},
		[104250] = {
			id = 104250,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10432] = {
			id = 10432,
			actions = {[[animation]],},
			particles = {1043210,},
			delay = {0,},
		},
		[10440] = {
			id = 10440,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10442] = {
			id = 10442,
			actions = {[[animation]],},
			particles = {1044210,},
			delay = {0,},
		},
		[10443] = {
			id = 10443,
			actions = {[[animation]],},
			particles = {1044700,},
			delay = {0,},
		},
		[104430] = {
			id = 104430,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10451] = {
			id = 10451,
			actions = {[[animation]],},
			particles = {1045101,},
			delay = {0,},
		},
		[10452] = {
			id = 10452,
			actions = {[[animation]],},
			particles = {1045210,},
			delay = {0,},
		},
		[10461] = {
			id = 10461,
			actions = {[[animation]],},
			particles = {1046110,},
			delay = {0,},
		},
		[10462] = {
			id = 10462,
			actions = {[[animation]],},
			particles = {1046210,},
			delay = {0,},
		},
		[10471] = {
			id = 10471,
			actions = {[[animation]],},
			particles = {1047101,},
			delay = {0,},
		},
		[10472] = {
			id = 10472,
			actions = {[[animation]],},
			particles = {1047210,},
			delay = {0,},
		},
		[104721] = {
			id = 104721,
			actions = {[[animation]],},
			particles = {1047201,},
			delay = {0,},
		},
		[10480] = {
			id = 10480,
			actions = {[[animation]],},
			particles = {1048001,},
			delay = {0,},
		},
		[10481] = {
			id = 10481,
			actions = {[[animation]],},
			particles = {1048110,},
			delay = {0,},
		},
		[10482] = {
			id = 10482,
			actions = {[[animation]],},
			particles = {1048210,},
			delay = {0,},
		},
		[104910] = {
			id = 104910,
			actions = {[[animation]],},
			particles = {1049110,},
			delay = {0,},
		},
		[104911] = {
			id = 104911,
			actions = {[[animation]],},
			particles = {1049111,},
			delay = {0,},
		},
		[10492] = {
			id = 10492,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10501] = {
			id = 10501,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[105010] = {
			id = 105010,
			actions = {[[animation]],},
			particles = {1050110,},
			delay = {0,},
		},
		[10502] = {
			id = 10502,
			actions = {[[animation]],},
			particles = {1050210,},
			delay = {0,},
		},
		[10510] = {
			id = 10510,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10511] = {
			id = 10511,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10512] = {
			id = 10512,
			actions = {[[animation]],},
			particles = {1051210,},
			delay = {0,},
		},
		[10513] = {
			id = 10513,
			actions = {[[animation]],},
			particles = {1051310,},
			delay = {0,},
		},
		[10520] = {
			id = 10520,
			actions = {[[animation]],},
			particles = {1052000,},
			delay = {0,},
		},
		[10521] = {
			id = 10521,
			actions = {[[animation]],},
			particles = {1052101,},
			delay = {0,},
		},
		[10524] = {
			id = 10524,
			actions = {[[animation]],},
			particles = {1052400,},
			delay = {0,},
		},
		[10531] = {
			id = 10531,
			actions = {[[animation]],},
			particles = {1053110,},
			delay = {0,},
		},
		[10532] = {
			id = 10532,
			actions = {[[animation]],},
			particles = {1053210,},
			delay = {0,},
		},
		[105510] = {
			id = 105510,
			actions = {[[animation]],},
			particles = {1055602,},
			delay = {0,},
		},
		[105511] = {
			id = 105511,
			actions = {[[animation2]],},
			particles = {1055603,},
			delay = {0,},
		},
		[105512] = {
			id = 105512,
			actions = {[[animation]],},
			particles = {1055600,},
			delay = {0,},
		},
		[105513] = {
			id = 105513,
			actions = {[[animation2]],},
			particles = {1055601,},
			delay = {0,},
		},
		[105514] = {
			id = 105514,
			actions = {[[animation]],},
			particles = {1055700,},
			delay = {0,},
		},
		[105515] = {
			id = 105515,
			actions = {[[animation]],},
			particles = {1055110,},
			delay = {0,},
		},
		[105516] = {
			id = 105516,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10552] = {
			id = 10552,
			actions = {[[animation]],},
			particles = {1055300,},
			delay = {0,},
		},
		[105610] = {
			id = 105610,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[105611] = {
			id = 105611,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[105612] = {
			id = 105612,
			actions = {[[animation]],},
			particles = {1056111,},
			delay = {0,},
		},
		[105613] = {
			id = 105613,
			actions = {[[animation]],},
			particles = {1056110,},
			delay = {0,},
		},
		[105614] = {
			id = 105614,
			actions = {[[animation]],},
			particles = {1056112,},
			delay = {0,},
		},
		[10571] = {
			id = 10571,
			actions = {[[animation]],},
			particles = {1057101,},
			delay = {0,},
		},
		[10574] = {
			id = 10574,
			actions = {[[animation]],},
			particles = {1057410,},
			delay = {0,},
		},
		[10591] = {
			id = 10591,
			actions = {[[animation]],},
			particles = {1059110,},
			delay = {0,},
		},
		[10592] = {
			id = 10592,
			actions = {[[animation]],},
			particles = {1059210,},
			delay = {0,},
		},
		[10593] = {
			id = 10593,
			actions = {[[animation]],[[animation2]],},
			particles = {},
			delay = {},
		},
		[10600] = {
			id = 10600,
			actions = {[[animation]],},
			particles = {1060010,},
			delay = {0,},
		},
		[106010] = {
			id = 106010,
			actions = {[[animation]],},
			particles = {1060110,},
			delay = {0,},
		},
		[10611] = {
			id = 10611,
			actions = {[[animation]],},
			particles = {1061101,},
			delay = {0,},
		},
		[10612] = {
			id = 10612,
			actions = {[[animation]],},
			particles = {1061201,},
			delay = {0,},
		},
		[10613] = {
			id = 10613,
			actions = {[[animation]],},
			particles = {1061310,},
			delay = {0,},
		},
		[10614] = {
			id = 10614,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10620] = {
			id = 10620,
			actions = {[[animation]],},
			particles = {1062010,},
			delay = {0,},
		},
		[106210] = {
			id = 106210,
			actions = {[[animation]],},
			particles = {1062111,},
			delay = {0,},
		},
		[106211] = {
			id = 106211,
			actions = {[[animation]],},
			particles = {1062110,},
			delay = {0,},
		},
		[10623] = {
			id = 10623,
			actions = {[[animation]],},
			particles = {1062301,},
			delay = {0,},
		},
		[10630] = {
			id = 10630,
			actions = {[[animation]],},
			particles = {1063010,},
			delay = {0,},
		},
		[106310] = {
			id = 106310,
			actions = {[[animation]],},
			particles = {1063000,},
			delay = {0,},
		},
		[106311] = {
			id = 106311,
			actions = {[[animation]],},
			particles = {1063110,},
			delay = {0,},
		},
		[10632] = {
			id = 10632,
			actions = {[[animation]],},
			particles = {1063210,},
			delay = {0,},
		},
		[106400] = {
			id = 106400,
			actions = {[[animation]],},
			particles = {1064010,},
			delay = {0,},
		},
		[106401] = {
			id = 106401,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10641] = {
			id = 10641,
			actions = {[[animation]],},
			particles = {1064110,},
			delay = {0,},
		},
		[106420] = {
			id = 106420,
			actions = {[[animation]],},
			particles = {1064210,},
			delay = {0,},
		},
		[106421] = {
			id = 106421,
			actions = {[[animation]],},
			particles = {1064201,},
			delay = {0,},
		},
		[106510] = {
			id = 106510,
			actions = {[[animation]],},
			particles = {1065101,},
			delay = {0,},
		},
		[106511] = {
			id = 106511,
			actions = {[[animation]],},
			particles = {1065110,},
			delay = {0,},
		},
		[10652] = {
			id = 10652,
			actions = {[[animation]],},
			particles = {1065210,},
			delay = {0,},
		},
		[10660] = {
			id = 10660,
			actions = {[[animation]],},
			particles = {1066010,},
			delay = {0,},
		},
		[106610] = {
			id = 106610,
			actions = {[[animation]],},
			particles = {1066110,},
			delay = {0,},
		},
		[106611] = {
			id = 106611,
			actions = {[[animation]],},
			particles = {1066111,},
			delay = {0,},
		},
		[10662] = {
			id = 10662,
			actions = {[[animation]],},
			particles = {1066210,},
			delay = {0,},
		},
		[106650] = {
			id = 106650,
			actions = {[[animation]],},
			particles = {1066601,},
			delay = {0,},
		},
		[106651] = {
			id = 106651,
			actions = {[[animation]],},
			particles = {1066600,},
			delay = {0,},
		},
		[106700] = {
			id = 106700,
			actions = {[[animation]],},
			particles = {1067001,},
			delay = {0,},
		},
		[106701] = {
			id = 106701,
			actions = {[[animation]],},
			particles = {1067010,},
			delay = {0,},
		},
		[106710] = {
			id = 106710,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[106711] = {
			id = 106711,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[106720] = {
			id = 106720,
			actions = {[[animation]],},
			particles = {1067201,},
			delay = {0,},
		},
		[106721] = {
			id = 106721,
			actions = {[[animation]],},
			particles = {1067210,},
			delay = {0,},
		},
		[106800] = {
			id = 106800,
			actions = {[[animation]],},
			particles = {1068001,},
			delay = {0,},
		},
		[106801] = {
			id = 106801,
			actions = {[[animation]],},
			particles = {1068010,},
			delay = {0,},
		},
		[106810] = {
			id = 106810,
			actions = {[[animation]],},
			particles = {1068701,},
			delay = {0,},
		},
		[106811] = {
			id = 106811,
			actions = {[[animation]],},
			particles = {1068700,},
			delay = {},
		},
		[106870] = {
			id = 106870,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[106871] = {
			id = 106871,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[106872] = {
			id = 106872,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[106873] = {
			id = 106873,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[106874] = {
			id = 106874,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[10690] = {
			id = 10690,
			actions = {[[animation]],},
			particles = {1069010,},
			delay = {0,},
		},
		[106910] = {
			id = 106910,
			actions = {[[animation]],},
			particles = {1069102,},
			delay = {0,},
		},
		[106911] = {
			id = 106911,
			actions = {[[animation]],},
			particles = {1069110,},
			delay = {0,},
		},
		[106920] = {
			id = 106920,
			actions = {[[animation]],[[animation2]],},
			particles = {1069200,},
			delay = {0,},
		},
		[106921] = {
			id = 106921,
			actions = {[[animation]],},
			particles = {1069201,},
			delay = {0,},
		},
		[107000] = {
			id = 107000,
			actions = {[[animation]],},
			particles = {1070000,},
			delay = {0,},
		},
		[107001] = {
			id = 107001,
			actions = {[[animation]],},
			particles = {1070010,},
			delay = {0,},
		},
		[107010] = {
			id = 107010,
			actions = {[[animation]],},
			particles = {1070101,},
			delay = {0,},
		},
		[107011] = {
			id = 107011,
			actions = {[[animation]],},
			particles = {1070110,},
			delay = {0,},
		},
		[107020] = {
			id = 107020,
			actions = {[[animation]],},
			particles = {1070201,},
			delay = {0,},
		},
		[107021] = {
			id = 107021,
			actions = {[[animation]],},
			particles = {1070210,},
			delay = {0,},
		},
		[107100] = {
			id = 107100,
			actions = {[[animation]],},
			particles = {1071001,},
			delay = {0,},
		},
		[107101] = {
			id = 107101,
			actions = {[[animation]],},
			particles = {1071010,},
			delay = {0,},
		},
		[10711] = {
			id = 10711,
			actions = {[[animation]],},
			particles = {1071100,},
			delay = {0,},
		},
		[107120] = {
			id = 107120,
			actions = {[[animation]],},
			particles = {1071201,},
			delay = {0,},
		},
		[107121] = {
			id = 107121,
			actions = {[[animation]],},
			particles = {1071210,},
			delay = {0,},
		},
		[10713] = {
			id = 10713,
			actions = {[[animation]],},
			particles = {1071301,},
			delay = {0,},
		},
		[10720] = {
			id = 10720,
			actions = {[[animation]],},
			particles = {1072010,},
			delay = {0,},
		},
		[107210] = {
			id = 107210,
			actions = {[[animation]],},
			particles = {1072101,},
			delay = {0,},
		},
		[107211] = {
			id = 107211,
			actions = {[[animation]],},
			particles = {1072110,},
			delay = {0,},
		},
		[10730] = {
			id = 10730,
			actions = {[[animation]],},
			particles = {1073010,},
			delay = {0,},
		},
		[10731] = {
			id = 10731,
			actions = {[[animation]],},
			particles = {1073110,},
			delay = {0,},
		},
		[107400] = {
			id = 107400,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[107401] = {
			id = 107401,
			actions = {[[animation]],},
			particles = {1074010,},
			delay = {0,},
		},
		[107410] = {
			id = 107410,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[107411] = {
			id = 107411,
			actions = {[[animation]],},
			particles = {1074110,},
			delay = {0,},
		},
		[107420] = {
			id = 107420,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
		[107421] = {
			id = 107421,
			actions = {[[animation]],},
			particles = {1074210,},
			delay = {0,},
		},
		[10743] = {
			id = 10743,
			actions = {[[animation]],},
			particles = {1074301,},
			delay = {0,},
		},
		[10744] = {
			id = 10744,
			actions = {[[animation]],},
			particles = {1074410,},
			delay = {0,},
		},
		[20041] = {
			id = 20041,
			actions = {[[animation]],},
			particles = {2004110,},
			delay = {0,},
		},
		[20051] = {
			id = 20051,
			actions = {[[animation]],},
			particles = {2005010,},
			delay = {0,},
		},
		[20111] = {
			id = 20111,
			actions = {[[animation]],},
			particles = {2011110,},
			delay = {0,},
		},
		[20140] = {
			id = 20140,
			actions = {[[animation]],},
			particles = {2014000,},
			delay = {0,},
		},
		[20300] = {
			id = 20300,
			actions = {[[animation]],},
			particles = {2030010,},
			delay = {0,},
		},
		[20331] = {
			id = 20331,
			actions = {[[animation]],},
			particles = {2033010,},
			delay = {0,},
		},
		[20371] = {
			id = 20371,
			actions = {[[animation]],},
			particles = {2037110,},
			delay = {0,},
		},
		[203710] = {
			id = 203710,
			actions = {[[animation]],},
			particles = {2037111,},
			delay = {0,},
		},
		[20372] = {
			id = 20372,
			actions = {[[animation]],},
			particles = {2037210,},
			delay = {0,},
		},
		[20373] = {
			id = 20373,
			actions = {[[animation]],},
			particles = {2037310,},
			delay = {0,},
		},
		[20374] = {
			id = 20374,
			actions = {[[animation]],},
			particles = {2037410,},
			delay = {0,},
		},
		[20375] = {
			id = 20375,
			actions = {[[animation]],},
			particles = {2037501,},
			delay = {0,},
		},
		[20480] = {
			id = 20480,
			actions = {[[animation]],},
			particles = {2048010,},
			delay = {0,},
		},
		[20481] = {
			id = 20481,
			actions = {[[animation]],},
			particles = {2048110,},
			delay = {0,},
		},
		[20490] = {
			id = 20490,
			actions = {[[animation]],},
			particles = {2049010,},
			delay = {0,},
		},
		[20491] = {
			id = 20491,
			actions = {[[animation]],},
			particles = {2049110,},
			delay = {0,},
		},
		[20492] = {
			id = 20492,
			actions = {[[animation]],},
			particles = {2049001,},
			delay = {0,},
		},
		[20510] = {
			id = 20510,
			actions = {[[animation]],},
			particles = {2051010,},
			delay = {0,},
		},
		[20511] = {
			id = 20511,
			actions = {[[animation]],},
			particles = {2051101,},
			delay = {0,},
		},
		[20512] = {
			id = 20512,
			actions = {[[animation]],},
			particles = {},
			delay = {},
		},
}