Config = Config or {}
Config.cnfexpfbtheme = {
		[1] = {
			boss_adv = [[BOSS实力强悍，皮粗肉厚，擅长物理攻击，一定时间后会释放小狗。单体攻击随时都有可能秒杀敌人。幸好这家伙比较容易被负面状态影响。]],
			suggest_strate = [[需要持久耐抗的前排，要么防御高、要么会闪避、要么血厚。看到小狗时，让单体高攻的伙伴瞬间集火消灭它。后排多堆控，释放菠萝的瞬间眩晕他！沉默他！禁锢他！减速他！石化他！]],
			recommend_hero = {1012,1027,1015,1046,1043,1049,1037,1018,1030,},
			tweet = {[[你这渣渣，能用力点吗？]],[[想要魂石就来蹂躏我吧！]],[[我拥有整个世界的魂石！]],[[坚持时间越长，魂石越多！]],[[来眩晕我！沉默我！石化我吧！]],},
		},
		[2] = {
			boss_adv = [[BOSS相当猥琐，擅长魔法攻击，严重的口臭加劣质香烟的气味会使得我方持续掉血，每隔一段时间会召唤蜘蛛帮手。猥琐的人智力都不低，幸运的是她攻击不是特别强。]],
			suggest_strate = [[建议放一些加血的伙伴，如果你有清除负面效果的伙伴就更容易啦。怒气满时别着急，等待蜘蛛出来就一波带走！]],
			recommend_hero = {1032,1027,1015,1046,1004,1039,1044,1030,1048,},
			tweet = {[[布阵合理才能打出更高伤害！]],[[坚持时间越长，魂石越多！]],[[后排控制好厉害！好怕怕！]],[[是男人就坚持时间久一点]],[[你够持久吗？]],},
		},
}