Config = Config or {}
Config.cnfembattlehuyou = {
		[1] = {
			group_id = 1,
			id = 1,
			improve_type = 1,
			unlock_level = 0,
		},
		[2] = {
			group_id = 1,
			id = 2,
			improve_type = 2,
			unlock_level = 5,
		},
		[3] = {
			group_id = 1,
			id = 3,
			improve_type = 3,
			unlock_level = 10,
		},
		[4] = {
			group_id = 1,
			id = 4,
			improve_type = 4,
			unlock_level = 15,
		},
		[5] = {
			group_id = 1,
			id = 5,
			improve_type = 1,
			unlock_level = 20,
		},
		[6] = {
			group_id = 1,
			id = 6,
			improve_type = 4,
			unlock_level = 25,
		},
		[7] = {
			group_id = 2,
			id = 1,
			improve_type = 1,
			unlock_level = 0,
		},
		[8] = {
			group_id = 2,
			id = 2,
			improve_type = 2,
			unlock_level = 5,
		},
		[9] = {
			group_id = 2,
			id = 3,
			improve_type = 3,
			unlock_level = 10,
		},
		[10] = {
			group_id = 2,
			id = 4,
			improve_type = 4,
			unlock_level = 15,
		},
		[11] = {
			group_id = 2,
			id = 5,
			improve_type = 2,
			unlock_level = 20,
		},
		[12] = {
			group_id = 2,
			id = 6,
			improve_type = 4,
			unlock_level = 25,
		},
		[13] = {
			group_id = 3,
			id = 1,
			improve_type = 1,
			unlock_level = 0,
		},
		[14] = {
			group_id = 3,
			id = 2,
			improve_type = 2,
			unlock_level = 5,
		},
		[15] = {
			group_id = 3,
			id = 3,
			improve_type = 3,
			unlock_level = 10,
		},
		[16] = {
			group_id = 3,
			id = 4,
			improve_type = 4,
			unlock_level = 15,
		},
		[17] = {
			group_id = 3,
			id = 5,
			improve_type = 3,
			unlock_level = 20,
		},
		[18] = {
			group_id = 3,
			id = 6,
			improve_type = 4,
			unlock_level = 25,
		},
}