Config = Config or {}
Config.cnfexpfbchoice = {
		[1] = {
			type = 1,
			describe = [[最简单的难度，在此难度下，您可以轻松愉悦像打孙子一样打败敌人。但是相应的您获得的魂石质量和数量就一般般啦。]],
			zhanli = 6.5,
			output = {3721,},
		},
		[2] = {
			type = 2,
			describe = [[正常的难度，在此难度下，您可以充分体验战斗的乐趣，有时不动动脑筋是不行的哦。取得胜利后可以获得异常丰厚的魂石奖励。]],
			zhanli = 7,
			output = {3722,},
		},
		[3] = {
			type = 3,
			describe = [[天啊…您真的要挑战这个难度吗？据说每一千年才会诞生一个超级玩家，只有传说中的超级玩家才能战胜这个难度。该难度下的魂石质量与数量绝对超乎你想象。]],
			zhanli = 7,
			output = {3723,},
		},
}