Config = Config or {}
Config.cnffbanimation = {
		[1] = {
			dy = 125,
			ct1 = 100,
			ct2 = 600,
			speed = 1810,
			accel = -2500,
		},
		[2] = {
			dy = 45,
			ct1 = 0,
			ct2 = 0,
			speed = -400,
			accel = 900,
		},
		[3] = {
			dy = 45,
			ct1 = 0,
			ct2 = 0,
			speed = 0,
			accel = 0,
		},
}