Config = Config or {}
Config.cnffoot = {
		[1] = {
			id = 1,
			activation = 3767,
			foot_name = [[铃铛脚印]],
			foot_describe = [[叮叮铃铛响叮当。]],
			spine_res = 8702,
			spine_action = [[animation]],
		},
		[2] = {
			id = 2,
			activation = 3768,
			foot_name = [[雪花脚印]],
			foot_describe = [[我的背后会下雪!]],
			spine_res = 8702,
			spine_action = [[animation2]],
		},
		[3] = {
			id = 3,
			activation = 3769,
			foot_name = [[麋鹿脚印]],
			foot_describe = [[说好的麋鹿呢?]],
			spine_res = 8702,
			spine_action = [[animation3]],
		},
		[4] = {
			id = 4,
			activation = 3770,
			foot_name = [[爱情脚印]],
			foot_describe = [[情人节快乐!]],
			spine_res = 8706,
			spine_action = [[animation]],
			attr = {{51,0,30000,},},
		},
		[5] = {
			id = 5,
			activation = 3771,
			foot_name = [[爆竹脚印]],
			foot_describe = [[Boom!]],
			spine_res = 8707,
			spine_action = [[animation]],
			attr = {{5,0,500,},},
		},
		[6] = {
			id = 6,
			activation = 3772,
			foot_name = [[红包脚印]],
			foot_describe = [[群主!发红包!]],
			spine_res = 8708,
			spine_action = [[animation]],
			attr = {{6,0,500,},},
		},
		[7] = {
			id = 7,
			activation = 3773,
			foot_name = [[汤圆脚印]],
			foot_describe = [[你想吃我吗?]],
			spine_res = 8709,
			spine_action = [[animation]],
			attr = {{51,0,30000,},},
		},
		[8] = {
			id = 8,
			activation = 3816,
			foot_name = [[暴走脚印]],
			foot_describe = [[我在思考，不要打扰我!]],
			spine_res = 8714,
			spine_action = [[animation]],
			attr = {{3,0,800,},},
		},
		[9] = {
			id = 9,
			activation = 3819,
			foot_name = [[丰收脚印]],
			foot_describe = [[丰收的喜悦！]],
			spine_res = 8715,
			spine_action = [[animation]],
			attr = {{21,0,500,},},
		},
		[10] = {
			id = 10,
			activation = 3821,
			foot_name = [[蜜蜂脚印]],
			foot_describe = [[小蜜蜂,嗡嗡嗡！]],
			spine_res = 8716,
			spine_action = [[animation]],
			attr = {{22,0,500,},},
		},
		[11] = {
			id = 11,
			activation = 3823,
			foot_name = [[足球脚印]],
			foot_describe = [[2016欧洲杯加油！]],
			spine_res = 8725,
			spine_action = [[animation]],
			attr = {{2,0,800,},},
		},
		[12] = {
			id = 12,
			activation = 3824,
			foot_name = [[周年脚印]],
			foot_describe = [[周年庆快乐！]],
			spine_res = 8726,
			spine_action = [[animation]],
			attr = {{7,0,500,},{8,0,500,},},
		},
		[13] = {
			id = 13,
			activation = 3825,
			foot_name = [[南瓜灯脚印]],
			foot_describe = [[万圣节快乐！]],
			spine_res = 8727,
			spine_action = [[animation]],
			attr = {{16,0.04,0,},},
		},
		[14] = {
			id = 14,
			activation = 3828,
			foot_name = [[感恩节脚印]],
			foot_describe = [[感恩节快乐！]],
			spine_res = 8728,
			spine_action = [[animation]],
			attr = {{5,0,500,},{21,0,500,},},
		},
		[15] = {
			id = 15,
			activation = 4078,
			foot_name = [[圣诞树脚印]],
			foot_describe = [[圣诞节快乐！]],
			spine_res = 8729,
			spine_action = [[animation]],
			attr = {{17,0.03,0,},},
		},
		[16] = {
			id = 16,
			activation = 4091,
			foot_name = [[灯笼脚印]],
			foot_describe = [[辞旧迎新！]],
			spine_res = 8730,
			spine_action = [[animation]],
			attr = {{84,0.04,0,},},
		},
		[17] = {
			id = 17,
			activation = 30003,
			foot_name = [[世界杯脚印]],
			foot_describe = [[世界杯！世界杯！世界杯！]],
			spine_res = 8731,
			spine_action = [[animation]],
			attr = {{5,0,800,},{6,0,800,},},
		},
}