Config = Config or {}
Config.cnffctimingreward = {
		[1] = {
			begin_time = 43200,
			last_time = 7200,
			describe = [[每天12：00~14：00可以免费领取500钻石]],
			reward_id = 6010,
			record_id = 5001,
		},
		[2] = {
			begin_time = 64800,
			last_time = 7200,
			describe = [[每天18：00~20：00可以免费领取500钻石]],
			reward_id = 6011,
			record_id = 5002,
		},
}