Config = Config or {}
Config.cnfguildfbinfo = {
		[1] = {
			day_count = 2,
			cd_time = 300,
			max_battle_time = 300,
			describe = [[1.公会副本需先消耗公会活跃度进行重置才可挑战；<BR>2.重置副本将重置章节内所有怪物的血量，只有公会会长、副会长才拥有重置副本的权力；<BR>3.公会通关某个公会副本章节后，下一章节的公会副本才能进行重置；<BR>4.公会成员可以轮流挑战同一副本，怪物血量不回复；<BR>5.每个公会副本章节，每个公会成员每天可挑战2次；<BR>6.为了不影响其他公会成员的体验，每次挑战时间不能超过3分钟；<BR>7.通关关卡、章节时，所有公会成员均可获得荣誉奖励；<BR>8.通关关卡时，会掉落战利品。战利品归公会集体所有，公会成员可通过申请获得；<BR>9.多名公会成员同时申请同一战利品时，根据成员在章节内的总伤害值排队领取；<BR>10.每名公会成员一天只能申请一件战利品；<BR>11.战利品在每天的05:00按照排队情况进行分配；<BR>12.战利品及荣誉奖励通过邮件进行发放；]],
		},
}