Config = Config or {}
Config.cnfguildicon = {
		[1] = {
			id = 1,
			res_id = 9041,
		},
		[2] = {
			id = 2,
			res_id = 9084,
		},
		[3] = {
			id = 3,
			res_id = 9109,
		},
		[4] = {
			id = 4,
			res_id = 9032,
		},
		[5] = {
			id = 5,
			res_id = 9049,
		},
		[6] = {
			id = 6,
			res_id = 9058,
		},
		[7] = {
			id = 7,
			res_id = 9037,
		},
		[8] = {
			id = 8,
			res_id = 9065,
		},
		[9] = {
			id = 9,
			res_id = 9051,
		},
		[10] = {
			id = 10,
			res_id = 9034,
		},
		[11] = {
			id = 11,
			res_id = 9031,
		},
		[12] = {
			id = 12,
			res_id = 9046,
		},
		[13] = {
			id = 13,
			res_id = 9035,
		},
		[14] = {
			id = 14,
			res_id = 9083,
		},
		[15] = {
			id = 15,
			res_id = 9086,
		},
		[16] = {
			id = 16,
			res_id = 9105,
		},
		[17] = {
			id = 17,
			res_id = 9038,
		},
		[18] = {
			id = 18,
			res_id = 9094,
		},
		[19] = {
			id = 19,
			res_id = 9087,
		},
		[20] = {
			id = 20,
			res_id = 9061,
		},
		[21] = {
			id = 21,
			res_id = 9088,
		},
		[22] = {
			id = 22,
			res_id = 9074,
		},
		[23] = {
			id = 23,
			res_id = 9030,
		},
		[24] = {
			id = 24,
			res_id = 3732,
		},
		[25] = {
			id = 25,
			res_id = 9056,
		},
		[26] = {
			id = 26,
			res_id = 3715,
		},
		[27] = {
			id = 27,
			res_id = 9063,
		},
		[28] = {
			id = 28,
			res_id = 9073,
		},
		[29] = {
			id = 29,
			res_id = 9096,
		},
		[30] = {
			id = 30,
			res_id = 9025,
		},
		[31] = {
			id = 31,
			res_id = 9050,
		},
		[32] = {
			id = 32,
			res_id = 9052,
		},
		[33] = {
			id = 33,
			res_id = 9097,
		},
		[34] = {
			id = 34,
			res_id = 9098,
		},
		[35] = {
			id = 35,
			res_id = 9099,
		},
		[36] = {
			id = 36,
			res_id = 9100,
		},
}