Config = Config or {}
Config.cnfgemshop = {
		[] = {
			item_id = 3701,
			slot_type = 1,
			item_num = 20,
			prime_selling = 22,
			special_selling = 15,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 3702,
			slot_type = 1,
			item_num = 20,
			prime_selling = 75,
			special_selling = 48,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 3703,
			slot_type = 1,
			item_num = 20,
			prime_selling = 228,
			special_selling = 138,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 3711,
			slot_type = 2,
			item_num = 5,
			prime_selling = 100,
			special_selling = 95,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 3711,
			slot_type = 2,
			item_num = 10,
			prime_selling = 200,
			special_selling = 188,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 3711,
			slot_type = 2,
			item_num = 20,
			prime_selling = 400,
			special_selling = 368,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 3712,
			slot_type = 2,
			item_num = 5,
			prime_selling = 200,
			special_selling = 188,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 3712,
			slot_type = 2,
			item_num = 10,
			prime_selling = 400,
			special_selling = 368,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 3712,
			slot_type = 2,
			item_num = 20,
			prime_selling = 800,
			special_selling = 718,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 3716,
			slot_type = 3,
			item_num = 5,
			prime_selling = 25,
			special_selling = 23,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 3716,
			slot_type = 3,
			item_num = 10,
			prime_selling = 50,
			special_selling = 45,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 3716,
			slot_type = 3,
			item_num = 20,
			prime_selling = 100,
			special_selling = 88,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 3733,
			slot_type = 4,
			item_num = 5,
			prime_selling = 50,
			special_selling = 48,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 3733,
			slot_type = 4,
			item_num = 10,
			prime_selling = 100,
			special_selling = 95,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 3733,
			slot_type = 4,
			item_num = 20,
			prime_selling = 200,
			special_selling = 188,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 3734,
			slot_type = 4,
			item_num = 5,
			prime_selling = 200,
			special_selling = 190,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 3734,
			slot_type = 4,
			item_num = 10,
			prime_selling = 400,
			special_selling = 368,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 3734,
			slot_type = 4,
			item_num = 20,
			prime_selling = 800,
			special_selling = 718,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 8048,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 8049,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 8050,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 8051,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 8052,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 8053,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 8054,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 8055,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 8056,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 8057,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 8058,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 8059,
			slot_type = 5,
			item_num = 1,
			prime_selling = 10,
			special_selling = 8,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9016,
			slot_type = 5,
			item_num = 1,
			prime_selling = 20,
			special_selling = 15,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9017,
			slot_type = 5,
			item_num = 1,
			prime_selling = 20,
			special_selling = 15,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9018,
			slot_type = 5,
			item_num = 1,
			prime_selling = 20,
			special_selling = 15,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9019,
			slot_type = 5,
			item_num = 1,
			prime_selling = 20,
			special_selling = 15,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9020,
			slot_type = 5,
			item_num = 1,
			prime_selling = 20,
			special_selling = 15,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9021,
			slot_type = 5,
			item_num = 1,
			prime_selling = 20,
			special_selling = 15,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9022,
			slot_type = 5,
			item_num = 1,
			prime_selling = 50,
			special_selling = 38,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9023,
			slot_type = 5,
			item_num = 1,
			prime_selling = 50,
			special_selling = 38,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9024,
			slot_type = 5,
			item_num = 1,
			prime_selling = 50,
			special_selling = 38,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9025,
			slot_type = 5,
			item_num = 1,
			prime_selling = 120,
			special_selling = 90,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9026,
			slot_type = 5,
			item_num = 1,
			prime_selling = 120,
			special_selling = 90,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9027,
			slot_type = 5,
			item_num = 1,
			prime_selling = 120,
			special_selling = 90,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9028,
			slot_type = 5,
			item_num = 1,
			prime_selling = 120,
			special_selling = 90,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9029,
			slot_type = 5,
			item_num = 1,
			prime_selling = 120,
			special_selling = 90,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9030,
			slot_type = 5,
			item_num = 1,
			prime_selling = 120,
			special_selling = 90,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9031,
			slot_type = 5,
			item_num = 1,
			prime_selling = 140,
			special_selling = 105,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9032,
			slot_type = 5,
			item_num = 1,
			prime_selling = 140,
			special_selling = 105,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9033,
			slot_type = 5,
			item_num = 1,
			prime_selling = 140,
			special_selling = 105,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9034,
			slot_type = 5,
			item_num = 1,
			prime_selling = 140,
			special_selling = 105,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9035,
			slot_type = 5,
			item_num = 1,
			prime_selling = 140,
			special_selling = 105,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9036,
			slot_type = 5,
			item_num = 1,
			prime_selling = 140,
			special_selling = 105,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9037,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9038,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9039,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9040,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9041,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9042,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9043,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9044,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9045,
			slot_type = 5,
			item_num = 1,
			prime_selling = 210,
			special_selling = 158,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9046,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9047,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9048,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9049,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9050,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9051,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9052,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9053,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9054,
			slot_type = 5,
			item_num = 1,
			prime_selling = 350,
			special_selling = 263,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9055,
			slot_type = 5,
			item_num = 1,
			prime_selling = 380,
			special_selling = 285,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9056,
			slot_type = 5,
			item_num = 1,
			prime_selling = 380,
			special_selling = 285,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9057,
			slot_type = 5,
			item_num = 1,
			prime_selling = 380,
			special_selling = 285,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9058,
			slot_type = 5,
			item_num = 1,
			prime_selling = 590,
			special_selling = 443,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9059,
			slot_type = 5,
			item_num = 1,
			prime_selling = 590,
			special_selling = 443,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9060,
			slot_type = 5,
			item_num = 1,
			prime_selling = 590,
			special_selling = 443,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9061,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9062,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9063,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9064,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9065,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9066,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9067,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9068,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9069,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9070,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9071,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9072,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9073,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9074,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9075,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9076,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9077,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9078,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9079,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9080,
			slot_type = 5,
			item_num = 1,
			prime_selling = 400,
			special_selling = 300,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9081,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9082,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9083,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9084,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9085,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9086,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9087,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9088,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9089,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9090,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9091,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9092,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9093,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9094,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9095,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9096,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 0,
			weight = 1000,
		},
		[] = {
			item_id = 9097,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 1,
			weight = 1000,
		},
		[] = {
			item_id = 9098,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 2,
			weight = 1000,
		},
		[] = {
			item_id = 9099,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 3,
			weight = 1000,
		},
		[] = {
			item_id = 9100,
			slot_type = 5,
			item_num = 1,
			prime_selling = 780,
			special_selling = 585,
			vip_limit = 0,
			weight = 1000,
		},
}