Config = Config or {}
Config.cnfguildexplain = {
		[1] = {
			explain = [[<COLOR VALUE=442c0c>1、玩家对公会做出贡献，系统会奖励玩家一定次数的投骰机会。当日公会贡献每增加250即奖励1次幸运骰子游戏次数，上限为4次。<BR> <BR>2、无论玩家投掷多少次，系统只保留最高分数，每周日5点进行结算。根据玩家在公会的分数排名发放奖励（金币、公会荣誉），所有奖励均以邮件形式发放。<BR> <BR>3、VIP如果对投掷结果不满意，可以花费少许钻石重新投掷且不额外消耗投掷次数。<BR> <BR>4、投掷骰子后，会随即出现各种图案，其中砂忍图案100分，雨忍图案150分，音忍200分，岩忍250分，雾忍300分，木叶450分。<BR> <BR>5、投掷出特殊组合后，会获得额外分数。只有2个相同图案+1000分，只有3个相同图案+2000分，只有4个相同图案+3000分，5个相同图案+4000分，6个相同图案+5000分，2个相同连带2个相同+1000分，3个相同连带2个相同+2000分，4个相同连带2个相同+4000分。3个相同连带3个相同+5000分。<BR> <BR>6、红色的木叶忍者图案为特殊图案，如果转出多个木叶图案，同样会有额外加分：有2个木叶图案+1000分，3个木叶图案+2000分，4个木叶图案+3000分，5个木叶图案+4000分，6个木叶图案+6000分。<BR> <BR> <BR>]],
		},
}