Config = Config or {}
Config.cnfguildmercenaryhirereward = {
		[1] = {
			end_level = 1,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7762,
			hire_count_bonus = 0,
			max_val = 126135,
		},
		[2] = {
			end_level = 2,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7775,
			hire_count_bonus = 0,
			max_val = 126345,
		},
		[3] = {
			end_level = 3,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7788,
			hire_count_bonus = 0,
			max_val = 126555,
		},
		[4] = {
			end_level = 4,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7814,
			hire_count_bonus = 0,
			max_val = 126975,
		},
		[5] = {
			end_level = 5,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7826,
			hire_count_bonus = 0,
			max_val = 127185,
		},
		[6] = {
			end_level = 6,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7852,
			hire_count_bonus = 0,
			max_val = 127605,
		},
		[7] = {
			end_level = 7,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7878,
			hire_count_bonus = 0,
			max_val = 128020,
		},
		[8] = {
			end_level = 8,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7904,
			hire_count_bonus = 0,
			max_val = 128445,
		},
		[9] = {
			end_level = 9,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7917,
			hire_count_bonus = 0,
			max_val = 128650,
		},
		[10] = {
			end_level = 10,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7943,
			hire_count_bonus = 0,
			max_val = 129075,
		},
		[11] = {
			end_level = 11,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7968,
			hire_count_bonus = 0,
			max_val = 129490,
		},
		[12] = {
			end_level = 12,
			factor = 5.5999999999999999E-3,
			lv_bonus = 7994,
			hire_count_bonus = 0,
			max_val = 129915,
		},
		[13] = {
			end_level = 13,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8020,
			hire_count_bonus = 0,
			max_val = 130330,
		},
		[14] = {
			end_level = 14,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8046,
			hire_count_bonus = 0,
			max_val = 130750,
		},
		[15] = {
			end_level = 15,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8072,
			hire_count_bonus = 0,
			max_val = 131175,
		},
		[16] = {
			end_level = 16,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8098,
			hire_count_bonus = 0,
			max_val = 131590,
		},
		[17] = {
			end_level = 17,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8124,
			hire_count_bonus = 0,
			max_val = 132015,
		},
		[18] = {
			end_level = 18,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8162,
			hire_count_bonus = 0,
			max_val = 132645,
		},
		[19] = {
			end_level = 19,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8188,
			hire_count_bonus = 0,
			max_val = 133060,
		},
		[20] = {
			end_level = 20,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8214,
			hire_count_bonus = 0,
			max_val = 133480,
		},
		[21] = {
			end_level = 21,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8240,
			hire_count_bonus = 0,
			max_val = 133900,
		},
		[22] = {
			end_level = 22,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8266,
			hire_count_bonus = 0,
			max_val = 134320,
		},
		[23] = {
			end_level = 23,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8304,
			hire_count_bonus = 0,
			max_val = 134950,
		},
		[24] = {
			end_level = 24,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8330,
			hire_count_bonus = 0,
			max_val = 135365,
		},
		[25] = {
			end_level = 25,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8356,
			hire_count_bonus = 0,
			max_val = 135790,
		},
		[26] = {
			end_level = 26,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8382,
			hire_count_bonus = 0,
			max_val = 136210,
		},
		[27] = {
			end_level = 27,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8420,
			hire_count_bonus = 0,
			max_val = 136835,
		},
		[28] = {
			end_level = 28,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8446,
			hire_count_bonus = 0,
			max_val = 137260,
		},
		[29] = {
			end_level = 29,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8472,
			hire_count_bonus = 0,
			max_val = 137680,
		},
		[30] = {
			end_level = 30,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8511,
			hire_count_bonus = 0,
			max_val = 138310,
		},
		[31] = {
			end_level = 31,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8537,
			hire_count_bonus = 0,
			max_val = 138725,
		},
		[32] = {
			end_level = 32,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8576,
			hire_count_bonus = 0,
			max_val = 139360,
		},
		[33] = {
			end_level = 33,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8601,
			hire_count_bonus = 0,
			max_val = 139775,
		},
		[34] = {
			end_level = 34,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8627,
			hire_count_bonus = 0,
			max_val = 140195,
		},
		[35] = {
			end_level = 35,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8666,
			hire_count_bonus = 0,
			max_val = 140825,
		},
		[36] = {
			end_level = 36,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8692,
			hire_count_bonus = 0,
			max_val = 141245,
		},
		[37] = {
			end_level = 37,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8730,
			hire_count_bonus = 0,
			max_val = 141875,
		},
		[38] = {
			end_level = 38,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8756,
			hire_count_bonus = 0,
			max_val = 142295,
		},
		[39] = {
			end_level = 39,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8795,
			hire_count_bonus = 0,
			max_val = 142925,
		},
		[40] = {
			end_level = 40,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8821,
			hire_count_bonus = 0,
			max_val = 143340,
		},
		[41] = {
			end_level = 41,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8860,
			hire_count_bonus = 0,
			max_val = 143975,
		},
		[42] = {
			end_level = 42,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8886,
			hire_count_bonus = 0,
			max_val = 144395,
		},
		[43] = {
			end_level = 43,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8924,
			hire_count_bonus = 0,
			max_val = 145025,
		},
		[44] = {
			end_level = 44,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8950,
			hire_count_bonus = 0,
			max_val = 145440,
		},
		[45] = {
			end_level = 45,
			factor = 5.5999999999999999E-3,
			lv_bonus = 8989,
			hire_count_bonus = 0,
			max_val = 146070,
		},
		[46] = {
			end_level = 46,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9015,
			hire_count_bonus = 0,
			max_val = 146495,
		},
		[47] = {
			end_level = 47,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9054,
			hire_count_bonus = 0,
			max_val = 147125,
		},
		[48] = {
			end_level = 48,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9092,
			hire_count_bonus = 0,
			max_val = 147750,
		},
		[49] = {
			end_level = 49,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9118,
			hire_count_bonus = 0,
			max_val = 148170,
		},
		[50] = {
			end_level = 50,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9157,
			hire_count_bonus = 0,
			max_val = 148800,
		},
		[51] = {
			end_level = 51,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9183,
			hire_count_bonus = 0,
			max_val = 149225,
		},
		[52] = {
			end_level = 52,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9221,
			hire_count_bonus = 0,
			max_val = 149850,
		},
		[53] = {
			end_level = 53,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9260,
			hire_count_bonus = 0,
			max_val = 150480,
		},
		[54] = {
			end_level = 54,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9286,
			hire_count_bonus = 0,
			max_val = 150900,
		},
		[55] = {
			end_level = 55,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9325,
			hire_count_bonus = 0,
			max_val = 151530,
		},
		[56] = {
			end_level = 56,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9364,
			hire_count_bonus = 0,
			max_val = 152165,
		},
		[57] = {
			end_level = 57,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9389,
			hire_count_bonus = 0,
			max_val = 152580,
		},
		[58] = {
			end_level = 58,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9428,
			hire_count_bonus = 0,
			max_val = 153210,
		},
		[59] = {
			end_level = 59,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9467,
			hire_count_bonus = 0,
			max_val = 153840,
		},
		[60] = {
			end_level = 60,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9506,
			hire_count_bonus = 0,
			max_val = 154470,
		},
		[61] = {
			end_level = 61,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9531,
			hire_count_bonus = 0,
			max_val = 154885,
		},
		[62] = {
			end_level = 62,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9570,
			hire_count_bonus = 0,
			max_val = 155515,
		},
		[63] = {
			end_level = 63,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9609,
			hire_count_bonus = 0,
			max_val = 156145,
		},
		[64] = {
			end_level = 64,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9648,
			hire_count_bonus = 0,
			max_val = 156780,
		},
		[65] = {
			end_level = 65,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9673,
			hire_count_bonus = 0,
			max_val = 157195,
		},
		[66] = {
			end_level = 66,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9712,
			hire_count_bonus = 0,
			max_val = 157825,
		},
		[67] = {
			end_level = 67,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9751,
			hire_count_bonus = 0,
			max_val = 158455,
		},
		[68] = {
			end_level = 68,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9790,
			hire_count_bonus = 0,
			max_val = 159085,
		},
		[69] = {
			end_level = 69,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9816,
			hire_count_bonus = 0,
			max_val = 159510,
		},
		[70] = {
			end_level = 70,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9854,
			hire_count_bonus = 0,
			max_val = 160140,
		},
		[71] = {
			end_level = 71,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9893,
			hire_count_bonus = 0,
			max_val = 160760,
		},
		[72] = {
			end_level = 72,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9932,
			hire_count_bonus = 0,
			max_val = 161395,
		},
		[73] = {
			end_level = 73,
			factor = 5.5999999999999999E-3,
			lv_bonus = 9970,
			hire_count_bonus = 0,
			max_val = 162025,
		},
		[74] = {
			end_level = 74,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10009,
			hire_count_bonus = 0,
			max_val = 162655,
		},
		[75] = {
			end_level = 75,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10035,
			hire_count_bonus = 0,
			max_val = 163075,
		},
		[76] = {
			end_level = 76,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10074,
			hire_count_bonus = 0,
			max_val = 163705,
		},
		[77] = {
			end_level = 77,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10112,
			hire_count_bonus = 0,
			max_val = 164330,
		},
		[78] = {
			end_level = 78,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10151,
			hire_count_bonus = 0,
			max_val = 164960,
		},
		[79] = {
			end_level = 79,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10190,
			hire_count_bonus = 0,
			max_val = 165590,
		},
		[80] = {
			end_level = 80,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10229,
			hire_count_bonus = 0,
			max_val = 166220,
		},
		[81] = {
			end_level = 81,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10268,
			hire_count_bonus = 0,
			max_val = 166855,
		},
		[82] = {
			end_level = 82,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10293,
			hire_count_bonus = 0,
			max_val = 167270,
		},
		[83] = {
			end_level = 83,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10332,
			hire_count_bonus = 0,
			max_val = 167900,
		},
		[84] = {
			end_level = 84,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10371,
			hire_count_bonus = 0,
			max_val = 168530,
		},
		[85] = {
			end_level = 85,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10410,
			hire_count_bonus = 0,
			max_val = 169160,
		},
		[86] = {
			end_level = 86,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10448,
			hire_count_bonus = 0,
			max_val = 169790,
		},
		[87] = {
			end_level = 87,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10487,
			hire_count_bonus = 0,
			max_val = 170420,
		},
		[88] = {
			end_level = 88,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10526,
			hire_count_bonus = 0,
			max_val = 171050,
		},
		[89] = {
			end_level = 89,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10564,
			hire_count_bonus = 0,
			max_val = 171675,
		},
		[90] = {
			end_level = 90,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10603,
			hire_count_bonus = 0,
			max_val = 172305,
		},
		[91] = {
			end_level = 91,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10642,
			hire_count_bonus = 0,
			max_val = 172935,
		},
		[92] = {
			end_level = 92,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10681,
			hire_count_bonus = 0,
			max_val = 173565,
		},
		[93] = {
			end_level = 93,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10720,
			hire_count_bonus = 0,
			max_val = 174200,
		},
		[94] = {
			end_level = 94,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10758,
			hire_count_bonus = 0,
			max_val = 174830,
		},
		[95] = {
			end_level = 95,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10797,
			hire_count_bonus = 0,
			max_val = 175460,
		},
		[96] = {
			end_level = 96,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10836,
			hire_count_bonus = 0,
			max_val = 176090,
		},
		[97] = {
			end_level = 97,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10874,
			hire_count_bonus = 0,
			max_val = 176715,
		},
		[98] = {
			end_level = 98,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10913,
			hire_count_bonus = 0,
			max_val = 177345,
		},
		[99] = {
			end_level = 99,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10952,
			hire_count_bonus = 0,
			max_val = 177975,
		},
		[100] = {
			end_level = 100,
			factor = 5.5999999999999999E-3,
			lv_bonus = 10991,
			hire_count_bonus = 0,
			max_val = 178605,
		},
		[101] = {
			end_level = 101,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11029,
			hire_count_bonus = 0,
			max_val = 179233,
		},
		[102] = {
			end_level = 102,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11068,
			hire_count_bonus = 0,
			max_val = 179862,
		},
		[103] = {
			end_level = 103,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11107,
			hire_count_bonus = 0,
			max_val = 180491,
		},
		[104] = {
			end_level = 104,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11146,
			hire_count_bonus = 0,
			max_val = 181120,
		},
		[105] = {
			end_level = 105,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11184,
			hire_count_bonus = 0,
			max_val = 181749,
		},
		[106] = {
			end_level = 106,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11223,
			hire_count_bonus = 0,
			max_val = 182378,
		},
		[107] = {
			end_level = 107,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11262,
			hire_count_bonus = 0,
			max_val = 183007,
		},
		[108] = {
			end_level = 108,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11301,
			hire_count_bonus = 0,
			max_val = 183636,
		},
		[109] = {
			end_level = 109,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11340,
			hire_count_bonus = 0,
			max_val = 184265,
		},
		[110] = {
			end_level = 110,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11378,
			hire_count_bonus = 0,
			max_val = 184894,
		},
		[111] = {
			end_level = 111,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11417,
			hire_count_bonus = 0,
			max_val = 185523,
		},
		[112] = {
			end_level = 112,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11456,
			hire_count_bonus = 0,
			max_val = 186152,
		},
		[113] = {
			end_level = 113,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11495,
			hire_count_bonus = 0,
			max_val = 186781,
		},
		[114] = {
			end_level = 114,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11534,
			hire_count_bonus = 0,
			max_val = 187410,
		},
		[115] = {
			end_level = 115,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11572,
			hire_count_bonus = 0,
			max_val = 188039,
		},
		[116] = {
			end_level = 116,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11611,
			hire_count_bonus = 0,
			max_val = 188668,
		},
		[117] = {
			end_level = 117,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11650,
			hire_count_bonus = 0,
			max_val = 189297,
		},
		[118] = {
			end_level = 118,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11689,
			hire_count_bonus = 0,
			max_val = 189926,
		},
		[119] = {
			end_level = 119,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11728,
			hire_count_bonus = 0,
			max_val = 190555,
		},
		[120] = {
			end_level = 120,
			factor = 5.5999999999999999E-3,
			lv_bonus = 11766,
			hire_count_bonus = 0,
			max_val = 191184,
		},
}