Config = Config or {}
Config.CnfGuildTalk = {
		[1] = {
			explain = [[<COLOR VALUE=0xff442c0c>当日活跃度达到250可投1次，活跃度来源于个人体力消耗。</COLOR>]],
			start_time = 0,
			end_time = 6,
		},
		[2] = {
			explain = [[<COLOR VALUE=0xff442c0c>积分排行只记录单次最高分数，每周日结算发送邮件奖励。</COLOR>]],
			start_time = 6,
			end_time = 12,
		},
		[3] = {
			explain = [[<COLOR VALUE=0xff442c0c>每个图案都有对应的分数。投掷出相应组合有额外加分。</COLOR>]],
			start_time = 12,
			end_time = 18,
		},
		[4] = {
			explain = [[<COLOR VALUE=0xff442c0c>系统根据排名的分数段结算奖励。分数过低排名好也枉然。</COLOR>]],
			start_time = 18,
			end_time = 24,
		},
}