Config = Config or {}
Config.cnfguilddicenum = {
		[1] = {
			score = 250,
			num = 1,
		},
		[2] = {
			score = 500,
			num = 1,
		},
		[3] = {
			score = 750,
			num = 1,
		},
		[4] = {
			score = 1000,
			num = 1,
		},
}