Config = Config or {}
Config.cnfgemdecompos = {
		[1] = {
			total_exp = 1000,
			change_exp1 = 0.6,
			change_exp2 = 0.8,
			change_exp3 = 1,
			change_gold_num1 = 0,
			change_gold_num2 = 0.04,
			change_gold_num3 = 0.08,
			change_gem_id1 = {3732,3733,},
			change_gem_id2 = {3732,3733,},
			change_gem_id3 = {3732,3733,},
		},
		[2] = {
			total_exp = 2000,
			change_exp1 = 0.6,
			change_exp2 = 0.8,
			change_exp3 = 1,
			change_gold_num1 = 0,
			change_gold_num2 = 0.04,
			change_gold_num3 = 0.08,
			change_gem_id1 = {3732,3734,},
			change_gem_id2 = {3732,3734,},
			change_gem_id3 = {3732,3734,},
		},
		[3] = {
			total_exp = 3000,
			change_exp1 = 0.6,
			change_exp2 = 0.8,
			change_exp3 = 1,
			change_gold_num1 = 0,
			change_gold_num2 = 0.04,
			change_gold_num3 = 0.08,
			change_gem_id1 = {3732,3731,},
			change_gem_id2 = {3732,3731,},
			change_gem_id3 = {3732,3731,},
		},
}