Config = Config or {}
Config.cnfhetiheji = {
		[1] = {
			heti_list = {{1041,1017,1054,5904,1,},{1005,1019,1055,5907,10,},{1012,1034,1053,5905,20,},{1033,1026,1056,5906,30,},{1064,1065,1066,5908,40,},{1061,1028,1089,5911,45,},},
			heji_list = {{1042,1011,10425,[[<COLOR VALUE=ff422c0c>小飞侠吸入大量空气使得身体变大，再被其哥哥点火后踢出去砸人，效果拔群的合击技能。最后我只能说这是亲哥吗？]],1,},{1014,1039,10145,[[<COLOR VALUE=ff422c0c>一根可以改变天气的棒子，一颗可以石化万物的爱心，最后我只想说这个技能教会我们，只要你有一根可以翻云覆雨的棒子，就能获得一颗爽到你石化的爱心。]],10,},{1009,1010,10095,[[<COLOR VALUE=ff422c0c>精选优质骨刺，配合万蛇毒烟熏烤，被洞穿后的痛感会被精神毒素无限放大，骨刺的位置全部避开要害，想快点死都不行。最后我只能说这感觉真是比谈场恋爱还刺激。]],20,},{1029,1051,10295,[[<COLOR VALUE=ff422c0c>曾经的对手也会变成挚友，八门遁甲和沙暴送葬再次重现人间，完美的组合，天衣无缝的攻击。最后我只想问你俩啥时候在一起哒？]],30,},{1068,1067,10687,[[<COLOR VALUE=ff422c0c>露西吟唱星文，沟通全天八十八星辰的力量，引导出火龙王血液中蕴含的灭世龙焰吞噬一切。这酸爽，绝对不可想象！]],40,},},
			heti_desc = [[<COLOR VALUE=0xff442c20>说明:合击技能等级,由前置两个角色对应的技能等级之和除以2(向下取整)]],
			heji_desc = [[<COLOR VALUE=0xff442c20>说明:合击技能等级,由前置两个角色对应的技能等级之和除以2(向下取整)]],
		},
}