Config = Config or {}
Config.cnfinvitecommon = {
		[1] = {
			item_id = 4001,
			max_friend = 20,
			rule = [[<COLOR VALUE=FFFFFFFF>1、 被邀请者输入邀请者的邀请码后，被邀请者达到一定等级时，邀请者可以获得一定奖励<BR> <BR>2、 只能输入同服玩家的邀请码，而且一个玩家只能输入一次，正确输入后可以获得奖励<BR> <BR>3、 一个玩家只能邀请20个好友<BR> <BR>4、被邀请时如果已经超过任务等级条件，邀请者不能获得该任务奖励<BR> <BR>5、 邀请者和被邀请者之间的关系一旦建立，不能解除<BR> <BR></COLOR>
]],
		},
}