Config = Config or {}
Config.cnfitemturntable = {
		[1] = {
			activity_time = {{2015,7,1,5,0,},{2015,8,11,4,59,},},
			activity_describe = [[<COLOR VALUE=FFFF0000>活动时间:</COLOR><COLOR VALUE=FFFFFFFF>2015年7月1日5:00~2015年7月30日4:59。</COLOR><BR><BR><COLOR VALUE=FFFF0000>活动说明:</COLOR><COLOR VALUE=FFFFFFFF>在活动时间内，玩家每当累计充值688钻，可获得抽奖机会（凌晨5点重置活动次数）。</COLOR>]],
			activity_rule = [[<COLOR VALUE=FFFFFFFF>1.当天每当充值累计688钻，即可获得1次抽奖机会(最多10次)。<BR>
2.抽奖后，会给玩家赠送相应的奖励。<BR>3.每日凌晨5点刷新，记得及时抽奖哦。</COLOR><BR>]],
			everyday_time = 10,
			is_reset = 1,
			gold_limit = 688,
		},
}