Config = Config or {}
Config.cnfjinghunshop = {
		[1] = {
			index = 1,
			item_id = 3716,
			item_icon = "cultivate",
			item_num = 20,
			item_price = 98,
		},
		[2] = {
			index = 2,
			item_id = 3711,
			item_icon = "shoujing",
			item_num = 20,
			item_price = 398,
		},
		[3] = {
			index = 3,
			item_id = 3733,
			item_icon = "min",
			item_num = 20,
			item_price = 198,
		},
}