Config = Config or {}
Config.cnfkfjijininfo = {
		[1] = {
			description = [[购买开服基金后，可获得十倍福利，总计可获得10000钻石！<BR>十倍福利：<BR>1.玩家在到达VIP3后，可花1000钻购买开服基金。<BR>2.购买开服基金后，在战队到达某等级时，可领取钻石奖励。<BR>全民福利：<BR>1.全服购买基金的人数达到要求数量后，全服玩家即可领取对应奖励。<BR>]],
		},
}