Config = Config or {}
Config.cnfkfjijinquanmin = {
		[1] = {
			idx = 1,
			condition = 10,
			reward_id = 11201,
			title_describe = [[购买基金人数达到10，即可领取:]],
		},
		[2] = {
			idx = 2,
			condition = 30,
			reward_id = 11202,
			title_describe = [[购买基金人数达到30，即可领取:]],
		},
		[3] = {
			idx = 3,
			condition = 50,
			reward_id = 11203,
			title_describe = [[购买基金人数达到50，即可领取:]],
		},
		[4] = {
			idx = 4,
			condition = 100,
			reward_id = 11204,
			title_describe = [[购买基金人数达到100，即可领取:]],
		},
		[5] = {
			idx = 5,
			condition = 200,
			reward_id = 11205,
			title_describe = [[购买基金人数达到200，即可领取:]],
		},
		[6] = {
			idx = 6,
			condition = 300,
			reward_id = 11206,
			title_describe = [[购买基金人数达到300，即可领取:]],
		},
		[7] = {
			idx = 7,
			condition = 500,
			reward_id = 11207,
			title_describe = [[购买基金人数达到500，即可领取:]],
		},
		[8] = {
			idx = 8,
			condition = 1000,
			reward_id = 11208,
			title_describe = [[购买基金人数达到1000，即可领取:]],
		},
		[9] = {
			idx = 9,
			condition = 1500,
			reward_id = 11209,
			title_describe = [[购买基金人数达到1500，即可领取:]],
		},
		[10] = {
			idx = 10,
			condition = 2000,
			reward_id = 11210,
			title_describe = [[购买基金人数达到2000，即可领取:]],
		},
		[11] = {
			idx = 11,
			condition = 3000,
			reward_id = 11211,
			title_describe = [[购买基金人数达到3000，即可领取:]],
		},
		[12] = {
			idx = 12,
			condition = 5000,
			reward_id = 11212,
			title_describe = [[购买基金人数达到5000，即可领取:]],
		},
}