Config = Config or {}
Config.cnflevel = {
		[1] = {
			lev = 1,
			exp_max = 25,
			fun_id = {},
		},
		[2] = {
			lev = 2,
			exp_max = 50,
			fun_id = {2,3,5,},
		},
		[3] = {
			lev = 3,
			exp_max = 75,
			fun_id = {5,10,9,},
		},
		[4] = {
			lev = 4,
			exp_max = 160,
			fun_id = {9,8,15,},
		},
		[5] = {
			lev = 5,
			exp_max = 180,
			fun_id = {8,15,14,},
		},
		[6] = {
			lev = 6,
			exp_max = 200,
			fun_id = {15,14,25,},
		},
		[7] = {
			lev = 7,
			exp_max = 245,
			fun_id = {15,25,34,},
		},
		[8] = {
			lev = 8,
			exp_max = 245,
			fun_id = {25,34,18,},
		},
		[9] = {
			lev = 9,
			exp_max = 325,
			fun_id = {44,34,18,},
		},
		[10] = {
			lev = 10,
			exp_max = 325,
			fun_id = {44,18,28,},
		},
		[11] = {
			lev = 11,
			exp_max = 350,
			fun_id = {26,39,19,},
		},
		[12] = {
			lev = 12,
			exp_max = 390,
			fun_id = {15,25,14,},
		},
		[13] = {
			lev = 13,
			exp_max = 450,
			fun_id = {34,28,26,},
		},
		[14] = {
			lev = 14,
			exp_max = 540,
			fun_id = {15,26,18,},
		},
		[15] = {
			lev = 15,
			exp_max = 650,
			fun_id = {18,26,16,},
		},
		[16] = {
			lev = 16,
			exp_max = 760,
			fun_id = {19,16,11,},
		},
		[17] = {
			lev = 17,
			exp_max = 880,
			fun_id = {26,19,16,},
		},
		[18] = {
			lev = 18,
			exp_max = 1000,
			fun_id = {19,16,11,},
		},
		[19] = {
			lev = 19,
			exp_max = 1145,
			fun_id = {16,11,36,},
		},
		[20] = {
			lev = 20,
			exp_max = 1310,
			fun_id = {16,11,36,},
		},
		[21] = {
			lev = 21,
			exp_max = 1390,
			fun_id = {11,36,37,},
		},
		[22] = {
			lev = 22,
			exp_max = 1555,
			fun_id = {11,36,37,},
		},
		[23] = {
			lev = 23,
			exp_max = 1715,
			fun_id = {36,37,40,},
		},
		[24] = {
			lev = 24,
			exp_max = 1880,
			fun_id = {36,37,40,},
		},
		[25] = {
			lev = 25,
			exp_max = 2045,
			fun_id = {36,37,40,},
		},
		[26] = {
			lev = 26,
			exp_max = 2290,
			fun_id = {36,37,40,},
		},
		[27] = {
			lev = 27,
			exp_max = 2455,
			fun_id = {36,37,40,},
		},
		[28] = {
			lev = 28,
			exp_max = 2700,
			fun_id = {36,37,40,},
		},
		[29] = {
			lev = 29,
			exp_max = 2945,
			fun_id = {36,37,40,},
		},
		[30] = {
			lev = 30,
			exp_max = 3275,
			fun_id = {},
		},
		[31] = {
			lev = 31,
			exp_max = 3600,
			fun_id = {},
		},
		[32] = {
			lev = 32,
			exp_max = 3930,
			fun_id = {},
		},
		[33] = {
			lev = 33,
			exp_max = 4340,
			fun_id = {},
		},
		[34] = {
			lev = 34,
			exp_max = 4750,
			fun_id = {},
		},
		[35] = {
			lev = 35,
			exp_max = 5155,
			fun_id = {},
		},
		[36] = {
			lev = 36,
			exp_max = 5650,
			fun_id = {},
		},
		[37] = {
			lev = 37,
			exp_max = 6220,
			fun_id = {},
		},
		[38] = {
			lev = 38,
			exp_max = 6795,
			fun_id = {},
		},
		[39] = {
			lev = 39,
			exp_max = 7450,
			fun_id = {},
		},
		[40] = {
			lev = 40,
			exp_max = 8190,
			fun_id = {},
		},
		[41] = {
			lev = 41,
			exp_max = 8595,
			fun_id = {},
		},
		[42] = {
			lev = 42,
			exp_max = 8925,
			fun_id = {},
		},
		[43] = {
			lev = 43,
			exp_max = 9335,
			fun_id = {},
		},
		[44] = {
			lev = 44,
			exp_max = 9825,
			fun_id = {},
		},
		[45] = {
			lev = 45,
			exp_max = 10235,
			fun_id = {},
		},
		[46] = {
			lev = 46,
			exp_max = 10725,
			fun_id = {},
		},
		[47] = {
			lev = 47,
			exp_max = 11220,
			fun_id = {},
		},
		[48] = {
			lev = 48,
			exp_max = 11710,
			fun_id = {},
		},
		[49] = {
			lev = 49,
			exp_max = 12285,
			fun_id = {},
		},
		[50] = {
			lev = 50,
			exp_max = 12855,
			fun_id = {},
		},
		[51] = {
			lev = 51,
			exp_max = 13430,
			fun_id = {},
		},
		[52] = {
			lev = 52,
			exp_max = 14085,
			fun_id = {},
		},
		[53] = {
			lev = 53,
			exp_max = 14740,
			fun_id = {},
		},
		[54] = {
			lev = 54,
			exp_max = 15395,
			fun_id = {},
		},
		[55] = {
			lev = 55,
			exp_max = 16130,
			fun_id = {},
		},
		[56] = {
			lev = 56,
			exp_max = 16870,
			fun_id = {},
		},
		[57] = {
			lev = 57,
			exp_max = 17605,
			fun_id = {},
		},
		[58] = {
			lev = 58,
			exp_max = 18425,
			fun_id = {},
		},
		[59] = {
			lev = 59,
			exp_max = 19325,
			fun_id = {},
		},
		[60] = {
			lev = 60,
			exp_max = 20225,
			fun_id = {},
		},
		[61] = {
			lev = 61,
			exp_max = 21130,
			fun_id = {},
		},
		[62] = {
			lev = 62,
			exp_max = 22110,
			fun_id = {},
		},
		[63] = {
			lev = 63,
			exp_max = 23095,
			fun_id = {},
		},
		[64] = {
			lev = 64,
			exp_max = 24160,
			fun_id = {},
		},
		[65] = {
			lev = 65,
			exp_max = 25305,
			fun_id = {},
		},
		[66] = {
			lev = 66,
			exp_max = 26450,
			fun_id = {},
		},
		[67] = {
			lev = 67,
			exp_max = 27680,
			fun_id = {},
		},
		[68] = {
			lev = 68,
			exp_max = 28990,
			fun_id = {},
		},
		[69] = {
			lev = 69,
			exp_max = 30300,
			fun_id = {},
		},
		[70] = {
			lev = 70,
			exp_max = 31695,
			fun_id = {},
		},
		[71] = {
			lev = 71,
			exp_max = 33165,
			fun_id = {},
		},
		[72] = {
			lev = 72,
			exp_max = 34725,
			fun_id = {},
		},
		[73] = {
			lev = 73,
			exp_max = 36280,
			fun_id = {},
		},
		[74] = {
			lev = 74,
			exp_max = 38000,
			fun_id = {},
		},
		[75] = {
			lev = 75,
			exp_max = 39720,
			fun_id = {},
		},
		[76] = {
			lev = 76,
			exp_max = 41605,
			fun_id = {},
		},
		[77] = {
			lev = 77,
			exp_max = 43485,
			fun_id = {},
		},
		[78] = {
			lev = 78,
			exp_max = 45535,
			fun_id = {},
		},
		[79] = {
			lev = 79,
			exp_max = 47580,
			fun_id = {},
		},
		[80] = {
			lev = 80,
			exp_max = 49795,
			fun_id = {},
		},
		[81] = {
			lev = 81,
			exp_max = 54774,
			fun_id = {},
		},
		[82] = {
			lev = 82,
			exp_max = 60255,
		},
		[83] = {
			lev = 83,
			exp_max = 66280,
			fun_id = {},
		},
		[84] = {
			lev = 84,
			exp_max = 72928,
			fun_id = {},
		},
		[85] = {
			lev = 85,
			exp_max = 80550,
			fun_id = {},
		},
		[86] = {
			lev = 86,
			exp_max = 88605,
			fun_id = {},
		},
		[87] = {
			lev = 87,
			exp_max = 97465,
			fun_id = {},
		},
		[88] = {
			lev = 88,
			exp_max = 107222,
			fun_id = {},
		},
		[89] = {
			lev = 89,
			exp_max = 117950,
			fun_id = {},
		},
		[90] = {
			lev = 90,
			exp_max = 235900,
			fun_id = {},
		},
		[91] = {
			lev = 91,
			exp_max = 707700,
			fun_id = {},
		},
		[92] = {
			lev = 92,
			exp_max = 1203100,
			fun_id = {},
		},
		[93] = {
			lev = 93,
			exp_max = 1744500,
			fun_id = {},
		},
		[94] = {
			lev = 94,
			exp_max = 2267900,
			fun_id = {},
		},
		[95] = {
			lev = 95,
			exp_max = 2834900,
			fun_id = {},
		},
		[96] = {
			lev = 96,
			exp_max = 3458600,
			fun_id = {},
		},
		[97] = {
			lev = 97,
			exp_max = 4150300,
			fun_id = {},
		},
		[98] = {
			lev = 98,
			exp_max = 4980400,
			fun_id = {},
		},
		[99] = {
			lev = 99,
			exp_max = 5976500,
			fun_id = {},
		},
		[100] = {
			lev = 100,
			exp_max = 7171800,
			fun_id = {},
		},
		[101] = {
			lev = 101,
			exp_max = 8606200,
			fun_id = {},
		},
		[102] = {
			lev = 102,
			exp_max = 10327400,
			fun_id = {},
		},
		[103] = {
			lev = 103,
			exp_max = 12392900,
			fun_id = {},
		},
		[104] = {
			lev = 104,
			exp_max = 14871500,
			fun_id = {},
		},
		[105] = {
			lev = 105,
			exp_max = 17845800,
			fun_id = {},
		},
		[106] = {
			lev = 106,
			exp_max = 21415000,
			fun_id = {},
		},
		[107] = {
			lev = 107,
			exp_max = 25698000,
			fun_id = {},
		},
		[108] = {
			lev = 108,
			exp_max = 30837600,
			fun_id = {},
		},
		[109] = {
			lev = 109,
			exp_max = 37005100,
			fun_id = {},
		},
		[110] = {
			lev = 110,
			exp_max = 44406100,
			fun_id = {},
		},
}