Config = Config or {}
Config.cnfleisurepartner = {
		[1] = {
			level = 1,
			skill_level = 1,
			stage = 1,
			star = 5,
			jiejie = 0,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[2] = {
			level = 2,
			skill_level = 2,
			stage = 1,
			star = 5,
			jiejie = 1,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[3] = {
			level = 3,
			skill_level = 3,
			stage = 1,
			star = 5,
			jiejie = 1,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[4] = {
			level = 4,
			skill_level = 4,
			stage = 1,
			star = 5,
			jiejie = 2,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[5] = {
			level = 5,
			skill_level = 5,
			stage = 1,
			star = 5,
			jiejie = 2,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[6] = {
			level = 6,
			skill_level = 6,
			stage = 1,
			star = 5,
			jiejie = 3,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[7] = {
			level = 7,
			skill_level = 7,
			stage = 1,
			star = 5,
			jiejie = 3,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[8] = {
			level = 8,
			skill_level = 8,
			stage = 1,
			star = 5,
			jiejie = 4,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[9] = {
			level = 9,
			skill_level = 9,
			stage = 1,
			star = 5,
			jiejie = 4,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[10] = {
			level = 10,
			skill_level = 10,
			stage = 2,
			star = 5,
			jiejie = 5,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[11] = {
			level = 11,
			skill_level = 11,
			stage = 2,
			star = 5,
			jiejie = 5,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[12] = {
			level = 12,
			skill_level = 12,
			stage = 2,
			star = 5,
			jiejie = 6,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[13] = {
			level = 13,
			skill_level = 13,
			stage = 2,
			star = 5,
			jiejie = 6,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[14] = {
			level = 14,
			skill_level = 14,
			stage = 2,
			star = 5,
			jiejie = 7,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[15] = {
			level = 15,
			skill_level = 15,
			stage = 2,
			star = 5,
			jiejie = 7,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[16] = {
			level = 16,
			skill_level = 16,
			stage = 2,
			star = 5,
			jiejie = 8,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[17] = {
			level = 17,
			skill_level = 17,
			stage = 2,
			star = 5,
			jiejie = 8,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[18] = {
			level = 18,
			skill_level = 18,
			stage = 2,
			star = 5,
			jiejie = 9,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[19] = {
			level = 19,
			skill_level = 19,
			stage = 2,
			star = 5,
			jiejie = 9,
			xianji = 0,
			bengyu = 0,
			cultivate = 0,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[20] = {
			level = 20,
			skill_level = 20,
			stage = 2,
			star = 5,
			jiejie = 10,
			xianji = 0,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[21] = {
			level = 21,
			skill_level = 21,
			stage = 3,
			star = 5,
			jiejie = 10,
			xianji = 0,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[22] = {
			level = 22,
			skill_level = 22,
			stage = 3,
			star = 5,
			jiejie = 11,
			xianji = 0,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[23] = {
			level = 23,
			skill_level = 23,
			stage = 3,
			star = 5,
			jiejie = 11,
			xianji = 0,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[24] = {
			level = 24,
			skill_level = 24,
			stage = 3,
			star = 5,
			jiejie = 12,
			xianji = 0,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[25] = {
			level = 25,
			skill_level = 25,
			stage = 3,
			star = 5,
			jiejie = 12,
			xianji = 0,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[26] = {
			level = 26,
			skill_level = 26,
			stage = 3,
			star = 5,
			jiejie = 13,
			xianji = 26,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[27] = {
			level = 27,
			skill_level = 27,
			stage = 3,
			star = 5,
			jiejie = 13,
			xianji = 27,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[28] = {
			level = 28,
			skill_level = 28,
			stage = 3,
			star = 5,
			jiejie = 14,
			xianji = 28,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[29] = {
			level = 29,
			skill_level = 29,
			stage = 3,
			star = 5,
			jiejie = 14,
			xianji = 29,
			bengyu = 0,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[30] = {
			level = 30,
			skill_level = 30,
			stage = 4,
			star = 5,
			jiejie = 15,
			xianji = 30,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[31] = {
			level = 31,
			skill_level = 31,
			stage = 4,
			star = 5,
			jiejie = 15,
			xianji = 31,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[32] = {
			level = 32,
			skill_level = 32,
			stage = 4,
			star = 5,
			jiejie = 16,
			xianji = 32,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[33] = {
			level = 33,
			skill_level = 33,
			stage = 4,
			star = 5,
			jiejie = 16,
			xianji = 33,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[34] = {
			level = 34,
			skill_level = 34,
			stage = 4,
			star = 5,
			jiejie = 17,
			xianji = 34,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[35] = {
			level = 35,
			skill_level = 35,
			stage = 4,
			star = 5,
			jiejie = 17,
			xianji = 35,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[36] = {
			level = 36,
			skill_level = 36,
			stage = 4,
			star = 5,
			jiejie = 18,
			xianji = 36,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[37] = {
			level = 37,
			skill_level = 37,
			stage = 4,
			star = 5,
			jiejie = 18,
			xianji = 37,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[38] = {
			level = 38,
			skill_level = 38,
			stage = 4,
			star = 5,
			jiejie = 19,
			xianji = 38,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[39] = {
			level = 39,
			skill_level = 39,
			stage = 4,
			star = 5,
			jiejie = 19,
			xianji = 39,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[40] = {
			level = 40,
			skill_level = 40,
			stage = 5,
			star = 5,
			jiejie = 20,
			xianji = 40,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[41] = {
			level = 41,
			skill_level = 41,
			stage = 5,
			star = 5,
			jiejie = 20,
			xianji = 41,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[42] = {
			level = 42,
			skill_level = 42,
			stage = 5,
			star = 5,
			jiejie = 21,
			xianji = 42,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[43] = {
			level = 43,
			skill_level = 43,
			stage = 5,
			star = 5,
			jiejie = 21,
			xianji = 43,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[44] = {
			level = 44,
			skill_level = 44,
			stage = 5,
			star = 5,
			jiejie = 22,
			xianji = 44,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[45] = {
			level = 45,
			skill_level = 45,
			stage = 5,
			star = 5,
			jiejie = 22,
			xianji = 45,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[46] = {
			level = 46,
			skill_level = 46,
			stage = 5,
			star = 5,
			jiejie = 23,
			xianji = 46,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[47] = {
			level = 47,
			skill_level = 47,
			stage = 5,
			star = 5,
			jiejie = 23,
			xianji = 47,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[48] = {
			level = 48,
			skill_level = 48,
			stage = 5,
			star = 5,
			jiejie = 24,
			xianji = 48,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[49] = {
			level = 49,
			skill_level = 49,
			stage = 5,
			star = 5,
			jiejie = 24,
			xianji = 49,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {},
			huashen = 0,
			rare_limit = 5,
		},
		[50] = {
			level = 50,
			skill_level = 50,
			stage = 6,
			star = 7,
			jiejie = 25,
			xianji = 50,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {3,8,},
			huashen = 1,
			rare_limit = 5,
		},
		[51] = {
			level = 51,
			skill_level = 51,
			stage = 6,
			star = 7,
			jiejie = 25,
			xianji = 51,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {4,0,},
			huashen = 1,
			rare_limit = 5,
		},
		[52] = {
			level = 52,
			skill_level = 52,
			stage = 6,
			star = 7,
			jiejie = 26,
			xianji = 52,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {4,1,},
			huashen = 1,
			rare_limit = 5,
		},
		[53] = {
			level = 53,
			skill_level = 53,
			stage = 6,
			star = 7,
			jiejie = 26,
			xianji = 53,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {4,2,},
			huashen = 1,
			rare_limit = 5,
		},
		[54] = {
			level = 54,
			skill_level = 54,
			stage = 6,
			star = 7,
			jiejie = 27,
			xianji = 54,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {4,3,},
			huashen = 1,
			rare_limit = 5,
		},
		[55] = {
			level = 55,
			skill_level = 55,
			stage = 6,
			star = 7,
			jiejie = 27,
			xianji = 55,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {4,4,},
			huashen = 2,
			rare_limit = 5,
		},
		[56] = {
			level = 56,
			skill_level = 56,
			stage = 6,
			star = 7,
			jiejie = 28,
			xianji = 56,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {4,5,},
			huashen = 2,
			rare_limit = 5,
		},
		[57] = {
			level = 57,
			skill_level = 57,
			stage = 6,
			star = 7,
			jiejie = 28,
			xianji = 57,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {4,6,},
			huashen = 2,
			rare_limit = 5,
		},
		[58] = {
			level = 58,
			skill_level = 58,
			stage = 6,
			star = 7,
			jiejie = 29,
			xianji = 58,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {4,7,},
			huashen = 2,
			rare_limit = 5,
		},
		[59] = {
			level = 59,
			skill_level = 59,
			stage = 6,
			star = 7,
			jiejie = 29,
			xianji = 59,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {4,7,},
			huashen = 2,
			rare_limit = 5,
		},
		[60] = {
			level = 60,
			skill_level = 60,
			stage = 6,
			star = 7,
			jiejie = 30,
			xianji = 60,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {4,8,},
			huashen = 3,
			rare_limit = 5,
		},
		[61] = {
			level = 61,
			skill_level = 61,
			stage = 6,
			star = 7,
			jiejie = 30,
			xianji = 61,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {5,0,},
			huashen = 3,
			rare_limit = 5,
		},
		[62] = {
			level = 62,
			skill_level = 62,
			stage = 6,
			star = 7,
			jiejie = 31,
			xianji = 62,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {5,1,},
			huashen = 3,
			rare_limit = 5,
		},
		[63] = {
			level = 63,
			skill_level = 63,
			stage = 6,
			star = 7,
			jiejie = 31,
			xianji = 63,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {5,2,},
			huashen = 3,
			rare_limit = 5,
		},
		[64] = {
			level = 64,
			skill_level = 64,
			stage = 6,
			star = 7,
			jiejie = 32,
			xianji = 64,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {5,3,},
			huashen = 3,
			rare_limit = 5,
		},
		[65] = {
			level = 65,
			skill_level = 65,
			stage = 6,
			star = 7,
			jiejie = 32,
			xianji = 65,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {5,4,},
			huashen = 4,
			rare_limit = 5,
		},
		[66] = {
			level = 66,
			skill_level = 66,
			stage = 6,
			star = 7,
			jiejie = 33,
			xianji = 66,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {5,5,},
			huashen = 4,
			rare_limit = 5,
		},
		[67] = {
			level = 67,
			skill_level = 67,
			stage = 6,
			star = 7,
			jiejie = 33,
			xianji = 67,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {5,6,},
			huashen = 4,
			rare_limit = 5,
		},
		[68] = {
			level = 68,
			skill_level = 68,
			stage = 6,
			star = 7,
			jiejie = 34,
			xianji = 68,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {5,7,},
			huashen = 4,
			rare_limit = 5,
		},
		[69] = {
			level = 69,
			skill_level = 69,
			stage = 6,
			star = 7,
			jiejie = 34,
			xianji = 69,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {5,7,},
			huashen = 4,
			rare_limit = 5,
		},
		[70] = {
			level = 70,
			skill_level = 70,
			stage = 6,
			star = 7,
			jiejie = 35,
			xianji = 70,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {5,8,},
			huashen = 5,
			rare_limit = 5,
		},
		[71] = {
			level = 71,
			skill_level = 71,
			stage = 6,
			star = 7,
			jiejie = 35,
			xianji = 71,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {6,0,},
			huashen = 5,
			rare_limit = 5,
		},
		[72] = {
			level = 72,
			skill_level = 72,
			stage = 6,
			star = 7,
			jiejie = 36,
			xianji = 72,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {6,1,},
			huashen = 5,
			rare_limit = 5,
		},
		[73] = {
			level = 73,
			skill_level = 73,
			stage = 6,
			star = 7,
			jiejie = 36,
			xianji = 73,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {6,2,},
			huashen = 5,
			rare_limit = 5,
		},
		[74] = {
			level = 74,
			skill_level = 74,
			stage = 6,
			star = 7,
			jiejie = 37,
			xianji = 74,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {6,3,},
			huashen = 5,
			rare_limit = 5,
		},
		[75] = {
			level = 75,
			skill_level = 75,
			stage = 6,
			star = 7,
			jiejie = 37,
			xianji = 75,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {6,4,},
			huashen = 6,
			rare_limit = 5,
		},
		[76] = {
			level = 76,
			skill_level = 76,
			stage = 6,
			star = 7,
			jiejie = 38,
			xianji = 76,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {6,5,},
			huashen = 6,
			rare_limit = 5,
		},
		[77] = {
			level = 77,
			skill_level = 77,
			stage = 6,
			star = 7,
			jiejie = 38,
			xianji = 77,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {6,6,},
			huashen = 6,
			rare_limit = 5,
		},
		[78] = {
			level = 78,
			skill_level = 78,
			stage = 6,
			star = 7,
			jiejie = 39,
			xianji = 78,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {6,7,},
			huashen = 6,
			rare_limit = 5,
		},
		[79] = {
			level = 79,
			skill_level = 79,
			stage = 6,
			star = 7,
			jiejie = 39,
			xianji = 79,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {6,7,},
			huashen = 6,
			rare_limit = 5,
		},
		[80] = {
			level = 80,
			skill_level = 80,
			stage = 6,
			star = 7,
			jiejie = 40,
			xianji = 80,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {6,8,},
			huashen = 7,
			rare_limit = 5,
		},
		[81] = {
			level = 81,
			skill_level = 81,
			stage = 6,
			star = 7,
			jiejie = 40,
			xianji = 81,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {7,0,},
			huashen = 7,
			rare_limit = 5,
		},
		[82] = {
			level = 82,
			skill_level = 82,
			stage = 6,
			star = 7,
			jiejie = 41,
			xianji = 82,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {7,1,},
			huashen = 7,
			rare_limit = 5,
		},
		[83] = {
			level = 83,
			skill_level = 83,
			stage = 6,
			star = 7,
			jiejie = 41,
			xianji = 83,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {7,2,},
			huashen = 7,
			rare_limit = 5,
		},
		[84] = {
			level = 84,
			skill_level = 84,
			stage = 6,
			star = 7,
			jiejie = 42,
			xianji = 84,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {7,3,},
			huashen = 7,
			rare_limit = 5,
		},
		[85] = {
			level = 85,
			skill_level = 85,
			stage = 6,
			star = 7,
			jiejie = 42,
			xianji = 85,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {7,4,},
			huashen = 8,
			rare_limit = 5,
		},
		[86] = {
			level = 86,
			skill_level = 86,
			stage = 6,
			star = 7,
			jiejie = 43,
			xianji = 86,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {7,5,},
			huashen = 8,
			rare_limit = 5,
		},
		[87] = {
			level = 87,
			skill_level = 87,
			stage = 6,
			star = 7,
			jiejie = 43,
			xianji = 87,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {7,6,},
			huashen = 8,
			rare_limit = 5,
		},
		[88] = {
			level = 88,
			skill_level = 88,
			stage = 6,
			star = 7,
			jiejie = 44,
			xianji = 88,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {7,7,},
			huashen = 8,
			rare_limit = 5,
		},
		[89] = {
			level = 89,
			skill_level = 89,
			stage = 6,
			star = 7,
			jiejie = 44,
			xianji = 89,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {7,7,},
			huashen = 8,
			rare_limit = 5,
		},
		[90] = {
			level = 90,
			skill_level = 90,
			stage = 6,
			star = 7,
			jiejie = 45,
			xianji = 90,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {7,8,},
			huashen = 9,
			rare_limit = 5,
		},
		[91] = {
			level = 91,
			skill_level = 91,
			stage = 6,
			star = 7,
			jiejie = 45,
			xianji = 91,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {8,0,},
			huashen = 9,
			rare_limit = 5,
		},
		[92] = {
			level = 92,
			skill_level = 92,
			stage = 6,
			star = 7,
			jiejie = 46,
			xianji = 92,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,1,},
			huashen = 9,
			rare_limit = 5,
		},
		[93] = {
			level = 93,
			skill_level = 93,
			stage = 6,
			star = 7,
			jiejie = 46,
			xianji = 93,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {8,2,},
			huashen = 9,
			rare_limit = 5,
		},
		[94] = {
			level = 94,
			skill_level = 94,
			stage = 6,
			star = 7,
			jiejie = 47,
			xianji = 94,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {8,3,},
			huashen = 9,
			rare_limit = 5,
		},
		[95] = {
			level = 95,
			skill_level = 95,
			stage = 6,
			star = 7,
			jiejie = 47,
			xianji = 95,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {8,4,},
			huashen = 10,
			rare_limit = 5,
		},
		[96] = {
			level = 96,
			skill_level = 96,
			stage = 6,
			star = 7,
			jiejie = 48,
			xianji = 96,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,5,},
			huashen = 10,
			rare_limit = 5,
		},
		[97] = {
			level = 97,
			skill_level = 97,
			stage = 6,
			star = 7,
			jiejie = 48,
			xianji = 97,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {1,90044,6,},
			awaken = {8,6,},
			huashen = 10,
			rare_limit = 5,
		},
		[98] = {
			level = 98,
			skill_level = 98,
			stage = 6,
			star = 7,
			jiejie = 49,
			xianji = 98,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {2,90044,6,},
			awaken = {8,7,},
			huashen = 10,
			rare_limit = 5,
		},
		[99] = {
			level = 99,
			skill_level = 99,
			stage = 6,
			star = 7,
			jiejie = 49,
			xianji = 99,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {3,90044,6,},
			awaken = {8,7,},
			huashen = 10,
			rare_limit = 5,
		},
		[100] = {
			level = 100,
			skill_level = 100,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[101] = {
			level = 101,
			skill_level = 101,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[102] = {
			level = 102,
			skill_level = 102,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[103] = {
			level = 103,
			skill_level = 103,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[104] = {
			level = 104,
			skill_level = 104,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[105] = {
			level = 105,
			skill_level = 105,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[106] = {
			level = 106,
			skill_level = 106,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[107] = {
			level = 107,
			skill_level = 107,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[108] = {
			level = 108,
			skill_level = 108,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[109] = {
			level = 109,
			skill_level = 109,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
		[110] = {
			level = 110,
			skill_level = 110,
			stage = 6,
			star = 7,
			jiejie = 50,
			xianji = 100,
			bengyu = 10,
			cultivate = 1000,
			jiban = 10,
			pet = {4,90044,6,},
			awaken = {8,8,},
			huashen = 10,
			rare_limit = 5,
		},
}