Config = Config or {}
Config.CnfNWSearch = {
		[1] = {
			num = 1,
			coin = 100,
		},
		[2] = {
			num = 2,
			coin = 200,
		},
		[3] = {
			num = 3,
			coin = 300,
		},
		[4] = {
			num = 4,
			coin = 400,
		},
		[5] = {
			num = 5,
			coin = 500,
		},
		[6] = {
			num = 6,
			coin = 600,
		},
		[7] = {
			num = 7,
			coin = 700,
		},
		[8] = {
			num = 8,
			coin = 800,
		},
		[9] = {
			num = 9,
			coin = 900,
		},
		[10] = {
			num = 10,
			coin = 1000,
		},
		[11] = {
			num = 11,
			coin = 1100,
		},
		[12] = {
			num = 12,
			coin = 1200,
		},
		[13] = {
			num = 13,
			coin = 1300,
		},
		[14] = {
			num = 14,
			coin = 1400,
		},
		[15] = {
			num = 15,
			coin = 1500,
		},
		[16] = {
			num = 16,
			coin = 1600,
		},
		[17] = {
			num = 17,
			coin = 1700,
		},
		[18] = {
			num = 18,
			coin = 1800,
		},
		[19] = {
			num = 19,
			coin = 1900,
		},
		[20] = {
			num = 20,
			coin = 2000,
		},
		[21] = {
			num = 21,
			coin = 2100,
		},
		[22] = {
			num = 22,
			coin = 2200,
		},
		[23] = {
			num = 23,
			coin = 2300,
		},
		[24] = {
			num = 24,
			coin = 2400,
		},
		[25] = {
			num = 25,
			coin = 2500,
		},
		[26] = {
			num = 26,
			coin = 2600,
		},
		[27] = {
			num = 27,
			coin = 2700,
		},
		[28] = {
			num = 28,
			coin = 2800,
		},
		[29] = {
			num = 29,
			coin = 2900,
		},
		[30] = {
			num = 30,
			coin = 3000,
		},
}