Config = Config or {}
Config.cnfnewfuncpic_notice = {
		[1] = {
			yugao_id = 1,
			notice_condtion1 = {8,11,},
			notice_condtion2 = {},
			func_id = 15,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可赢得</COLOR>钻石<FACEIMG IMG=resource\ui_res\iconpng\diamond.sdz TEXRECT={0,0,45,45} SCALE=1.5><COLOR VALUE=FF442C0C>＋</COLOR>声望</COLOR><FACEIMG IMG=resource\ui_res\iconpng\prestige.sdz TEXRECT={0,0,45,45} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>兑换</COLOR>魂石<FACEIMG IMG=resource\ui_res\iconpng\debris.sdz TEXRECT={-1,-5,40,44} SCALE=1.5><COLOR VALUE=FF442C0C>，召唤 </COLOR>合体伙伴！</COLOR>]],
			notice_boss1 = {1012,296,170,},
			notice_boss2 = {1034,355,168,},
			notice_map_res = 1001,
			notice_fun_pos = {0,150,},
		},
		[2] = {
			yugao_id = 2,
			notice_condtion1 = {12,14,},
			notice_condtion2 = {},
			func_id = 18,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得</COLOR>经验果实</COLOR><FACEIMG IMG=resource\ui_res\iconpng\fruit1.sdz TEXRECT={0,0,47,46} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>给伙伴使用，提升 </COLOR>伙伴等级！</COLOR>]],
			notice_boss1 = {2030,372,144,},
			notice_boss2 = {},
			notice_map_res = 1002,
			notice_fun_pos = {0,150,},
		},
		[3] = {
			yugao_id = 3,
			notice_condtion1 = {13,15,},
			notice_condtion2 = {},
			func_id = 51,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可赢得</COLOR>高阶结界材料</COLOR><FACEIMG IMG=resource\ui_res\iconpng\box.sdz TEXRECT={0,0,47,42} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3>升级结界<COLOR VALUE=FF442C0C>，就是这么简单！</COLOR></COLOR>]],
			notice_boss1 = {1002,447,268,},
			notice_boss2 = {},
			notice_map_res = 1011,
			notice_fun_pos = {0,150,},
		},
		[4] = {
			yugao_id = 4,
			notice_condtion1 = {14,17,},
			notice_condtion2 = {},
			func_id = 19,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得</COLOR>海量金币</COLOR><FACEIMG IMG=resource\ui_res\iconpng\gold.sdz TEXRECT={0,0,42,46} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>达到指定伤害，赢得 </COLOR>金币宝箱<FACEIMG IMG=resource\ui_res\iconpng\box.sdz TEXRECT={0,0,47,42} SCALE=1.5>]],
			notice_boss1 = {2030,372,144,},
			notice_boss2 = {},
			notice_map_res = 1012,
			notice_fun_pos = {0,150,},
		},
		[5] = {
			yugao_id = 5,
			notice_condtion1 = {16,19,},
			notice_condtion2 = {},
			func_id = 16,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得</COLOR>海量贝里</COLOR><FACEIMG IMG=resource\ui_res\iconpng\beili.sdz TEXRECT={2,42,-10,35} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可兑换</COLOR>魂石<FACEIMG IMG=resource\ui_res\iconpng\debris.sdz TEXRECT={-1,-5,40,44} SCALE=1.5><COLOR VALUE=FF442C0C>＋</COLOR>培养豆</COLOR><FACEIMG IMG=resource\ui_res\iconpng\dou.sdz TEXRECT={-2,42,-6,38} SCALE=1.5>]],
			notice_boss1 = {1024,339,193,},
			notice_boss2 = {},
			notice_map_res = 1021,
			notice_fun_pos = {0,150,},
		},
		[6] = {
			yugao_id = 6,
			notice_condtion1 = {21,24,},
			notice_condtion2 = {},
			func_id = 36,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得</COLOR>海量魂石</COLOR><FACEIMG IMG=resource\ui_res\iconpng\debris.sdz TEXRECT={-1,-5,40,44} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>使用魂石<FACEIMG IMG=resource\ui_res\iconpng\debris.sdz TEXRECT={-1,-5,40,44} SCALE=1.5>，提升 </COLOR>伙伴星级！</COLOR>]],
			notice_boss1 = {2033,316,182,},
			notice_boss2 = {},
			notice_map_res = 1022,
			notice_fun_pos = {0,150,},
		},
		[7] = {
			yugao_id = 7,
			notice_condtion1 = {25,27,},
			notice_condtion2 = {},
			func_id = 40,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得海量</COLOR>钻石</COLOR><FACEIMG IMG=resource\ui_res\iconpng\diamond.sdz TEXRECT={0,0,45,45} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>攻击玩家，掠夺</COLOR>金币<FACEIMG IMG=resource\ui_res\iconpng\gold.sdz TEXRECT={0,0,42,46} SCALE=1.5><COLOR VALUE=FF442C0C>＋</COLOR>果实</COLOR><FACEIMG IMG=resource\ui_res\iconpng\fruit1.sdz TEXRECT={0,0,47,46} SCALE=1.5>]],
			notice_boss1 = {1018,316,157,},
			notice_boss2 = {},
			notice_map_res = 1031,
			notice_fun_pos = {0,150,},
		},
		[8] = {
			yugao_id = 8,
			notice_condtion1 = {27,29,},
			notice_condtion2 = {},
			func_id = 50,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>有机会获得</COLOR>玉片<COLOR VALUE=FF442C0C>＋</COLOR>橙色魂石</COLOR><FACEIMG IMG=resource\ui_res\iconpng\box.sdz TEXRECT={0,0,47,42} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>使用玉片，升级 </COLOR>伙伴崩玉！</COLOR>]],
			notice_boss1 = {1026,251,195,},
			notice_boss2 = {1033,374,215,},
			notice_map_res = 1032,
			notice_fun_pos = {0,150,},
		},
		[9] = {
			yugao_id = 9,
			notice_condtion1 = {31,34,},
			notice_condtion2 = {},
			func_id = 42,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得海量</COLOR>培养豆</COLOR><FACEIMG IMG=resource\ui_res\iconpng\dou.sdz TEXRECT={-2,42,-6,38} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>使用培养豆<FACEIMG IMG=resource\ui_res\iconpng\dou.sdz TEXRECT={-2,42,-6,38} SCALE=1.5>，提升 </COLOR>伙伴培养！</COLOR>]],
			notice_boss1 = {2037,470,163,},
			notice_boss2 = {},
			notice_map_res = 1051,
			notice_fun_pos = {0,150,},
		},
		[10] = {
			yugao_id = 10,
			notice_condtion1 = {35,39,},
			notice_condtion2 = {},
			func_id = 55,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>成为</COLOR>最强公会<COLOR VALUE=FF442C0C>！</COLOR></COLOR>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3>跨服团战<COLOR VALUE=FF442C0C>，争夺</COLOR>最高荣誉！</COLOR>]],
			notice_boss1 = {1018,272,143,},
			notice_boss2 = {},
			notice_map_res = 1012,
			notice_fun_pos = {0,150,},
		},
		[11] = {
			yugao_id = 11,
			notice_condtion1 = {35,40,},
			notice_condtion2 = {},
			func_id = 46,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可获得海量</COLOR>时空碎片</COLOR><FACEIMG IMG=resource\ui_res\iconpng\timefragment.sdz TEXRECT={0,0,45,45} SCALE=1.5>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>参与时空命运轮，</COLOR>召唤宠物！</COLOR>]],
			notice_boss1 = {2051,407,197,},
			notice_boss2 = {},
			notice_map_res = 1052,
			notice_fun_pos = {0,150,},
		},
		[12] = {
			yugao_id = 12,
			notice_condtion1 = {41,45,},
			notice_condtion2 = {},
			func_id = 49,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>可赢得</COLOR>觉醒装备</COLOR>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>使用装备，</COLOR>觉醒伙伴！</COLOR>]],
			notice_boss1 = {1070,334,171,},
			notice_boss2 = {},
			notice_map_res = 1061,
			notice_fun_pos = {0,150,},
		},
		[13] = {
			yugao_id = 13,
			notice_condtion1 = {46,49,},
			notice_condtion2 = {},
			func_id = 52,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>迈向</COLOR>最强王者<COLOR VALUE=FF442C0C>！</COLOR></COLOR>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>跨服PK，赢得</COLOR>橙色伙伴魂石！</COLOR>]],
			notice_boss1 = {1067,272,143,},
			notice_boss2 = {1068,358,159,},
			notice_map_res = 1062,
			notice_fun_pos = {0,150,},
		},
		[14] = {
			yugao_id = 14,
			notice_condtion1 = {55,59,},
			notice_condtion2 = {},
			func_id = 57,
			notice_desc = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>深入</COLOR>黑暗世界!<COLOR VALUE=FF442C0C>！</COLOR></COLOR>]],
			notice_desc2 = [[<COLOR VALUE={FFFFE921,FFFFE921,FFFFAC02,FFFFAC02} OUTLINE=FF442C0C OUTLINE_W=3><COLOR VALUE=FF442C0C>获得魂石<FACEIMG IMG=resource\ui_res\iconpng\debris.sdz TEXRECT={-1,-5,40,44} SCALE=1.5>，召唤 </COLOR>最强伙伴！</COLOR>]],
			notice_boss1 = {1002,447,268,},
			notice_boss2 = {},
			notice_map_res = 1041,
			notice_fun_pos = {0,150,},
		},
}