Config = Config or {}
Config.cnfnwmisc = {
		[1] = {
			music_id = {1,0,0,},
			resource_id = {1071,1071,},
			describe = [[<COLOR VALUE=442c0c>1.你可以选择挖掘多座秘宝，也可以寻找并且掠夺别人的秘宝。</COLOR><BR><COLOR VALUE=442c0c>2.挖掘秘宝需要安排小伙伴组成挖掘小分队，挖掘小分队的战力越高，挖掘资源的速度越快。</COLOR><BR><COLOR VALUE=442c0c>3.每个秘宝可以容纳3个小队共同防守，你可以邀请同公会的小伙伴一同防御。</COLOR><BR><COLOR VALUE=442c0c>4.可以随时更换每个秘宝的挖掘成员。</COLOR><BR><COLOR VALUE=442c0c>5.秘宝根据类别不同可以开采1，3，10小时，全部开采完后，伙伴会把未被掠夺的资源运回仓库，同时参与防守的小伙伴也可以获得一部分资源。</COLOR><BR><COLOR VALUE=442c0c>6.所有秘宝挖掘完后，都有可以找到一些钻石矿，让小分队获得一些钻石。</COLOR><BR><COLOR VALUE=442c0c>7.掠夺的时候，如果在限定时间内击败所有防守者，就可以掠夺对方已经挖掘出来的部分资源。</COLOR><BR><COLOR VALUE=442c0c>8.如果在挖掘过程中遭到袭击并防守失败，你会失去部分已经挖掘出来的资源，但不会失去这个秘宝。</COLOR><BR><COLOR VALUE=442c0c>9.被敌人掠夺的秘宝将获得一定的保护时间，在保护时间内，其他玩家无法搜索到以及进攻这个秘宝。</COLOR><BR><COLOR VALUE=442c0c>10.每次进攻别人都需要消耗2份便当，便当会根据时间恢复。</COLOR><BR><COLOR VALUE=442c0c>11.封灵石秘宝和进化石秘宝每小时产出过低，只能挖掘10个小时，暂不支持挖掘1或者3个小时，而且掠夺中无法搜索到挖掘封灵石秘宝和进化石秘宝的队伍。</COLOR><BR>]],
			partner_lv_limit = 30,
			exp_item_id = 3702,
			seal_item_id = 3907,
			evolution_item_id = 3904,
			mine_size_time = {3600,10800,36000,},
			open_level = {0,0,40,50,},
		},
}