Config = Config or {}
Config.cnfnpc_new = {
		[1] = {
			id = 1,
			name = [[娜小姐]],
			dialog = [[我的目标是赚取一亿贝里，然后买下整个村庄！]],
			func_id = 0,
			res_id = 2904,
			head_id = 2904,
			npc_type = 1,
			level = 1,
			switch_time = 3,
			state_list = {22,23,},
		},
		[2] = {
			id = 2,
			name = [[黑足君]],
			dialog = [[能原谅女人谎话的——才是男人！]],
			func_id = 0,
			res_id = 2905,
			head_id = 2905,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[3] = {
			id = 3,
			name = [[传送阵]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2913,
			head_id = 1011,
			npc_type = 2,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[4] = {
			id = 4,
			name = [[光明女神]],
			dialog = [[为了防止世界被破坏，为了守护世界的和平！勇士，召集伙伴去冒险吧！]],
			func_id = 0,
			res_id = 2901,
			head_id = 2901,
			npc_type = 1,
			level = 1,
			switch_time = 3,
			state_list = {22,23,},
		},
		[5] = {
			id = 5,
			name = [[吊车尾]],
			dialog = [[我一直都是有话直说，这就是我的忍道！]],
			func_id = 0,
			res_id = 2902,
			head_id = 2902,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[6] = {
			id = 6,
			name = [[火拳]],
			dialog = [[屈服在力量之下，就没有身为男人的意义了。]],
			func_id = 0,
			res_id = 2903,
			head_id = 2903,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[7] = {
			id = 7,
			name = [[露露]],
			dialog = [[快乐是要分给大家一起的。]],
			func_id = 0,
			res_id = 2906,
			head_id = 2906,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[8] = {
			id = 8,
			name = [[草莓君]],
			dialog = [[我希望能够保护更多的人！]],
			func_id = 0,
			res_id = 2907,
			head_id = 2907,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[9] = {
			id = 9,
			name = [[龟仙人]],
			dialog = [[你这个臭小子，不要挡着我看美女。]],
			func_id = 0,
			res_id = 2908,
			head_id = 2908,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[10] = {
			id = 10,
			name = [[饭饭儿]],
			dialog = [[糟了，妈妈喊我回家吃饭。]],
			func_id = 0,
			res_id = 2909,
			head_id = 2909,
			npc_type = 1,
			level = 1,
			switch_time = 3,
			state_list = {22,23,},
		},
		[11] = {
			id = 11,
			name = [[小林]],
			dialog = [[你想干什么？我还没娶老婆呢。]],
			func_id = 0,
			res_id = 2910,
			head_id = 2910,
			npc_type = 1,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[12] = {
			id = 12,
			name = [[哆啦a梦]],
			dialog = [[你的东西就是我的，我的东西还是我的。]],
			func_id = 1,
			res_id = 2911,
			head_id = 2911,
			npc_type = 3,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[13] = {
			id = 13,
			name = [[浦原店长]],
			dialog = [[像我这样一介英俊帅商人怎么可能会卍解呢. ]],
			func_id = 1,
			res_id = 2912,
			head_id = 2912,
			npc_type = 3,
			level = 1,
			switch_time = 4,
			state_list = {22,23,},
		},
		[14] = {
			id = 14,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2917,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[15] = {
			id = 15,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2918,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[16] = {
			id = 16,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2919,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[17] = {
			id = 17,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2917,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[18] = {
			id = 18,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2918,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
		[19] = {
			id = 19,
			name = [[ ]],
			dialog = [[ ]],
			func_id = 0,
			res_id = 2919,
			head_id = 1011,
			npc_type = 4,
			level = 1,
			switch_time = 6,
			state_list = {22,23,},
		},
}