Config = Config or {}
Config.cnfnewfunc_open = {
		[1] = {
			func_id = 1,
			initial_state = false,
			limit_content = {1,1,},
			notice = 2,
			name = [[召唤]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[伙伴获得，从这里开始]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[2] = {
			func_id = 2,
			initial_state = false,
			limit_content = {2,5001,},
			notice = 0,
			name = [[初级召唤]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[每天免费5次初级召唤]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[3] = {
			func_id = 3,
			initial_state = false,
			limit_content = {2,5002,},
			notice = 0,
			name = [[高级召唤]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[每46小时免费1次高级召唤]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[4] = {
			func_id = 4,
			initial_state = false,
			limit_content = {1,10,},
			notice = 0,
			name = [[布阵]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[这里可以设置不同场合的布阵]],
			icon = [[jiejie]],
			new_guide_id = 0,
			is_close = 0,
		},
		[5] = {
			func_id = 5,
			initial_state = false,
			limit_content = {2,5002,},
			notice = 0,
			name = [[伙伴]],
			title = [[miaomushan]],
			param = 0,
			describe = [[开启后可以查看或强化伙伴]],
			icon = [[cultivate]],
			new_guide_id = 0,
			is_close = 0,
		},
		[6] = {
			func_id = 6,
			initial_state = true,
			limit_content = {2,5002,},
			notice = 0,
			name = [[伙伴升星]],
			title = [[miaomushan]],
			param = 0,
			describe = [[伙伴升星，让你的伙伴变得更强]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[7] = {
			func_id = 7,
			initial_state = true,
			limit_content = {2,5002,},
			notice = 0,
			name = [[伙伴进阶]],
			title = [[miaomushan]],
			param = 0,
			describe = [[伙伴进阶，可以解锁新技能]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[8] = {
			func_id = 8,
			initial_state = false,
			limit_content = {2,5013,},
			notice = 1,
			name = [[技能升级]],
			title = [[jineng]],
			param = 0,
			describe = [[升级技能，让你的伙伴变得更强]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[9] = {
			func_id = 9,
			initial_state = false,
			limit_content = {2,5004,},
			notice = 0,
			name = [[背包]],
			title = [[miaomushan]],
			param = 0,
			describe = [[你的背包，让我走的好缓慢]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[10] = {
			func_id = 10,
			initial_state = false,
			limit_content = {2,5005,},
			notice = 2,
			name = [[结界]],
			title = [[jiejie]],
			param = 0,
			describe = [[增强属性，从结界开始]],
			icon = [[jiejie]],
			new_guide_id = 0,
			is_close = 0,
		},
		[11] = {
			func_id = 11,
			initial_state = false,
			limit_content = {1,16,},
			notice = 2,
			name = [[公会]],
			title = [[guild]],
			param = 0,
			describe = [[妈妈再也不用担心我没玩伴了]],
			icon = [[guild]],
			new_guide_id = 0,
			is_close = 0,
		},
		[12] = {
			func_id = 12,
			initial_state = true,
			limit_content = {1,1,},
			notice = 0,
			name = [[设置]],
			title = [[miaomushan]],
			param = 0,
			describe = [[系统设置，你懂的]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[13] = {
			func_id = 13,
			initial_state = false,
			limit_content = {1,12,},
			notice = 0,
			name = [[地图]],
			title = [[miaomushan]],
			param = 0,
			describe = [[我想到世界各地走走]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[14] = {
			func_id = 14,
			initial_state = false,
			limit_content = {1,12,},
			notice = 0,
			name = [[日常玩法]],
			title = [[miaomushan]],
			param = 0,
			describe = [[集成了游戏各种玩法]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[15] = {
			func_id = 15,
			initial_state = false,
			limit_content = {1,12,},
			notice = 2,
			name = [[竞技场]],
			title = [[arena]],
			param = 14,
			describe = [[同台竞技，谁是王者]],
			icon = [[arena]],
			new_guide_id = 1,
			is_close = 0,
		},
		[16] = {
			func_id = 16,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[航海大冒险]],
			title = [[adventure]],
			param = 14,
			describe = [[可获得历练值和金币]],
			icon = [[adventure]],
			new_guide_id = 0,
			is_close = 0,
		},
		[17] = {
			func_id = 17,
			initial_state = false,
			limit_content = {0,},
			notice = 2,
			name = [[魂石副本]],
			title = [[hunshi]],
			param = 14,
			describe = [[可获得伙伴魂石]],
			icon = [[hunshi]],
			new_guide_id = 0,
			is_close = 0,
		},
		[18] = {
			func_id = 18,
			initial_state = false,
			limit_content = {1,15,},
			notice = 2,
			name = [[妙木山副本]],
			title = [[miaomushan]],
			param = 14,
			describe = [[可获得大量经验药]],
			icon = [[miaomushan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[19] = {
			func_id = 19,
			initial_state = false,
			limit_content = {1,18,},
			notice = 2,
			name = [[金币试炼副本]],
			title = [[chengjiehaizei]],
			param = 14,
			describe = [[可获得大量金币]],
			icon = [[cpunish_piracy]],
			new_guide_id = 0,
			is_close = 0,
		},
		[20] = {
			func_id = 20,
			initial_state = false,
			limit_content = {1,1,},
			notice = 2,
			name = [[小助手]],
			title = [[xiaozhushou]],
			param = 0,
			describe = [[人物升级，一点我帮您]],
			icon = [[xiaozhushou]],
			new_guide_id = 0,
			is_close = 0,
		},
		[21] = {
			func_id = 21,
			initial_state = false,
			limit_content = {1,1,},
			notice = 0,
			name = [[邮箱]],
			title = [[miaomushan]],
			param = 0,
			describe = [[邮箱功能描述]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[22] = {
			func_id = 22,
			initial_state = false,
			limit_content = {1,1,},
			notice = 0,
			name = [[充值]],
			title = [[miaomushan]],
			param = 0,
			describe = [[充值功能描述]],
			icon = [[shop]],
			new_guide_id = 0,
			is_close = 0,
		},
		[23] = {
			func_id = 23,
			initial_state = true,
			limit_content = {1,1,},
			notice = 0,
			name = [[任务]],
			title = [[miaomushan]],
			param = 0,
			describe = [[任务功能描述]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[24] = {
			func_id = 24,
			initial_state = false,
			limit_content = {1,5,},
			notice = 0,
			name = [[体力购买]],
			title = [[miaomushan]],
			param = 0,
			describe = [[体力购买功能描述]],
			icon = [[jineng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[25] = {
			func_id = 25,
			initial_state = false,
			limit_content = {1,5,},
			notice = 0,
			name = [[挖宝]],
			title = [[miaomushan]],
			param = 0,
			describe = [[缺金币，来找我]],
			icon = [[wabao]],
			new_guide_id = 0,
			is_close = 0,
		},
		[26] = {
			func_id = 26,
			initial_state = false,
			limit_content = {1,15,},
			notice = 0,
			name = [[自动战斗]],
			title = [[miaomushan]],
			param = 0,
			describe = [[解放你的双手]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[27] = {
			func_id = 27,
			initial_state = true,
			limit_content = {1,1,},
			notice = 0,
			name = [[普通副本]],
			title = [[miaomushan]],
			param = 0,
			describe = [[普通副本功能描述]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[28] = {
			func_id = 28,
			initial_state = false,
			limit_content = {2,5023,},
			notice = 1,
			name = [[精英副本]],
			title = [[jingying]],
			param = 0,
			describe = [[可获得伙伴升星魂石]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[29] = {
			func_id = 29,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[在线奖励]],
			title = [[miaomushan]],
			param = 0,
			describe = [[在线就能领奖哦]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[30] = {
			func_id = 30,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[封测活动]],
			title = [[miaomushan]],
			param = 0,
			describe = [[哇，好多好多的奖励啊！]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[31] = {
			func_id = 31,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[连续登录]],
			title = [[miaomushan]],
			param = 0,
			describe = [[连续登录功能描述]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[32] = {
			func_id = 32,
			initial_state = false,
			limit_content = {2,5005,},
			notice = 0,
			name = [[合体合击]],
			title = [[miaomushan]],
			param = 57,
			describe = [[合体合击]],
			icon = [[cultivate]],
			new_guide_id = 0,
			is_close = 0,
		},
		[33] = {
			func_id = 33,
			initial_state = false,
			limit_content = {2,5006,},
			notice = 0,
			name = [[领奖]],
			title = [[lingjiang]],
			param = 0,
			describe = [[领奖领到手抽筋]],
			icon = [[lingjiang]],
			new_guide_id = 0,
			is_close = 0,
		},
		[34] = {
			func_id = 34,
			initial_state = false,
			limit_content = {1,12,},
			notice = 0,
			name = [[排行榜]],
			title = [[lingjiang]],
			param = 0,
			describe = [[天下第一，速来朝拜]],
			icon = [[large]],
			new_guide_id = 0,
			is_close = 0,
		},
		[35] = {
			func_id = 35,
			initial_state = false,
			limit_content = {2,5014,},
			notice = 0,
			name = [[羁绊]],
			title = [[lingjiang]],
			param = 0,
			describe = [[想合体？想合击？全部都在这。]],
			icon = [[cultivate]],
			new_guide_id = 0,
			is_close = 0,
		},
		[36] = {
			func_id = 36,
			initial_state = false,
			limit_content = {1,25,},
			notice = 2,
			name = [[贝吉塔星]],
			title = [[beijitaxing]],
			param = 14,
			describe = [[魂石宝箱，等你来拿]],
			icon = [[beijitaxing]],
			new_guide_id = 0,
			is_close = 0,
		},
		[37] = {
			func_id = 37,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[灵魂献祭]],
			title = [[xianji]],
			param = 5,
			describe = [[更强属性，由你培养]],
			icon = [[xianji]],
			new_guide_id = 3,
			is_close = 0,
		},
		[38] = {
			func_id = 38,
			initial_state = false,
			limit_content = {5,7,},
			notice = 2,
			name = [[神圣召唤]],
			title = [[zhaohuan]],
			param = 1,
			describe = [[更强英雄，由你召唤]],
			icon = [[zhaohuan]],
			new_guide_id = 0,
			is_close = 0,
		},
		[39] = {
			func_id = 39,
			initial_state = false,
			limit_content = {1,18,},
			notice = 0,
			name = [[年兽副本]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[恭喜发财，红包给你]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[40] = {
			func_id = 40,
			initial_state = false,
			limit_content = {1,30,},
			notice = 2,
			name = [[新世界]],
			title = [[newworld]],
			param = 14,
			describe = [[妈妈再也不用担心我没资源了]],
			icon = [[newworld]],
			new_guide_id = 0,
			is_close = 0,
		},
		[41] = {
			func_id = 41,
			initial_state = false,
			limit_content = {1,17,},
			notice = 2,
			name = [[回收]],
			title = [[fenjie]],
			param = 0,
			describe = [[妈妈再也不用担心我资源浪费了]],
			icon = [[fenjie]],
			new_guide_id = 0,
			is_close = 0,
		},
		[42] = {
			func_id = 42,
			initial_state = false,
			limit_content = {1,35,},
			notice = 2,
			name = [[豆之试练]],
			title = [[cultivatefb]],
			param = 14,
			describe = [[这不是仙豆，吃了不能填饱肚子！]],
			icon = [[cultivatefb]],
			new_guide_id = 0,
			is_close = 0,
		},
		[43] = {
			func_id = 43,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[培养开启]],
			title = [[cultivate]],
			param = 5,
			describe = [[培养虽好，可要注意看喔]],
			icon = [[cultivate]],
			new_guide_id = 2,
			is_close = 0,
		},
		[44] = {
			func_id = 44,
			initial_state = false,
			limit_content = {1,10,},
			notice = 2,
			name = [[好友开启]],
			title = [[friend]],
			param = 0,
			describe = [[带我装逼我们还是好朋友]],
			icon = [[friend]],
			new_guide_id = 0,
			is_close = 0,
		},
		[45] = {
			func_id = 45,
			initial_state = false,
			limit_content = {1,30,},
			notice = 0,
			name = [[崩玉开启]],
			title = [[friend]],
			param = 0,
			describe = [[带我装逼我们还是好朋友]],
			icon = [[friend]],
			new_guide_id = 4,
			is_close = 0,
		},
		[46] = {
			func_id = 46,
			initial_state = false,
			limit_content = {1,45,},
			notice = 2,
			name = [[时空乱党]],
			title = [[worldboss]],
			param = 14,
			describe = [[追击！消灭他们！]],
			icon = [[worldboss]],
			new_guide_id = 0,
			is_close = 0,
		},
		[47] = {
			func_id = 47,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[切磋]],
			title = [[qiecuo]],
			param = 0,
			describe = [[打的就是你！]],
			icon = [[qiecuo]],
			new_guide_id = 0,
			is_close = 0,
		},
		[48] = {
			func_id = 48,
			initial_state = false,
			limit_content = {1,45,},
			notice = 2,
			name = [[宠物]],
			title = [[pet]],
			param = 0,
			describe = [[来比比谁更萌吧！]],
			icon = [[pet]],
			new_guide_id = 0,
			is_close = 0,
		},
		[49] = {
			func_id = 49,
			initial_state = false,
			limit_content = {1,48,},
			notice = 2,
			name = [[天空竞技场]],
			title = [[tiankong]],
			param = 14,
			describe = [[我的楼层我做主！]],
			icon = [[tiankong]],
			new_guide_id = 0,
			is_close = 0,
		},
		[50] = {
			func_id = 50,
			initial_state = false,
			limit_content = {1,30,},
			notice = 2,
			name = [[超次元乱战]],
			title = [[dianfeng]],
			param = 14,
			describe = [[尽情战斗吧少年！]],
			icon = [[dianfeng]],
			new_guide_id = 0,
			is_close = 0,
		},
		[51] = {
			func_id = 51,
			initial_state = false,
			limit_content = {1,16,},
			notice = 0,
			name = [[公会BOSS]],
			title = [[guildboss]],
			param = 0,
			describe = [[图片预告用到的]],
			icon = [[guildboss]],
			new_guide_id = 0,
			is_close = 0,
		},
		[52] = {
			func_id = 52,
			initial_state = false,
			limit_content = {1,50,},
			notice = 2,
			name = [[大魔斗演武]],
			title = [[damodou]],
			param = 14,
			describe = [[是不是最强者！进来试试便知！]],
			icon = [[damodou]],
			new_guide_id = 0,
			is_close = 0,
		},
		[53] = {
			func_id = 53,
			initial_state = false,
			limit_content = {1,20,},
			notice = 2,
			name = [[寻宝]],
			title = [[xunbao]],
			param = 0,
			describe = [[秘境寻宝，鸿运当头！]],
			icon = [[xunbao]],
			new_guide_id = 0,
			is_close = 0,
		},
		[54] = {
			func_id = 54,
			initial_state = false,
			limit_content = {2,5646,},
			notice = 1,
			name = [[噩梦副本]],
			title = [[emeng]],
			param = 0,
			describe = [[可获得伙伴飞升材料]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[55] = {
			func_id = 55,
			initial_state = false,
			limit_content = {1,40,},
			notice = 2,
			name = [[顶上之战]],
			title = [[kuafu]],
			param = 40,
			describe = [[最强公会，由你决定！]],
			icon = [[kuafu]],
			new_guide_id = 0,
			is_close = 0,
		},
		[56] = {
			func_id = 56,
			initial_state = false,
			limit_content = {1,18,},
			notice = 0,
			name = [[雪怪来袭]],
			title = [[zhaohuan]],
			param = 0,
			describe = [[雪怪来袭！]],
			icon = [[arena]],
			new_guide_id = 0,
			is_close = 0,
		},
		[57] = {
			func_id = 57,
			initial_state = false,
			limit_content = {1,60,},
			notice = 2,
			name = [[黑暗世界]],
			title = [[darkworld]],
			param = 14,
			describe = [[最强魂石，等你来拿！]],
			icon = [[darkworld]],
			new_guide_id = 0,
			is_close = 0,
		},
		[58] = {
			func_id = 58,
			initial_state = false,
			limit_content = {1,40,},
			notice = 2,
			name = [[忍队任务]],
			title = [[rdfb]],
			param = 14,
			describe = [[组队任务，一起消灭BOSS!]],
			icon = [[rdfb]],
			new_guide_id = 0,
			is_close = 0,
		},
		[59] = {
			func_id = 59,
			initial_state = false,
			limit_content = {1,55,},
			notice = 2,
			name = [[噩梦之境]],
			title = [[adventure]],
			param = 14,
			describe = [[噩梦之境，等你挑战!]],
			icon = [[adventure]],
			new_guide_id = 0,
			is_close = 0,
		},
		[60] = {
			func_id = 60,
			initial_state = false,
			limit_content = {1,5,},
			notice = 2,
			name = [[英雄图鉴]],
			title = [[tj]],
			param = 0,
			describe = [[强大属性，等你激活！]],
			icon = [[tj]],
			new_guide_id = 0,
			is_close = 0,
		},
		[61] = {
			func_id = 61,
			initial_state = false,
			limit_content = {1,45,},
			notice = 0,
			name = [[宠物图鉴]],
			title = [[tj]],
			param = 0,
			describe = [[强大属性，等你激活！]],
			icon = [[tj]],
			new_guide_id = 0,
			is_close = 0,
		},
		[62] = {
			func_id = 62,
			initial_state = false,
			limit_content = {1,65,},
			notice = 2,
			name = [[擂台争霸]],
			title = [[ltzbkq]],
			param = 14,
			describe = [[擂台争霸，谁是王者？]],
			icon = [[zhengba]],
			new_guide_id = 0,
			is_close = 0,
		},
		[63] = {
			func_id = 63,
			initial_state = false,
			limit_content = {1,60,},
			notice = 2,
			name = [[神器]],
			title = [[sqkq]],
			param = 0,
			describe = [[神器在手，说干就干！]],
			icon = [[shenqi]],
			new_guide_id = 0,
			is_close = 0,
		},
		[64] = {
			func_id = 64,
			initial_state = false,
			limit_content = {1,1,},
			notice = 2,
			name = [[世界大比拼]],
			title = [[sqkq]],
			param = 0,
			describe = [[神器在手，说干就干！]],
			icon = [[shenqi]],
			new_guide_id = 0,
			is_close = 0,
		},
		[65] = {
			func_id = 65,
			initial_state = false,
			limit_content = {2,8041,},
			notice = 1,
			name = [[地狱之境]],
			title = [[adventure]],
			param = 0,
			describe = [[地狱之境，等你挑战!]],
			icon = [[adventure]],
			new_guide_id = 0,
			is_close = 0,
		},
		[66] = {
			func_id = 66,
			initial_state = false,
			limit_content = {1,70,},
			notice = 0,
			name = [[神树]],
			title = [[miaomushan]],
			param = 0,
			describe = [[培养神树，经验多多！]],
			icon = [[shenshu]],
			new_guide_id = 0,
			is_close = 0,
		},
}