Config = Config or {}
Config.cnfprimaryfree = {
		[1] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1013,
			weight = 23,
		},
		[2] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1006,
			weight = 10,
		},
		[3] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1025,
			weight = 23,
		},
		[4] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1040,
			weight = 23,
		},
		[5] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1042,
			weight = 23,
		},
		[6] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1036,
			weight = 23,
		},
		[7] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1037,
			weight = 23,
		},
		[8] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1045,
			weight = 23,
		},
		[9] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1008,
			weight = 7,
		},
		[10] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1011,
			weight = 7,
		},
		[11] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1029,
			weight = 7,
		},
		[12] = {
			level_bt = {1,29,},
			item_type = 7,
			id = 1052,
			weight = 1,
		},
		[13] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3552,
			weight = 8,
		},
		[14] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3513,
			weight = 63,
		},
		[15] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3525,
			weight = 500,
		},
		[16] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3511,
			weight = 63,
		},
		[17] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3542,
			weight = 63,
		},
		[18] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3536,
			weight = 63,
		},
		[19] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3537,
			weight = 63,
		},
		[20] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3545,
			weight = 63,
		},
		[21] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3506,
			weight = 63,
		},
		[22] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3508,
			weight = 19,
		},
		[23] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3540,
			weight = 19,
		},
		[24] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3529,
			weight = 19,
		},
		[25] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8048,
			weight = 290,
		},
		[26] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8049,
			weight = 290,
		},
		[27] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8050,
			weight = 290,
		},
		[28] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8051,
			weight = 290,
		},
		[29] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8052,
			weight = 290,
		},
		[30] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8053,
			weight = 290,
		},
		[31] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8054,
			weight = 290,
		},
		[32] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8055,
			weight = 290,
		},
		[33] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8056,
			weight = 290,
		},
		[34] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8057,
			weight = 290,
		},
		[35] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8058,
			weight = 290,
		},
		[36] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8059,
			weight = 290,
		},
		[37] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8060,
			weight = 290,
		},
		[38] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8061,
			weight = 290,
		},
		[39] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8062,
			weight = 290,
		},
		[40] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8063,
			weight = 290,
		},
		[41] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8064,
			weight = 290,
		},
		[42] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8065,
			weight = 290,
		},
		[43] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 3701,
			weight = 3499,
		},
		[44] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1013,
			weight = 23,
		},
		[45] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1006,
			weight = 10,
		},
		[46] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1025,
			weight = 23,
		},
		[47] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1040,
			weight = 23,
		},
		[48] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1042,
			weight = 23,
		},
		[49] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1036,
			weight = 23,
		},
		[50] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1037,
			weight = 23,
		},
		[51] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1045,
			weight = 23,
		},
		[52] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1008,
			weight = 7,
		},
		[53] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1011,
			weight = 7,
		},
		[54] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1029,
			weight = 7,
		},
		[55] = {
			level_bt = {30,49,},
			item_type = 7,
			id = 1052,
			weight = 1,
		},
		[56] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3552,
			weight = 8,
		},
		[57] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3513,
			weight = 63,
		},
		[58] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3525,
			weight = 500,
		},
		[59] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3511,
			weight = 63,
		},
		[60] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3542,
			weight = 63,
		},
		[61] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3536,
			weight = 63,
		},
		[62] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3537,
			weight = 63,
		},
		[63] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3545,
			weight = 63,
		},
		[64] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3506,
			weight = 63,
		},
		[65] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3508,
			weight = 19,
		},
		[66] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3540,
			weight = 19,
		},
		[67] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3529,
			weight = 19,
		},
		[68] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8066,
			weight = 522,
		},
		[69] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8067,
			weight = 522,
		},
		[70] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8068,
			weight = 522,
		},
		[71] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8069,
			weight = 522,
		},
		[72] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8070,
			weight = 522,
		},
		[73] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8071,
			weight = 522,
		},
		[74] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8072,
			weight = 522,
		},
		[75] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8073,
			weight = 522,
		},
		[76] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8074,
			weight = 522,
		},
		[77] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8075,
			weight = 522,
		},
		[78] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 3701,
			weight = 3499,
		},
		[79] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1013,
			weight = 23,
		},
		[80] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1006,
			weight = 10,
		},
		[81] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1025,
			weight = 23,
		},
		[82] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1040,
			weight = 23,
		},
		[83] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1042,
			weight = 23,
		},
		[84] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1036,
			weight = 23,
		},
		[85] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1037,
			weight = 23,
		},
		[86] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1045,
			weight = 23,
		},
		[87] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1008,
			weight = 7,
		},
		[88] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1011,
			weight = 7,
		},
		[89] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1029,
			weight = 7,
		},
		[90] = {
			level_bt = {50,120,},
			item_type = 7,
			id = 1052,
			weight = 1,
		},
		[91] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3552,
			weight = 8,
		},
		[92] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3513,
			weight = 63,
		},
		[93] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3525,
			weight = 500,
		},
		[94] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3511,
			weight = 63,
		},
		[95] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3542,
			weight = 63,
		},
		[96] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3536,
			weight = 63,
		},
		[97] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3537,
			weight = 63,
		},
		[98] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3545,
			weight = 63,
		},
		[99] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3506,
			weight = 63,
		},
		[100] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3508,
			weight = 19,
		},
		[101] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3540,
			weight = 19,
		},
		[102] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3529,
			weight = 19,
		},
		[103] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8076,
			weight = 435,
		},
		[104] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8077,
			weight = 435,
		},
		[105] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8078,
			weight = 435,
		},
		[106] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8079,
			weight = 435,
		},
		[107] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8080,
			weight = 435,
		},
		[108] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8081,
			weight = 435,
		},
		[109] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8082,
			weight = 435,
		},
		[110] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8083,
			weight = 435,
		},
		[111] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8084,
			weight = 435,
		},
		[112] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8085,
			weight = 435,
		},
		[113] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8086,
			weight = 435,
		},
		[114] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8087,
			weight = 435,
		},
		[115] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 3701,
			weight = 3499,
		},
}