Config = Config or {}
Config.cnfpartnerdecomposereborn = {
		[1] = {
			res_type = 3701,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 1E-4,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[2] = {
			res_type = 16,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 0.1,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[3] = {
			res_type = 6,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 5.0000000000000001E-3,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[4] = {
			res_type = 3,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 1.0000000000000001E-5,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[5] = {
			res_type = 3733,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 0.02,
			normal_return_factor = 0.7,
			advance_return_factor = 1,
		},
		[6] = {
			res_type = 3716,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 0.04,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[7] = {
			res_type = 12,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 5.0000000000000001E-3,
			normal_return_factor = 120,
			advance_return_factor = 160,
		},
		[8] = {
			res_type = 3711,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 0.05,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[9] = {
			res_type = 18,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 2.5000000000000001E-2,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[10] = {
			res_type = 3801,
			recycle_type = 1,
			normal_gold_factor = 0,
			advance_gold_factor = 2.5000000000000001E-2,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[11] = {
			res_type = 3701,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 1E-4,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[12] = {
			res_type = 16,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 0.1,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[13] = {
			res_type = 6,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 5.0000000000000001E-3,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[14] = {
			res_type = 3,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 1.0000000000000001E-5,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[15] = {
			res_type = 3733,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 0.02,
			normal_return_factor = 0.7,
			advance_return_factor = 1,
		},
		[16] = {
			res_type = 3716,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 0.04,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[17] = {
			res_type = 12,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 5.0000000000000001E-3,
			normal_return_factor = 0,
			advance_return_factor = 0,
		},
		[18] = {
			res_type = 3711,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 0.05,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[19] = {
			res_type = 18,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 2.5000000000000001E-2,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[20] = {
			res_type = 3801,
			recycle_type = 2,
			normal_gold_factor = 0,
			advance_gold_factor = 2.5000000000000001E-2,
			normal_return_factor = 0.6,
			advance_return_factor = 0.8,
		},
		[21] = {
			res_type = 3701,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 1E-4,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[22] = {
			res_type = 16,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 0.1,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[23] = {
			res_type = 6,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 5.0000000000000001E-3,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[24] = {
			res_type = 3,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 1.0000000000000001E-5,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[25] = {
			res_type = 3733,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 0.02,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[26] = {
			res_type = 3716,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 0.04,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[27] = {
			res_type = 12,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 5.0000000000000001E-3,
			normal_return_factor = 0,
			advance_return_factor = 0,
		},
		[28] = {
			res_type = 3711,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 0.05,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[29] = {
			res_type = 18,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 2.5000000000000001E-2,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
		[30] = {
			res_type = 3801,
			recycle_type = 3,
			normal_gold_factor = 0,
			advance_gold_factor = 2.5000000000000001E-2,
			normal_return_factor = 0,
			advance_return_factor = 1,
		},
}