Config = Config or {}
Config.cnfpartnerlevel = {
		[1] = {
			lev = 1,
			exp_max = 20,
		},
		[2] = {
			lev = 2,
			exp_max = 20,
		},
		[3] = {
			lev = 3,
			exp_max = 25,
		},
		[4] = {
			lev = 4,
			exp_max = 30,
		},
		[5] = {
			lev = 5,
			exp_max = 35,
		},
		[6] = {
			lev = 6,
			exp_max = 35,
		},
		[7] = {
			lev = 7,
			exp_max = 40,
		},
		[8] = {
			lev = 8,
			exp_max = 50,
		},
		[9] = {
			lev = 9,
			exp_max = 55,
		},
		[10] = {
			lev = 10,
			exp_max = 60,
		},
		[11] = {
			lev = 11,
			exp_max = 70,
		},
		[12] = {
			lev = 12,
			exp_max = 80,
		},
		[13] = {
			lev = 13,
			exp_max = 90,
		},
		[14] = {
			lev = 14,
			exp_max = 100,
		},
		[15] = {
			lev = 15,
			exp_max = 110,
		},
		[16] = {
			lev = 16,
			exp_max = 125,
		},
		[17] = {
			lev = 17,
			exp_max = 140,
		},
		[18] = {
			lev = 18,
			exp_max = 160,
		},
		[19] = {
			lev = 19,
			exp_max = 180,
		},
		[20] = {
			lev = 20,
			exp_max = 540,
		},
		[21] = {
			lev = 21,
			exp_max = 610,
		},
		[22] = {
			lev = 22,
			exp_max = 685,
		},
		[23] = {
			lev = 23,
			exp_max = 770,
		},
		[24] = {
			lev = 24,
			exp_max = 870,
		},
		[25] = {
			lev = 25,
			exp_max = 1185,
		},
		[26] = {
			lev = 26,
			exp_max = 1330,
		},
		[27] = {
			lev = 27,
			exp_max = 1500,
		},
		[28] = {
			lev = 28,
			exp_max = 1690,
		},
		[29] = {
			lev = 29,
			exp_max = 1900,
		},
		[30] = {
			lev = 30,
			exp_max = 2510,
		},
		[31] = {
			lev = 31,
			exp_max = 2825,
		},
		[32] = {
			lev = 32,
			exp_max = 3180,
		},
		[33] = {
			lev = 33,
			exp_max = 3580,
		},
		[34] = {
			lev = 34,
			exp_max = 4025,
		},
		[35] = {
			lev = 35,
			exp_max = 5195,
		},
		[36] = {
			lev = 36,
			exp_max = 5850,
		},
		[37] = {
			lev = 37,
			exp_max = 6585,
		},
		[38] = {
			lev = 38,
			exp_max = 7410,
		},
		[39] = {
			lev = 39,
			exp_max = 8340,
		},
		[40] = {
			lev = 40,
			exp_max = 11790,
		},
		[41] = {
			lev = 41,
			exp_max = 12375,
		},
		[42] = {
			lev = 42,
			exp_max = 12845,
		},
		[43] = {
			lev = 43,
			exp_max = 13435,
		},
		[44] = {
			lev = 44,
			exp_max = 14145,
		},
		[45] = {
			lev = 45,
			exp_max = 17735,
		},
		[46] = {
			lev = 46,
			exp_max = 18585,
		},
		[47] = {
			lev = 47,
			exp_max = 19440,
		},
		[48] = {
			lev = 48,
			exp_max = 20290,
		},
		[49] = {
			lev = 49,
			exp_max = 21285,
		},
		[50] = {
			lev = 50,
			exp_max = 26040,
		},
		[51] = {
			lev = 51,
			exp_max = 27205,
		},
		[52] = {
			lev = 52,
			exp_max = 28530,
		},
		[53] = {
			lev = 53,
			exp_max = 29860,
		},
		[54] = {
			lev = 54,
			exp_max = 31185,
		},
		[55] = {
			lev = 55,
			exp_max = 37405,
		},
		[56] = {
			lev = 56,
			exp_max = 39115,
		},
		[57] = {
			lev = 57,
			exp_max = 40825,
		},
		[58] = {
			lev = 58,
			exp_max = 42725,
		},
		[59] = {
			lev = 59,
			exp_max = 44810,
		},
		[60] = {
			lev = 60,
			exp_max = 52825,
		},
		[61] = {
			lev = 61,
			exp_max = 55185,
		},
		[62] = {
			lev = 62,
			exp_max = 57750,
		},
		[63] = {
			lev = 63,
			exp_max = 60315,
		},
		[64] = {
			lev = 64,
			exp_max = 63100,
		},
		[65] = {
			lev = 65,
			exp_max = 73505,
		},
		[66] = {
			lev = 66,
			exp_max = 76835,
		},
		[67] = {
			lev = 67,
			exp_max = 80405,
		},
		[68] = {
			lev = 68,
			exp_max = 84210,
		},
		[69] = {
			lev = 69,
			exp_max = 88020,
		},
		[70] = {
			lev = 70,
			exp_max = 101355,
		},
		[71] = {
			lev = 71,
			exp_max = 106065,
		},
		[72] = {
			lev = 72,
			exp_max = 111045,
		},
		[73] = {
			lev = 73,
			exp_max = 116020,
		},
		[74] = {
			lev = 74,
			exp_max = 121520,
		},
		[75] = {
			lev = 75,
			exp_max = 138660,
		},
		[76] = {
			lev = 76,
			exp_max = 145235,
		},
		[77] = {
			lev = 77,
			exp_max = 151805,
		},
		[78] = {
			lev = 78,
			exp_max = 158955,
		},
		[79] = {
			lev = 79,
			exp_max = 166100,
		},
		[80] = {
			lev = 80,
			exp_max = 195715,
		},
		[81] = {
			lev = 81,
			exp_max = 204725,
		},
		[82] = {
			lev = 82,
			exp_max = 214385,
		},
		[83] = {
			lev = 83,
			exp_max = 224040,
		},
		[84] = {
			lev = 84,
			exp_max = 234665,
		},
		[85] = {
			lev = 85,
			exp_max = 272715,
		},
		[86] = {
			lev = 86,
			exp_max = 285240,
		},
		[87] = {
			lev = 87,
			exp_max = 298480,
		},
		[88] = {
			lev = 88,
			exp_max = 312440,
		},
		[89] = {
			lev = 89,
			exp_max = 326755,
		},
		[90] = {
			lev = 90,
			exp_max = 376170,
		},
		[91] = {
			lev = 91,
			exp_max = 393500,
		},
		[92] = {
			lev = 92,
			exp_max = 460000,
		},
		[93] = {
			lev = 93,
			exp_max = 782000,
		},
		[94] = {
			lev = 94,
			exp_max = 1251200,
		},
		[95] = {
			lev = 95,
			exp_max = 1876800,
		},
		[96] = {
			lev = 96,
			exp_max = 2627500,
		},
		[97] = {
			lev = 97,
			exp_max = 3415800,
		},
		[98] = {
			lev = 98,
			exp_max = 4269800,
		},
		[99] = {
			lev = 99,
			exp_max = 5123800,
		},
		[100] = {
			lev = 100,
			exp_max = 6148600,
		},
		[101] = {
			lev = 101,
			exp_max = 7378300,
		},
		[102] = {
			lev = 102,
			exp_max = 8854000,
		},
		[103] = {
			lev = 103,
			exp_max = 10624800,
		},
		[104] = {
			lev = 104,
			exp_max = 12749800,
		},
		[105] = {
			lev = 105,
			exp_max = 15299800,
		},
		[106] = {
			lev = 106,
			exp_max = 18359800,
		},
		[107] = {
			lev = 107,
			exp_max = 22031800,
		},
		[108] = {
			lev = 108,
			exp_max = 26438200,
		},
		[109] = {
			lev = 109,
			exp_max = 31725800,
		},
		[110] = {
			lev = 110,
			exp_max = 38071000,
		},
}