Config = Config or {}
Config.CnfPush = {
		[1] = {
			id = 1,
			name = [[体力领取]],
			push_time = {43200,64800,},
			content = [[亲，你有体力可以领取哦，还不快上线领取！]],
			push_type = 2,
			pre_time = 0,
			week_time = {0,},
			limit_type = 0,
			limit_value = 0,
			delay_push = 0,
		},
		[2] = {
			id = 2,
			name = [[体力满]],
			push_time = {-100,},
			content = [[亲，体力已满，快点上来刷副本吧！]],
			push_type = 1,
			pre_time = 0,
			week_time = {0,},
			limit_type = 0,
			limit_value = 0,
			delay_push = 1,
		},
		[3] = {
			id = 3,
			name = [[技能点满]],
			push_time = {-101,},
			content = [[亲，技能点已满，快来升级技能吧！]],
			push_type = 1,
			pre_time = 0,
			week_time = {0,},
			limit_type = 0,
			limit_value = 0,
			delay_push = 1,
		},
}