Config = Config or {}
Config.cnfpet = {
		[1] = {
			fusion_keep_image_cost = 500,
			fusion_keep_skill_cost = 500,
			rename_cost = 50,
			main_rate = 0.6,
			vice_rate = 0.4,
			com_item_id = 3901,
			sup_item_id = 3902,
			protect_item = {3906,[[bhs]],},
			com_lx_item = {3907,[[fls]],},
			sup_lx_item = {3908,[[fls2]],},
			lx_use_num = 4,
			describe = [[1.天赋等级相同的宠物，才可进行融合；<BR SPACING=10>2.融合可随机宠物形象及天赋种类，融合结果同时受主副宠影响；<BR SPACING=10>3.融合可提升天赋等级，最高为+5；<BR SPACING=10>4.满级后进行融合，不提升天赋等级；<BR SPACING=10>5.满级后进行融合，可随机宠物形象及天赋种类；<BR SPACING=10>6.融合后宠物的等级将取自主副宠中等级较高者；<BR SPACING=10>7.融合后宠物的成长将取自主副宠中成长较高者；<BR SPACING=10>8.融合后宠物的灵性将取自主副宠中整体灵性较高者；]],
			lv_describe = [[1.宠物等级不可超过战队等级；<BR SPACING=10>2.提高宠物品质（颜色）可提高宠物等级上限；]],
			grow_describe = [[1.成长越高，宠物升级时增长的属性越多；<BR SPACING=10>2.提升失败会降低成长，使用保护石可以避免失败时成长降低；]],
			lx_describe = [[1.灵性影响宠物属性附加到伙伴属性的比例；<BR SPACING=10>2.刷新将改变灵性，锁定灵性后灵性将不再变化，同时增加刷新消耗；<BR SPACING=10>3.使用高级封灵石有更高几率获得高灵性；]],
		},
}