Config = Config or {}
Config.cnfpetlevel = {
		[1] = {
			lv = 1,
			experience = 12,
		},
		[2] = {
			lv = 2,
			experience = 13,
		},
		[3] = {
			lv = 3,
			experience = 15,
		},
		[4] = {
			lv = 4,
			experience = 17,
		},
		[5] = {
			lv = 5,
			experience = 21,
		},
		[6] = {
			lv = 6,
			experience = 25,
		},
		[7] = {
			lv = 7,
			experience = 29,
		},
		[8] = {
			lv = 8,
			experience = 34,
		},
		[9] = {
			lv = 9,
			experience = 38,
		},
		[10] = {
			lv = 10,
			experience = 44,
		},
		[11] = {
			lv = 11,
			experience = 50,
		},
		[12] = {
			lv = 12,
			experience = 53,
		},
		[13] = {
			lv = 13,
			experience = 60,
		},
		[14] = {
			lv = 14,
			experience = 66,
		},
		[15] = {
			lv = 15,
			experience = 72,
		},
		[16] = {
			lv = 16,
			experience = 78,
		},
		[17] = {
			lv = 17,
			experience = 88,
		},
		[18] = {
			lv = 18,
			experience = 94,
		},
		[19] = {
			lv = 19,
			experience = 103,
		},
		[20] = {
			lv = 20,
			experience = 113,
		},
		[21] = {
			lv = 21,
			experience = 125,
		},
		[22] = {
			lv = 22,
			experience = 138,
		},
		[23] = {
			lv = 23,
			experience = 150,
		},
		[24] = {
			lv = 24,
			experience = 166,
		},
		[25] = {
			lv = 25,
			experience = 182,
		},
		[26] = {
			lv = 26,
			experience = 197,
		},
		[27] = {
			lv = 27,
			experience = 216,
		},
		[28] = {
			lv = 28,
			experience = 238,
		},
		[29] = {
			lv = 29,
			experience = 260,
		},
		[30] = {
			lv = 30,
			experience = 285,
		},
		[31] = {
			lv = 31,
			experience = 313,
		},
		[32] = {
			lv = 32,
			experience = 329,
		},
		[33] = {
			lv = 33,
			experience = 342,
		},
		[34] = {
			lv = 34,
			experience = 357,
		},
		[35] = {
			lv = 35,
			experience = 376,
		},
		[36] = {
			lv = 36,
			experience = 392,
		},
		[37] = {
			lv = 37,
			experience = 410,
		},
		[38] = {
			lv = 38,
			experience = 429,
		},
		[39] = {
			lv = 39,
			experience = 448,
		},
		[40] = {
			lv = 40,
			experience = 470,
		},
		[41] = {
			lv = 41,
			experience = 492,
		},
		[42] = {
			lv = 42,
			experience = 514,
		},
		[43] = {
			lv = 43,
			experience = 539,
		},
		[44] = {
			lv = 44,
			experience = 564,
		},
		[45] = {
			lv = 45,
			experience = 589,
		},
		[46] = {
			lv = 46,
			experience = 617,
		},
		[47] = {
			lv = 47,
			experience = 646,
		},
		[48] = {
			lv = 48,
			experience = 674,
		},
		[49] = {
			lv = 49,
			experience = 705,
		},
		[50] = {
			lv = 50,
			experience = 739,
		},
		[51] = {
			lv = 51,
			experience = 774,
		},
		[52] = {
			lv = 52,
			experience = 809,
		},
		[53] = {
			lv = 53,
			experience = 846,
		},
		[54] = {
			lv = 54,
			experience = 884,
		},
		[55] = {
			lv = 55,
			experience = 924,
		},
		[56] = {
			lv = 56,
			experience = 968,
		},
		[57] = {
			lv = 57,
			experience = 1012,
		},
		[58] = {
			lv = 58,
			experience = 1059,
		},
		[59] = {
			lv = 59,
			experience = 1109,
		},
		[60] = {
			lv = 60,
			experience = 1159,
		},
		[61] = {
			lv = 61,
			experience = 1213,
		},
		[62] = {
			lv = 62,
			experience = 1269,
		},
		[63] = {
			lv = 63,
			experience = 1329,
		},
		[64] = {
			lv = 64,
			experience = 1388,
		},
		[65] = {
			lv = 65,
			experience = 1454,
		},
		[66] = {
			lv = 66,
			experience = 1520,
		},
		[67] = {
			lv = 67,
			experience = 1592,
		},
		[68] = {
			lv = 68,
			experience = 1664,
		},
		[69] = {
			lv = 69,
			experience = 1742,
		},
		[70] = {
			lv = 70,
			experience = 1821,
		},
		[71] = {
			lv = 71,
			experience = 1905,
		},
		[72] = {
			lv = 72,
			experience = 1993,
		},
		[73] = {
			lv = 73,
			experience = 2087,
		},
		[74] = {
			lv = 74,
			experience = 2181,
		},
		[75] = {
			lv = 75,
			experience = 2285,
		},
		[76] = {
			lv = 76,
			experience = 2388,
		},
		[77] = {
			lv = 77,
			experience = 2498,
		},
		[78] = {
			lv = 78,
			experience = 2614,
		},
		[79] = {
			lv = 79,
			experience = 2736,
		},
		[80] = {
			lv = 80,
			experience = 2861,
		},
		[81] = {
			lv = 81,
			experience = 2993,
		},
		[82] = {
			lv = 82,
			experience = 3131,
		},
		[83] = {
			lv = 83,
			experience = 3275,
		},
		[84] = {
			lv = 84,
			experience = 3428,
		},
		[85] = {
			lv = 85,
			experience = 3585,
		},
		[86] = {
			lv = 86,
			experience = 3751,
		},
		[87] = {
			lv = 87,
			experience = 3924,
		},
		[88] = {
			lv = 88,
			experience = 4105,
		},
		[89] = {
			lv = 89,
			experience = 4296,
		},
		[90] = {
			lv = 90,
			experience = 4494,
		},
		[91] = {
			lv = 91,
			experience = 4686,
		},
		[92] = {
			lv = 92,
			experience = 4880,
		},
		[93] = {
			lv = 93,
			experience = 5076,
		},
		[94] = {
			lv = 94,
			experience = 5274,
		},
		[95] = {
			lv = 95,
			experience = 5474,
		},
		[96] = {
			lv = 96,
			experience = 5676,
		},
		[97] = {
			lv = 97,
			experience = 5880,
		},
		[98] = {
			lv = 98,
			experience = 6086,
		},
		[99] = {
			lv = 99,
			experience = 6294,
		},
		[100] = {
			lv = 100,
			experience = 6504,
		},
		[101] = {
			lv = 101,
			experience = 6716,
		},
		[102] = {
			lv = 102,
			experience = 6930,
		},
		[103] = {
			lv = 103,
			experience = 7146,
		},
		[104] = {
			lv = 104,
			experience = 7364,
		},
		[105] = {
			lv = 105,
			experience = 7584,
		},
		[106] = {
			lv = 106,
			experience = 7806,
		},
		[107] = {
			lv = 107,
			experience = 8030,
		},
		[108] = {
			lv = 108,
			experience = 8256,
		},
		[109] = {
			lv = 109,
			experience = 8484,
		},
		[110] = {
			lv = 110,
			experience = 8714,
		},
}