Config = Config or {}
Config.cnfpetcombin = {
		[1] = {
			id = 1,
			combin_name = [[功夫海牛获得]],
			pet_list = {1,},
			condition_list = {{4,0,},},
			active_condition = {{3,700000,},},
			effect_col = {{1,},},
			attr = {{21,0,200,},},
		},
		[2] = {
			id = 2,
			combin_name = [[功夫海牛等级]],
			pet_list = {1,},
			condition_list = {{1,50,},},
			active_condition = {{6,6000,},},
			effect_col = {{2,},},
			attr = {{9,0,350,},},
		},
		[3] = {
			id = 3,
			combin_name = [[功夫海牛成长]],
			pet_list = {1,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{9,6000,},{10,1075,},{4,5800,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{51,0,5140,},{7,0,400,},{21,0,700,},},
		},
		[4] = {
			id = 4,
			combin_name = [[功夫海牛灵性]],
			pet_list = {1,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{12,1500,},{24,1520,},},
			effect_col = {{1,},{3,},},
			attr = {{13,0,750,},{10,0,700,},},
		},
		[5] = {
			id = 5,
			combin_name = [[金刚获得]],
			pet_list = {2,},
			condition_list = {{4,0,},},
			active_condition = {{3,770000,},},
			effect_col = {{1,},},
			attr = {{22,0,220,},},
		},
		[6] = {
			id = 6,
			combin_name = [[金刚等级]],
			pet_list = {2,},
			condition_list = {{1,50,},},
			active_condition = {{6,6600,},},
			effect_col = {{2,},},
			attr = {{10,0,385,},},
		},
		[7] = {
			id = 7,
			combin_name = [[金刚成长]],
			pet_list = {2,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{9,6600,},{10,1182.5,},{4,6380,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{21,0,330,},{8,0,440,},{22,0,770,},},
		},
		[8] = {
			id = 8,
			combin_name = [[金刚灵性]],
			pet_list = {2,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{12,1650,},{24,1672,},},
			effect_col = {{1,},{3,},},
			attr = {{14,0,825,},{7,0,550,},},
		},
		[9] = {
			id = 9,
			combin_name = [[九尾获得]],
			pet_list = {3,},
			condition_list = {{4,0,},},
			active_condition = {{3,840000,},},
			effect_col = {{1,},},
			attr = {{9,0,240,},},
		},
		[10] = {
			id = 10,
			combin_name = [[九尾等级]],
			pet_list = {3,},
			condition_list = {{1,50,},},
			active_condition = {{6,7200,},},
			effect_col = {{2,},},
			attr = {{7,0,360,},},
		},
		[11] = {
			id = 11,
			combin_name = [[九尾成长]],
			pet_list = {3,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{9,7200,},{10,1290,},{4,6960,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{22,0,360,},{13,0,1200,},{9,0,1380,},},
		},
		[12] = {
			id = 12,
			combin_name = [[九尾灵性]],
			pet_list = {3,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{12,1800,},{24,1824,},},
			effect_col = {{1,},{3,},},
			attr = {{51,0,6168,},{8,0,600,},},
		},
		[13] = {
			id = 13,
			combin_name = [[守鹤获得]],
			pet_list = {4,},
			condition_list = {{4,0,},},
			active_condition = {{3,910000,},},
			effect_col = {{1,},},
			attr = {{10,0,260,},},
		},
		[14] = {
			id = 14,
			combin_name = [[守鹤等级]],
			pet_list = {4,},
			condition_list = {{1,50,},},
			active_condition = {{6,7800,},},
			effect_col = {{2,},},
			attr = {{8,0,390,},},
		},
		[15] = {
			id = 15,
			combin_name = [[守鹤成长]],
			pet_list = {4,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{9,7800,},{10,1397.5,},{4,7540,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{9,0,455,},{14,0,1300,},{10,0,1495,},},
		},
		[16] = {
			id = 16,
			combin_name = [[守鹤灵性]],
			pet_list = {4,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{12,1950,},{24,1976,},},
			effect_col = {{1,},{3,},},
			attr = {{21,0,390,},{13,0,1625,},},
		},
		[17] = {
			id = 17,
			combin_name = [[加鲁鲁获得]],
			pet_list = {5,},
			condition_list = {{4,0,},},
			active_condition = {{3,980000,},},
			effect_col = {{1,},},
			attr = {{7,0,280,},},
		},
		[18] = {
			id = 18,
			combin_name = [[加鲁鲁等级]],
			pet_list = {5,},
			condition_list = {{1,50,},},
			active_condition = {{6,8400,},},
			effect_col = {{2,},},
			attr = {{13,0,1050,},},
		},
		[19] = {
			id = 19,
			combin_name = [[加鲁鲁成长]],
			pet_list = {5,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{9,8400,},{10,1505,},{4,8120,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{10,0,490,},{51,0,10696,},{7,0,980,},},
		},
		[20] = {
			id = 20,
			combin_name = [[加鲁鲁灵性]],
			pet_list = {5,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{12,2100,},{24,2128,},},
			effect_col = {{1,},{3,},},
			attr = {{22,0,420,},{14,0,1750,},},
		},
		[21] = {
			id = 21,
			combin_name = [[圣诞乔巴获得]],
			pet_list = {6,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{8,0,300,},},
		},
		[22] = {
			id = 22,
			combin_name = [[圣诞乔巴等级]],
			pet_list = {6,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{14,0,1125,},},
		},
		[23] = {
			id = 23,
			combin_name = [[圣诞乔巴成长]],
			pet_list = {6,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{7,0,450,},{21,0,600,},{8,0,1050,},},
		},
		[24] = {
			id = 24,
			combin_name = [[圣诞乔巴灵性]],
			pet_list = {6,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{9,0,525,},{51,0,15810,},},
		},
		[25] = {
			id = 25,
			combin_name = [[哈比获得]],
			pet_list = {7,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{13,0,750,},},
		},
		[26] = {
			id = 26,
			combin_name = [[哈比等级]],
			pet_list = {7,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{51,0,7710,},},
		},
		[27] = {
			id = 27,
			combin_name = [[哈比成长]],
			pet_list = {7,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{8,0,450,},{22,0,600,},{13,0,2625,},},
		},
		[28] = {
			id = 28,
			combin_name = [[哈比灵性]],
			pet_list = {7,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{10,0,525,},{21,0,750,},},
		},
		[29] = {
			id = 29,
			combin_name = [[小恶魔获得]],
			pet_list = {8,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{14,0,750,},},
		},
		[30] = {
			id = 30,
			combin_name = [[小恶魔等级]],
			pet_list = {8,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{21,0,450,},},
		},
		[31] = {
			id = 31,
			combin_name = [[小恶魔成长]],
			pet_list = {8,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{13,0,1125,},{9,0,750,},{14,0,2625,},},
		},
		[32] = {
			id = 32,
			combin_name = [[小恶魔灵性]],
			pet_list = {8,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{7,0,450,},{22,0,750,},},
		},
		[33] = {
			id = 33,
			combin_name = [[雷锋兔获得]],
			pet_list = {9,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{51,0,4560,},},
		},
		[34] = {
			id = 34,
			combin_name = [[雷锋兔等级]],
			pet_list = {9,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{22,0,450,},},
		},
		[35] = {
			id = 35,
			combin_name = [[雷锋兔成长]],
			pet_list = {9,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{14,0,1125,},{10,0,750,},{51,0,26310,},},
		},
		[36] = {
			id = 36,
			combin_name = [[雷锋兔灵性]],
			pet_list = {9,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{8,0,450,},{9,0,1050,},},
		},
		[37] = {
			id = 37,
			combin_name = [[皮卡丘获得]],
			pet_list = {10,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{51,0,6340,},},
		},
		[38] = {
			id = 38,
			combin_name = [[皮卡丘等级]],
			pet_list = {10,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{18,0,500,},},
		},
		[39] = {
			id = 39,
			combin_name = [[皮卡丘成长]],
			pet_list = {10,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{9,0,700,},{10,0,700,},{15,0,540,},},
		},
		[40] = {
			id = 40,
			combin_name = [[皮卡丘灵性]],
			pet_list = {10,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{4,0,800,},{23,0,550,},},
		},
		[41] = {
			id = 41,
			combin_name = [[妙蛙获得]],
			pet_list = {11,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{18,0,370,},},
		},
		[42] = {
			id = 42,
			combin_name = [[妙蛙等级]],
			pet_list = {11,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{23,0,500,},},
		},
		[43] = {
			id = 43,
			combin_name = [[妙蛙成长]],
			pet_list = {11,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{13,0,1250,},{14,0,1250,},{3,0,800,},},
		},
		[44] = {
			id = 44,
			combin_name = [[妙蛙灵性]],
			pet_list = {11,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{1,0,800,},{22,0,550,},},
		},
		[45] = {
			id = 45,
			combin_name = [[杰尼龟获得]],
			pet_list = {12,},
			condition_list = {{4,0,},},
			active_condition = {{2,200,},},
			effect_col = {{1,},},
			attr = {{15,0,370,},},
		},
		[46] = {
			id = 46,
			combin_name = [[杰尼龟等级]],
			pet_list = {12,},
			condition_list = {{1,50,},},
			active_condition = {{2,300,},},
			effect_col = {{2,},},
			attr = {{6,0,500,},},
		},
		[47] = {
			id = 47,
			combin_name = [[杰尼龟成长]],
			pet_list = {12,},
			condition_list = {{2,15,},{2,30,},{2,60,},},
			active_condition = {{2,300,},{2,430,},{2,2320,},},
			effect_col = {{3,},{1,},{2,},},
			attr = {{10,0,720,},{51,0,10860,},{23,0,500,},},
		},
		[48] = {
			id = 48,
			combin_name = [[杰尼龟灵性]],
			pet_list = {12,},
			condition_list = {{3,60,},{3,90,},},
			active_condition = {{2,300,},{2,760,},},
			effect_col = {{1,},{3,},},
			attr = {{18,0,510,},{14,0,1275,},},
		},
}