Config = Config or {}
Config.cnfpartnerfusionhuashenret = {
		[1] = {
			huashen = 1,
			shenhun = 3600,
			shenli = 10800,
			hunjing = {3714,33,},
		},
		[2] = {
			huashen = 2,
			shenhun = 4500,
			shenli = 13500,
			hunjing = {3714,41,},
		},
		[3] = {
			huashen = 3,
			shenhun = 5400,
			shenli = 16200,
			hunjing = {3714,51,},
		},
		[4] = {
			huashen = 4,
			shenhun = 6300,
			shenli = 18900,
			hunjing = {3714,59,},
		},
		[5] = {
			huashen = 5,
			shenhun = 7200,
			shenli = 21600,
			hunjing = {3714,70,},
		},
		[6] = {
			huashen = 6,
			shenhun = 8100,
			shenli = 24300,
			hunjing = {3714,79,},
		},
		[7] = {
			huashen = 7,
			shenhun = 9900,
			shenli = 29700,
			hunjing = {3714,98,},
		},
		[8] = {
			huashen = 8,
			shenhun = 12150,
			shenli = 36450,
			hunjing = {3714,121,},
		},
		[9] = {
			huashen = 9,
			shenhun = 14850,
			shenli = 44550,
			hunjing = {3714,152,},
		},
		[10] = {
			huashen = 10,
			shenhun = 18000,
			shenli = 54000,
			hunjing = {3714,184,},
		},
}