Config = Config or {}
Config.cnfprimarynode = {
		[1] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8063,
			weight = 96,
		},
		[2] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8064,
			weight = 96,
		},
		[3] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8065,
			weight = 96,
		},
		[4] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8066,
			weight = 96,
		},
		[5] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8067,
			weight = 96,
		},
		[6] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8068,
			weight = 96,
		},
		[7] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8069,
			weight = 96,
		},
		[8] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8070,
			weight = 96,
		},
		[9] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8071,
			weight = 96,
		},
		[10] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8072,
			weight = 96,
		},
		[11] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8073,
			weight = 96,
		},
		[12] = {
			level_bt = {1,29,},
			item_type = 1,
			id = 8074,
			weight = 96,
		},
		[13] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8075,
			weight = 96,
		},
		[14] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8076,
			weight = 96,
		},
		[15] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8077,
			weight = 96,
		},
		[16] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8078,
			weight = 96,
		},
		[17] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8079,
			weight = 96,
		},
		[18] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8080,
			weight = 96,
		},
		[19] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8081,
			weight = 96,
		},
		[20] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8082,
			weight = 96,
		},
		[21] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8083,
			weight = 96,
		},
		[22] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8084,
			weight = 96,
		},
		[23] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8085,
			weight = 96,
		},
		[24] = {
			level_bt = {30,49,},
			item_type = 1,
			id = 8086,
			weight = 96,
		},
		[25] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8086,
			weight = 55,
		},
		[26] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8087,
			weight = 55,
		},
		[27] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8088,
			weight = 55,
		},
		[28] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8089,
			weight = 55,
		},
		[29] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8090,
			weight = 55,
		},
		[30] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8091,
			weight = 55,
		},
		[31] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8092,
			weight = 55,
		},
		[32] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8093,
			weight = 55,
		},
		[33] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8094,
			weight = 55,
		},
		[34] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8095,
			weight = 55,
		},
		[35] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8096,
			weight = 55,
		},
		[36] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8097,
			weight = 55,
		},
		[37] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8098,
			weight = 55,
		},
		[38] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8099,
			weight = 55,
		},
		[39] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8100,
			weight = 55,
		},
		[40] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8101,
			weight = 55,
		},
		[41] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8102,
			weight = 55,
		},
		[42] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8103,
			weight = 55,
		},
		[43] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8104,
			weight = 55,
		},
		[44] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8105,
			weight = 55,
		},
		[45] = {
			level_bt = {50,120,},
			item_type = 1,
			id = 8106,
			weight = 55,
		},
}