Config = Config or {}
Config.cnfpartnerfusionmisc = {
		[1] = {
			ret_orb_rate = 0.9,
			ret_feisheng_rate = 0.9,
			upstar_ret_item = {4084,0.1,},
			help_text = [[<BR>1.合体的两个英雄达到指定条件即可融合出永久合体英雄 
<BR>2.融合后得到新英雄，两个旧英雄消失 
<BR>3.若已有融合英雄，则之后的融合会折算成<COLOR VALUE=FFFFD200>60个</COLOR>新英雄魂石
<BR>4.融合SSS级英雄需要消耗一定数量合魂珠
<BR>5.融合后新英雄的初始属性： 
<BR>①.星级：配置指定星级，若融合前英雄星级高于新英雄星级，则融合后返还高出星级的魂石；
<BR>②.等级:融合前两个英雄等级之和/2，向下取整
<BR>③.阶级：融合前两个英雄阶级之和/2，向下取整
<BR>④.觉醒：所需两个英雄觉醒等级之和/2，向下取整，阶级清0
<BR>⑤.品质：新英雄品质固定，融合前英雄品质高于新英雄品质，则返还高出部分的飞升消耗和化神消耗
<BR>⑥.献祭：融合前两个英雄献祭等级之和/2，向下取整
<BR>⑦.崩玉：融合前两个英雄崩玉等级之和/2，向下取整
<BR>⑧.培养：融合前两个英雄培养属性之和/2，向下取整
<BR>⑨.技能：全部恢复到1级]],
		},
}