Config = Config or {}
Config.cnfpettreasuretype = {
		[1] = {
			treasure_type = 1,
			reward_interval = 30,
			vip = 0,
			cost = 5,
		},
		[2] = {
			treasure_type = 2,
			reward_interval = 12,
			vip = 4,
			cost = 10,
		},
		[3] = {
			treasure_type = 3,
			reward_interval = 5,
			vip = 8,
			cost = 20,
		},
}