Config = Config or {}
Config.cnfpartnerfusioninfo = {
		[1] = {
			new_partner = 1096,
			old_partner1 = 1041,
			old_partner2 = 1017,
			req_level = {50,30,},
			req_star = {5,5,},
			req_stage = {6,3,},
			req_awaken = {2,0,},
			req_rare = {3,3,},
			ret_partner_orb = {20,20,},
			consume_hhz = {},
			anim_list = {{1,1041,670,},{1,1017,671,},{2,101750,672,},{2,101750,673,},{2,101751,675,},{1,1096,674,},},
			anim_end_time = 2,
		},
		[2] = {
			new_partner = 1097,
			old_partner1 = 1005,
			old_partner2 = 1019,
			req_level = {50,30,},
			req_star = {5,5,},
			req_stage = {6,3,},
			req_awaken = {2,0,},
			req_rare = {3,3,},
			ret_partner_orb = {20,20,},
			consume_hhz = {},
			anim_list = {{1,1005,676,},{1,1019,677,},{2,105510,678,},{2,105512,679,},{2,105514,681,},{1,1097,680,},},
			anim_end_time = 2,
		},
		[3] = {
			new_partner = 1098,
			old_partner1 = 1033,
			old_partner2 = 1026,
			req_level = {50,30,},
			req_star = {5,5,},
			req_stage = {6,4,},
			req_awaken = {3,0,},
			req_rare = {4,4,},
			ret_partner_orb = {20,20,},
			consume_hhz = {},
			anim_list = {{1,1033,682,},{1,1026,683,},{2,105612,684,},{2,105612,685,},{2,105610,687,},{2,9511,688,},{1,1098,686,},},
			anim_end_time = 2,
		},
		[4] = {
			new_partner = 1099,
			old_partner1 = 1012,
			old_partner2 = 1034,
			req_level = {50,30,},
			req_star = {5,5,},
			req_stage = {6,3,},
			req_awaken = {2,0,},
			req_rare = {3,3,},
			ret_partner_orb = {20,20,},
			consume_hhz = {4084,20,0,120,},
			anim_list = {{1,1012,689,},{1,1034,690,},{2,9503,691,},{2,9503,692,},{2,9512,694,},{1,1099,693,},},
			anim_end_time = 5,
		},
		[5] = {
			new_partner = 1100,
			old_partner1 = 1064,
			old_partner2 = 1065,
			req_level = {50,30,},
			req_star = {5,5,},
			req_stage = {6,4,},
			req_awaken = {3,0,},
			req_rare = {5,5,},
			ret_partner_orb = {20,20,},
			consume_hhz = {},
			anim_list = {{1,1064,695,},{1,1065,696,},{2,106651,698,},{1,1100,697,},},
			anim_end_time = 2,
		},
		[6] = {
			new_partner = 1101,
			old_partner1 = 1061,
			old_partner2 = 1028,
			req_level = {50,30,},
			req_star = {5,4,},
			req_stage = {6,4,},
			req_awaken = {3,0,},
			req_rare = {5,5,},
			ret_partner_orb = {20,20,},
			consume_hhz = {4084,100,0,120,},
			anim_list = {{1,1061,695,},{1,1028,696,},{2,106651,698,},{1,1101,697,},},
			anim_end_time = 2,
		},
		[7] = {
			new_partner = 1103,
			old_partner1 = 1067,
			old_partner2 = 1068,
			req_level = {50,30,},
			req_star = {5,4,},
			req_stage = {6,4,},
			req_awaken = {3,0,},
			req_rare = {5,5,},
			ret_partner_orb = {20,20,},
			consume_hhz = {4084,100,0,120,},
			anim_list = {{1,1068,676,},{1,1068,677,},{2,105510,678,},{2,105512,679,},{2,105514,681,},{1,1103,680,},},
			anim_end_time = 2,
		},
}