Config = Config or {}
Config.cnfpanelsound = {
		[1] = {
			id = 1,
			name = "聊天面板",
			res_id = 102,
		},
		[2] = {
			id = 2,
			name = "任务面板",
			res_id = 102,
		},
		[3] = {
			id = 3,
			name = "NPC对话面板",
			res_id = 102,
		},
		[4] = {
			id = 4,
			name = "世界地图",
			res_id = 102,
		},
		[5] = {
			id = 5,
			name = "系统设置",
			res_id = 102,
		},
		[7] = {
			id = 7,
			name = "小助手",
			res_id = 102,
		},
		[10] = {
			id = 10,
			name = "反馈意见",
			res_id = 102,
		},
		[11] = {
			id = 11,
			name = "邮件面板",
			res_id = 102,
		},
		[21] = {
			id = 21,
			name = "GM命令",
			res_id = 102,
		},
		[22] = {
			id = 22,
			name = "副本详情",
			res_id = 102,
		},
		[23] = {
			id = 23,
			name = "布阵面板",
			res_id = 102,
		},
		[24] = {
			id = 24,
			name = "副本UI面板",
			res_id = 102,
		},
		[25] = {
			id = 25,
			name = "结界面板",
			res_id = 102,
		},
		[26] = {
			id = 26,
			name = "背包",
			res_id = 102,
		},
		[27] = {
			id = 27,
			name = "测试骨骼",
			res_id = 102,
		},
		[28] = {
			id = 28,
			name = "设置队长面板",
			res_id = 102,
		},
		[29] = {
			id = 29,
			name = "抽卡面板",
			res_id = 102,
		},
		[30] = {
			id = 30,
			name = "伙伴面板",
			res_id = 102,
		},
		[31] = {
			id = 31,
			name = "伙伴详情面板",
			res_id = 102,
		},
		[32] = {
			id = 32,
			name = "挖宝面板",
			res_id = 102,
		},
		[33] = {
			id = 33,
			name = "物品掉落面板",
			res_id = 104,
		},
		[34] = {
			id = 34,
			name = "掉落关卡面板",
			res_id = 102,
		},
		[35] = {
			id = 35,
			name = "商店面板",
			res_id = 102,
		},
		[36] = {
			id = 36,
			name = "特殊副本面板",
			res_id = 102,
		},
		[37] = {
			id = 37,
			name = "VIP面板",
			res_id = 102,
		},
		[38] = {
			id = 38,
			name = "航海大冒险",
			res_id = 102,
		},
		[39] = {
			id = 39,
			name = "日常玩法",
			res_id = 102,
		},
		[40] = {
			id = 40,
			name = "竞技场",
			res_id = 102,
		},
		[41] = {
			id = 41,
			name = "竞技场记录",
			res_id = 102,
		},
		[42] = {
			id = 42,
			name = "充值面板",
			res_id = 102,
		},
		[43] = {
			id = 43,
			name = "封测活动",
			res_id = 102,
		},
		[44] = {
			id = 44,
			name = "连续登录",
			res_id = 102,
		},
		[45] = {
			id = 45,
			name = "合体合击",
			res_id = 102,
		},
		[47] = {
			id = 47,
			name = "在线奖励",
			res_id = 102,
		},
		[48] = {
			id = 48,
			name = "新抽卡面板",
			res_id = 102,
		},
}