Config = Config or {}
Config.cnfpetaction = {
		[1] = {
			index = 1,
			action_list = {{{1,},{300,},{16,17,},},{{2,},{300,},{16,},},{{3,},{200,},{17,16,},},{{4,},{200,},{17,},},},
		},
		[2] = {
			index = 2,
			action_list = {{{3,},{200,},{17,16,},},{{4,},{200,},{17,},},{{1,},{300,},{16,17,},},{{2,},{300,},{16,},},},
		},
}