Config = Config or {}
Config.cnfpartner_propertyfactor = {
		[1] = {
			hp_factor1 = 9,
			hp_factor2 = 8,
			hp_factor3 = 0,
			atk_speed_factor1 = 5,
			atk_speed_factor2 = 0,
			shanghai_factor1 = 100,
			shanghai_factor2 = 0,
			shanbi_factor1 = 50,
			shanbi_factor2 = 0,
			shanbi_factor3 = 1,
			phy_baoji_factor1 = 50,
			phy_baoji_factor2 = 0,
			mag_baoji_factor1 = 50,
			mag_baoji_factor2 = 0,
			baoshang_factor1 = 50,
			baoshang_factor2 = 0,
			renxing_factor1 = 50,
			renxing_factor2 = 0,
			zhaojia_factor1 = 50,
			zhaojia_factor2 = 0,
			gedang_factor1 = 50,
			gedang_factor2 = 0,
			lianji_factor1 = 50,
			lianji_factor2 = 0,
			zhanya_factor1 = 75,
			zhanya_factor2 = 0,
			mingz_factor1 = 0.5,
			mingz_factor2 = 0,
			minjie_factor1 = 0,
			minjie_factor2 = 0,
			freeze_factor1 = 0.2,
			front_phy_atk_factor1 = 3,
			mid_phy_atk_factor1 = 1,
			back_phy_atk_factor1 = 1.5,
			minzhongvalue_factor1 = 100,
			wujia_jianmian_factor1 = 150,
			wujia_jianmian_factor2 = 0,
			mojia_jianmian_factor1 = 150,
			mojia_jianmian_factor2 = 0,
			wukang_jianmian_factor1 = 3,
			wukang_jianmian_factor2 = 0,
			mokang_jianmian_factor1 = 3,
			mokang_jianmian_factor2 = 0,
			pos_type_factor1 = {1,3,2,},
			vampire_factor1 = 50,
			vampire_factor2 = 0,
			minshan_factor1 = 800,
			minshan_factor2 = 1000,
			chuantou_factor1 = 1,
		},
}