Config = Config or {}
Config.cnfpeakmisc = {
		[1] = {
			rand_weight = {{1,500,},{2,400,},{3,200,},},
			group_weight = {{6,200,},{7,200,},},
			music_id = {1,0,0,},
			resource_id = {1071,1071,},
			explain = [[1.每天凌晨5：00抽取6~7个普通伙伴与1~2个神圣召唤伙伴，作为今日可以使用的免费阵容，次日凌晨5：00重新抽取。<BR> <BR>
2.休闲模式下，伙伴均为当前等级的最高配置，包括星级，技能等级，阶级，崩玉，献祭，培养等。<BR> <BR>
3.可以组合进攻阵容与防守阵容；<BR> <BR>
4.如果本次你组合的进攻防守阵容在战斗中胜利，则你本次阵容的人气加1，人气排行靠前的阵容可以在布阵界面查看。<BR> <BR>
5.竞技模式下，玩家每天有6次免费竞技机会，玩家将组合进攻阵容与其他玩家对战。<BR> <BR>
6.每周一5：00~第二周周一4：59为一个赛季。赛季结束时，结算当赛季排名，并按照排名邮件发奖，清除上一赛季排名。<BR> <BR>
7.玩家对战胜利将获得绩点，失败获得一半绩点，绩点可以在绩点商店兑换珍稀道具。<BR> <BR>]],
			explain1 = [[<COLOR VALUE=442c0c>1.每周一5：00-次周一4:59为一季。<BR>
2.赛季结束后，将通过邮件发放排名奖励。<BR> <BR><COLOR>]],
			rand_num = 8,
			arena_lv = 90,
			partner_num = 10,
			ticket_price = 120,
			free_time = 2,
			fail_time = 3,
			online_sec = 20,
			offline_sec = 10,
			robot_sec = 8,
			free_times = 6,
			win_jifen = 20,
			fail_jifen = 10,
			jidian_id = 10110,
			jidian_value = 100,
			fail_jidian_value = 50,
		},
}