Config = Config or {}
Config.cnfpeakreward = {
		[1] = {
			stage = 1,
			reward_id = 9201,
			explain = [[打开后可随机获得一件奖励：神魂*350、野兽魂晶*5、培养豆*20、普通玉片*5、梅里号模型*10]],
		},
		[2] = {
			stage = 2,
			reward_id = 9202,
			explain = [[打开后可随机获得一件奖励：神魂*450、野兽魂晶*6、培养豆*25、普通玉片*8、梅里号模型*12]],
		},
		[3] = {
			stage = 3,
			reward_id = 9203,
			explain = [[打开后可随机获得一件奖励：神魂*550、野兽魂晶*7、培养豆*30、普通玉片*10、梅里号模型*15]],
		},
		[4] = {
			stage = 4,
			reward_id = 9204,
			explain = [[打开后可随机获得一件奖励：神魂*600、死神魂晶*4、培养豆*35、优良玉片*4、梅里号模型*18]],
		},
		[5] = {
			stage = 5,
			reward_id = 9205,
			explain = [[打开后可随机获得一件奖励：神魂*800、死神魂晶*5、培养豆*40、优良玉片*5、梅里号模型*20]],
		},
		[6] = {
			stage = 6,
			reward_id = 9206,
			explain = [[打开后可随机获得一件奖励：神魂*1000、死神魂晶*6、培养豆*45、优良玉片*6、梅里号模型*20]],
		},
		[7] = {
			stage = 7,
			reward_id = 9207,
			explain = [[打开后可随机获得一件奖励：神魂*1000、蛤蟆仙人魂石*2、死神魂晶*10、培养豆*50、优良玉片*10、梅里号模型*25、魔水晶*200]],
		},
		[8] = {
			stage = 8,
			reward_id = 9208,
			explain = [[打开后可随机获得一件奖励：神魂*1200、露西魂石*2、死神魂晶*11、培养豆*50、优良玉片*11、梅里号模型*30、魔水晶*300]],
		},
		[9] = {
			stage = 9,
			reward_id = 9209,
			explain = [[打开后可随机获得一件奖励：神魂*1500、火龙魂石*5、死神魂晶*12、培养豆*60、优良玉片*12、钻石*200、魔水晶*400]],
		},
		[10] = {
			stage = 10,
			reward_id = 9210,
			explain = [[打开后可随机获得一件奖励：神魂*1700、罗宾魂石*5、死神魂晶*15、培养豆*80、优良玉片*15、钻石*240、魔水晶*500]],
		},
}