Config = Config or {}
Config.cnfpetinherit = {
		[1] = {
			help_desc = "1、 传承方的属性（等级、成长和灵性）全都高于继承方时才能进行传承<BR SPACING=10>2、 传承只会改变宠物的等级，成长和灵性，宠物的品质，技能，外观，名字在传承后都保持不变<BR SPACING=10>3、 宠物传承后，传承方宠物等级变成1，成长变成1，灵性变成10,；继承方获得传承方操作之前的等级（最大为继承方等级上限），成长，灵性。<BR SPACING=10>4、传承时，根据传承方宠物的等级、成长和灵性的大小，消耗一定量的钻石<BR SPACING=10>",
		},
}