Config = Config or {}
Config.cnfpetgrow = {
		[1] = {
			grow = 1,
			succ_improve = 1,
			fail_improve = 0,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 3,
		},
		[2] = {
			grow = 2,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 3,
		},
		[3] = {
			grow = 3,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 3,
		},
		[4] = {
			grow = 4,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 3,
		},
		[5] = {
			grow = 5,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 3,
		},
		[6] = {
			grow = 6,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 3,
		},
		[7] = {
			grow = 7,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 4,
		},
		[8] = {
			grow = 8,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 4,
		},
		[9] = {
			grow = 9,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 4,
		},
		[10] = {
			grow = 10,
			succ_improve = 1,
			fail_improve = 0,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 5,
		},
		[11] = {
			grow = 11,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 5,
		},
		[12] = {
			grow = 12,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,1,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 5,
		},
		[13] = {
			grow = 13,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 5,
		},
		[14] = {
			grow = 14,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 5,
		},
		[15] = {
			grow = 15,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 6,
		},
		[16] = {
			grow = 16,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 6,
		},
		[17] = {
			grow = 17,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 6,
		},
		[18] = {
			grow = 18,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 6,
		},
		[19] = {
			grow = 19,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 7,
		},
		[20] = {
			grow = 20,
			succ_improve = 1,
			fail_improve = 0,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 7,
		},
		[21] = {
			grow = 21,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 7,
		},
		[22] = {
			grow = 22,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 8,
		},
		[23] = {
			grow = 23,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 8,
		},
		[24] = {
			grow = 24,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,2,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 9,
		},
		[25] = {
			grow = 25,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,3,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 10,
		},
		[26] = {
			grow = 26,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,3,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 10,
		},
		[27] = {
			grow = 27,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,3,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 11,
		},
		[28] = {
			grow = 28,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,3,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 12,
		},
		[29] = {
			grow = 29,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,4,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 13,
		},
		[30] = {
			grow = 30,
			succ_improve = 1,
			fail_improve = 0,
			refresh_item = {3904,4,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[31] = {
			grow = 31,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,4,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[32] = {
			grow = 32,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,4,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[33] = {
			grow = 33,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,5,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[34] = {
			grow = 34,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,5,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[35] = {
			grow = 35,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,5,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[36] = {
			grow = 36,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,5,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[37] = {
			grow = 37,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[38] = {
			grow = 38,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[39] = {
			grow = 39,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[40] = {
			grow = 40,
			succ_improve = 1,
			fail_improve = 0,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[41] = {
			grow = 41,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 15,
		},
		[42] = {
			grow = 42,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 16,
		},
		[43] = {
			grow = 43,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 17,
		},
		[44] = {
			grow = 44,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,6,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 18,
		},
		[45] = {
			grow = 45,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,8,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 20,
		},
		[46] = {
			grow = 46,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,8,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 21,
		},
		[47] = {
			grow = 47,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,8,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 23,
		},
		[48] = {
			grow = 48,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,8,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 25,
		},
		[49] = {
			grow = 49,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,10,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 27,
		},
		[50] = {
			grow = 50,
			succ_improve = 1,
			fail_improve = 0,
			refresh_item = {3904,10,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[51] = {
			grow = 51,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,10,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[52] = {
			grow = 52,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,10,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[53] = {
			grow = 53,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,12,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[54] = {
			grow = 54,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,12,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[55] = {
			grow = 55,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,12,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[56] = {
			grow = 56,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,12,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[57] = {
			grow = 57,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,14,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[58] = {
			grow = 58,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,14,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[59] = {
			grow = 59,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,14,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
		[60] = {
			grow = 60,
			succ_improve = 1,
			fail_improve = 1,
			refresh_item = {3904,14,[[jhs2]],},
			protect_item_num = 1,
			fail_max_num = 30,
		},
}