Config = Config or {}
Config.cnfpartnerfusionfeishengret = {
		[1] = {
			rare = 1,
			orb = 0,
			lilian = 0,
			omni = {},
		},
		[2] = {
			rare = 2,
			orb = 0,
			lilian = 0,
			omni = {},
		},
		[3] = {
			rare = 3,
			orb = 126,
			lilian = 15120,
			omni = {4021,72,},
		},
		[4] = {
			rare = 4,
			orb = 207,
			lilian = 25200,
			omni = {4022,126,},
		},
		[5] = {
			rare = 5,
			orb = 432,
			lilian = 50400,
			omni = {4023,234,},
		},
}