Config = Config or {}
Config.cnfpartnerdecomposerebornmisc = {
		[1] = {
			describe_decompose = [[1.英雄分解可返还一定比例养成资源，并分解英雄，以神魂形式返还英雄对应价值；<BR SPACING=10>2.普通分解返还一定比例养成资源，高级分解返还大部分养成资源；<BR SPACING=10>3.以经验果实形式返还英雄升级所消耗经验（返还经验低于150部分不返还）；<BR SPACING=10>4.返还升级技能和献祭过程中消耗的金币；<BR SPACING=10>5.返还英雄进阶时消耗的耐力和历练；<BR SPACING=10>6.返还英雄培养时消耗的培养豆；<BR SPACING=10>7.返还英雄崩玉提升过程中消耗的玉片（返还玉片低于1个则不返还）；<BR SPACING=10>8.以魂晶形式返还英雄献祭所消耗的魂石（返还魂晶低于1个则不返还）；<BR SPACING=10>9.以神魂形式返还英雄所消耗的同名魂石；]],
			describe_reborn = [[1.英雄重生可返还初始英雄（保留星级）和一定比例养成资源；<BR SPACING=10>2.普通重生返还一定比例养成资源，高级重生返还大部分养成资源；<BR SPACING=10>3.以经验果实形式返还英雄升级所消耗经验（返还经验低于150部分不返还）；<BR SPACING=10>4.返还升级技能和献祭过程中消耗的金币；<BR SPACING=10>5.返还英雄进阶时消耗的耐力和历练；<BR SPACING=10>6.返还英雄培养时消耗的培养豆；<BR SPACING=10>7.返还英雄崩玉提升过程中消耗的玉片（返还玉片低于1个则不返还）；<BR SPACING=10>8.以魂晶形式返还英雄献祭所消耗的魂石（返还魂晶低于1个则不返还）；]],
			describe_inherit = [[1.英雄传承会将一个英雄的养成水平（除星级外）转移给另一个英雄；<BR SPACING=10>2.被传承英雄的各项属性需要为初始状态；<BR SPACING=10>3.传承完成后传承英雄还原为初始状态；]],
			describe_hecheng = [[1.融合伙伴魂石可用两个原始伙伴魂石和合魂珠来合成；<BR SPACING=10>2.合魂珠可花费120钻石直接购买，另外合魂珠可在充值商城的特卖和神秘商店中低价购买，也可从神圣召唤和高级召唤有几率获得；<BR SPACING=10>3.批量合成会消耗掉所有魂石来合成；]],
		},
}