Config = Config or {}
Config.cnfrpsystem = {
		[1] = {
			type = 1,
			num = 40,
			total_value = 1688888,
			distributes = {61,62,63,64,65,},
		},
		[2] = {
			type = 2,
			num = 40,
			total_value = 888,
			distributes = {61,62,63,64,65,},
		},
		[3] = {
			type = 3,
			num = 40,
			total_value = 100,
			distributes = {61,62,63,64,65,},
		},
}