Config = Config or {}
Config.cnfrteamtask = {
		[1] = {
			id = 1,
			task_name = [[A任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败雷神，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8101,
			res_id = 1062,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
		[2] = {
			id = 2,
			task_name = [[B任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败黎恩，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8102,
			res_id = 1065,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
		[3] = {
			id = 3,
			task_name = [[C任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败夏莉，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8103,
			res_id = 1064,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
		[4] = {
			id = 4,
			task_name = [[D任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败妖精女王，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8104,
			res_id = 1069,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
		[5] = {
			id = 5,
			task_name = [[F任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败火龙，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8105,
			res_id = 1067,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
		[6] = {
			id = 6,
			task_name = [[G任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败日番谷，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8106,
			res_id = 1078,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
		[7] = {
			id = 7,
			task_name = [[H任务]],
			task_dsc = [[<COLOR VALUE=FF442C0C>击败露西，可获得奖励!</COLOR>]],
			level_increase = {0,3,6,},
			fb_id = 8107,
			res_id = 1068,
			talk_dialog = {{[[我会越变越强！]],5,},{[[有本事我们单挑！]],5,},},
		},
}