Config = Config or {}
Config.cnfrteamtaskother = {
		[1] = {
			team_reward = {0,0,2759,2759,2759,2759,2760,2760,2760,2751,2751,2751,2751,2751,2751,},
			task_open = {1,2,3,4,5,6,7,},
			invite_cooltime = 300,
			playtimes = 3,
			desc = [[1.玩家可以创建队伍，也可以快速加入队伍。<BR> <BR>2.玩家没有进入战斗之前，都可以离开队伍。战斗过后不能离开。<BR> <BR>3.每个玩家都会提供一个伙伴参加战斗。<BR> <BR>4.每次单局胜利后，都有单局奖励。<BR> <BR>5.凌晨5点结算团队奖励，团队胜利达到若干次后可获得。<BR> <BR>6.敌人的难度，是根据队伍内所有玩家的平均战队等级决定的哟~]],
		},
}