Config = Config or {}
Config.cnfrpcommon = {
		[1] = {
			level_limit = 30,
			perosonal_limit = 1,
			server_limit = 50,
			coin_value = 0.00057,
			diamond_value = 1,
			yupian_value = 10,
			yupian_item_id = 3733,
			nv_desc = [[<COLOR VALUE=FF442C0C>1.达到<COLOR VALUE=FF3FC5FB>30</COLOR>级的玩家可参与该活动；<BR SPACING=10>2.女神红包将在每天的<COLOR VALUE=FFFF00FF>18:00~21:00</COLOR>不定时发放；<BR SPACING=10>3.红包额度均为随机，且数量有限，大家要抓紧哟！</COLOR>]],
			send_desc = [[<COLOR VALUE=FF442C0C>1.同服玩家每天共能发<COLOR VALUE=FF3FC5FB>50</COLOR>个红包，每天<COLOR VALUE=FFFF00FF>05:00</COLOR>刷新；<BR SPACING=10>2.发出的红包在刷新后将消失，且剩余额度不返还；<BR SPACING=10>3.发红包玩家也可以抢自己发出的红包哦！</COLOR>]],
			recv_desc = [[<COLOR VALUE=FF442C0C>1.同服玩家每天共能发<COLOR VALUE=FF3FC5FB>50</COLOR>个红包，每天<COLOR VALUE=FFFF00FF>05:00</COLOR>刷新；<BR SPACING=10>2.发出的红包在刷新后将消失，且剩余额度不返还；<BR SPACING=10>3.发红包玩家也可以抢自己发出的红包哦！</COLOR>]],
		},
}