Config = Config or {}
Config.cnfroleparticle = {
		[1001] = {
			id = 1001,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],[[attack4]],},
			particles = {1001000,1001100,1001200,1001300,1001400,},
			zorder = {0,0,0,0,0,},
			offset_x = {0,0,0,0,0,},
			offset_y = {0,0,0,0,0,},
			delay = {0,0,0,0,0,},
		},
		[1002] = {
			id = 1002,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],[[attack4]],},
			particles = {1002000,1002100,1002200,1002300,1002400,},
			zorder = {0,0,0,0,0,},
			offset_x = {0,0,0,0,0,},
			offset_y = {0,0,0,0,0,},
			delay = {0,0,0,0,0,},
		},
		[1003] = {
			id = 1003,
			actions = {[[attack]],[[attack2]],},
			particles = {1003000,1003200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1004] = {
			id = 1004,
			actions = {[[attack1]],},
			particles = {1004100,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[1005] = {
			id = 1005,
			actions = {[[attack]],[[attack1]],[[attack3]],},
			particles = {1005000,1005100,1005300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1006] = {
			id = 1006,
			actions = {[[attack]],[[attack2]],[[attack3]],},
			particles = {1006000,1006200,1006300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1007] = {
			id = 1007,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1007000,1007100,1007200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1008] = {
			id = 1008,
			actions = {[[attack1]],[[attack2]],},
			particles = {1008100,1008200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {1,0.8,},
		},
		[1009] = {
			id = 1009,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1009000,1009100,1009200,1009300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1010] = {
			id = 1010,
			actions = {[[attack1]],},
			particles = {1010100,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[1011] = {
			id = 1011,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1011000,1011100,1011200,1011300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1012] = {
			id = 1012,
			actions = {[[attack]],[[attack1]],[[attack4]],},
			particles = {1012000,1012100,1012400,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1013] = {
			id = 1013,
			actions = {[[attack1]],[[attack2]],},
			particles = {1013100,1013200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1014] = {
			id = 1014,
			actions = {[[attack]],[[attack2]],[[attack4]],},
			particles = {1014000,1014200,1014400,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1015] = {
			id = 1015,
			actions = {[[attack1]],[[attack2]],},
			particles = {1015100,1015200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1016] = {
			id = 1016,
			actions = {[[attack]],[[attack1]],[[attack3]],},
			particles = {1016000,1016100,1016300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1017] = {
			id = 1017,
			actions = {[[attack1]],[[attack2]],},
			particles = {1017101,1017200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {1.8,0,},
		},
		[1018] = {
			id = 1018,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack4]],},
			particles = {1018000,1018100,1018200,1018400,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1019] = {
			id = 1019,
			actions = {[[attack1]],[[attack2]],[[attack3]],[[attack4]],},
			particles = {1019100,1019200,1019300,1019400,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1020] = {
			id = 1020,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1020000,1020100,1020200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1021] = {
			id = 1021,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1021000,1021100,1021200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1022] = {
			id = 1022,
			actions = {[[attack]],[[attack1]],[[attack2]],[[idle_0]],[[hit_0]],[[run_0]],[[victory_0]],[[attack_0]],[[attack1_0]],[[attack2_0]],},
			particles = {1022000,1022100,1022200,1022700,1022700,1022700,1022700,1022701,1022702,1022703,},
			zorder = {0,0,0,0,0,0,0,0,0,0,},
			offset_x = {0,0,0,0,0,0,0,0,0,0,},
			offset_y = {0,0,0,0,0,0,0,0,0,0,},
			delay = {0,0,0,0,0,0,0,0,0,0,},
		},
		[1023] = {
			id = 1023,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1023000,1023100,1023200,1023300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1024] = {
			id = 1024,
			actions = {[[attack]],[[attack2]],},
			particles = {1024000,1024200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1025] = {
			id = 1025,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1025000,1025100,1025200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1026] = {
			id = 1026,
			actions = {[[attack]],[[idle_0]],[[hit_0]],[[run_0]],[[victory_0]],[[attack_0]],[[attack1_0]],[[attack2_0]],},
			particles = {1026000,1026700,1026700,1026700,1026700,1026701,1026700,1026700,},
			zorder = {0,0,0,0,0,0,0,0,},
			offset_x = {0,0,0,0,0,0,0,0,},
			offset_y = {0,0,0,0,0,0,0,0,},
			delay = {0,0,0,0,0,0,0,0,},
		},
		[1027] = {
			id = 1027,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1027000,1027100,1027200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1028] = {
			id = 1028,
			actions = {[[attack]],[[attack1]],},
			particles = {1028000,1028100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1029] = {
			id = 1029,
			actions = {[[attack]],[[attack1]],[[attack2B]],[[attack3]],[[attack3B]],},
			particles = {1029000,1029300,1029200,1029100,1029400,},
			zorder = {0,0,0,0,0,},
			offset_x = {0,0,0,0,0,},
			offset_y = {0,0,0,0,0,},
			delay = {0,0,0,0,0,},
		},
		[1030] = {
			id = 1030,
			actions = {[[attack]],[[attack1]],},
			particles = {1030000,1030100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1031] = {
			id = 1031,
			actions = {[[attack1]],[[attack2]],},
			particles = {1031100,1031200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1033] = {
			id = 1033,
			actions = {[[attack]],[[attack1]],[[idle_0]],[[hit_0]],[[run_0]],[[victory_0]],[[attack_0]],[[attack1_0]],},
			particles = {1033000,1033100,1033700,1033700,1033700,1033700,1033701,1033702,},
			zorder = {0,0,0,0,0,0,0,0,},
			offset_x = {0,0,0,0,0,0,0,0,},
			offset_y = {0,0,0,0,0,0,0,0,},
			delay = {0,0,0,0,0,0,0,0,},
		},
		[1034] = {
			id = 1034,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1034000,1034100,1034200,1034300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1035] = {
			id = 1035,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1035000,1035100,1035200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1036] = {
			id = 1036,
			actions = {[[attack]],},
			particles = {1036000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[1037] = {
			id = 1037,
			actions = {[[attack1]],[[attack3]],},
			particles = {1037100,1037300,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1038] = {
			id = 1038,
			actions = {[[attack1]],[[attack2]],},
			particles = {1038100,1038200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1039] = {
			id = 1039,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1039000,1039100,1039200,1039300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1040] = {
			id = 1040,
			actions = {[[attack]],},
			particles = {1040000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[1041] = {
			id = 1041,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1041000,1041100,1041200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1043] = {
			id = 1043,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1043000,1043100,1043200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1044] = {
			id = 1044,
			actions = {[[attack1]],[[attack2]],[[attack4]],},
			particles = {1044100,1044200,1044400,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1045] = {
			id = 1045,
			actions = {[[attack]],[[attack1]],},
			particles = {1045000,1045100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1046] = {
			id = 1046,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1046000,1046100,1046200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1047] = {
			id = 1047,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1047000,1047100,1047200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1048] = {
			id = 1048,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1048000,1048100,1048200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1049] = {
			id = 1049,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1049000,1049100,1049200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1050] = {
			id = 1050,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1050000,1050100,1050200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1051] = {
			id = 1051,
			actions = {[[attack1]],[[attack2]],[[attack3]],},
			particles = {1051100,1051200,1051300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1052] = {
			id = 1052,
			actions = {[[attack1]],[[attack3]],},
			particles = {1052100,1052300,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1053] = {
			id = 1053,
			actions = {[[attack]],[[attack2]],[[attack3]],},
			particles = {1053000,1053200,1053300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1054] = {
			id = 1054,
			actions = {[[attack]],[[attack1]],[[attack3]],},
			particles = {1054000,1054100,1054300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1055] = {
			id = 1055,
			actions = {[[attack]],[[attack1]],},
			particles = {1055000,1055100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1056] = {
			id = 1056,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1056000,1056100,1056200,1056300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1057] = {
			id = 1057,
			actions = {[[attack]],[[attack1]],[[attack4]],},
			particles = {1057000,1057100,1057400,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1058] = {
			id = 1058,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],[[attack4]],},
			particles = {1058000,1058100,1058200,1058300,1058400,},
			zorder = {0,0,0,0,0,},
			offset_x = {0,0,0,0,0,},
			offset_y = {0,0,0,0,0,},
			delay = {0,0,0,0,0,},
		},
		[1059] = {
			id = 1059,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1059000,1059100,1059200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1060] = {
			id = 1060,
			actions = {[[attack1]],},
			particles = {1060100,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[1061] = {
			id = 1061,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1061000,1061100,1061200,1061300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1062] = {
			id = 1062,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1062000,1062100,1062200,1062300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1064] = {
			id = 1064,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1064000,1064100,1064200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1065] = {
			id = 1065,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1065000,1065100,1065200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1066] = {
			id = 1066,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1066000,1066100,1066200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1067] = {
			id = 1067,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1067000,1067100,1067200,1067300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1068] = {
			id = 1068,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],},
			particles = {1068000,1068100,1068200,1068300,},
			zorder = {0,0,0,0,},
			offset_x = {0,0,0,0,},
			offset_y = {0,0,0,0,},
			delay = {0,0,0,0,},
		},
		[1069] = {
			id = 1069,
			actions = {[[attack]],[[attack1]],[[attack3]],},
			particles = {1069000,1069100,1069300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1070] = {
			id = 1070,
			actions = {[[attack1]],[[attack2]],},
			particles = {1070100,1070200,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1071] = {
			id = 1071,
			actions = {[[attack]],[[attack2]],[[attack3]],},
			particles = {1071000,1071200,1071300,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1072] = {
			id = 1072,
			actions = {[[attack]],[[attack1]],[[attack2]],},
			particles = {1072000,1072100,1072200,},
			zorder = {0,0,0,},
			offset_x = {0,0,0,},
			offset_y = {0,0,0,},
			delay = {0,0,0,},
		},
		[1073] = {
			id = 1073,
			actions = {[[attack]],[[attack1]],},
			particles = {1073000,1073100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[1074] = {
			id = 1074,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],[[attack4]],},
			particles = {1074000,1074100,1074200,1074300,1074400,},
			zorder = {0,0,0,0,0,},
			offset_x = {0,0,0,0,0,},
			offset_y = {0,0,0,0,0,},
			delay = {0,0,0,0,0,},
		},
		[2001] = {
			id = 2001,
			actions = {[[attack]],},
			particles = {2001000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2002] = {
			id = 2002,
			actions = {[[attack]],[[attack1]],},
			particles = {2002000,2002100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2004] = {
			id = 2004,
			actions = {[[attack]],},
			particles = {2004000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2005] = {
			id = 2005,
			actions = {[[attack]],},
			particles = {2005000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2006] = {
			id = 2006,
			actions = {[[attack]],[[attack1]],},
			particles = {2006000,2006100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2009] = {
			id = 2009,
			actions = {[[attack]],[[attack1]],},
			particles = {2009000,2009100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2011] = {
			id = 2011,
			actions = {[[attack]],[[attack1]],},
			particles = {2011000,2011100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2012] = {
			id = 2012,
			actions = {[[attack]],},
			particles = {2012000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2013] = {
			id = 2013,
			actions = {[[attack]],},
			particles = {2013000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2014] = {
			id = 2014,
			actions = {[[attack1]],},
			particles = {2014100,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2015] = {
			id = 2015,
			actions = {[[attack]],[[attack1]],},
			particles = {2015000,2015100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2021] = {
			id = 2021,
			actions = {[[attack]],},
			particles = {2001000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2022] = {
			id = 2022,
			actions = {[[attack]],[[attack1]],},
			particles = {2002000,2002100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2023] = {
			id = 2023,
			actions = {[[attack]],[[attack1]],},
			particles = {2002000,2002100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2024] = {
			id = 2024,
			actions = {[[attack]],},
			particles = {2012000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2025] = {
			id = 2025,
			actions = {[[attack]],},
			particles = {2012000,},
			zorder = {0,},
			offset_x = {0,},
			offset_y = {0,},
			delay = {0,},
		},
		[2030] = {
			id = 2030,
			actions = {[[attack]],[[attack1]],},
			particles = {2030000,2030100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2031] = {
			id = 2031,
			actions = {[[attack]],[[attack1]],},
			particles = {2031000,2031100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2032] = {
			id = 2032,
			actions = {[[attack]],[[attack1]],},
			particles = {2032000,2032100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2033] = {
			id = 2033,
			actions = {[[attack]],[[attack1]],},
			particles = {2033000,2033100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2037] = {
			id = 2037,
			actions = {[[attack]],[[attack1]],[[attack2]],[[attack3]],[[attack4]],[[attack5]],},
			particles = {2037000,2037100,2037200,2037300,2037400,2037500,},
			zorder = {0,0,0,0,0,0,},
			offset_x = {0,0,0,0,0,0,},
			offset_y = {0,0,0,0,0,0,},
			delay = {0,0,0,0,0,0,},
		},
		[2048] = {
			id = 2048,
			actions = {[[attack]],[[attack1]],},
			particles = {2048000,2048100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2049] = {
			id = 2049,
			actions = {[[attack]],[[attack1]],},
			particles = {2049000,2049100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
		[2051] = {
			id = 2051,
			actions = {[[attack]],[[attack1]],},
			particles = {2051000,2051100,},
			zorder = {0,0,},
			offset_x = {0,0,},
			offset_y = {0,0,},
			delay = {0,0,},
		},
}