Config = Config or {}
Config.cnfrpsend = {
		[1] = {
			id = 1,
			type = 1,
			name = [[高级金币红包]],
			num = 10,
			total_value = 88888,
			cost = 48,
			reward_id = 7201,
			distributes = {71,72,73,74,75,},
		},
		[2] = {
			id = 2,
			type = 1,
			name = [[豪华金币红包]],
			num = 15,
			total_value = 288888,
			cost = 168,
			reward_id = 7202,
			distributes = {66,67,68,69,70,},
		},
		[3] = {
			id = 3,
			type = 2,
			name = [[高级钻石红包]],
			num = 10,
			total_value = 168,
			cost = 188,
			reward_id = 7203,
			distributes = {71,72,73,74,75,},
		},
		[4] = {
			id = 4,
			type = 2,
			name = [[豪华钻石红包]],
			num = 15,
			total_value = 388,
			cost = 388,
			reward_id = 7204,
			distributes = {66,67,68,69,70,},
		},
		[5] = {
			id = 5,
			type = 3,
			name = [[高级玉片红包]],
			num = 10,
			total_value = 28,
			cost = 288,
			reward_id = 7205,
			distributes = {71,72,73,74,75,},
		},
		[6] = {
			id = 6,
			type = 3,
			name = [[豪华玉片红包]],
			num = 15,
			total_value = 68,
			cost = 688,
			reward_id = 7206,
			distributes = {66,67,68,69,70,},
		},
}