Config = Config or {}
Config.cnfShenqiJingliang = {
		[1] = {
			level = 1,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[2] = {
			level = 2,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[3] = {
			level = 3,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[4] = {
			level = 4,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[5] = {
			level = 5,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[6] = {
			level = 6,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[7] = {
			level = 7,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[8] = {
			level = 8,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[9] = {
			level = 9,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[10] = {
			level = 10,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[11] = {
			level = 11,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[12] = {
			level = 12,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[13] = {
			level = 13,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[14] = {
			level = 14,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[15] = {
			level = 15,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[16] = {
			level = 16,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[17] = {
			level = 17,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[18] = {
			level = 18,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[19] = {
			level = 19,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[20] = {
			level = 20,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[21] = {
			level = 21,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[22] = {
			level = 22,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[23] = {
			level = 23,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[24] = {
			level = 24,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[25] = {
			level = 25,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[26] = {
			level = 26,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[27] = {
			level = 27,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[28] = {
			level = 28,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[29] = {
			level = 29,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[30] = {
			level = 30,
			item_id = 20011,
			item_num = 2,
			success = 36,
		},
		[31] = {
			level = 31,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[32] = {
			level = 32,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[33] = {
			level = 33,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[34] = {
			level = 34,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[35] = {
			level = 35,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[36] = {
			level = 36,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[37] = {
			level = 37,
			item_id = 20012,
			item_num = 2,
			success = 72,
		},
		[38] = {
			level = 38,
			item_id = 20012,
			item_num = 2,
			success = 36,
		},
		[39] = {
			level = 39,
			item_id = 20012,
			item_num = 2,
			success = 36,
		},
		[40] = {
			level = 40,
			item_id = 20012,
			item_num = 2,
			success = 36,
		},
		[41] = {
			level = 41,
			item_id = 20012,
			item_num = 2,
			success = 36,
		},
		[42] = {
			level = 42,
			item_id = 20012,
			item_num = 2,
			success = 24,
		},
		[43] = {
			level = 43,
			item_id = 20012,
			item_num = 2,
			success = 24,
		},
		[44] = {
			level = 44,
			item_id = 20012,
			item_num = 2,
			success = 24,
		},
		[45] = {
			level = 45,
			item_id = 20012,
			item_num = 2,
			success = 24,
		},
		[46] = {
			level = 46,
			item_id = 20012,
			item_num = 2,
			success = 24,
		},
		[47] = {
			level = 47,
			item_id = 20012,
			item_num = 3,
			success = 27,
		},
		[48] = {
			level = 48,
			item_id = 20012,
			item_num = 3,
			success = 27,
		},
		[49] = {
			level = 49,
			item_id = 20012,
			item_num = 3,
			success = 27,
		},
		[50] = {
			level = 50,
			item_id = 20012,
			item_num = 3,
			success = 27,
		},
		[51] = {
			level = 51,
			item_id = 20012,
			item_num = 3,
			success = 27,
		},
		[52] = {
			level = 52,
			item_id = 20012,
			item_num = 3,
			success = 21,
		},
		[53] = {
			level = 53,
			item_id = 20012,
			item_num = 3,
			success = 21,
		},
		[54] = {
			level = 54,
			item_id = 20012,
			item_num = 3,
			success = 21,
		},
		[55] = {
			level = 55,
			item_id = 20012,
			item_num = 3,
			success = 21,
		},
		[56] = {
			level = 56,
			item_id = 20012,
			item_num = 3,
			success = 18,
		},
		[57] = {
			level = 57,
			item_id = 20012,
			item_num = 3,
			success = 18,
		},
		[58] = {
			level = 58,
			item_id = 20012,
			item_num = 3,
			success = 15,
		},
		[59] = {
			level = 59,
			item_id = 20012,
			item_num = 3,
			success = 15,
		},
		[60] = {
			level = 60,
			item_id = 20012,
			item_num = 3,
			success = 15,
		},
		[61] = {
			level = 61,
			item_id = 20013,
			item_num = 3,
			success = 21,
		},
		[62] = {
			level = 62,
			item_id = 20013,
			item_num = 3,
			success = 21,
		},
		[63] = {
			level = 63,
			item_id = 20013,
			item_num = 3,
			success = 19,
		},
		[64] = {
			level = 64,
			item_id = 20013,
			item_num = 3,
			success = 19,
		},
		[65] = {
			level = 65,
			item_id = 20013,
			item_num = 3,
			success = 19,
		},
		[66] = {
			level = 66,
			item_id = 20013,
			item_num = 3,
			success = 17,
		},
		[67] = {
			level = 67,
			item_id = 20013,
			item_num = 3,
			success = 15,
		},
		[68] = {
			level = 68,
			item_id = 20013,
			item_num = 3,
			success = 15,
		},
		[69] = {
			level = 69,
			item_id = 20013,
			item_num = 3,
			success = 14,
		},
		[70] = {
			level = 70,
			item_id = 20013,
			item_num = 5,
			success = 24,
		},
		[71] = {
			level = 71,
			item_id = 20013,
			item_num = 5,
			success = 22,
		},
		[72] = {
			level = 72,
			item_id = 20013,
			item_num = 5,
			success = 20,
		},
		[73] = {
			level = 73,
			item_id = 20013,
			item_num = 5,
			success = 19,
		},
		[74] = {
			level = 74,
			item_id = 20013,
			item_num = 5,
			success = 19,
		},
		[75] = {
			level = 75,
			item_id = 20013,
			item_num = 5,
			success = 18,
		},
		[76] = {
			level = 76,
			item_id = 20013,
			item_num = 5,
			success = 17,
		},
		[77] = {
			level = 77,
			item_id = 20013,
			item_num = 5,
			success = 16,
		},
		[78] = {
			level = 78,
			item_id = 20013,
			item_num = 5,
			success = 15,
		},
		[79] = {
			level = 79,
			item_id = 20013,
			item_num = 5,
			success = 14,
		},
		[80] = {
			level = 80,
			item_id = 20013,
			item_num = 5,
			success = 13,
		},
		[81] = {
			level = 81,
			item_id = 20013,
			item_num = 5,
			success = 13,
		},
		[82] = {
			level = 82,
			item_id = 20013,
			item_num = 5,
			success = 12,
		},
		[83] = {
			level = 83,
			item_id = 20013,
			item_num = 5,
			success = 11,
		},
		[84] = {
			level = 84,
			item_id = 20013,
			item_num = 5,
			success = 11,
		},
		[85] = {
			level = 85,
			item_id = 20013,
			item_num = 5,
			success = 10,
		},
		[86] = {
			level = 86,
			item_id = 20013,
			item_num = 5,
			success = 10,
		},
		[87] = {
			level = 87,
			item_id = 20013,
			item_num = 5,
			success = 9,
		},
		[88] = {
			level = 88,
			item_id = 20013,
			item_num = 5,
			success = 9,
		},
		[89] = {
			level = 89,
			item_id = 20013,
			item_num = 5,
			success = 8,
		},
		[90] = {
			level = 90,
			item_id = 20013,
			item_num = 5,
			success = 8,
		},
}