Config = Config or {}
Config.cnfsevendayjoyshop = {
		[1] = {
			id = 1,
			item_id = 3569,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[2] = {
			id = 2,
			item_id = 3576,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[3] = {
			id = 3,
			item_id = 3570,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[4] = {
			id = 4,
			item_id = 3538,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[5] = {
			id = 5,
			item_id = 3596,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[6] = {
			id = 6,
			item_id = 3552,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[7] = {
			id = 7,
			item_id = 3568,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[8] = {
			id = 8,
			item_id = 3567,
			item_num = 100,
			vip_lvl = 0,
			price = 140,
			is_new = 0,
			is_hot = 0,
		},
		[9] = {
			id = 9,
			item_id = 3564,
			item_num = 100,
			vip_lvl = 0,
			price = 120,
			is_new = 0,
			is_hot = 0,
		},
		[10] = {
			id = 10,
			item_id = 3591,
			item_num = 100,
			vip_lvl = 0,
			price = 120,
			is_new = 0,
			is_hot = 0,
		},
		[11] = {
			id = 11,
			item_id = 3579,
			item_num = 100,
			vip_lvl = 0,
			price = 120,
			is_new = 0,
			is_hot = 0,
		},
		[12] = {
			id = 12,
			item_id = 3565,
			item_num = 100,
			vip_lvl = 0,
			price = 120,
			is_new = 0,
			is_hot = 0,
		},
		[13] = {
			id = 13,
			item_id = 3595,
			item_num = 100,
			vip_lvl = 0,
			price = 120,
			is_new = 0,
			is_hot = 0,
		},
		[14] = {
			id = 14,
			item_id = 3561,
			item_num = 100,
			vip_lvl = 0,
			price = 120,
			is_new = 0,
			is_hot = 0,
		},
		[15] = {
			id = 15,
			item_id = 3585,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[16] = {
			id = 16,
			item_id = 3551,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[17] = {
			id = 17,
			item_id = 3535,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[18] = {
			id = 18,
			item_id = 3584,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[19] = {
			id = 19,
			item_id = 3574,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[20] = {
			id = 20,
			item_id = 3581,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[21] = {
			id = 21,
			item_id = 3588,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[22] = {
			id = 22,
			item_id = 3577,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[23] = {
			id = 23,
			item_id = 3562,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[24] = {
			id = 24,
			item_id = 3578,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[25] = {
			id = 25,
			item_id = 3590,
			item_num = 100,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
		[26] = {
			id = 26,
			item_id = 3563,
			item_num = 100,
			vip_lvl = 0,
			price = 80,
			is_new = 0,
			is_hot = 0,
		},
		[27] = {
			id = 27,
			item_id = 3583,
			item_num = 100,
			vip_lvl = 0,
			price = 80,
			is_new = 0,
			is_hot = 0,
		},
		[28] = {
			id = 28,
			item_id = 3557,
			item_num = 100,
			vip_lvl = 0,
			price = 80,
			is_new = 0,
			is_hot = 0,
		},
		[29] = {
			id = 29,
			item_id = 4103,
			item_num = 1,
			vip_lvl = 0,
			price = 100,
			is_new = 0,
			is_hot = 0,
		},
}