Config = Config or {}
Config.cnfshoprefresh = {
		[1] = {
			shop_type = 1,
			count = 1,
			consume = 10,
		},
		[2] = {
			shop_type = 1,
			count = 2,
			consume = 10,
		},
		[3] = {
			shop_type = 1,
			count = 3,
			consume = 20,
		},
		[4] = {
			shop_type = 1,
			count = 4,
			consume = 20,
		},
		[5] = {
			shop_type = 2,
			count = 1,
			consume = 10,
		},
		[6] = {
			shop_type = 2,
			count = 2,
			consume = 10,
		},
		[7] = {
			shop_type = 2,
			count = 3,
			consume = 20,
		},
		[8] = {
			shop_type = 2,
			count = 4,
			consume = 20,
		},
		[9] = {
			shop_type = 3,
			count = 1,
			consume = 10,
		},
		[10] = {
			shop_type = 3,
			count = 2,
			consume = 10,
		},
		[11] = {
			shop_type = 3,
			count = 3,
			consume = 20,
		},
		[12] = {
			shop_type = 3,
			count = 4,
			consume = 20,
		},
		[13] = {
			shop_type = 5,
			count = 1,
			consume = 10,
		},
		[14] = {
			shop_type = 5,
			count = 2,
			consume = 10,
		},
		[15] = {
			shop_type = 5,
			count = 3,
			consume = 20,
		},
		[16] = {
			shop_type = 5,
			count = 4,
			consume = 20,
		},
		[17] = {
			shop_type = 6,
			count = 1,
			consume = 10,
		},
		[18] = {
			shop_type = 6,
			count = 2,
			consume = 10,
		},
		[19] = {
			shop_type = 6,
			count = 3,
			consume = 20,
		},
		[20] = {
			shop_type = 6,
			count = 4,
			consume = 20,
		},
		[21] = {
			shop_type = 7,
			count = 1,
			consume = 10,
		},
		[22] = {
			shop_type = 7,
			count = 2,
			consume = 10,
		},
		[23] = {
			shop_type = 7,
			count = 3,
			consume = 20,
		},
		[24] = {
			shop_type = 7,
			count = 4,
			consume = 20,
		},
		[25] = {
			shop_type = 8,
			count = 1,
			consume = 10,
		},
		[26] = {
			shop_type = 9,
			count = 1,
			consume = 10,
		},
		[27] = {
			shop_type = 9,
			count = 2,
			consume = 10,
		},
		[28] = {
			shop_type = 9,
			count = 3,
			consume = 20,
		},
		[29] = {
			shop_type =          9,
			count = 4,
			consume = 20,
		},
		[30] = {
			shop_type = 10,
			count = 1,
			consume = 10,
		},
		[31] = {
			shop_type = 10,
			count = 2,
			consume = 10,
		},
		[32] = {
			shop_type = 10,
			count = 3,
			consume = 20,
		},
		[33] = {
			shop_type = 10,
			count = 4,
			consume = 20,
		},
		[34] = {
			shop_type = 10,
			count = 5,
			consume = 20,
		},
		[35] = {
			shop_type = 11,
			count = 1,
			consume = 10,
		},
		[36] = {
			shop_type = 11,
			count = 2,
			consume = 10,
		},
		[37] = {
			shop_type = 11,
			count = 3,
			consume = 20,
		},
		[38] = {
			shop_type = 11,
			count = 4,
			consume = 20,
		},
		[39] = {
			shop_type = 11,
			count = 5,
			consume = 20,
		},
}