Config = Config or {}
Config.cnfsevendayjoyrewarddesc = {
		[1] = {
			index = 1,
			desc = [[1、玩家可以在活动开启的7天内完成前5天开启的活动列表。超过7天后活动将会自动关闭。<BR> <BR>2、玩家达到某个目标后可点击领取按钮领取奖励，请及时领取奖励，活动结束后将无法继续领取。<BR> <BR>
3.目标终极大奖只能领取一次<BR> <BR>
]],
			open_day = 10,
			end_day = 17,
			get_rewad_day = 16,
			start_time = {2017,2,11,5,0,0,},
			end_time = {2017,2,18,5,0,0,},
			get_allreward_time = {2017,2,16,23,59,59,},
			update_time = {2017,3,7,11,0,0,},
			show_sdknames = {},
			desc2 = [[1.魂玉只能通过七天乐获得，数量可累积；<BR>2.魂玉只能在七天乐开启时间内可兑换以上英雄魂石；<BR>3.购买数量最多的英雄会显示为热门英雄；<BR>4.橙色英雄魂石宝箱可随机获得某ss级英雄魂石100个。
]],
			item_id = 3800,
			double_price = 300,
		},
}