Config = Config or {}
Config.cnfseniorfree = {
		[1] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1067,
			weight = 7,
		},
		[2] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1068,
			weight = 7,
		},
		[3] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1091,
			weight = 5,
		},
		[4] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1095,
			weight = 4,
		},
		[5] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1048,
			weight = 12,
		},
		[6] = {
			level_bt = {1,120,},
			item_type = 1,
			id = 3800,
			weight = 7,
		},
		[7] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1033,
			weight = 12,
		},
		[8] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1026,
			weight = 12,
		},
		[9] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1016,
			weight = 12,
		},
		[10] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1030,
			weight = 12,
		},
		[11] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1047,
			weight = 12,
		},
		[12] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1073,
			weight = 12,
		},
		[13] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1071,
			weight = 12,
		},
		[14] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1018,
			weight = 32,
		},
		[15] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1014,
			weight = 20,
		},
		[16] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1019,
			weight = 20,
		},
		[17] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1044,
			weight = 20,
		},
		[18] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1012,
			weight = 20,
		},
		[19] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1039,
			weight = 20,
		},
		[20] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1017,
			weight = 20,
		},
		[21] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1034,
			weight = 20,
		},
		[22] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1049,
			weight = 36,
		},
		[23] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1009,
			weight = 36,
		},
		[24] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1057,
			weight = 18,
		},
		[25] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1052,
			weight = 18,
		},
		[26] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1060,
			weight = 32,
		},
		[27] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1059,
			weight = 32,
		},
		[28] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1058,
			weight = 32,
		},
		[29] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1027,
			weight = 32,
		},
		[30] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1003,
			weight = 32,
		},
		[31] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1046,
			weight = 32,
		},
		[32] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1022,
			weight = 32,
		},
		[33] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1032,
			weight = 58,
		},
		[34] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1050,
			weight = 58,
		},
		[35] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1024,
			weight = 58,
		},
		[36] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1010,
			weight = 58,
		},
		[37] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1020,
			weight = 58,
		},
		[38] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1021,
			weight = 57,
		},
		[39] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1031,
			weight = 103,
		},
		[40] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1043,
			weight = 103,
		},
		[41] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1041,
			weight = 103,
		},
		[42] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1006,
			weight = 103,
		},
		[43] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1037,
			weight = 88,
		},
		[44] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1023,
			weight = 88,
		},
		[45] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1029,
			weight = 88,
		},
		[46] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1045,
			weight = 159,
		},
		[47] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1015,
			weight = 159,
		},
		[48] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1011,
			weight = 159,
		},
		[49] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1005,
			weight = 159,
		},
		[50] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1008,
			weight = 159,
		},
		[51] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1004,
			weight = 159,
		},
		[52] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1036,
			weight = 159,
		},
		[53] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1040,
			weight = 159,
		},
		[54] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1042,
			weight = 159,
		},
		[55] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1025,
			weight = 159,
		},
		[56] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1013,
			weight = 160,
		},
		[57] = {
			level_bt = {1,120,},
			item_type = 12,
			id = 3523,
			weight = 6800,
		},
		[58] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1061,
			weight = 17,
		},
		[59] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1063,
			weight = 17,
		},
		[60] = {
			level_bt = {1,120,},
			item_type = 7,
			id = 1090,
			weight = 17,
		},
		[61] = {
			level_bt = {1,120,},
			item_type = 1,
			id = 4084,
			weight = 16,
		},
}