Config = Config or {}
Config.cnfsevendayjoytaskdesc = {
		[1] = {
			id = 1,
			desc = "累计登录%d天",
			layer_id = {},
			special_id = 0,
		},
		[2] = {
			id = 2,
			desc = "消耗%d金币",
			layer_id = {},
			special_id = 0,
		},
		[3] = {
			id = 3,
			desc = "金币抽卡%d次",
			layer_id = {0,48,0,},
			special_id = 0,
		},
		[4] = {
			id = 4,
			desc = "消耗%d钻石",
			layer_id = {},
			special_id = 0,
		},
		[5] = {
			id = 5,
			desc = "钻石抽卡%d次",
			layer_id = {0,48,0,},
			special_id = 0,
		},
		[6] = {
			id = 6,
			desc = "购买体力%d次",
			layer_id = {},
			special_id = 0,
		},
		[7] = {
			id = 7,
			desc = "挖宝%d次",
			layer_id = {0,32,0,},
			special_id = 0,
			func_id = 25,
		},
		[8] = {
			id = 8,
			desc = "累计充值%d钻石",
			layer_id = {0,145,0,},
			special_id = 0,
		},
		[9] = {
			id = 9,
			desc = "普通副本挑战%d次",
			layer_id = {1,1,1,},
			special_id = 0,
		},
		[11] = {
			id = 11,
			desc = "竞技场挑战%d次",
			layer_id = {0,40,},
			special_id = 0,
			func_id = 15,
		},
		[12] = {
			id = 12,
			desc = "拥有英雄",
			layer_id = {},
			special_id = 0,
		},
		[13] = {
			id = 13,
			desc = "宠物灵性刷新%d次",
			layer_id = {0,120,0,},
			special_id = 0,
			func_id = 48,
		},
		[14] = {
			id = 14,
			desc = "宠物提升成长%d次",
			layer_id = {0,120,0,},
			special_id = 0,
			func_id = 48,
		},
		[15] = {
			id = 15,
			desc = "精英副本挑战%d次",
			layer_id = {1,2,1,},
			special_id = 0,
		},
		[16] = {
			id = 16,
			desc = "英雄培养%d次",
			layer_id = {},
			special_id = 0,
		},
		[18] = {
			id = 18,
			desc = "公会神树培养%d次",
			layer_id = {0,138,0,},
			special_id = 0,
		},
		[19] = {
			id = 19,
			desc = "公会骰子投掷%d次",
			layer_id = {0,82,0,},
			special_id = 0,
		},
		[20] = {
			id = 20,
			desc = "公会探宝投掷%d次",
			layer_id = {0,198,0,},
			special_id = 0,
		},
		[21] = {
			id = 21,
			desc = "获得%d金币",
			layer_id = {},
			special_id = 0,
		},
		[22] = {
			id = 22,
			desc = "挑战金币试炼%d次",
			layer_id = {0,60,0,},
			special_id = 0,
			func_id = 19,
		},
		[23] = {
			id = 23,
			desc = "挑战贝吉塔星%d次",
			layer_id = {0,58,0,},
			special_id = 0,
			func_id = 36,
		},
		[24] = {
			id = 24,
			desc = "挑战豆之试炼%d次",
			layer_id = {0,103,0,},
			special_id = 0,
			func_id = 42,
		},
		[25] = {
			id = 25,
			desc = "挑战妙木山%d次",
			layer_id = {0,36,0,},
			special_id = 4,
			func_id = 18,
		},
		[26] = {
			id = 26,
			desc = "挑战忍队任务%d次",
			layer_id = {0,196,0,},
			special_id = 0,
			func_id = 58,
		},
		[27] = {
			id = 27,
			desc = "挑战大魔斗演武%d次",
			layer_id = {0,144,0,},
			special_id = 0,
			func_id = 52,
		},
		[28] = {
			id = 28,
			desc = "拥有%d个+%d阶数的英雄",
			layer_id = {},
			special_id = 0,
		},
		[29] = {
			id = 29,
			desc = "拥有%d个%d星英雄",
			layer_id = {},
			special_id = 0,
		},
		[30] = {
			id = 30,
			desc = "拥有%d个%s级英雄",
			layer_id = {},
			special_id = 0,
		},
		[31] = {
			id = 31,
			desc = "拥有%d个觉醒%d级英雄",
			layer_id = {},
			special_id = 0,
		},
		[32] = {
			id = 32,
			desc = "神器刷新%d次",
			layer_id = {},
			special_id = 0,
		},
		[33] = {
			id = 33,
			desc = "神器精炼%d次",
			layer_id = {},
			special_id = 0,
		},
}