Config = Config or {}
Config.cnfsevendayjoytasktag = {
		[1] = {
			index = 1,
			name = "累计登录",
		},
		[2] = {
			index = 2,
			name = "消耗金币",
		},
		[3] = {
			index = 3,
			name = "副本挑战",
		},
		[4] = {
			index = 4,
			name = "宠物培养",
		},
		[5] = {
			index = 5,
			name = "英雄培养",
		},
		[6] = {
			index = 6,
			name = "消耗钻石",
		},
		[7] = {
			index = 7,
			name = "日常挑战",
		},
		[8] = {
			index = 8,
			name = "竞技场挑战",
		},
		[9] = {
			index = 9,
			name = "金币抽卡",
		},
		[10] = {
			index = 10,
			name = "公会挑战",
		},
		[11] = {
			index = 11,
			name = "精英挑战",
		},
		[12] = {
			index = 12,
			name = "获得金币",
		},
		[13] = {
			index = 13,
			name = "钻石抽卡",
		},
		[14] = {
			index = 14,
			name = "累计充值",
		},
		[15] = {
			index = 15,
			name = "神器养成",
		},
}