Config = Config or {}
Config.cnfsjothers = {
		[1] = {
			start_time = {2016,11,21,5,0,},
			end_time = {2016,11,25,5,0,},
			material_id = 4061,
			price = 10,
			reward_time = {2016,11,26,5,0,},
			instruction = [[<BR>1.本活动总时间为5天，前4天主题分别为擂台争霸，大魔斗，擂台争霸、大魔斗，每天参与活动后可在第二天结算时领取每日奖励！活动第五天不仅可领取第四天的每日奖励，还可领取丰厚的成就奖励！（奖励很多，可拖动查看~）<BR><BR>2.每日领奖的同时还会积累积分，在第五天时积分达到前5名的玩家可获得丰厚的奖励（若积分相同，排名以总战力数值为标准；若总战力相同，则并列）！并且前三名可获得世界大比拼专属称号勋章！<BR><BR>3.每日奖励可在第二天的凌晨5:00结算以后领取，若第二天没有领前一天的每日奖励，每日奖励会通过邮件发放。<BR><BR>4.比拼商店的物品只能使用世界大比拼的专属货币（加隆币）购买，若加隆币数不够，可在比拼商店左下方直接购买。]],
		},
}