Config = Config or {}
Config.cnfsdqreward = {
		[1] = {
			sdq_name = [[扫荡券领取]],
			sdq_describe = [[VIP%d级玩家每日扫荡券领取]],
			bal_name = [[扫荡券赠送领取]],
			bal_describe = [[vip%d到vip%d升级赠送扫荡券差额]],
			resource_id = [[Swept]],
			seq = 2,
		},
}