Config = Config or {}
Config.cnfshopotherinfo = {
		[1] = {
			shop_type = 1,
			reset_time = 7200,
			open_shop = {[[ 你来了~我来帮你举高高~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[呃别点了，小店不出售肥皂…]],[[戳破衣服要你赔！]],[[轻点，疼~]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，不过你可以尝试一下刷新。]],},
		},
		[2] = {
			shop_type = 2,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[3] = {
			shop_type = 3,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[5] = {
			shop_type = 5,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[6] = {
			shop_type = 6,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[7] = {
			shop_type = 7,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[8] = {
			shop_type = 8,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[9] = {
			shop_type = 9,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[10] = {
			shop_type = 10,
			reset_time = 7200,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
		[11] = {
			shop_type = 11,
			reset_time = 3600,
			open_shop = {[[哦，亲爱的，你来了~]],[[每隔2小时，小店会刷新一批货物。]],[[买卖公平，童叟无欺~]],},
			touch_npc = {[[轻一点，你弄疼我了~]],[[嗯哼，好痒~]],[[你的手指技巧很好，我很喜欢。]],},
			buy_item = {[[眼光不错~]],[[那玩意卖的最好了。]],[[还算你识货~]],[[嗯，喜欢就多买一些吧。]],},
			sold_out = {[[哦抱歉，已经卖完了~]],[[卖完了，等2小时后再来吧~]],[[卖完了，亲爱的你可以尝试一下刷新。]],},
		},
}