Config = Config or {}
Config.cnfserverwar = {
		[1] = {
			begin_time = {20,00,},
			end_time = {22,00,},
			begin_time2 = {12,00,},
			end_time2 = {14,00,},
			time_list = {{{8,00,},{10,00,},},{{12,00,},{14,00,},},{{20,00,},{22,00,},},},
			explain = [[1.每天8：00-10:00，12：00-14：00，20:00-22:00开启活动，队长们可以到"布阵"功能，去提前布好自己的进攻阵容与防守阵容。<BR> <BR>
2.可以挑战排行榜上的玩家，挑战一次消耗一次挑战机会，消耗完花费少量钻石可以购买挑战次数。<BR> <BR>
3.挑战成功之后，双方排名互换，无论挑战输赢都会少量获得妖币奖励。<BR> <BR>
4.每天22：05，将计算玩家当前排名，发放“妖币”，同时，还会按照玩家当前与等级上限的差距发放额外的奖励（额外奖励只发到90级）。<BR> <BR>
5.不同排名不同段位，排名越高，段位越高，妖币奖励越丰厚。<BR> <BR>
6.妖币可以用于妖精商店购买各种商品，段位越高，还可以购买更多稀有的道具！<BR> <BR>
7.每周会结算一次段位，将根据段位为玩家发放奖励，同时，所有玩家回到青铜五，开始新一轮角逐。<BR> <BR>
8.每周结算完排行榜第一的队长将得到“最强王者”段位称号！！可以在场景中使用，直到下一周结算排名。<BR> <BR>
9.每周结算完排行榜第二的队长将得到“超凡大师”段位称号！！可以在场景中使用，直到下一周结算排名。<BR><BR>]],
			max_challenge = 5,
			win_core = 40,
			fail_core = 20,
			recover_time = 600,
			reward_time = {22,05,},
			fb_list = {5005,},
			buy_challenge_cost = {50,100,100,150,150,200,200,250,250,300,300,350,350,400,400,450,450,500,500,550,550,},
		},
}