Config = Config or {}
Config.cnfShenqi = {
		[1] = {
			id = 1,
			activation = 21001,
			res_id = 6500,
			name = [[天丛云剑]],
			description = [[能把猿魔砍疼的神器，就问你怕不怕？]],
			spine_res = {8800,8801,8802,8803,8804,8805,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,60,1,},{2,5184,1,},{18,30,1,},{22,18,1,},{13,5,3,},},
			unlock_text_list = {[[队伍等级达到60级]],[[通关副本“一场恶斗”]],[[结界达到30阶]],[[航海大冒险最高通关18关]],[[拥有3个以上5星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {3,1,2,1,3,2,},
			attr_list_key = {23,14,48,19,5,12,},
			attr_list_value = {{10,10,0,0,},{25,25,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},},
		},
		[2] = {
			id = 2,
			activation = 21002,
			res_id = 6501,
			name = [[八咫镜]],
			description = [[天照大神的御灵，可映照出人心，预见生死吉凶！]],
			spine_res = {8806,8807,8808,8809,8810,8811,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,63,1,},{2,5665,1,},{18,33,1,},{12,60,5,},{13,5,5,},},
			unlock_text_list = {[[队伍等级达到63级]],[[通关精英副本“与神之战”]],[[结界达到33阶]],[[有5个60级以上伙伴]],[[拥有5个以上5星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {3,1,2,1,3,4,},
			attr_list_key = {7,8,2,18,4,1,},
			attr_list_value = {{10,10,0,0,},{10,10,0,0,},{16,16,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},},
		},
		[3] = {
			id = 3,
			activation = 21003,
			res_id = 6502,
			name = [[勾玉]],
			description = [[神之间联系的器具，拥有改善运势和除魔的能力]],
			spine_res = {8812,8813,8814,8815,8817,8816,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,65,1,},{2,8027,1,},{18,37,1,},{8,5,5,},{13,5,8,},},
			unlock_text_list = {[[队伍等级达到65级]],[[通关噩梦副本“噩梦7境”]],[[结界达到37阶]],[[有5个以上SS级伙伴]],[[拥有8个以上5星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {2,1,2,4,3,1,},
			attr_list_key = {14,8,19,2,4,1,},
			attr_list_value = {{25,25,0,0,},{10,10,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},},
		},
		[4] = {
			id = 4,
			activation = 21004,
			res_id = 6504,
			name = [[斩魄刀]],
			description = [[每把斩魄刀都有自己的灵魂、思想、性格，不要认为它就是兵器]],
			spine_res = {8818,8819,8820,8821,8822,8823,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,67,1,},{2,8030,1,},{18,45,1,},{8,5,7,},{13,5,10,},},
			unlock_text_list = {[[队伍等级达到67级]],[[通关噩梦副本“噩梦10境”]],[[结界达到45阶]],[[有7个以上SS级伙伴]],[[拥有10个以上5星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {1,3,2,2,1,4,},
			attr_list_key = {23,14,48,19,5,12,},
			attr_list_value = {{10,10,0,0,},{25,25,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},{10,10,0,0,},},
		},
		[5] = {
			id = 5,
			activation = 21005,
			res_id = 6505,
			name = [[死棘枪]],
			description = [[倒转因果，以必中心脏为前题的“果”决定挥舞长枪攻击的“因”。]],
			spine_res = {8824,8825,8826,8827,8828,8829,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,70,1,},{2,8032,1,},{18,46,1,},{12,70,8,},{13,6,5,},},
			unlock_text_list = {[[队伍等级达到70级]],[[通关噩梦副本“噩梦12境”]],[[结界达到46阶]],[[有8个以上70级伙伴]],[[拥有5个以上6星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {1,2,4,1,3,2,},
			attr_list_key = {8,14,4,1,19,2,},
			attr_list_value = {{10,10,0,0,},{25,25,0,0,},{16,16,0,0,},{16,16,0,0,},{10,10,0,0,},{16,16,0,0,},},
		},
		[6] = {
			id = 6,
			activation = 21006,
			res_id = 6506,
			name = [[神灯]],
			description = [[一盏神奇的油灯，据说他可以实现你任何愿望。]],
			spine_res = {8830,8831,8832,8833,8834,8835,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,72,1,},{2,8040,1,},{18,47,1,},{12,80,10,},{13,6,8,},},
			unlock_text_list = {[[队伍等级达到72级]],[[通关噩梦副本“噩梦20境”]],[[结界达到47阶]],[[有10个以上80级伙伴]],[[拥有8个以上6星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {2,2,1,1,4,3,},
			attr_list_key = {19,1,9,48,23,8,},
			attr_list_value = {{25,25,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},},
		},
		[7] = {
			id = 7,
			activation = 21007,
			res_id = 6507,
			name = [[新月玫瑰]],
			description = [[一把可以变形的镰刀，可以快速在镰刀和狙击枪之前切换。]],
			spine_res = {8836,8837,8838,8839,8840,8841,},
			spine_action = [[animation]],
			color = 3,
			unlock_list = {{1,75,1,},{2,8055,1,},{18,48,1,},{8,6,8,},{13,7,10,},},
			unlock_text_list = {[[队伍等级达到75级]],[[通关噩梦副本“噩梦35境”]],[[结界达到48阶]],[[有8个以上SSS级伙伴]],[[拥有10个以上7星英雄]],},
			cost_pic_list = {50,100,200,500,1000,2000,},
			yueguangshi_id = 20010,
			cost_item_list = {10,},
			cost_stone_list = {1,},
			attr_list_type = {2,1,2,4,3,1,},
			attr_list_key = {19,23,5,6,23,11,},
			attr_list_value = {{25,25,0,0,},{10,10,0,0,},{16,16,0,0,},{16,16,0,0,},{16,16,0,0,},{13,13,0,0,},},
		},
}