Config = Config or {}
Config.cnfsound = {
		[1] = {
			id = 1,
			name = "战斗胜利结算界面",
			res_id = 100,
		},
		[2] = {
			id = 2,
			name = "战斗失败界面",
			res_id = 101,
		},
		[3] = {
			id = 3,
			name = "带有确认按钮的界面弹出（非领取物品界面）",
			res_id = 102,
		},
		[4] = {
			id = 4,
			name = "带有确认按钮的界面关闭（非领取物品界面）",
			res_id = 116,
		},
		[5] = {
			id = 5,
			name = "领取到东西的界面弹出（签到界面，领取任务奖励界面，有物品的邮件）",
			res_id = 102,
		},
		[6] = {
			id = 6,
			name = "战斗胜利场景欢呼",
			res_id = 105,
		},
		[7] = {
			id = 7,
			name = "拾起宝箱",
			res_id = 106,
		},
		[8] = {
			id = 8,
			name = "卖掉东西的声音",
			res_id = 107,
		},
		[9] = {
			id = 9,
			name = "角色升级",
			res_id = 109,
		},
		[10] = {
			id = 10,
			name = "附魔成功",
			res_id = 109,
		},
		[11] = {
			id = 11,
			name = "合成装备",
			res_id = 109,
		},
		[12] = {
			id = 12,
			name = "武将进阶",
			res_id = 109,
		},
		[13] = {
			id = 13,
			name = "抽卡动画",
			res_id = 109,
		},
		[14] = {
			id = 14,
			name = "喝经验药水或吃道具",
			res_id = 110,
		},
		[15] = {
			id = 15,
			name = "开始战斗按钮",
			res_id = 111,
		},
		[16] = {
			id = 16,
			name = "点击副本图标",
			res_id = 120,
		},
		[17] = {
			id = 17,
			name = "点击城市地图图标",
			res_id = 120,
		},
		[18] = {
			id = 18,
			name = "加技能点",
			res_id = 119,
		},
		[19] = {
			id = 19,
			name = "普通确认按钮",
			res_id = 115,
		},
		[20] = {
			id = 20,
			name = "普通取消按钮",
			res_id = 116,
		},
		[21] = {
			id = 21,
			name = "返回上一层界面的按钮",
			res_id = 112,
		},
		[22] = {
			id = 22,
			name = "叉叉关闭按钮",
			res_id = 116,
		},
		[23] = {
			id = 23,
			name = "分页按钮",
			res_id = 102,
		},
		[24] = {
			id = 24,
			name = "通用按钮",
			res_id = 118,
		},
		[25] = {
			id = 25,
			name = "刷新（商店等）",
			res_id = 109,
		},
		[26] = {
			id = 26,
			name = "购买按钮",
			res_id = 104,
		},
		[27] = {
			id = 27,
			name = "翻卡牌失败的声音",
			res_id = 115,
		},
		[28] = {
			id = 28,
			name = "接受任务弹出的红色UI",
			res_id = 124,
		},
		[29] = {
			id = 29,
			name = "完成任务弹出的蓝色UI",
			res_id = 118,
		},
		[30] = {
			id = 30,
			name = "领取奖励弹出的UI",
			res_id = 125,
		},
		[31] = {
			id = 31,
			name = "新功能开启时的提示UI",
			res_id = 123,
		},
		[32] = {
			id = 32,
			name = "武将上阵提示音",
			res_id = 122,
		},
		[33] = {
			id = 33,
			name = "镶嵌结界物品提示音",
			res_id = 119,
		},
		[34] = {
			id = 34,
			name = "进阶成功小窗口",
			res_id = 108,
		},
		[35] = {
			id = 35,
			name = "召唤4按钮",
			res_id = 116,
		},
		[36] = {
			id = 36,
			name = "光明女神召唤动作",
			res_id = 1016,
		},
		[37] = {
			id = 37,
			name = "抽卡时飞出物品",
			res_id = 113,
		},
		[38] = {
			id = 38,
			name = "抽卡抽到角色时的卡牌展示",
			res_id = 121,
		},
		[39] = {
			id = 39,
			name = "挖宝2按钮",
			res_id = 115,
		},
		[40] = {
			id = 40,
			name = "挖宝获得金币提示音",
			res_id = 106,
		},
		[41] = {
			id = 41,
			name = "妮露砸宝箱",
			res_id = 118,
		},
		[42] = {
			id = 42,
			name = "开服活动的页签",
			res_id = 102,
		},
		[45] = {
			id = 45,
			name = "副本面板----普通、精英",
			res_id = 118,
		},
		[47] = {
			id = 47,
			name = "任务条",
			res_id = 102,
		},
		[48] = {
			id = 48,
			name = "主界面，伸缩控件按钮",
			res_id = 116,
		},
		[49] = {
			id = 49,
			name = "购买体力的两个按钮",
			res_id = 102,
		},
		[50] = {
			id = 50,
			name = "卖东西时候的加减号，MAX按钮",
			res_id = 118,
		},
		[51] = {
			id = 51,
			name = "伙伴界面，查看属性和看原画",
			res_id = 102,
		},
		[52] = {
			id = 52,
			name = "伙伴界面，加经验的按钮",
			res_id = 118,
		},
		[53] = {
			id = 53,
			name = "伙伴界面，技能升级的按钮",
			res_id = 102,
		},
		[54] = {
			id = 54,
			name = "竞技场，规则说明按钮",
			res_id = 102,
		},
		[55] = {
			id = 55,
			name = "竞技场，换一批按钮",
			res_id = 118,
		},
		[56] = {
			id = 56,
			name = "VIP面板的翻页箭头",
			res_id = 102,
		},
		[57] = {
			id = 57,
			name = "伙伴界面，翻页箭头",
			res_id = 116,
		},
		[58] = {
			id = 58,
			name = "排行榜的翻页箭头",
			res_id = 116,
		},
		[59] = {
			id = 59,
			name = "点击邮件内部的信件",
			res_id = 102,
		},
}