Config = Config or {}
Config.cnftangyuanquestion = {
		[1] = {
			id = 1,
			content = [[2012年欧洲杯在哪里举行?]],
			seletion = {[[波兰和乌克兰]],[[德国]],[[西班牙]],[[法国]],},
		},
		[2] = {
			id = 2,
			content = [[2012年欧洲杯冠军是谁?]],
			seletion = {[[法国]],[[西班牙]],[[德国]],[[意大利]],},
		},
		[3] = {
			id = 3,
			content = [[2016年欧洲杯在哪个国家举行?]],
			seletion = {[[英格兰]],[[波兰]],[[法国]],[[乌克兰]],},
		},
		[4] = {
			id = 4,
			content = [[2016年欧洲杯吉祥物叫什么名字?]],
			seletion = {[[Super Man]],[[Super Hero]],[[Victor]],[[Super Victor]],},
		},
		[5] = {
			id = 5,
			content = [[2016年欧洲杯是第几届欧洲杯？]],
			seletion = {[[15届]],[[16届]],[[14届]],[[13届]],},
		},
		[6] = {
			id = 6,
			content = [[欧洲杯多少年举行一次?]],
			seletion = {[[1年]],[[4年]],[[2年]],[[3年]],},
		},
		[7] = {
			id = 7,
			content = [[2016年欧洲杯共有多少支队伍获得参赛资格？]],
			seletion = {[[16支]],[[18支]],[[24支]],[[36支]],},
		},
		[8] = {
			id = 8,
			content = [[2012年欧洲杯进入决赛的两支队伍是?]],
			seletion = {[[西班牙和法国]],[[法国和意大利]],[[波兰和乌克兰]],[[西班牙和意大利]],},
		},
		[9] = {
			id = 9,
			content = [[足球起源于哪个国家？]],
			seletion = {[[中国]],[[巴西]],[[英国]],[[葡萄牙]],},
		},
		[10] = {
			id = 10,
			content = [[职业足球出现在什么时代？]],
			seletion = {[[20世纪初]],[[19世纪末]],[[20世纪中期]],[[20世纪末]],},
		},
		[11] = {
			id = 11,
			content = [[贝利个人生涯的进球数为多少个？]],
			seletion = {1288,1188,1281,1381,},
		},
		[12] = {
			id = 12,
			content = [[欧洲杯奖杯的名字是?]],
			seletion = {[[大力神杯]],[[苏迪曼杯]],[[雷米特金杯 ]],[[德劳内杯]],},
		},
		[13] = {
			id = 13,
			content = [[2012年欧洲杯决赛西班牙VS意大利最终比分是多少?]],
			seletion = {[[4比0]],[[2比0]],[[1比0]],[[1比4]],},
		},
		[14] = {
			id = 14,
			content = [[西班牙共获得过多少次欧洲杯冠军?]],
			seletion = {[[1次]],[[3次]],[[2次]],[[4次]],},
		},
		[15] = {
			id = 15,
			content = [[法国队夺得第一个欧洲杯冠军是在哪年世界杯?]],
			seletion = {[[2000年]],[[2012年]],[[1984年]],[[2008年]],},
		},
		[16] = {
			id = 16,
			content = [[历届欧洲杯最快进球记录是多少秒?]],
			seletion = {[[10秒]],[[34秒]],[[134秒]],[[67秒]],},
		},
		[17] = {
			id = 17,
			content = [[足球运动员梅西是哪年出生的？]],
			seletion = {[[1987年]],[[1986年]],[[1988年]],[[1989年]],},
		},
		[18] = {
			id = 18,
			content = [[足球比赛中除发界外球外,只有什么人可以手触球？]],
			seletion = {[[前锋]],[[守门员]],[[中场球员]],[[后卫]],},
		},
		[19] = {
			id = 19,
			content = [[“世界足球之王”贝利的球衣号是多少？]],
			seletion = {[[11号]],[[23号]],[[10号]],[[24号]],},
		},
		[20] = {
			id = 20,
			content = [[欧洲杯创始人是谁？]],
			seletion = {[[古利特]],[[扬-科勒]],[[日基奇]],[[亨利•德劳内]],},
		},
		[21] = {
			id = 21,
			content = [[足球比赛开球时,守方每一位队员需站在开球点多少码以外？]],
			seletion = {[[10码]],[[12码]],[[20码以外]],[[15码]],},
		},
		[22] = {
			id = 22,
			content = [[足球比赛时,驱逐球员出场用的牌子颜色为?]],
			seletion = {[[白色]],[[红色]],[[黄色]],[[橘色]],},
		},
		[23] = {
			id = 23,
			content = [[一般国际足球赛的比赛时间为多长？]],
			seletion = {[[80分钟]],[[48分钟]],[[90分钟]],[[60分钟]],},
		},
		[24] = {
			id = 24,
			content = [[足球比赛时,出场比赛人数为每队十一人,若少于几人出场时,裁判员有权暂停或终止比赛？]],
			seletion = {[[8人]],[[9人]],[[10人]],[[7人]],},
		},
		[25] = {
			id = 25,
			content = [[足球比赛时,可替换人数为？]],
			seletion = {[[3人]],[[4人]],[[2人]],[[1人]],},
		},
		[26] = {
			id = 26,
			content = [[足球比赛时,替换球员应从什么地方入场？]],
			seletion = {[[罚球点]],[[中场线中点]],[[球门]],[[终点]],},
		},
		[27] = {
			id = 27,
			content = [[以下哪个国家没有获得过世界杯冠军？]],
			seletion = {[[西班牙]],[[法国]],[[荷兰]],[[意大利]],},
		},
		[28] = {
			id = 28,
			content = [[足球比赛时,当球碰到球门柱及角旗弹回场内,则比赛应该怎样？]],
			seletion = {[[停止]],[[出界]],[[判罚球门球]],[[继续]],},
		},
		[29] = {
			id = 29,
			content = [[世界杯足球比赛的时间,为上下半场各多少分钟？]],
			seletion = {[[四十五分钟]],[[三十五分钟]],[[四十分钟]],[[五十分钟]],},
		},
		[30] = {
			id = 30,
			content = [[2014年巴西世界杯进入决赛的两支队伍是？]],
			seletion = {[[德国和巴西]],[[德国和阿根廷]],[[巴西和阿根廷]],[[法国和德国]],},
		},
		[31] = {
			id = 31,
			content = [[足球比赛中场休息的时间为多少分钟？]],
			seletion = {[[五分钟]],[[十分钟 ]],[[十五分钟 ]],[[二十分钟]],},
		},
		[32] = {
			id = 32,
			content = [[现代足球运动起源于哪个州？]],
			seletion = {[[美洲]],[[亚洲 ]],[[南美洲]],[[欧洲]],},
		},
		[33] = {
			id = 33,
			content = [[一般足球比赛,上场比赛一队需派几名球员？]],
			seletion = {[[十一名]],[[七名]],[[八名]],[[十名]],},
		},
		[34] = {
			id = 34,
			content = [[下列何种运动,在位置安排会有一个守门员？]],
			seletion = {[[曲棍球]],[[足球]],[[手球]],[[以上皆是]],},
		},
		[35] = {
			id = 35,
			content = [[足球比赛中,在禁区内守方球员严重犯规应怎么判罚？]],
			seletion = {[[直接自由球]],[[间接自由球]],[[点球]],[[球门球]],},
		},
		[36] = {
			id = 36,
			content = [[足球比赛时,罚踢十二码球时,除主罚者和守门员外,其他球员都要离开罚球区及距离罚球点至少多少码？]],
			seletion = {[[九码]],[[十二码]],[[十五码以外]],[[十码]],},
		},
		[37] = {
			id = 37,
			content = [[足球比赛时,球由防守者踢出球门线,判什么球？]],
			seletion = {[[角球]],[[球门球]],[[自由球]],[[点球]],},
		},
		[38] = {
			id = 38,
			content = [[足球比赛,球从球门范围以外的地方超过端线,而最后触球是攻方球员时,则由守方踢什么球？]],
			seletion = {[[角球]],[[球门球]],[[界外球]],[[直接自由球]],},
		},
		[39] = {
			id = 39,
			content = [[足球世界杯雅辛奖后来改名为？]],
			seletion = {[[金球奖]],[[金靴奖]],[[金手套奖]],[[世界足球先生]],},
		},
		[40] = {
			id = 40,
			content = [[1904年国际足球联合会在哪国成立？]],
			seletion = {[[美国]],[[英国]],[[巴西]],[[法国 ]],},
		},
		[41] = {
			id = 41,
			content = [[以下哪一个区域为守门员的保护区？]],
			seletion = {[[罚球区]],[[角球区]],[[中圈]],[[以上都是]],},
		},
		[42] = {
			id = 42,
			content = [[足球比赛中可以执行点球的位置是？]],
			seletion = {[[前锋]],[[全部球员都可以]],[[后卫]],[[守门员]],},
		},
		[43] = {
			id = 43,
			content = [[金手套奖是哪年开始设立的？]],
			seletion = {[[1992年]],[[1993年]],[[1994年 ]],[[2004年]],},
		},
		[44] = {
			id = 44,
			content = [[哪个国家足球队的外号是日耳曼战车？]],
			seletion = {[[土耳其]],[[爱尔兰]],[[瑞典]],[[德国]],},
		},
		[45] = {
			id = 45,
			content = [[哪个国家足球队的外号是蓝衣军团？]],
			seletion = {[[意大利]],[[威尔士]],[[法国]],[[美国]],},
		},
		[46] = {
			id = 46,
			content = [[梅苏特·厄齐尔是哪个国家队的队员？]],
			seletion = {[[西班牙]],[[德国]],[[俄罗斯]],[[乌克兰]],},
		},
		[47] = {
			id = 47,
			content = [[足球比赛开球时，守方每一位队员需站在开球点多少码外？]],
			seletion = {[[11码]],[[9码]],[[10码]],[[12码]],},
		},
		[48] = {
			id = 48,
			content = [[第一届欧洲杯是哪年举行的？]],
			seletion = {[[1904年]],[[1961年]],[[1902年]],[[1960年]],},
		},
		[49] = {
			id = 49,
			content = [[现代足球运动起源于？]],
			seletion = {[[欧洲]],[[美洲]],[[亚洲 ]],[[南美洲]],},
		},
		[50] = {
			id = 50,
			content = [[世界上规模最大，影响最大，水平最高的足球比赛是]],
			seletion = {[[奥运会足球赛]],[[世界杯足球赛]],[[丰田杯足球赛]],[[世界青年足球赛 ]],},
		},
		[51] = {
			id = 51,
			content = [[现代足球运动起源于]],
			seletion = {[[中国]],[[法国]],[[英国]],[[德国]],},
		},
		[52] = {
			id = 52,
			content = [[第一届欧洲杯是在哪举行的？]],
			seletion = {[[德国]],[[西班牙]],[[意大利]],[[法国 ]],},
		},
		[53] = {
			id = 53,
			content = [[欧洲杯获得冠军次数最多的是哪个国家？]],
			seletion = {[[德国]],[[法国 ]],[[英格兰]],[[荷兰]],},
		},
		[54] = {
			id = 54,
			content = [[2012年欧洲杯最佳球员是谁?]],
			seletion = {[[哈梅斯·罗德里格斯]],[[安德雷斯·伊涅斯塔]],[[ 托马斯·穆勒]],[[C罗]],},
		},
		[55] = {
			id = 55,
			content = [[以下哪个球队没有夺得过欧洲杯冠军？]],
			seletion = {[[德国]],[[法国]],[[英格兰]],[[西班牙]],},
		},
		[56] = {
			id = 56,
			content = [[普斯卡什奖是哪年开始设立的？]],
			seletion = {[[1999年]],[[2008年]],[[2010年]],[[2009年]],},
		},
		[57] = {
			id = 57,
			content = [[足球运动员米洛斯拉夫·克洛泽的国籍是？]],
			seletion = {[[德国]],[[美国]],[[英格兰]],[[法国]],},
		},
		[58] = {
			id = 58,
			content = [[欧洲冠军联赛的诞生时间是哪年？]],
			seletion = {[[1945年]],[[1954年]],[[1992年]],[[1988年]],},
		},
		[59] = {
			id = 59,
			content = [[1904年，国际足联在法国由多少个国家组织成立？]],
			seletion = {[[8个]],[[6个]],[[7个]],[[9个]],},
		},
		[60] = {
			id = 60,
			content = [[2022年世界杯在哪个国家举行？]],
			seletion = {[[巴西]],[[韩国]],[[法国]],[[卡塔尔]],},
		},
		[61] = {
			id = 61,
			content = [[2022年世界杯在哪个洲举行？]],
			seletion = {[[亚洲]],[[欧洲]],[[南美洲]],[[北美洲]],},
		},
		[62] = {
			id = 62,
			content = [[2018年世界杯在哪个洲举行？]],
			seletion = {[[亚洲]],[[欧洲]],[[南美洲]],[[北美洲]],},
		},
		[63] = {
			id = 63,
			content = [[2014/15赛季欧洲冠军联赛的冠军是哪个俱乐部？]],
			seletion = {[[皇家马德里]],[[AC米兰]],[[巴塞罗那]],[[拜仁慕尼黑]],},
		},
		[64] = {
			id = 64,
			content = [[欧洲冠军联赛中累计夺冠次数最多的俱乐部是？]],
			seletion = {[[巴塞罗那]],[[AC米兰]],[[拜仁慕尼黑]],[[皇家马德里]],},
		},
		[65] = {
			id = 65,
			content = [[一场足球比赛中累计多少张黄牌就会被罚下场？]],
			seletion = {[[2张]],[[1张]],[[3张]],[[4张]],},
		},
		[66] = {
			id = 66,
			content = [[被称为“无冕之王”的是哪个国家球队？]],
			seletion = {[[中国]],[[荷兰]],[[法国]],[[朝鲜]],},
		},
		[67] = {
			id = 67,
			content = [[点球大战中双方轮流罚球，共罚多少轮？]],
			seletion = {[[3轮]],[[8轮]],[[5轮]],[[6轮]],},
		},
		[68] = {
			id = 68,
			content = [[第一届世界杯在哪里举行? ]],
			seletion = {[[巴西]],[[德国]],[[阿根廷]],[[乌拉圭]],},
		},
		[69] = {
			id = 69,
			content = [[第一届世界杯冠军是谁?]],
			seletion = {[[乌拉圭]],[[智利]],[[意大利]],[[巴西]],},
		},
		[70] = {
			id = 70,
			content = [[大力神杯的前身是什么?]],
			seletion = {[[德劳内杯]],[[雷米特杯  ]],[[斯韦思林杯 ]],[[土伦杯]],},
		},
		[71] = {
			id = 71,
			content = [[哪个国家夺得了1994年世界杯？]],
			seletion = {[[阿根廷]],[[意大利]],[[巴西 ]],[[德国]],},
		},
		[72] = {
			id = 72,
			content = [[法国队夺得第一个世界杯冠军是在哪一届世界杯?]],
			seletion = {1994,1990,1986,1998,},
		},
		[73] = {
			id = 73,
			content = [[二战前的最后一次世界杯是第几届?]],
			seletion = {[[第3届]],[[第2届]],[[第5届]],[[第7届]],},
		},
		[74] = {
			id = 74,
			content = [[1978年世界杯冠军是谁? ]],
			seletion = {[[巴西]],[[阿根廷]],[[荷兰]],[[意大利]],},
		},
		[75] = {
			id = 75,
			content = [[如果间接任意球直接踢入对方球门，则判为]],
			seletion = {[[无效重踢]],[[得分]],[[球门球]],[[角球]],},
		},
		[76] = {
			id = 76,
			content = [[1857年哪个国家成立了第一个足球俱乐部？]],
			seletion = {[[法国]],[[意大利]],[[荷兰]],[[英国]],},
		},
		[77] = {
			id = 77,
			content = [[足球世界杯多少年举行一次？]],
			seletion = {[[4年]],[[3年]],[[2年]],[[1年]],},
		},
		[78] = {
			id = 78,
			content = [[贝克汉姆哪年退役？]],
			seletion = {[[2008年]],[[2013年]],[[2012年]],[[2000年]],},
		},
		[79] = {
			id = 79,
			content = [[2014年足球世界杯的冠军是？]],
			seletion = {[[阿根廷]],[[法国]],[[德国]],[[巴西]],},
		},
		[80] = {
			id = 80,
			content = [[2014年进入足球世界杯决赛的两支队伍是？]],
			seletion = {[[西班牙和意大利]],[[荷兰和德国]],[[巴西和阿根廷]],[[德国和阿根廷]],},
		},
		[81] = {
			id = 81,
			content = [[2014年足球世界杯在哪举行？]],
			seletion = {[[巴西 ]],[[德国]],[[中国]],[[阿根廷]],},
		},
		[82] = {
			id = 82,
			content = [[2018年足球世界杯在哪举行？]],
			seletion = {[[巴西 ]],[[俄罗斯]],[[德国]],[[中国]],},
		},
		[83] = {
			id = 83,
			content = [[梅西一共获得过几次国际足联金球奖？]],
			seletion = {[[4次]],[[8次]],[[5次]],[[3次]],},
		},
		[84] = {
			id = 84,
			content = [[C罗一共获得过几次国际足联金球奖？]],
			seletion = {[[4次]],[[5次]],[[6次]],[[3次]],},
		},
		[85] = {
			id = 85,
			content = [[西班牙足球甲级联赛成立于哪年？]],
			seletion = {[[1928年]],[[1927年]],[[1921年]],[[1922年]],},
		},
		[86] = {
			id = 86,
			content = [[英超联赛创立于哪年？]],
			seletion = {1928,1992,1927,1898,},
		},
		[87] = {
			id = 87,
			content = [[截止2015/16赛季巴塞罗那共获得过多少次西甲冠军？]],
			seletion = {22,12,24,13,},
		},
		[88] = {
			id = 88,
			content = [[莱斯特城共获得过几次英超联赛冠军？]],
			seletion = {[[2次]],[[3次]],[[4次]],[[1次]],},
		},
		[89] = {
			id = 89,
			content = [[狐狸是哪个英超球队的外号？]],
			seletion = {[[莱斯特城]],[[曼联]],[[阿森纳]],[[切尔西]],},
		},
		[90] = {
			id = 90,
			content = [[足球世界杯获得冠军次数最多的国家是？]],
			seletion = {[[德国]],[[巴西 ]],[[阿根廷]],[[西班牙]],},
		},
		[91] = {
			id = 91,
			content = [[第一届足球世界杯是在哪年举行的？]],
			seletion = {[[1926年]],[[1934年]],[[1930年]],[[1949年]],},
		},
		[92] = {
			id = 92,
			content = [[2018年俄罗斯世界杯是第几届世界杯？]],
			seletion = {[[20届]],[[22届]],[[23届]],[[21届]],},
		},
		[93] = {
			id = 93,
			content = [[2014年巴西世界杯时第几届世界杯？]],
			seletion = {[[20届]],[[18届]],[[19届]],[[21届]],},
		},
		[94] = {
			id = 94,
			content = [[以下哪个国家没有举行过世界杯？]],
			seletion = {[[巴西]],[[中国]],[[意大利]],[[乌拉圭]],},
		},
		[95] = {
			id = 95,
			content = [[2014年巴西世界杯冠军是？]],
			seletion = {[[巴西]],[[意大利]],[[德国]],[[乌拉圭]],},
		},
		[96] = {
			id = 96,
			content = [[巴西一共夺得过几次足球世界杯冠军？]],
			seletion = {[[3次]],[[4次]],[[6次]],[[5次]],},
		},
		[97] = {
			id = 97,
			content = [[意大利一共获得过几次足球世界杯冠军？]],
			seletion = {[[4次]],[[1次]],[[2次]],[[3次]],},
		},
		[98] = {
			id = 98,
			content = [[2015年欧洲超级杯的冠军是哪个俱乐部？]],
			seletion = {[[皇家马德里]],[[巴塞罗那]],[[塞维利亚]],[[拜仁慕尼黑]],},
		},
}