Config = Config or {}
Config.cnftiliconsume = {
		[1] = {
			count = 1,
			consume = 40,
		},
		[2] = {
			count = 2,
			consume = 40,
		},
		[3] = {
			count = 3,
			consume = 60,
		},
		[4] = {
			count = 4,
			consume = 60,
		},
		[5] = {
			count = 5,
			consume = 80,
		},
		[6] = {
			count = 6,
			consume = 80,
		},
		[7] = {
			count = 7,
			consume = 100,
		},
		[8] = {
			count = 8,
			consume = 100,
		},
		[9] = {
			count = 9,
			consume = 120,
		},
		[10] = {
			count = 10,
			consume = 120,
		},
		[11] = {
			count = 11,
			consume = 150,
		},
		[12] = {
			count = 12,
			consume = 150,
		},
		[13] = {
			count = 13,
			consume = 150,
		},
		[14] = {
			count = 14,
			consume = 150,
		},
		[15] = {
			count = 15,
			consume = 180,
		},
		[16] = {
			count = 16,
			consume = 180,
		},
		[17] = {
			count = 17,
			consume = 180,
		},
		[18] = {
			count = 18,
			consume = 180,
		},
		[19] = {
			count = 19,
			consume = 210,
		},
		[20] = {
			count = 20,
			consume = 210,
		},
		[21] = {
			count = 21,
			consume = 210,
		},
		[22] = {
			count = 22,
			consume = 210,
		},
		[23] = {
			count = 23,
			consume = 250,
		},
		[24] = {
			count = 24,
			consume = 250,
		},
		[25] = {
			count = 25,
			consume = 250,
		},
		[26] = {
			count = 26,
			consume = 250,
		},
		[27] = {
			count = 27,
			consume = 300,
		},
		[28] = {
			count = 28,
			consume = 300,
		},
		[29] = {
			count = 29,
			consume = 300,
		},
		[30] = {
			count = 30,
			consume = 300,
		},
		[31] = {
			count = 31,
			consume = 350,
		},
		[32] = {
			count = 32,
			consume = 350,
		},
		[33] = {
			count = 33,
			consume = 350,
		},
		[34] = {
			count = 34,
			consume = 350,
		},
		[35] = {
			count = 35,
			consume = 400,
		},
		[36] = {
			count = 36,
			consume = 400,
		},
		[37] = {
			count = 37,
			consume = 400,
		},
		[38] = {
			count = 38,
			consume = 400,
		},
}