Config = Config or {}
Config.cnftopwar = {
		[1] = {
			apply_time = {{0,00,},{15,30,},},
			match_time = {{15,30,},{16,00,},},
			battle_time = {{16,00,},{21,00,},},
			settle_time = {{21,00,},{24,00,},},
			reward_rate = {1,0.5,0.25,},
			detect_gold = 10,
			inspire_gold = 10,
			harass_gold = 10,
			match_diff = 20,
			desc = [[1.公会/副会长可报名和选择规模/成员，成功匹配后扣除活跃度<BR> <BR>2.击杀敌人越多，星级评价越高！(不是我方存活伙伴越多哟)<BR> <BR>3.敌方减少血量=当前血量*10%*星星，保底减少3%/6%/10%<BR> <BR>4.血量高的一方获胜，战争结果影响奖金和积分<BR> <BR>5.战争结束时公会可获得 敌方公会被扣血量%*10的基础积分；战争胜利/平局/失败/轮空分别获得战争规模的2/1/1/1倍额外积分<BR> <BR>6.战争胜利/平局/失败分别获得战争规模的1/0.5/0.25倍奖金，要努力才能打好哟!<BR> <BR>7.积分越高排名越高！周一5点结算每周排名奖励，可以拿到橙色魂石哦！
]],
			battle_max = 10,
			extra_score = 10,
		},
}