Config = Config or {}
Config.cnftopwarharass = {
		[1] = {
			attr_id = 51,
			attr_level = 0,
			attr_val = 0,
			upgrade_rate = 1000,
		},
		[2] = {
			attr_id = 51,
			attr_level = 1,
			attr_val = 50,
			upgrade_rate = 800,
		},
		[3] = {
			attr_id = 51,
			attr_level = 2,
			attr_val = 100,
			upgrade_rate = 800,
		},
		[4] = {
			attr_id = 51,
			attr_level = 3,
			attr_val = 150,
			upgrade_rate = 600,
		},
		[5] = {
			attr_id = 51,
			attr_level = 4,
			attr_val = 200,
			upgrade_rate = 600,
		},
		[6] = {
			attr_id = 51,
			attr_level = 5,
			attr_val = 250,
			upgrade_rate = 500,
		},
		[7] = {
			attr_id = 51,
			attr_level = 6,
			attr_val = 300,
			upgrade_rate = 500,
		},
		[8] = {
			attr_id = 51,
			attr_level = 7,
			attr_val = 350,
			upgrade_rate = 400,
		},
		[9] = {
			attr_id = 51,
			attr_level = 8,
			attr_val = 400,
			upgrade_rate = 400,
		},
		[10] = {
			attr_id = 51,
			attr_level = 9,
			attr_val = 450,
			upgrade_rate = 300,
		},
		[11] = {
			attr_id = 51,
			attr_level = 10,
			attr_val = 500,
			upgrade_rate = 0,
		},
		[12] = {
			attr_id = 66,
			attr_level = 0,
			attr_val = 0,
			upgrade_rate = 1000,
		},
		[13] = {
			attr_id = 66,
			attr_level = 1,
			attr_val = 50,
			upgrade_rate = 800,
		},
		[14] = {
			attr_id = 66,
			attr_level = 2,
			attr_val = 100,
			upgrade_rate = 800,
		},
		[15] = {
			attr_id = 66,
			attr_level = 3,
			attr_val = 150,
			upgrade_rate = 600,
		},
		[16] = {
			attr_id = 66,
			attr_level = 4,
			attr_val = 200,
			upgrade_rate = 600,
		},
		[17] = {
			attr_id = 66,
			attr_level = 5,
			attr_val = 250,
			upgrade_rate = 500,
		},
		[18] = {
			attr_id = 66,
			attr_level = 6,
			attr_val = 300,
			upgrade_rate = 500,
		},
		[19] = {
			attr_id = 66,
			attr_level = 7,
			attr_val = 350,
			upgrade_rate = 400,
		},
		[20] = {
			attr_id = 66,
			attr_level = 8,
			attr_val = 400,
			upgrade_rate = 400,
		},
		[21] = {
			attr_id = 66,
			attr_level = 9,
			attr_val = 450,
			upgrade_rate = 300,
		},
		[22] = {
			attr_id = 66,
			attr_level = 10,
			attr_val = 500,
			upgrade_rate = 0,
		},
}