Config = Config or {}
Config.cnftopwaraccumreward = {
		[1] = {
			level = {1,10,},
			reward_id = 7401,
		},
		[2] = {
			level = {11,20,},
			reward_id = 7402,
		},
		[3] = {
			level = {21,30,},
			reward_id = 7403,
		},
		[4] = {
			level = {31,40,},
			reward_id = 7404,
		},
		[5] = {
			level = {41,50,},
			reward_id = 7405,
		},
		[6] = {
			level = {51,60,},
			reward_id = 7406,
		},
		[7] = {
			level = {61,70,},
			reward_id = 7407,
		},
		[8] = {
			level = {71,80,},
			reward_id = 7408,
		},
		[9] = {
			level = {81,90,},
			reward_id = 7409,
		},
		[10] = {
			level = {91,100,},
			reward_id = 7410,
		},
}