Config = Config or {}
Config.cnfturntable = {
		[1] = {
			cost_fragment = 200,
			cost_diamond = 50,
			fragment_score = 1,
			diamond_score = 1,
			section_count = 10,
			gold_pool_weight = 10,
			convert_rate = 10,
			get_reward_rate = 50,
			npc_text = {[[不试试看怎么知道自己是不是欧洲人！]],[[一定要证明自己不是非洲人！]],[[得到的赏金记得去商店兑换东西喔！]],[[每次抽完转盘都会重新刷新的喔，记得看好！]],[[宠物难得，转盘要有耐心，总会得到的！]],},
			describe_text = [[1.参加转盘需要消耗时空碎片，时间碎片可以攻击时空乱党得到，每次伤害越高，得到的碎片则越多。<BR><BR>2.每次抽取可以获得赏金，赏金可以在赏金商店兑换各种宠物碎片。]],
		},
}