Config = Config or {}
Config.cnfvipprishoprefresh = {
		[1] = {
			count = 1,
			consume = 20,
		},
		[2] = {
			count = 2,
			consume = 30,
		},
		[3] = {
			count = 3,
			consume = 40,
		},
		[4] = {
			count = 4,
			consume = 50,
		},
}