Config = Config or {}
Config.cnfviprewardall = {
		[1] = {
			total_level = 30,
			reward_id = 33000,
		},
		[2] = {
			total_level = 50,
			reward_id = 33001,
		},
		[3] = {
			total_level = 100,
			reward_id = 33002,
		},
		[4] = {
			total_level = 150,
			reward_id = 33003,
		},
		[5] = {
			total_level = 200,
			reward_id = 33004,
		},
		[6] = {
			total_level = 300,
			reward_id = 33005,
		},
		[7] = {
			total_level = 500,
			reward_id = 33006,
		},
		[8] = {
			total_level = 1000,
			reward_id = 33007,
		},
}