Config = Config or {}
Config.cnfworshipreward = {
		[1] = {
			grade = 1,
			reward = {5000,200,},
		},
		[2] = {
			grade = 2,
			reward = {20000,500,},
		},
		[3] = {
			grade = 3,
			reward = {50000,1000,},
		},
		[4] = {
			grade = 4,
			reward = {90000,2000,},
		},
}