
-- 启动界面动画配置
StartUp = StartUp or {}

StartUp.anim_list = {
	{ id=1507, x=640, y=0 },
	{ id=1506, x=640, y=0 },
	{ id=1505, x=640, y=0 },
	{ id=1504, x=640, y=0 },
	{ id=1503, x=640, y=0 },
}
